Repository dmlc/xgboost: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-cpp, lint-cmake, pylint

lint-cpp:
  name: C++ lint (cpplint)
  entry: python ops/script/lint_cpp.py
  language: python
  additional_dependencies:
  - cpplint==1.6.1

lint-cmake:
  name: CMake lint (cmakelint)
  entry: cmakelint --linelength=120 --filter=-convention/filename,-package/stdargs,-readability/wonkycase
  language: python
  additional_dependencies:
  - cmakelint

pylint:
  name: Python lint (pylint)
  entry: pylint
  language: python
  args:
  - --rcfile=python-package/pyproject.toml
  additional_dependencies:
  - pylint

predictor: resolve array dtype once per row
  src/data/adapter.h
  src/predictor/data_accessor.h
Due: lint-cpp

predictor: specialize level zero of array traversal
  src/predictor/array_tree_layout.h
  src/predictor/cpu_predictor.cc
Due: lint-cpp

predictor: specialize array traversal depth at compile time
  src/predictor/array_tree_layout.h
  tests/cpp/predictor/test_cpu_predictor.cc
Due: lint-cpp

[CI] Install sphinx-llm in the documentation test environment (#12595)
  doc/xgboost_doc.yml
Due: none

Fix no_modin() always skipping modin tests regardless of import success
  python-package/xgboost/testing/__init__.py
Due: pylint

Skip all-invalid depth-wise Driver batches so hist growth does not stop early.
  src/tree/driver.h
Due: lint-cpp

Add Driver tests for empty Pop() while deeper work remains.
  tests/cpp/tree/gpu_hist/test_driver.cu
  tests/cpp/tree/test_driver.cc
  tests/cpp/tree/test_empty_pop.h
Due: lint-cpp

Restore AFT metric delegate when loading configuration
  src/metric/survival_metric.cc
  tests/cpp/metric/test_survival_metric.cu
Due: lint-cpp

Convert leaf-id prediction to the kernel abstraction (#12593)
  include/xgboost/predictor.h
  plugin/sycl/predictor/predictor.cc
  src/gbm/gbtree.cc
  src/predictor/cpu_predictor.cc
  src/predictor/gpu_predictor.cu
  src/predictor/prediction_kernel.h
  tests/cpp/predictor/test_gpu_predictor.cu
  tests/cpp/predictor/test_predictor.cc
  tests/cpp/tree/test_gpu_hist.cu
  tests/cpp/tree/test_prediction_cache.h
Due: lint-cpp

Move prediction initialization out of the predictor interface
  include/xgboost/predictor.h
  plugin/sycl/predictor/predictor.cc
  src/gbm/gbtree.cc
  src/predictor/cpu_predictor.cc
  src/predictor/gpu_predictor.cu
  src/predictor/prediction_kernel.h
  src/predictor/predictor.cc
  src/predictor/predictor.cu
  tests/cpp/predictor/test_cpu_predictor.cc
  tests/cpp/predictor/test_gpu_predictor.cu
  tests/cpp/predictor/test_predictor.cc
  tests/cpp/predictor/test_predictor.h
Due: lint-cpp

Simplify the SYCL prediction initialization kernel
  plugin/sycl/predictor/predictor.cc
  tests/cpp/plugin/test_sycl_predictor.cc
Due: lint-cpp

Allow shared kernel registration for multiple device types
  plugin/sycl/predictor/predictor.cc
  src/common/kernel.h
  tests/cpp/common/test_kernel.cc
Due: lint-cpp

Keep SYCL predictor linking in the plugin target
  plugin/CMakeLists.txt
  plugin/sycl/predictor/predictor.cc
  src/predictor/predictor.cc
Due: lint-cpp, lint-cmake

Retain SYCL predictor registrations through the plugin vector implementation
  plugin/CMakeLists.txt
  plugin/sycl/common/host_device_vector.cc
  plugin/sycl/predictor/predictor.cc
Due: lint-cpp, lint-cmake

Fix no_modin() always skipping modin tests regardless of import success (#12597)
  python-package/xgboost/testing/__init__.py
Due: pylint

scalar leaf.
  include/xgboost/tree_model.h
  plugin/sycl/tree/hist_updater.cc
  python-package/xgboost/testing/callbacks.py
  python-package/xgboost/testing/multi_target.py
  python-package/xgboost/testing/updater.py
  src/tree/hist/evaluate_splits.h
  src/tree/tree_model.cc
  src/tree/updater_colmaker.cc
  src/tree/updater_gpu_hist.cu
  tests/cpp/plugin/test_sycl_hist_updater.cc
  tests/cpp/plugin/test_sycl_partition_builder.cc
  tests/cpp/predictor/test_cpu_predictor.cc
  tests/cpp/predictor/test_predictor.cc
  tests/cpp/predictor/test_shap.cc
  tests/cpp/tree/gpu_hist/test_row_partitioner.cu
  tests/cpp/tree/hist/test_histogram.cc
  tests/cpp/tree/test_partitioner.h
  tests/cpp/tree/test_prune.cc
  tests/cpp/tree/test_refresh.cc
  tests/cpp/tree/test_tree_model.cc
  tests/python-gpu/test_gpu_updaters.py
  tests/python/test_updaters.py
Due: lint-cpp, pylint

Fix base weight for vector leaf.
  include/xgboost/multi_target_tree_model.h
  include/xgboost/tree_model.h
  python-package/xgboost/testing/multi_target.py
  src/tree/hist/evaluate_splits.h
  src/tree/multi_target_tree_model.cc
  src/tree/multi_target_tree_model.cu
  src/tree/updater_gpu_hist.cuh
  src/tree/updater_quantile_hist.cc
  tests/cpp/predictor/test_predictor.cc
  tests/cpp/tree/test_multi_target_tree_model.cc
  tests/cpp/tree/test_partitioner.h
  tests/python-gpu/test_gpu_multi_target.py
  tests/python/test_multi_target.py
Due: lint-cpp, pylint

unify the expand call.
  include/xgboost/multi_target_tree_model.h
  include/xgboost/tree_model.h
  include/xgboost/tree_model_defs.h
  plugin/sycl/tree/hist_updater.cc
  src/tree/gpu_hist/leaf_sum.cu
  src/tree/gpu_hist/leaf_sum.cuh
  src/tree/hist/evaluate_splits.h
  src/tree/multi_target_tree_model.cc
  src/tree/tree_model.cc
  src/tree/updater_approx.cc
  src/tree/updater_colmaker.cc
  src/tree/updater_gpu_hist.cu
  src/tree/updater_gpu_hist.cuh
  src/tree/updater_quantile_hist.cc
  tests/cpp/plugin/test_sycl_hist_updater.cc
  tests/cpp/plugin/test_sycl_partition_builder.cc
  tests/cpp/predictor/test_cpu_predictor.cc
  tests/cpp/predictor/test_predictor.cc
  tests/cpp/predictor/test_shap.cc
  tests/cpp/tree/gpu_hist/test_row_partitioner.cu
  tests/cpp/tree/hist/test_evaluate_splits.cc
  tests/cpp/tree/hist/test_histogram.cc
  tests/cpp/tree/test_multi_target_tree_model.cc
  tests/cpp/tree/test_partitioner.h
  tests/cpp/tree/test_prune.cc
  tests/cpp/tree/test_refresh.cc
  tests/cpp/tree/test_tree_model.cc
Due: lint-cpp

Cleanups.
  src/tree/multi_target_tree_model.cc
  tests/cpp/tree/test_multi_target_tree_model.cc
Due: lint-cpp

cleanups.
  src/tree/hist/evaluate_splits.h
  src/tree/updater_gpu_hist.cu
  tests/cpp/tree/test_multi_target_tree_model.cc
  tests/cpp/tree/test_partitioner.h
Due: lint-cpp

Cleanups.
  include/xgboost/multi_target_tree_model.h
  include/xgboost/tree_model_defs.h
  plugin/sycl/tree/hist_updater.cc
  python-package/xgboost/testing/multi_target.py
  python-package/xgboost/testing/updater.py
  src/tree/gpu_hist/leaf_sum.cuh
  src/tree/hist/evaluate_splits.h
  src/tree/multi_target_tree_model.cc
  src/tree/split_evaluator.h
  src/tree/tree_model.cc
  src/tree/updater_colmaker.cc
  src/tree/updater_gpu_hist.cu
  src/tree/updater_gpu_hist.cuh
  src/tree/updater_quantile_hist.cc
  tests/cpp/plugin/test_sycl_hist_updater.cc
  tests/cpp/plugin/test_sycl_partition_builder.cc
  tests/cpp/predictor/test_predictor.cc
  tests/cpp/tree/hist/test_histogram.cc
  tests/cpp/tree/test_multi_target_tree_model.cc
  tests/cpp/tree/test_partitioner.h
  tests/cpp/tree/test_prune.cc
  tests/cpp/tree/test_refresh.cc
  tests/cpp/tree/test_tree_model.cc
  tests/python-gpu/test_gpu_multi_target.py
  tests/python/test_multi_target.py
Due: lint-cpp, pylint

Fix rebase.
  tests/cpp/predictor/test_cpu_predictor.cc
Due: lint-cpp

Fix
  plugin/sycl/tree/hist_updater.cc
Due: lint-cpp

sycl
  tests/cpp/plugin/test_sycl_hist_updater.cc
Due: lint-cpp

check.
  python-package/xgboost/testing/multi_target.py
  src/tree/updater_gpu_hist.cu
  src/tree/updater_quantile_hist.cc
Due: lint-cpp, pylint

Fix and unify base weight handling. (#12602)
  include/xgboost/multi_target_tree_model.h
  include/xgboost/tree_model.h
  plugin/sycl/tree/hist_updater.cc
  python-package/xgboost/testing/callbacks.py
  python-package/xgboost/testing/multi_target.py
  python-package/xgboost/testing/updater.py
  src/tree/gpu_hist/leaf_sum.cu
  src/tree/gpu_hist/leaf_sum.cuh
  src/tree/hist/evaluate_splits.h
  src/tree/multi_target_tree_model.cc
  src/tree/multi_target_tree_model.cu
  src/tree/split_evaluator.h
  src/tree/tree_model.cc
  src/tree/updater_approx.cc
  src/tree/updater_colmaker.cc
  src/tree/updater_gpu_hist.cu
  src/tree/updater_gpu_hist.cuh
  src/tree/updater_quantile_hist.cc
  tests/cpp/plugin/test_sycl_hist_updater.cc
  tests/cpp/plugin/test_sycl_partition_builder.cc
  tests/cpp/predictor/test_cpu_predictor.cc
  tests/cpp/predictor/test_predictor.cc
  tests/cpp/predictor/test_shap.cc
  tests/cpp/tree/gpu_hist/test_row_partitioner.cu
  tests/cpp/tree/hist/test_evaluate_splits.cc
  tests/cpp/tree/hist/test_histogram.cc
  tests/cpp/tree/test_multi_target_tree_model.cc
  tests/cpp/tree/test_partitioner.h
  tests/cpp/tree/test_prune.cc
  tests/cpp/tree/test_refresh.cc
  tests/cpp/tree/test_tree_model.cc
  tests/python-gpu/test_gpu_updaters.py
  tests/python/test_updaters.py
Due: lint-cpp, pylint

Reject a zero Driver batch size so depth-wise Pop() cannot hang.
  src/tree/driver.h
Due: lint-cpp

Rename Driver test helpers to MakeCPUExpandEntry and MakeGPUExpandEntry.
  tests/cpp/tree/gpu_hist/test_driver.cu
  tests/cpp/tree/test_driver.cc
Due: lint-cpp

Fix XGBClassifier.predict threshold for binary:logitraw
  python-package/xgboost/sklearn.py
  tests/python/test_with_sklearn.py
Due: pylint

Fix typos in comments and docstrings
  demo/c-api/basic/c-api-demo.c
  demo/c-api/inference/inference.c
  demo/guide-python/quantile_data_iterator.py
  demo/rmm_plugin/rmm_mgpu_with_dask.py
  python-package/xgboost/testing/dask.py
  python-package/xgboost/testing/with_skl.py
Due: lint-cpp, pylint

Guard max_num_features against 0 and negative values in plot_importance
  python-package/xgboost/plotting.py
  tests/python/test_plotting.py
Due: pylint

Add regression test for empty partition after non-empty in sparse path
  tests/test_distributed/test_with_spark/test_data.py
Due: none

Convert survival, Cox, and AMS metrics to the kernel abstraction (#12594)
  src/metric/metric.cc
  src/metric/rank_metric.cc
  src/metric/rank_metric.h
  src/metric/survival_metric.cc
  src/metric/survival_metric.cu
  src/metric/survival_metric.h
  tests/cpp/metric/test_rank_metric.cc
  tests/cpp/metric/test_survival_metric.cu
  tests/cpp/metric/test_survival_metric.h
Due: lint-cpp

Convert cached ranking metrics to kernel abstraction
  src/metric/rank_metric.cc
  src/metric/rank_metric.cu
  src/metric/rank_metric.h
  tests/cpp/metric/test_rank_metric.h
Due: lint-cpp

Move prediction initialization to free functions and kernel dispatch (#12600)
  include/xgboost/predictor.h
  plugin/sycl/common/host_device_vector.cc
  plugin/sycl/predictor/predictor.cc
  src/common/kernel.h
  src/gbm/gbtree.cc
  src/predictor/cpu_predictor.cc
  src/predictor/gpu_predictor.cu
  src/predictor/prediction_kernel.h
  src/predictor/predictor.cc
  src/predictor/predictor.cu
  tests/cpp/common/test_kernel.cc
  tests/cpp/plugin/test_sycl_predictor.cc
  tests/cpp/predictor/test_cpu_predictor.cc
  tests/cpp/predictor/test_gpu_predictor.cu
  tests/cpp/predictor/test_predictor.cc
  tests/cpp/predictor/test_predictor.h
Due: lint-cpp

Cleanup tests
  tests/cpp/tree/gpu_hist/test_driver.cu
  tests/cpp/tree/test_driver.cc
  tests/cpp/tree/test_empty_pop.h
Due: lint-cpp

predictor: reuse array tree layouts across row blocks
  src/predictor/array_tree_layout.h
  src/predictor/cpu_predictor.cc
  tests/cpp/predictor/test_cpu_predictor.cc
Due: lint-cpp

predictor: accumulate leaf values after complete array traversal
  src/predictor/array_tree_layout.h
  src/predictor/cpu_predictor.cc
Due: lint-cpp

Path conditions:
  lint-cpp: any of: \.(cc|c|cpp|h|cu|hpp)$, but not: (dmlc-core|gputreeshap)
  lint-cmake: any of: (CMakeLists\.txt$|^cmake/.*\.cmake$), but not: (dmlc-core|gputreeshap)
  pylint: any of: \.py$, but not: (dmlc-core|gputreeshap|^ops/|^tests/)
