Repository dmlc/xgboost: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-cpp, lint-cmake, black, isort, pylint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: check-yaml
      - id: check-toml
      - id: check-json
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable
      - id: mixed-line-ending
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v21.1.8
    hooks:
      - id: clang-format
        args: [--style=file]
        files: \.(cc|c|cpp|h|cu|hpp)$
        exclude: (dmlc-core|gputreeshap)
  - repo: local
    hooks:
      - id: lint-cpp
        name: C++ lint (cpplint)
        entry: python ops/script/lint_cpp.py
        language: python
        types: [file]
        files: \.(cc|c|cpp|h|cu|hpp)$
        exclude: (dmlc-core|gputreeshap)
        additional_dependencies:
          - cpplint==1.6.1
      - id: lint-cmake
        name: CMake lint (cmakelint)
        entry: cmakelint --linelength=120 --filter=-convention/filename,-package/stdargs,-readability/wonkycase
        language: python
        types: [file]
        files: (CMakeLists\.txt$|^cmake/.*\.cmake$)
        exclude: (dmlc-core|gputreeshap)
        additional_dependencies:
          - cmakelint
      - id: black
        name: Python format (black)
        entry: black -q
        language: python
        types: [file]
        files: \.py$
        exclude: (dmlc-core|gputreeshap)
        additional_dependencies:
          - black
      - id: isort
        name: Python format (isort)
        entry: isort
        language: python
        types: [file]
        files: \.py$
        exclude: (dmlc-core|gputreeshap)
        args:
          - --settings-path
          - python-package
          - --src=python-package
        additional_dependencies:
          - isort
      - id: pylint
        name: Python lint (pylint)
        entry: pylint
        language: python
        types: [file]
        files: \.py$
        exclude: (dmlc-core|gputreeshap|^ops/|^tests/)
        args:
          - --rcfile=python-package/pyproject.toml
        additional_dependencies:
          - pylint

wording. [skip ci]
  doc/changes/v3.2.0.rst
Due: none

pre-commit.
  doc/changes/index.rst
Due: none

copilot.
  doc/changes/v3.2.0.rst
Due: none

prs.
  doc/changes/v3.2.0.rst
Due: none

inline literals
  doc/changes/v3.2.0.rst
Due: none

param.
  doc/changes/v3.2.0.rst
Due: none

Refactored regression/classification local tests
  tests/test_distributed/test_with_spark/test_spark_local.py
Due: black, isort

Remove unittest class
  tests/test_distributed/test_with_spark/test_spark_local.py
  tests/test_distributed/test_with_spark/utils.py
Due: black, isort

Copilot review
  tests/test_distributed/test_with_spark/test_spark_local.py
Due: black, isort

Review comments
  tests/test_distributed/test_with_spark/test_spark_local.py
Due: black, isort

Fix tests
  src/interpretability/shap.cc
  src/interpretability/shap.cu
  src/interpretability/shap.h
  tests/cpp/predictor/test_shap.cc
Due: lint-cpp

Run Spark Connect tests for local cluster mode
  tests/test_distributed/test_with_spark/test_spark_local_cluster.py
Due: black, isort

Run more test for Spark Connect
  tests/test_distributed/test_with_spark/test_spark_local.py
  tests/test_distributed/test_with_spark/test_spark_local_cluster.py
  tests/test_distributed/test_with_spark/utils.py
Due: black, isort

Simplify test code
  tests/test_distributed/test_with_spark/test_spark_local.py
Due: black, isort

Fix formatting
  python-package/xgboost/spark/core.py
  python-package/xgboost/spark/utils.py
  tests/test_distributed/test_with_spark/test_spark_local.py
  tests/test_distributed/test_with_spark/utils.py
Due: black, isort, pylint

Fix up code and style
  python-package/xgboost/spark/core.py
  python-package/xgboost/spark/utils.py
Due: black, isort, pylint

Run test for Spark Connect mode too
  python-package/xgboost/spark/core.py
  tests/test_distributed/test_with_spark/test_spark_local.py
Due: black, isort, pylint

[pyspark] Migrate to Spark Connect ML
  python-package/xgboost/spark/core.py
  python-package/xgboost/spark/utils.py
Due: black, isort, pylint

Cleanup code
  python-package/xgboost/spark/core.py
  python-package/xgboost/spark/utils.py
Due: black, isort, pylint

Set default launch_tracker_on_driver value to False for Spark Connect sessions
  python-package/xgboost/spark/core.py
Due: black, isort, pylint

Fix tests
  python-package/xgboost/spark/core.py
  tests/test_distributed/test_with_spark/test_spark_local.py
  tests/test_distributed/test_with_spark/test_spark_local_cluster.py
  tests/test_distributed/test_with_spark/utils.py
Due: black, isort, pylint

Link Spark issue for overwrite bug
  tests/test_distributed/test_with_spark/test_spark_local.py
Due: black, isort

fix: correct typo 'Recieved' to 'Received' in tracker.cc log message
  src/collective/tracker.cc
Due: lint-cpp

[doc] 3.2 release news. (#11996)
  doc/changes/index.rst
  doc/changes/v3.2.0.rst
Due: none

fix: correct typo 'Recieved' to 'Received' in tracker.cc log message (#12003)
  src/collective/tracker.cc
Due: lint-cpp

Bump version to 3.2.0.
  R-package/DESCRIPTION
  jvm-packages/pom.xml
  jvm-packages/xgboost4j-example/pom.xml
  jvm-packages/xgboost4j-flink/pom.xml
  jvm-packages/xgboost4j-spark-gpu/pom.xml
  jvm-packages/xgboost4j-spark/pom.xml
  jvm-packages/xgboost4j/pom.xml
  python-package/pyproject.toml
  python-package/pyproject.toml.in
  python-package/pyproject.toml.stub.in
  python-package/xgboost/VERSION
Due: none

Bump version to 3.3.0-dev.
  CMakeLists.txt
  R-package/DESCRIPTION
  R-package/configure
  R-package/configure.ac
  include/xgboost/version_config.h
  jvm-packages/pom.xml
  jvm-packages/xgboost4j-example/pom.xml
  jvm-packages/xgboost4j-flink/pom.xml
  jvm-packages/xgboost4j-spark-gpu/pom.xml
  jvm-packages/xgboost4j-spark/pom.xml
  jvm-packages/xgboost4j/pom.xml
  python-package/pyproject.toml
  python-package/pyproject.toml.in
  python-package/pyproject.toml.stub.in
  python-package/xgboost/VERSION
Due: lint-cpp, lint-cmake

[wip][ci] Revise document build pipeline.
  doc/conf.py
  doc/requirements.txt
  doc/sphinx_util.py
  ops/pipeline/build-jvm-doc.sh
  ops/pipeline/build-r-docs.sh
  ops/script/build_local_docs.py
Due: black, isort, pylint

Merge old release notes.
  doc/changes/index.rst
  doc/changes/old.md
Due: none

header
  doc/changes/old.md
Due: none

Pre commit.
  R-package/configure
  include/xgboost/version_config.h
Due: lint-cpp

Bump version to 3.2.0. (#12004)
  R-package/DESCRIPTION
  jvm-packages/pom.xml
  jvm-packages/xgboost4j-example/pom.xml
  jvm-packages/xgboost4j-flink/pom.xml
  jvm-packages/xgboost4j-spark-gpu/pom.xml
  jvm-packages/xgboost4j-spark/pom.xml
  jvm-packages/xgboost4j/pom.xml
  python-package/pyproject.toml
  python-package/pyproject.toml.in
  python-package/pyproject.toml.stub.in
  python-package/xgboost/VERSION
Due: none

Bump version to 3.3.0-dev. (#12005)
  CMakeLists.txt
  R-package/DESCRIPTION
  R-package/configure
  R-package/configure.ac
  include/xgboost/version_config.h
  jvm-packages/pom.xml
  jvm-packages/xgboost4j-example/pom.xml
  jvm-packages/xgboost4j-flink/pom.xml
  jvm-packages/xgboost4j-spark-gpu/pom.xml
  jvm-packages/xgboost4j-spark/pom.xml
  jvm-packages/xgboost4j/pom.xml
  python-package/pyproject.toml
  python-package/pyproject.toml.in
  python-package/pyproject.toml.stub.in
  python-package/xgboost/VERSION
Due: lint-cpp, lint-cmake

Faster tests
  tests/cpp/predictor/test_shap.cc
Due: lint-cpp

[pyspark] Begin refactoring pyspark tests (#12002)
  tests/test_distributed/test_with_spark/test_spark_local.py
  tests/test_distributed/test_with_spark/utils.py
Due: black, isort

Fix various issues raised in review
  doc/parameter.rst
  src/metric/elementwise_metric.cu
  src/objective/regression_obj.cu
  tests/cpp/metric/test_metric.cc
  tests/python/test_eval_metrics.py
Due: lint-cpp, black, isort

Add comments to clarify expectile json loading unit test
  tests/cpp/metric/test_metric.cc
Due: lint-cpp

Continue refactor of pyspark tests
  tests/test_distributed/test_with_spark/test_spark.py
  tests/test_distributed/test_with_spark/test_spark_local_cluster.py
  tests/test_distributed/test_with_spark/utils.py
Due: black, isort

Continue refactor of pyspark tests (#12007)
  tests/test_distributed/test_with_spark/test_spark.py
  tests/test_distributed/test_with_spark/test_spark_local_cluster.py
  tests/test_distributed/test_with_spark/utils.py
Due: black, isort

R
  R-package/src/Makevars.in
  R-package/src/Makevars.win.in
Due: none
