Repository dmlc/xgboost: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-cpp, lint-cmake, pylint

lint-cpp:
  name: C++ lint (cpplint)
  entry: python ops/script/lint_cpp.py
  language: python
  additional_dependencies:
  - cpplint==1.6.1

lint-cmake:
  name: CMake lint (cmakelint)
  entry: cmakelint --linelength=120 --filter=-convention/filename,-package/stdargs,-readability/wonkycase
  language: python
  additional_dependencies:
  - cmakelint

pylint:
  name: Python lint (pylint)
  entry: pylint
  language: python
  args:
  - --rcfile=python-package/pyproject.toml
  additional_dependencies:
  - pylint

Make the grow-only resource stream ordered.
  src/common/device_vector.cu
  src/common/device_vector.cuh
  src/common/resource.cuh
  tests/cpp/common/test_ref_resource_view.cu
Due: lint-cpp

fix: include unistd.h on macOS to expose mkdtemp in filesystem.cc
  tests/cpp/filesystem.cc
Due: lint-cpp

Prevent mutating global variables in tests.
  tests/cpp/test_global_config.cc
Due: lint-cpp

Use context for thrust caching policy.
  src/common/device_helpers.cuh
  src/tree/constraints.cu
  src/tree/constraints.cuh
  src/tree/updater_gpu_hist.cu
  tests/cpp/common/test_device_vector.cu
  tests/cpp/tree/test_constraints.cu
Due: lint-cpp

lint.
  tests/cpp/common/test_device_vector.cu
  tests/cpp/tree/test_constraints.cu
Due: lint-cpp

header.
  tests/cpp/common/test_device_vector.cu
Due: lint-cpp

Share QuadratureTreeSHAP helpers
  src/predictor/interpretability/quadrature.h
  src/predictor/interpretability/shap.cc
  src/predictor/interpretability/shap.cu
Due: lint-cpp

Handle zero cover in QuadratureTreeSHAP
  src/predictor/interpretability/quadrature.h
  src/predictor/interpretability/shap.cc
  src/predictor/interpretability/shap.cu
  tests/cpp/predictor/test_shap.cc
Due: lint-cpp

Size GPU SHAP scratch per batch
  src/predictor/interpretability/shap.cu
Due: lint-cpp

Cache QuadratureTreeSHAP rule in shared helper
  src/predictor/interpretability/quadrature.h
  src/predictor/interpretability/shap.cc
  src/predictor/interpretability/shap.cu
Due: lint-cpp

Group GPU QuadratureTreeSHAP tree iteration
  src/predictor/interpretability/shap.cu
Due: lint-cpp

Fix encoding OOV category.
  python-package/xgboost/testing/ordinal.py
  src/encoder/ordinal.cuh
  src/encoder/ordinal.h
  tests/python-gpu/test_gpu_ordinal.py
  tests/python/test_ordinal.py
Due: lint-cpp, pylint

lint.
  python-package/xgboost/testing/ordinal.py
Due: pylint

Restore optimized GPU QuadratureTreeSHAP kernels
  src/predictor/interpretability/shap.cu
Due: lint-cpp

Share QuadratureTreeSHAP setup helpers
  src/predictor/interpretability/quadrature.h
  src/predictor/interpretability/shap.cc
  src/predictor/interpretability/shap.cu
Due: lint-cpp

Simplify QuadratureTreeSHAP rule setup
  src/predictor/interpretability/quadrature.h
  src/predictor/interpretability/shap.cc
  src/predictor/interpretability/shap.cu
Due: lint-cpp

Simplify GPU QuadratureSHAP shared state
  src/predictor/interpretability/shap.cu
Due: lint-cpp

Handle zero-cover QuadratureSHAP branches
  src/predictor/interpretability/quadrature.h
  src/predictor/interpretability/shap.cc
  src/predictor/interpretability/shap.cu
  tests/cpp/predictor/test_shap.cc
  tests/cpp/predictor/test_shap.cu
  tests/cpp/predictor/test_shap.h
Due: lint-cpp

[wip] Bump Python version requirement to 3.12.
  .github/workflows/main.yml
  .github/workflows/pre-commit.yml
  .github/workflows/python_tests.yml
  .github/workflows/python_wheels_variants.yml
  .github/workflows/python_wheels_winarm64.yml
  .github/workflows/r_tests.yml
  .readthedocs.yaml
  doc/conf.py
  doc/contrib/docs.rst
  doc/xgboost_doc.yml
  ops/conda_env/aarch64_test.yml
  ops/conda_env/linux_cpu_test.yml
  ops/conda_env/linux_sycl_test.yml
  ops/conda_env/macos_cpu_test.yml
  ops/conda_env/minimal.yml
  ops/conda_env/python_lint.yml
  ops/conda_env/sdist_test.yml
  ops/conda_env/win64_test.yml
  ops/pipeline/build-python-wheels-cpu.sh
  ops/pipeline/get-image-tag.sh
  python-package/packager/pep517.py
  python-package/pyproject.toml
  python-package/pyproject.toml.in
  python-package/pyproject.toml.stub.in
  tests/python/test_model_compatibility.py
Due: pylint

macos wheel.
  ops/pipeline/build-python-wheels-macos.sh
Due: none

lint.
  tests/python/test_model_compatibility.py
Due: none

lint.
  doc/conf.py
  ops/pipeline/build-python-wheels-cpu.sh
Due: pylint

dtype check.
  python-package/xgboost/_typing.py
Due: pylint

Fix QuadratureSHAP CI failures
  python-package/xgboost/testing/ordinal.py
  src/predictor/interpretability/quadrature.h
Due: lint-cpp, pylint

Fix tracker.
  src/collective/tracker.cc
Due: lint-cpp

warning.
  demo/guide-python/external_memory.py
  python-package/xgboost/_data_utils.py
Due: pylint

cast.
  python-package/xgboost/compat.py
Due: pylint

lint.
  demo/guide-python/external_memory.py
  python-package/xgboost/compat.py
Due: pylint

lint.
  demo/guide-python/external_memory.py
Due: pylint

Update python-package/xgboost/_data_utils.py
  python-package/xgboost/_data_utils.py
Due: pylint

Drop column split for sparse pandas array.
  python-package/xgboost/data.py
  tests/python/test_with_pandas.py
Due: pylint

lint.
  python-package/xgboost/data.py
Due: pylint

Fix Python test.
  tests/python/test_with_pandas.py
Due: none

[doc] Add R code tabs to custom_metric_obj tutorial
  doc/tutorials/custom_metric_obj.rst
Due: none

revert tag.
  ops/pipeline/get-image-tag.sh
Due: none

Update rapids to 2604.
  ops/pipeline/get-image-tag.sh
Due: none

doc: fix R API issues and Python undefined vars in custom_metric_obj tutorial
  doc/tutorials/custom_metric_obj.rst
Due: none

[doc] Add federated learning tutorial
  doc/tutorials/federated_learning.rst
  doc/tutorials/index.rst
Due: none

Validate unique column names in pandas.
  python-package/xgboost/data.py
Due: pylint

Fix missing space in DeprecatedFunc error message.
  src/common/error_msg.cc
Due: lint-cpp

Path conditions:
  lint-cpp: any of: \.(cc|c|cpp|h|cu|hpp)$, but not: (dmlc-core|gputreeshap)
  lint-cmake: any of: (CMakeLists\.txt$|^cmake/.*\.cmake$), but not: (dmlc-core|gputreeshap)
  pylint: any of: \.py$, but not: (dmlc-core|gputreeshap|^ops/|^tests/)
