Repository dmlc/xgboost: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-cpp, lint-cmake, pylint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: check-yaml
      - id: check-toml
      - id: check-json
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable
      - id: mixed-line-ending
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.14
    hooks:
      - id: ruff-check
        args:
          - --fix
          - --select=I
        files: \.py$
        exclude: (dmlc-core|gputreeshap)
      - id: ruff-format
        files: \.py$
        exclude: (dmlc-core|gputreeshap)
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v21.1.8
    hooks:
      - id: clang-format
        args: [--style=file]
        files: \.(cc|c|cpp|h|cu|hpp)$
        exclude: (dmlc-core|gputreeshap)
  - repo: local
    hooks:
      - id: lint-cpp
        name: C++ lint (cpplint)
        entry: python ops/script/lint_cpp.py
        language: python
        types: [file]
        files: \.(cc|c|cpp|h|cu|hpp)$
        exclude: (dmlc-core|gputreeshap)
        additional_dependencies:
          - cpplint==1.6.1
      - id: lint-cmake
        name: CMake lint (cmakelint)
        entry: cmakelint --linelength=120 --filter=-convention/filename,-package/stdargs,-readability/wonkycase
        language: python
        types: [file]
        files: (CMakeLists\.txt$|^cmake/.*\.cmake$)
        exclude: (dmlc-core|gputreeshap)
        additional_dependencies:
          - cmakelint
      - id: pylint
        name: Python lint (pylint)
        entry: pylint
        language: python
        types: [file]
        files: \.py$
        exclude: (dmlc-core|gputreeshap|^ops/|^tests/)
        args:
          - --rcfile=python-package/pyproject.toml
        additional_dependencies:
          - pylint

Deprecate the `logitraw` objective. (#12477)
  doc/parameter.rst
  src/objective/logistic_obj.cc
Due: lint-cpp

Remove the deprecated feature weights from the `fit` method. (#12479)
  python-package/xgboost/dask/__init__.py
  python-package/xgboost/sklearn.py
  tests/python/test_with_sklearn.py
Due: pylint

[doc] Brief note about the history of multi-output models.
  doc/tutorials/multioutput.rst
Due: none

cleanups.
  doc/tutorials/multioutput.rst
  src/tree/split_evaluator.h
Due: lint-cpp

split long line.
  doc/tutorials/multioutput.rst
Due: none

[CI] restore warning as error.
  ops/pipeline/build-cpu.sh
  ops/pipeline/build-cuda-impl.sh
Due: none

Fixes.
  ops/pipeline/build-cpu.sh
  src/common/quantile.cc
  tests/cpp/data/test_extmem_quantile_dmatrix.h
  tests/cpp/helpers.cc
  tests/cpp/tree/test_quantile_hist.cc
  tests/cpp/tree/test_tree_policy.cc
Due: lint-cpp

cpu-only
  ops/pipeline/build-cuda-impl.sh
Due: none

lint.
  tests/cpp/data/test_extmem_quantile_dmatrix.h
Due: lint-cpp

restore CUDA.
  ops/pipeline/build-cuda-impl.sh
Due: none

[python-package] Fix custom feature names for Arrow inputs
  python-package/xgboost/data.py
  tests/python/test_with_arrow.py
Due: pylint

Make the serialized RNG state portable across platforms.
  include/xgboost/context.h
  src/common/error_msg.h
  src/common/random.cc
  src/common/random.h
  src/context.cc
  tests/cpp/common/test_random.cc
  tests/cpp/test_context.cc
  tests/cpp/test_learner.cc
  tests/python/test_pickling.py
Due: lint-cpp

Use a native Philox engine for the random number generator.
  include/xgboost/context.h
  include/xgboost/philox_engine.h
  src/common/random.h
  src/gbm/gbtree.cc
  src/tree/updater_colmaker.cc
  tests/cpp/common/test_random.cc
  tests/cpp/test_context.cc
  tests/cpp/test_philox_engine.cc
  tests/python/test_with_sklearn.py
Due: lint-cpp

gitignore CMake files in R package
  .gitignore
Due: none

Remove unused isort config from pyproject.
  python-package/pyproject.toml
  python-package/pyproject.toml.in
Due: none

test: cover default Arrow feature names
  tests/python/test_with_arrow.py
Due: none

gitignore CMake files in R package (#12489)
  .gitignore
Due: none

Remove unused isort config from pyproject. (#12488)
  python-package/pyproject.toml
  python-package/pyproject.toml.in
Due: none

[python-package] Fix custom feature names for Arrow inputs (#12484)
  python-package/xgboost/data.py
  tests/python/test_with_arrow.py
Due: pylint

Carry between counter words when they are 64 bits wide.
  include/xgboost/philox_engine.h
  tests/cpp/test_philox_engine.cc
Due: lint-cpp

Disable dashboard in Dask concurrent training test.
  tests/test_distributed/test_with_dask/test_with_dask.py
Due: none

Fix nightly cccl build.
  src/common/quantile.cu
Due: lint-cpp

[doc] Update wording for the `max_cached_hist_node`.
  doc/parameter.rst
Due: none

Potential fix for pull request finding
  doc/parameter.rst
Due: none

[c++] stop using dmlc-core's Gtest, running its C++ tests
  CMakeLists.txt
  cmake/CPMFindGTest.cmake
  cmake/CPMSetup.cmake
  doc/contrib/unit_tests.rst
  ops/pipeline/build-cpu.sh
  ops/pipeline/build-cuda-impl.sh
  ops/pipeline/build-win64.ps1
  tests/cpp/CMakeLists.txt
Due: lint-cmake

fix trailing comma in build-win64.ps1
  ops/pipeline/build-win64.ps1
Due: none

Disable dashboard in Dask concurrent training test. (#12491)
  tests/test_distributed/test_with_dask/test_with_dask.py
Due: none

remove unnecessary cxx_std_14 workaround
  cmake/CPMFindGTest.cmake
Due: lint-cmake

Stop using dmlc-core's GTest, running its C++ tests (#12494)
  CMakeLists.txt
  cmake/CPMFindGTest.cmake
  cmake/CPMSetup.cmake
  doc/contrib/unit_tests.rst
  ops/pipeline/build-cpu.sh
  ops/pipeline/build-cuda-impl.sh
  ops/pipeline/build-win64.ps1
  tests/cpp/CMakeLists.txt
Due: lint-cmake

Fix plot_importance value-label offset for small importances
  python-package/xgboost/plotting.py
  tests/python/test_plotting.py
Due: pylint

[doc] Brief note about the history of multi-output models. (#12482)
  doc/tutorials/multioutput.rst
  src/tree/split_evaluator.h
Due: lint-cpp

[doc] Update wording for the `max_cached_hist_node`. (#12493)
  doc/parameter.rst
Due: none

provide explicit CMake flag
  ops/pipeline/build-cuda-impl.sh
Due: none

[CI] Restore warning as error. (#12483)
  ops/pipeline/build-cpu.sh
  ops/pipeline/build-cuda-impl.sh
  src/common/quantile.cc
  tests/cpp/data/test_extmem_quantile_dmatrix.h
  tests/cpp/helpers.cc
  tests/cpp/tree/test_quantile_hist.cc
  tests/cpp/tree/test_tree_policy.cc
Due: lint-cpp

[dask] Disable dashboard in tests.
  tests/test_distributed/test_gpu_with_dask/conftest.py
  tests/test_distributed/test_with_dask/conftest.py
Due: none

lint.
  tests/test_distributed/test_gpu_with_dask/conftest.py
Due: none

Fix
  tests/test_distributed/test_with_dask/conftest.py
Due: none

more.
  tests/test_distributed/test_gpu_with_dask/test_gpu_external_memory.py
  tests/test_distributed/test_gpu_with_dask/test_gpu_with_dask.py
Due: none

lint.
  tests/test_distributed/test_gpu_with_dask/test_gpu_external_memory.py
Due: none
