Repository dmlc/xgboost: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-cpp, lint-cmake, pylint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: check-yaml
      - id: check-toml
      - id: check-json
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable
      - id: mixed-line-ending
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.14
    hooks:
      - id: ruff-check
        args:
          - --fix
          - --select=I
        files: \.py$
        exclude: (dmlc-core|gputreeshap)
      - id: ruff-format
        files: \.py$
        exclude: (dmlc-core|gputreeshap)
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v21.1.8
    hooks:
      - id: clang-format
        args: [--style=file]
        files: \.(cc|c|cpp|h|cu|hpp)$
        exclude: (dmlc-core|gputreeshap)
  - repo: local
    hooks:
      - id: lint-cpp
        name: C++ lint (cpplint)
        entry: python ops/script/lint_cpp.py
        language: python
        types: [file]
        files: \.(cc|c|cpp|h|cu|hpp)$
        exclude: (dmlc-core|gputreeshap)
        additional_dependencies:
          - cpplint==1.6.1
      - id: lint-cmake
        name: CMake lint (cmakelint)
        entry: cmakelint --linelength=120 --filter=-convention/filename,-package/stdargs,-readability/wonkycase
        language: python
        types: [file]
        files: (CMakeLists\.txt$|^cmake/.*\.cmake$)
        exclude: (dmlc-core|gputreeshap)
        additional_dependencies:
          - cmakelint
      - id: pylint
        name: Python lint (pylint)
        entry: pylint
        language: python
        types: [file]
        files: \.py$
        exclude: (dmlc-core|gputreeshap|^ops/|^tests/)
        args:
          - --rcfile=python-package/pyproject.toml
        additional_dependencies:
          - pylint

[doc] Notes for pickling. (#12042)
  doc/tutorials/saving_model.rst
Due: none

Redundant inlines
  src/common/quantile.h
Due: lint-cpp

Add comment
  src/common/quantile.h
Due: lint-cpp

Move internal shap algorithms into separate namespace. (#11985)
  R-package/src/Makevars.in
  R-package/src/Makevars.win.in
  include/xgboost/predictor.h
  src/gbm/gbtree.h
  src/predictor/cpu_predictor.cc
  src/predictor/data_accessor.h
  src/predictor/gpu_data_accessor.cuh
  src/predictor/gpu_predictor.cu
  src/predictor/interpretability/shap.cc
  src/predictor/interpretability/shap.cu
  src/predictor/interpretability/shap.h
  tests/cpp/predictor/test_shap.cc
Due: lint-cpp

Simplifications to Quantile Sketching (#12033)
  src/common/hist_util.cu
  src/common/quantile.cc
  src/common/quantile.cuh
  src/common/quantile.h
  tests/cpp/common/test_quantile.cc
Due: lint-cpp

cleanup.
  python-package/xgboost/collective.py
Due: pylint

pre-commit.
  src/collective/comm.cc
  src/collective/comm.h
  src/collective/comm_group.cc
  tests/cpp/collective/test_worker.h
  tests/python/test_tracker.py
Due: lint-cpp

[wip] Implement worker port.
  python-package/xgboost/collective.py
  src/collective/comm.cc
  src/collective/comm.h
  src/collective/comm_group.cc
  tests/cpp/collective/test_worker.h
  tests/python/test_tracker.py
Due: lint-cpp, pylint

Add test.
  tests/test_distributed/test_with_dask/test_with_dask.py
Due: none

pre-commit.
  tests/python/test_tracker.py
Due: none

unused.
  src/predictor/interpretability/shap.cu
Due: lint-cpp

Cleanup.
  src/predictor/interpretability/shap.cc
  src/predictor/interpretability/shap.cu
Due: lint-cpp

Use span in WQSummary and rename logical size
  src/common/quantile.cc
  src/common/quantile.h
Due: lint-cpp

Use constructor
  src/common/quantile.h
Due: lint-cpp

Test compile
  tests/cpp/common/test_quantile.cc
Due: lint-cpp

Copilot comment
  src/common/quantile.cc
  src/common/quantile.h
Due: lint-cpp

Clang-tidy
  src/common/quantile.h
Due: lint-cpp

gpu: prune quantile sketch incrementally per batch
  src/common/quantile.cuh
  src/data/quantile_dmatrix.cu
Due: lint-cpp

Wqsummary use span (#12046)
  src/common/quantile.cc
  src/common/quantile.h
  tests/cpp/common/test_quantile.cc
Due: lint-cpp

Deprecate max_quantile_blocks and remove internal plumbing
  include/xgboost/c_api.h
  include/xgboost/data.h
  python-package/xgboost/core.py
  src/c_api/c_api.cc
  src/data/data.cc
  src/data/extmem_quantile_dmatrix.cc
  src/data/extmem_quantile_dmatrix.cu
  src/data/extmem_quantile_dmatrix.h
  src/data/iterative_dmatrix.cc
  src/data/iterative_dmatrix.cu
  src/data/iterative_dmatrix.h
  src/data/quantile_dmatrix.cu
  src/data/quantile_dmatrix.h
  tests/cpp/c_api/test_c_api.cc
  tests/cpp/common/test_column_matrix.cc
  tests/cpp/data/test_iterative_dmatrix.cc
  tests/cpp/data/test_iterative_dmatrix.cu
  tests/cpp/data/test_iterative_dmatrix.h
  tests/cpp/helpers.cc
  tests/cpp/predictor/test_predictor.cc
Due: lint-cpp, pylint

Handle null max_quantile_blocks warning and clean sketch logging
  src/c_api/c_api.cc
  src/data/quantile_dmatrix.cu
  tests/test_distributed/test_gpu_with_dask/test_gpu_with_dask.py
Due: lint-cpp

[wip][mt] Unify the quantisers.
  src/predictor/interpretability/shap.cu
  src/tree/gpu_hist/histogram.cu
  src/tree/gpu_hist/quantiser.cu
  src/tree/gpu_hist/quantiser.cuh
  src/tree/updater_gpu_hist.cu
  src/tree/updater_gpu_hist.cuh
  tests/cpp/tree/gpu_hist/dummy_quantizer.cuh
  tests/cpp/tree/gpu_hist/test_evaluate_splits.cu
  tests/cpp/tree/gpu_hist/test_histogram.cu
  tests/cpp/tree/gpu_hist/test_sampler.cu
Due: lint-cpp

cleanups.
  src/tree/gpu_hist/quantiser.cu
Due: lint-cpp

rename.
  src/tree/gpu_hist/quantiser.cu
Due: lint-cpp

cleanup.
  src/tree/gpu_hist/quantiser.cu
  src/tree/gpu_hist/quantiser.cuh
Due: lint-cpp

Refactor quantile queue entry representation
  src/common/quantile.h
Due: lint-cpp

Tighten WQSummary interface usage
  src/common/quantile.cc
  src/common/quantile.h
  tests/cpp/common/test_quantile.cc
Due: lint-cpp

Remove sorted CPU sketch path plumbing
  src/common/hist_util.cc
  src/common/hist_util.h
  src/common/quantile.cc
  src/common/quantile.h
  src/data/gradient_index.cc
  src/data/gradient_index.h
  src/data/simple_dmatrix.cc
  src/data/sparse_page_dmatrix.cc
  tests/cpp/common/test_column_matrix.cc
  tests/cpp/common/test_hist_util.cc
  tests/cpp/common/test_quantile.cc
  tests/cpp/data/test_gradient_index.cc
  tests/cpp/data/test_sparse_page_dmatrix.cc
  tests/cpp/tree/hist/test_evaluate_splits.cc
  tests/cpp/tree/hist/test_histogram.cc
Due: lint-cpp

add pandas data loading step to deprecate direct csv loading
  doc/tutorials/federated_learning.rst
Due: none

Remove num_rows from GPU sketch allreduce path
  src/common/hist_util.cu
  src/common/quantile.cu
  src/common/quantile.cuh
  src/data/quantile_dmatrix.cu
  tests/cpp/common/test_hist_util.cu
  tests/cpp/common/test_quantile.cu
Due: lint-cpp

Revert "Remove sorted CPU sketch path plumbing"
  src/common/hist_util.cc
  src/common/hist_util.h
  src/common/quantile.cc
  src/common/quantile.h
  src/data/gradient_index.cc
  src/data/gradient_index.h
  src/data/simple_dmatrix.cc
  src/data/sparse_page_dmatrix.cc
  tests/cpp/common/test_column_matrix.cc
  tests/cpp/common/test_hist_util.cc
  tests/cpp/common/test_quantile.cc
  tests/cpp/data/test_gradient_index.cc
  tests/cpp/data/test_sparse_page_dmatrix.cc
  tests/cpp/tree/hist/test_evaluate_splits.cc
  tests/cpp/tree/hist/test_histogram.cc
Due: lint-cpp

Refactor sorted quantile path into WQuantileSketch
  src/common/quantile.cc
  src/common/quantile.h
Due: lint-cpp

Refactor sorted summary construction into WQSummary
  src/common/quantile.cc
  src/common/quantile.h
Due: lint-cpp

Refactor quantile allreduce merge and remove summary reduce
  src/common/quantile.cc
  src/common/quantile.h
  tests/cpp/common/test_quantile.cc
Due: lint-cpp

[mt] Unify the quantisers. (#12048)
  src/predictor/interpretability/shap.cu
  src/tree/gpu_hist/histogram.cu
  src/tree/gpu_hist/quantiser.cu
  src/tree/gpu_hist/quantiser.cuh
  src/tree/updater_gpu_hist.cu
  src/tree/updater_gpu_hist.cuh
  tests/cpp/tree/gpu_hist/dummy_quantizer.cuh
  tests/cpp/tree/gpu_hist/test_evaluate_splits.cu
  tests/cpp/tree/gpu_hist/test_histogram.cu
  tests/cpp/tree/gpu_hist/test_sampler.cu
Due: lint-cpp

gpu: restore intermediate prune before sketch allreduce
  src/common/quantile.cu
Due: lint-cpp

Reduce memory in GPU quantile sketch for external memory (#12047)
  include/xgboost/c_api.h
  include/xgboost/data.h
  python-package/xgboost/core.py
  src/c_api/c_api.cc
  src/common/hist_util.cu
  src/common/quantile.cu
  src/common/quantile.cuh
  src/data/data.cc
  src/data/extmem_quantile_dmatrix.cc
  src/data/extmem_quantile_dmatrix.cu
  src/data/extmem_quantile_dmatrix.h
  src/data/iterative_dmatrix.cc
  src/data/iterative_dmatrix.cu
  src/data/iterative_dmatrix.h
  src/data/quantile_dmatrix.cu
  src/data/quantile_dmatrix.h
  tests/cpp/c_api/test_c_api.cc
  tests/cpp/common/test_column_matrix.cc
  tests/cpp/common/test_hist_util.cu
  tests/cpp/common/test_quantile.cu
  tests/cpp/data/test_iterative_dmatrix.cc
  tests/cpp/data/test_iterative_dmatrix.cu
  tests/cpp/data/test_iterative_dmatrix.h
  tests/cpp/helpers.cc
  tests/cpp/predictor/test_predictor.cc
  tests/test_distributed/test_gpu_with_dask/test_gpu_with_dask.py
Due: lint-cpp, pylint

Fix typo in deprecation warning for num_trees
  python-package/xgboost/plotting.py
Due: pylint

Add Rasika Moon to CONTRIBUTORS.md
  CONTRIBUTORS.md
Due: none

Clarify retained cuts in quantile allreduce
  src/common/quantile.cc
  src/common/quantile.h
Due: lint-cpp
