Repository dmlc/xgboost: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-cpp, lint-cmake, pylint

lint-cpp:
  name: C++ lint (cpplint)
  entry: python ops/script/lint_cpp.py
  language: python
  additional_dependencies:
  - cpplint==1.6.1

lint-cmake:
  name: CMake lint (cmakelint)
  entry: cmakelint --linelength=120 --filter=-convention/filename,-package/stdargs,-readability/wonkycase
  language: python
  additional_dependencies:
  - cmakelint

pylint:
  name: Python lint (pylint)
  entry: pylint
  language: python
  args:
  - --rcfile=python-package/pyproject.toml
  additional_dependencies:
  - pylint

Refactor AFT survival analysis tutorial to use tabs for code examples and improve clarity
  doc/tutorials/aft_survival_analysis.rst
Due: none

Migrate to CTK13 as the default for Linux. (#12384)
  .github/workflows/lint.yml
  .github/workflows/main.yml
  doc/build.rst
  doc/contrib/ci.rst
  doc/contrib/coding_guide.rst
  doc/gpu/index.rst
  doc/install.rst
  include/xgboost/json.h
  jvm-packages/pom.xml
  jvm-packages/xgboost4j-spark-gpu/src/test/scala/ml/dmlc/xgboost4j/scala/spark/GpuTestSuite.scala
  ops/conda_env/aarch64_test.yml
  ops/conda_env/linux_cpu_test.yml
  ops/pipeline/audit-cuda-wheel.sh
  ops/pipeline/build-cpu.sh
  ops/pipeline/build-cuda-clang.sh
  ops/pipeline/build-cuda.sh
  ops/pipeline/build-python-wheels-arm64-impl.sh
  ops/pipeline/build-variant-wheels-impl.sh
  ops/pipeline/build-variant-wheels.sh
  ops/pipeline/nightly-test-cccl-impl.sh
  ops/pipeline/nightly-test-cccl.sh
  ops/pipeline/nightly-test-rmm-impl.sh
  ops/pipeline/nightly-test-rmm.sh
  ops/pipeline/run-clang-tidy-clang-cuda.sh
  ops/pipeline/run-clang-tidy.sh
  ops/pipeline/test-python-wheel.sh
  ops/script/change_version.py
  ops/script/release_artifacts.py
  ops/script/run_clang_tidy.py
  plugin/federated/README.md
  python-package/pyproject.toml
  src/common/json.cc
  src/common/json_utils.h
  src/data/array_interface.cc
  src/data/array_interface.h
  src/data/data.cc
  src/tree/gpu_hist/histogram.cu
  tests/cpp/common/test_span.cu
  tests/python/test_dmatrix.py
  tests/python/test_with_polars.py
Due: lint-cpp

Use predictor for leaf id cache updates (#12385)
  include/xgboost/predictor.h
  include/xgboost/tree_updater.h
  plugin/sycl/predictor/predictor.cc
  plugin/sycl/tree/hist_updater.cc
  plugin/sycl/tree/hist_updater.h
  plugin/sycl/tree/updater_quantile_hist.cc
  plugin/sycl/tree/updater_quantile_hist.h
  src/gbm/gbtree.cc
  src/predictor/cpu_predictor.cc
  src/predictor/gpu_predictor.cu
  src/tree/hist/evaluate_splits.h
  src/tree/updater_approx.cc
  src/tree/updater_gpu_hist.cu
  src/tree/updater_gpu_hist.cuh
  src/tree/updater_quantile_hist.cc
  tests/cpp/predictor/test_cpu_predictor.cc
  tests/cpp/predictor/test_predictor.cc
  tests/cpp/tree/test_gpu_hist.cu
  tests/cpp/tree/test_prediction_cache.h
Due: lint-cpp

Fix win arm64 release.
  .github/workflows/python_wheels_winarm64.yml
  .github/workflows/windows.yml
  doc/install.rst
  ops/conda_env/macos_cpu_test.yml
  ops/conda_env/win64_cpu_test.yml
  ops/script/release_artifacts.py
Due: none

name.
  .github/workflows/python_wheels_winarm64.yml
Due: none

update doc.
  doc/install.rst
Due: none

no miniforge.
  .github/workflows/python_wheels_winarm64.yml
Due: none

joblib.
  .github/workflows/python_wheels_winarm64.yml
  .github/workflows/windows.yml
Due: none

sklearn, pandas
  .github/workflows/python_wheels_winarm64.yml
Due: none

Add regression test for regex-special feature names
  tests/python/test_with_sklearn.py
Due: none

Validate max_num_features is positive in plot_importance
  python-package/xgboost/plotting.py
Due: pylint

Add sklearn-API quantile regression example
  demo/guide-python/quantile_regression_sklearn.py
Due: pylint

Cross-reference the new sklearn quantile regression example
  doc/parameter.rst
Due: none

Add demo test for the new sklearn quantile regression example
  tests/python/test_demos.py
Due: none

Add demo test for multioutput_reduced_gradient.py
  tests/python/test_demos.py
Due: none

Restore dmatrix.__init__ even if validate_data_initialization raises
  python-package/xgboost/testing/shared.py
Due: pylint

Fix dump_model corrupting output for dump_format='dot'
  python-package/xgboost/core.py
Due: pylint

Add tests for dump_model's dot format support
  tests/python/test_basic_models.py
Due: none

Fix tutorial typos: objetive(s), followings
  doc/tutorials/advanced_custom_obj.rst
  doc/tutorials/custom_metric_obj.rst
  doc/tutorials/dask.rst
Due: none

Fix nine more doc typos found with codespell
  doc/R-package/migration_guide.rst
  doc/contrib/ci.rst
  doc/contrib/featuremap.rst
  doc/jvm/xgboost4j_spark_tutorial.rst
  doc/python/sklearn_estimator.rst
Due: none

Add missing assertion to run_normalization's top-k section
  python-package/xgboost/testing/ranking.py
Due: pylint

[doc] Fix typos found with codespell (#12401)
  doc/R-package/migration_guide.rst
  doc/contrib/ci.rst
  doc/contrib/featuremap.rst
  doc/jvm/xgboost4j_spark_tutorial.rst
  doc/python/sklearn_estimator.rst
Due: none

[doc] Fix tutorial typos (#12400)
  doc/tutorials/advanced_custom_obj.rst
  doc/tutorials/custom_metric_obj.rst
  doc/tutorials/dask.rst
Due: none

[doc] Add 2nd place winning solution for Tabular Playground Series (#12392)
  demo/README.md
Due: none

revert.
  ops/conda_env/win64_cpu_test.yml
Due: none

deprecated.
  src/common/quantile.cu
Due: lint-cpp

SMI.
  .github/workflows/windows.yml
Due: none

Revert "SMI."
  .github/workflows/windows.yml
Due: none

test sccache.
  ops/pipeline/build-win64.ps1
Due: none

Address review feedback: trim comment, split test
  python-package/xgboost/core.py
  tests/python/test_basic_models.py
  tests/python/test_plotting.py
Due: pylint

Revert "test sccache."
  ops/pipeline/build-win64.ps1
Due: none

doc.
  .github/runs-on.yml
  doc/tutorials/spark_estimator.rst
Due: none

Add demo test for multioutput_reduced_gradient.py (#12397)
  tests/python/test_demos.py
Due: none

cuda version.
  ops/conda_env/win64_test.yml
Due: none

Fix win arm64 release, update win CTK. (#12394)
  .github/runs-on.yml
  .github/workflows/python_wheels_winarm64.yml
  doc/install.rst
  doc/tutorials/spark_estimator.rst
  ops/conda_env/macos_cpu_test.yml
  ops/conda_env/win64_test.yml
  ops/script/release_artifacts.py
  src/common/quantile.cu
Due: lint-cpp

[doc] 3.4.0 release note.
  doc/changes/index.rst
  doc/changes/v3.4.0.rst
Due: none

sphinx.
  doc/changes/v3.4.0.rst
  doc/contrib/release.rst
Due: none

Path conditions:
  lint-cpp: any of: \.(cc|c|cpp|h|cu|hpp)$, but not: (dmlc-core|gputreeshap)
  lint-cmake: any of: (CMakeLists\.txt$|^cmake/.*\.cmake$), but not: (dmlc-core|gputreeshap)
  pylint: any of: \.py$, but not: (dmlc-core|gputreeshap|^ops/|^tests/)
