Repository dmlc/xgboost: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-cpp, lint-cmake, pylint

lint-cpp:
  name: C++ lint (cpplint)
  entry: python ops/script/lint_cpp.py
  language: python
  additional_dependencies:
  - cpplint==1.6.1

lint-cmake:
  name: CMake lint (cmakelint)
  entry: cmakelint --linelength=120 --filter=-convention/filename,-package/stdargs,-readability/wonkycase
  language: python
  additional_dependencies:
  - cmakelint

pylint:
  name: Python lint (pylint)
  entry: pylint
  language: python
  args:
  - --rcfile=python-package/pyproject.toml
  additional_dependencies:
  - pylint

Fix updater node-position tests
  src/tree/updater_prune.cc
  tests/cpp/tree/test_prune.cc
  tests/cpp/tree/test_refresh.cc
Due: lint-cpp

Fix prune test node positions
  tests/cpp/tree/test_prune.cc
Due: lint-cpp

Remove node position capability flag
  include/xgboost/tree_updater.h
  src/gbm/gbtree.cc
  src/tree/updater_approx.cc
  src/tree/updater_colmaker.cc
  src/tree/updater_gpu_hist.cu
  src/tree/updater_quantile_hist.cc
  src/tree/updater_refresh.cc
  tests/cpp/tree/test_node_partition.cc
Due: lint-cpp

Apply clang-format after node position cleanup
  include/xgboost/tree_updater.h
  src/tree/updater_approx.cc
  src/tree/updater_quantile_hist.cc
Due: lint-cpp

Export final colmaker leaf positions
  src/tree/updater_colmaker.cc
  tests/cpp/tree/test_tree_stat.cc
Due: lint-cpp

Standardize node positions for CPU updaters (#12346)
  include/xgboost/tree_updater.h
  src/gbm/gbtree.cc
  src/tree/updater_approx.cc
  src/tree/updater_colmaker.cc
  src/tree/updater_gpu_hist.cu
  src/tree/updater_prune.cc
  src/tree/updater_quantile_hist.cc
  src/tree/updater_refresh.cc
  tests/cpp/tree/test_node_partition.cc
  tests/cpp/tree/test_prune.cc
  tests/cpp/tree/test_refresh.cc
  tests/cpp/tree/test_tree_stat.cc
Due: lint-cpp

Disable federated in CI.
  .github/workflows/main.yml
  ops/conda_env/cpp_test.yml
  ops/conda_env/linux_cpu_test.yml
  ops/pipeline/build-cuda-clang.sh
  ops/pipeline/build-cuda-impl.sh
  ops/pipeline/build-cuda.sh
  ops/pipeline/build-variant-wheels.sh
  ops/pipeline/test-c-api-demo.sh
  ops/pipeline/test-python-wheel.sh
  ops/script/type_check_python.py
  tests/python/test_collective.py
Due: none

inc.
  src/data/cat_container.cc
Due: lint-cpp

unsigned in json.
  include/xgboost/json.h
  include/xgboost/json_io.h
  python-package/xgboost/_data_utils.py
  src/common/json.cc
  src/data/cat_container.cc
  tests/cpp/test_serialization.cc
Due: lint-cpp, pylint

bit copy.
  doc/tutorials/saving_model.rst
  src/data/cat_container.cc
  tests/cpp/data/test_cat_container.cc
Due: lint-cpp

Simplify the encoding.
  python-package/xgboost/_data_utils.py
Due: pylint

lint.
  tests/python/test_collective.py
Due: none

install.
  .github/workflows/main.yml
Due: none

fix.
  .github/workflows/main.yml
Due: none

Fix UTF-8 and nullable categories index in the recoder. (#12371)
  doc/tutorials/categorical.rst
  doc/tutorials/saving_model.rst
  include/xgboost/json.h
  include/xgboost/json_io.h
  python-package/xgboost/_data_utils.py
  python-package/xgboost/testing/ordinal.py
  src/common/json.cc
  src/data/adapter.cc
  src/data/cat_container.cc
  src/data/columnar.h
  src/data/device_adapter.cu
  src/encoder/ordinal.h
  tests/cpp/data/test_adapter.cc
  tests/cpp/data/test_cat_container.cc
  tests/cpp/data/test_device_adapter.cu
  tests/python/test_ordinal.py
  tests/python/test_with_polars.py
Due: lint-cpp, pylint

build core.
  .github/workflows/main.yml
Due: none

[R] Fix early stopping for the `xgboost()` function. (#12370)
  R-package/R/xgboost.R
  R-package/tests/testthat/test_xgboost.R
Due: none

revert.
  ops/script/type_check_python.py
Due: none

Disable federated learning build in CI. (#12376)
  .github/workflows/main.yml
  ops/conda_env/cpp_test.yml
  ops/conda_env/linux_cpu_test.yml
  ops/pipeline/build-cuda-clang.sh
  ops/pipeline/build-cuda-impl.sh
  ops/pipeline/build-cuda.sh
  ops/pipeline/build-variant-wheels.sh
  ops/pipeline/test-c-api-demo.sh
  ops/pipeline/test-python-wheel.sh
  tests/python/test_collective.py
Due: none

Fix collective.allreduce always returning a flattened 1-D array
  python-package/xgboost/collective.py
Due: pylint

Fix discarded transform_scipy_sparse() return value in CSC path
  python-package/xgboost/data.py
Due: pylint

Fix discarded transform_scipy_sparse() return value in CSC path (#12378)
  python-package/xgboost/data.py
Due: pylint

Scope MM scratch buffers to gradient computation
  src/objective/regression_obj.cu
Due: lint-cpp

Fix collective.allreduce always returning a flattened 1-D array (#12377)
  python-package/xgboost/collective.py
Due: pylint

Fix smooth absolute error CI tests
  python-package/xgboost/testing/intercept.py
  tests/cpp/plugin/test_sycl_regression_obj.cc
  tests/python/test_tree_regularization.py
  tests/test_distributed/test_with_dask/test_with_dask.py
Due: lint-cpp, pylint

Fix multiclass metric destructor specification
  src/metric/multiclass_metric.cu
Due: lint-cpp

Address smooth absolute error review feedback
  python-package/xgboost/testing/intercept.py
  src/objective/regression_obj.cu
Due: lint-cpp, pylint

Use smooth MM updates for absolute error (#12373)
  doc/parameter.rst
  python-package/xgboost/testing/intercept.py
  src/metric/multiclass_metric.cu
  src/objective/regression_obj.cu
  tests/cpp/objective/test_regression_obj.cc
  tests/cpp/objective/test_regression_obj.h
  tests/cpp/objective/test_regression_obj_cpu.cc
  tests/cpp/plugin/test_sycl_regression_obj.cc
  tests/cpp/test_multi_target.cc
  tests/python/test_monotone_constraints.py
  tests/python/test_tree_regularization.py
  tests/test_distributed/test_with_dask/test_with_dask.py
Due: lint-cpp, pylint

Add missing halffloat[pyarrow] entry to pandas_pyarrow_mapper
  python-package/xgboost/data.py
Due: pylint

Fix make_array_interface reporting wrong shape for empty results
  python-package/xgboost/_data_utils.py
Due: pylint

Add collective.allreduce_average convenience helper
  python-package/xgboost/collective.py
Due: pylint

Use collective.allreduce_average in _allreduce_metric
  python-package/xgboost/callback.py
Due: pylint

Add test coverage for collective.allreduce_average
  tests/python/test_collective.py
Due: none

Document allreduce and allreduce_average in the API reference
  doc/python/python_api.rst
Due: none

Fix missing string input tag in sklearn Tags dataclass conversion
  python-package/xgboost/sklearn.py
Due: pylint

Fix missing string input tag in sklearn Tags dataclass conversion (#12383)
  python-package/xgboost/sklearn.py
Due: pylint

[WIP] Migrate to CTK13 as the default for Linux.
  .github/workflows/main.yml
  doc/contrib/ci.rst
  doc/install.rst
  ops/conda_env/aarch64_test.yml
  ops/conda_env/linux_cpu_test.yml
  ops/pipeline/audit-cuda-wheel.sh
  ops/pipeline/build-cpu.sh
  ops/pipeline/build-cuda.sh
  ops/pipeline/build-python-wheels-arm64-impl.sh
  ops/pipeline/build-variant-wheels-impl.sh
  ops/pipeline/build-variant-wheels.sh
  ops/pipeline/get-image-tag.sh
  ops/pipeline/nightly-test-cccl.sh
  ops/pipeline/nightly-test-rmm.sh
  ops/pipeline/test-python-wheel.sh
  ops/script/change_version.py
  ops/script/release_artifacts.py
  python-package/pyproject.toml
Due: none

Reuse multi-target histogram builder
  src/tree/updater_quantile_hist.cc
Due: lint-cpp

clang.
  .github/workflows/main.yml
  doc/contrib/coding_guide.rst
  ops/pipeline/build-cuda-clang.sh
  ops/pipeline/run-clang-tidy-clang-cuda.sh
  ops/pipeline/run-clang-tidy.sh
  ops/script/run_clang_tidy.py
Due: none

rc2
  .github/workflows/main.yml
  doc/contrib/coding_guide.rst
  ops/pipeline/build-cuda-clang.sh
  ops/pipeline/run-clang-tidy-clang-cuda.sh
Due: none

Path conditions:
  lint-cpp: any of: \.(cc|c|cpp|h|cu|hpp)$, but not: (dmlc-core|gputreeshap)
  lint-cmake: any of: (CMakeLists\.txt$|^cmake/.*\.cmake$), but not: (dmlc-core|gputreeshap)
  pylint: any of: \.py$, but not: (dmlc-core|gputreeshap|^ops/|^tests/)
