Repository dmlc/xgboost: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-cpp, lint-cmake, black, isort, pylint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: check-yaml
      - id: check-toml
      - id: check-json
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable
      - id: mixed-line-ending
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v21.1.8
    hooks:
      - id: clang-format
        args: [--style=file]
        files: \.(cc|c|cpp|h|cu|hpp)$
        exclude: (dmlc-core|gputreeshap)
  - repo: local
    hooks:
      - id: lint-cpp
        name: C++ lint (cpplint)
        entry: python ops/script/lint_cpp.py
        language: python
        types: [file]
        files: \.(cc|c|cpp|h|cu|hpp)$
        exclude: (dmlc-core|gputreeshap)
        additional_dependencies:
          - cpplint==1.6.1
      - id: lint-cmake
        name: CMake lint (cmakelint)
        entry: cmakelint --linelength=120 --filter=-convention/filename,-package/stdargs,-readability/wonkycase
        language: python
        types: [file]
        files: (CMakeLists\.txt$|^cmake/.*\.cmake$)
        exclude: (dmlc-core|gputreeshap)
        additional_dependencies:
          - cmakelint
      - id: black
        name: Python format (black)
        entry: black -q
        language: python
        types: [file]
        files: \.py$
        exclude: (dmlc-core|gputreeshap)
        additional_dependencies:
          - black
      - id: isort
        name: Python format (isort)
        entry: isort
        language: python
        types: [file]
        files: \.py$
        exclude: (dmlc-core|gputreeshap)
        args:
          - --settings-path
          - python-package
          - --src=python-package
        additional_dependencies:
          - isort
      - id: pylint
        name: Python lint (pylint)
        entry: pylint
        language: python
        types: [file]
        files: \.py$
        exclude: (dmlc-core|gputreeshap|^ops/|^tests/)
        args:
          - --rcfile=python-package/pyproject.toml
        additional_dependencies:
          - pylint

docs: add recent winning solutions using XGBoost
  demo/README.md
Due: none

demo: remove type ignore in custom_softmax plotting
  demo/guide-python/custom_softmax.py
Due: black, isort, pylint

demo: replace type ignores in reduced gradient example
  demo/guide-python/multioutput_reduced_gradient.py
Due: black, isort, pylint

Use pytest tmp path.
  tests/python/test_basic.py
  tests/python/test_basic_models.py
  tests/python/test_callback.py
Due: black, isort

More.
  tests/python/test_basic_models.py
  tests/python/test_data_iterator.py
Due: black, isort

more.
  tests/python/test_demos.py
  tests/python/test_dmatrix.py
  tests/python/test_openmp.py
Due: black, isort

More.
  tests/python-gpu/test_gpu_with_sklearn.py
  tests/python/test_model_io.py
  tests/python/test_training_continuation.py
  tests/python/test_with_polars.py
  tests/python/test_with_sklearn.py
  tests/test_distributed/test_with_dask/test_with_dask.py
  tests/test_distributed/test_with_spark/test_spark.py
Due: black, isort

Enable Spark Connect test after merging main branch
  ops/conda_env/aarch64_test.yml
  ops/conda_env/linux_cpu_test.yml
  ops/conda_env/python_lint.yml
  python-package/pyproject.toml
  python-package/pyproject.toml.in
  tests/test_distributed/test_with_spark/test_spark.py
Due: black, isort

Revert unnecessary changes
  tests/test_distributed/test_with_spark/test_spark.py
Due: black, isort

Revert unnecessary change from prod code
  python-package/xgboost/spark/core.py
Due: black, isort, pylint

Fixes.
  tests/test_distributed/test_gpu_with_dask/test_gpu_with_dask.py
  tests/test_distributed/test_with_dask/test_with_dask.py
Due: black, isort

python: default enable_categorical to True
  python-package/xgboost/core.py
  python-package/xgboost/dask/__init__.py
  python-package/xgboost/sklearn.py
  tests/python/test_with_sklearn.py
Due: black, isort, pylint

Move shap stuff back into predictor folder
  src/predictor/cpu_predictor.cc
  src/predictor/data_accessor.h
  src/predictor/gpu_data_accessor.cuh
  src/predictor/gpu_predictor.cu
  src/predictor/interpretability/shap.cc
  src/predictor/interpretability/shap.cu
  src/predictor/interpretability/shap.h
  tests/cpp/predictor/test_shap.cc
Due: lint-cpp

Undo use span for tree_weights
  include/xgboost/predictor.h
  src/gbm/gbtree.cc
  src/gbm/gbtree.h
  src/predictor/cpu_predictor.cc
  src/predictor/gpu_predictor.cu
  src/predictor/interpretability/shap.cc
  src/predictor/interpretability/shap.cu
  src/predictor/interpretability/shap.h
Due: lint-cpp

Signed comparison error
  src/predictor/interpretability/shap.cc
Due: lint-cpp

R package build
  R-package/src/Makevars.in
  R-package/src/Makevars.win.in
Due: none

Copilot review
  src/predictor/cpu_predictor.cc
  src/predictor/interpretability/shap.cc
  src/predictor/interpretability/shap.cu
  src/predictor/interpretability/shap.h
Due: lint-cpp

Move predictor mutex into GBTreeModel
  src/gbm/gbtree_model.h
  src/predictor/cpu_predictor.cc
  src/predictor/gbtree_view.h
  src/predictor/gpu_predictor.cu
Due: lint-cpp

Categorical encoding
  src/predictor/interpretability/shap.cc
Due: lint-cpp

Move predictor mutex into GBTreeModel (#12022)
  src/gbm/gbtree_model.h
  src/predictor/cpu_predictor.cc
  src/predictor/gbtree_view.h
  src/predictor/gpu_predictor.cu
Due: lint-cpp

Update test
  tests/cpp/predictor/test_shap.cc
Due: lint-cpp

Break up python import cycle
  python-package/xgboost/_c_api.py
  python-package/xgboost/_typing.py
  python-package/xgboost/core.py
  python-package/xgboost/dask/__init__.py
  python-package/xgboost/data.py
  python-package/xgboost/sklearn.py
Due: black, isort, pylint

Clang-tidy
  src/predictor/gpu_predictor.cu
Due: lint-cpp

Windows build
  src/predictor/interpretability/shap.cc
Due: lint-cpp

Update call sites to reflect moved functions
  python-package/xgboost/__init__.py
  python-package/xgboost/core.py
  python-package/xgboost/data.py
  python-package/xgboost/sklearn.py
  python-package/xgboost/spark/core.py
  tests/python/test_basic.py
  tests/python/test_data_iterator.py
  tests/test_distributed/test_gpu_with_dask/test_gpu_with_dask.py
Due: black, isort, pylint

Review comment
  tests/cpp/predictor/test_shap.cc
Due: lint-cpp

Review comments
  python-package/xgboost/_typing.py
  tests/python/test_basic.py
Due: black, isort, pylint

Fix lint error
  python-package/xgboost/spark/core.py
Due: black, isort, pylint

Break up python import cycle (#12027)
  python-package/xgboost/__init__.py
  python-package/xgboost/_c_api.py
  python-package/xgboost/_typing.py
  python-package/xgboost/core.py
  python-package/xgboost/dask/__init__.py
  python-package/xgboost/data.py
  python-package/xgboost/sklearn.py
  python-package/xgboost/spark/core.py
  tests/python/test_basic.py
  tests/python/test_data_iterator.py
  tests/test_distributed/test_gpu_with_dask/test_gpu_with_dask.py
Due: black, isort, pylint

import cupy.
  tests/python-gpu/test_gpu_prediction.py
  tests/python/test_callback.py
Due: black, isort

Fixes.
  tests/python/test_dmatrix.py
  tests/test_distributed/test_gpu_with_dask/test_gpu_with_dask.py
Due: black, isort

pre-commit.
  tests/python-gpu/test_gpu_with_sklearn.py
  tests/python/test_basic.py
  tests/python/test_basic_models.py
  tests/python/test_callback.py
  tests/python/test_data_iterator.py
  tests/python/test_demos.py
  tests/python/test_model_io.py
  tests/python/test_openmp.py
  tests/python/test_training_continuation.py
  tests/python/test_with_polars.py
  tests/python/test_with_sklearn.py
  tests/test_distributed/test_with_dask/test_with_dask.py
  tests/test_distributed/test_with_spark/test_spark.py
Due: black, isort

ruff.
  tests/python/test_with_sklearn.py
Due: black, isort

pre-commit.
  tests/python/test_with_sklearn.py
Due: black, isort

revert for mypy.
  tests/python-gpu/test_gpu_prediction.py
Due: black, isort

[ci] Re-enable dependabot for github actions.
  .github/dependabot.yml
Due: none

Deprecate gblinear
  doc/parameter.rst
  python-package/xgboost/sklearn.py
  src/learner.cc
  tests/cpp/test_learner.cc
Due: lint-cpp, black, isort, pylint

Refactor DART implementation into GBTree
  src/gbm/gbtree.cc
  src/gbm/gbtree.h
Due: lint-cpp

Add DART backward-compat model load test
  tests/cpp/gbm/test_gbtree.cc
Due: lint-cpp

Deprecate parameter
  doc/parameter.rst
  python-package/xgboost/sklearn.py
  src/gbm/gbtree.cc
  src/gbm/gbtree.h
  src/learner.cc
  tests/cpp/gbm/test_gbtree.cc
Due: lint-cpp, black, isort, pylint
