Repository dmlc/xgboost: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-cpp, lint-cmake, pylint

lint-cpp:
  name: C++ lint (cpplint)
  entry: python ops/script/lint_cpp.py
  language: python
  additional_dependencies:
  - cpplint==1.6.1

lint-cmake:
  name: CMake lint (cmakelint)
  entry: cmakelint --linelength=120 --filter=-convention/filename,-package/stdargs,-readability/wonkycase
  language: python
  additional_dependencies:
  - cmakelint

pylint:
  name: Python lint (pylint)
  entry: pylint
  language: python
  args:
  - --rcfile=python-package/pyproject.toml
  additional_dependencies:
  - pylint

Remove the default.
  src/common/device_vector.cuh
Due: none

rest of the pipeline.
  src/common/ref_resource_view.cuh
  src/common/resource.cuh
  src/data/ellpack_page_raw_format.cu
  src/data/ellpack_page_source.cu
  src/predictor/gpu_predictor.cu
  src/predictor/interpretability/shap.cu
  src/tree/gpu_hist/multi_evaluate_splits.cu
  src/tree/gpu_hist/multi_evaluate_splits.cuh
  src/tree/gpu_hist/quantiser.cu
  src/tree/gpu_hist/row_partitioner.cuh
  src/tree/updater_gpu_hist.cuh
  tests/cpp/common/test_gpu_compressed_iterator.cu
Due: lint-cpp

[cmake] fix building with system-installed dmlc-core (#12123)
  CMakeLists.txt
Due: lint-cmake

Security disclosure. (#12113)
  SECURITY.md
  doc/index.rst
  doc/security.rst
  src/gbm/gbtree_model.cc
Due: lint-cpp

[ci] Fix cran test.
  .github/workflows/r_tests.yml
Due: none

build from source instead.
  .github/workflows/r_tests.yml
Due: none

[pyspark] Add support for Spark Connect ML (#11970)
  ops/conda_env/aarch64_test.yml
  ops/conda_env/linux_cpu_test.yml
  ops/conda_env/python_lint.yml
  python-package/pyproject.toml
  python-package/pyproject.toml.in
  python-package/xgboost/spark/core.py
  python-package/xgboost/spark/estimator.py
  python-package/xgboost/spark/utils.py
  tests/test_distributed/test_with_spark/test_spark.py
Due: pylint

more coverage.
  include/xgboost/host_device_vector.h
  include/xgboost/linalg.h
  src/common/device_compression.cu
  src/common/host_device_vector.cu
  src/common/ranking_utils.cc
  src/common/ref_resource_view.cuh
  src/data/ellpack_page_raw_format.cu
  src/tree/gpu_hist/evaluate_splits.cu
Due: lint-cpp

cleanups.
  include/xgboost/host_device_vector.h
  src/common/host_device_vector.cc
  src/common/host_device_vector.cu
  tests/cpp/common/test_host_device_vector.cu
Due: lint-cpp

nvcomp.
  src/common/device_compression.cu
  src/common/device_compression.cuh
Due: lint-cpp

lint.
  src/common/ranking_utils.cc
Due: lint-cpp

[ci] Fix cran test. (#12125)
  .github/workflows/r_tests.yml
Due: none

More.
  include/xgboost/host_device_vector.h
  include/xgboost/linalg.h
  plugin/sycl/common/host_device_vector.cc
  src/common/host_device_vector.cc
  src/common/host_device_vector.cu
  src/common/ranking_utils.cc
  src/common/ranking_utils.cu
  src/objective/adaptive.cu
  tests/cpp/common/test_host_device_vector.cu
Due: lint-cpp

sketch.
  src/common/hist_util.cu
  src/common/hist_util.cuh
  src/common/quantile.cu
  src/common/quantile.cuh
  src/data/quantile_dmatrix.cu
  tests/cpp/common/test_hist_util.cu
  tests/cpp/common/test_quantile.cu
Due: lint-cpp

tree.
  include/xgboost/multi_target_tree_model.h
  include/xgboost/tree_model.h
  src/tree/gpu_hist/evaluate_splits.cuh
  src/tree/gpu_hist/evaluator.cu
  src/tree/hist/evaluate_splits.h
  src/tree/multi_target_tree_model.cc
  src/tree/split_evaluator.h
  src/tree/tree_model.cc
  src/tree/updater_colmaker.cc
  src/tree/updater_gpu_hist.cu
  src/tree/updater_gpu_hist.cuh
  src/tree/updater_quantile_hist.cc
  tests/cpp/helpers.cc
  tests/cpp/objective/test_objective.cc
  tests/cpp/objective/test_objective_helpers.h
  tests/cpp/predictor/test_cpu_predictor.cc
  tests/cpp/predictor/test_predictor.cc
  tests/cpp/tree/gpu_hist/test_evaluate_splits.cu
  tests/cpp/tree/hist/test_evaluate_splits.cc
  tests/cpp/tree/test_multi_target_tree_model.cc
  tests/cpp/tree/test_partitioner.h
Due: lint-cpp

lint.
  include/xgboost/tree_model.h
  src/objective/adaptive.cu
  tests/cpp/tree/hist/test_evaluate_splits.cc
  tests/cpp/tree/test_partitioner.h
Due: lint-cpp

sycl.
  plugin/sycl/data/gradient_index.cc
Due: lint-cpp

note.
  include/xgboost/host_device_vector.h
Due: lint-cpp

Simplify GPU sketch batch sizing (#12118)
  src/common/hist_util.cu
  src/common/hist_util.cuh
  tests/cpp/common/test_hist_util.cu
Due: lint-cpp

Get CUDA memory pool stats after running into OOM.
  src/common/device_vector.cu
Due: lint-cpp

copilot.
  src/common/device_vector.cu
Due: lint-cpp

make it spark.gpu
  jvm-packages/xgboost4j-spark-gpu/pom.xml
Due: none

Use NCCL split tree for GPU quantile sketch exchange
  src/collective/allreduce.cuh
  src/collective/comm.cu
  src/collective/comm.cuh
  src/collective/nccl_stub.cc
  src/collective/nccl_stub.h
  src/common/quantile.cu
  tests/cpp/collective/test_allreduce.cu
  tests/cpp/common/test_quantile.cu
Due: lint-cpp

Slim GPU quantile tree reduce PR
  src/collective/allreduce.cuh
  src/collective/nccl_stub.cc
  src/collective/nccl_stub.h
  src/common/quantile.cu
  tests/cpp/collective/test_allreduce.cu
Due: lint-cpp

Get CUDA memory pool stats after running into OOM. (#12127)
  src/common/device_vector.cu
Due: lint-cpp

Use CUDA events for quantile NCCL ordering
  src/common/quantile.cu
Due: lint-cpp

Document NCCL blocking requirement for split comms
  src/collective/comm.cu
Due: lint-cpp

Add scratch NCCL AllreduceV prototype
  tests/cpp/collective/test_allreduce_v.cu
Due: lint-cpp

Prototype GPU AllreduceV for quantile
  src/collective/allreduce_v.cuh
  src/common/quantile.cu
  tests/cpp/collective/test_allreduce_v.cu
Due: lint-cpp

Trim AllreduceV scratch benchmark
  tests/cpp/collective/test_allreduce_v.cu
Due: lint-cpp

Remove stale quantile CUDA stream include
  src/common/quantile.cu
Due: lint-cpp

Remove unused NCCL subgroup support
  src/collective/comm.cu
  src/collective/comm.cuh
  src/collective/nccl_stub.cc
  src/collective/nccl_stub.h
Due: lint-cpp

Use O(log n/eps) budget for CPU distributed sketch
  src/common/quantile.cc
  src/common/quantile.h
  tests/cpp/common/test_quantile.cc
Due: lint-cpp

Address quantile PR review feedback
  src/common/quantile.cu
  tests/cpp/collective/test_allreduce.cu
Due: lint-cpp

Test CPU quantile accuracy with rank-error bounds
  tests/cpp/common/test_hist_util.cc
  tests/cpp/common/test_hist_util.h
  tests/cpp/common/test_quantile.cc
Due: lint-cpp

Scope rank-error test bounds to CPU coverage
  tests/cpp/common/test_hist_util.cc
  tests/cpp/common/test_hist_util.cu
  tests/cpp/common/test_hist_util.h
Due: lint-cpp

Reuse collective wrappers in AllreduceV
  src/collective/allreduce_v.cuh
Due: none

Align GPU AllreduceV with collective API
  src/collective/allreduce.h
  src/common/quantile.cu
  tests/cpp/collective/test_allreduce_v.cu
Due: lint-cpp

Remove redundant quantile payload reload
  src/common/quantile.cu
Due: lint-cpp

Preserve nonblocking NCCL init for AllreduceV
  src/collective/allreduce_v.cuh
  src/collective/comm.cu
  src/collective/nccl_stub.cc
  src/collective/nccl_stub.h
Due: lint-cpp

Path conditions:
  lint-cpp: any of: \.(cc|c|cpp|h|cu|hpp)$, but not: (dmlc-core|gputreeshap)
  lint-cmake: any of: (CMakeLists\.txt$|^cmake/.*\.cmake$), but not: (dmlc-core|gputreeshap)
  pylint: any of: \.py$, but not: (dmlc-core|gputreeshap|^ops/|^tests/)
