Repository dmlc/xgboost: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-cpp, lint-cmake, pylint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: check-yaml
      - id: check-toml
      - id: check-json
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable
      - id: mixed-line-ending
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.14
    hooks:
      - id: ruff-check
        args:
          - --fix
          - --select=I
        files: \.py$
        exclude: (dmlc-core|gputreeshap)
      - id: ruff-format
        files: \.py$
        exclude: (dmlc-core|gputreeshap)
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v21.1.8
    hooks:
      - id: clang-format
        args: [--style=file]
        files: \.(cc|c|cpp|h|cu|hpp)$
        exclude: (dmlc-core|gputreeshap)
  - repo: local
    hooks:
      - id: lint-cpp
        name: C++ lint (cpplint)
        entry: python ops/script/lint_cpp.py
        language: python
        types: [file]
        files: \.(cc|c|cpp|h|cu|hpp)$
        exclude: (dmlc-core|gputreeshap)
        additional_dependencies:
          - cpplint==1.6.1
      - id: lint-cmake
        name: CMake lint (cmakelint)
        entry: cmakelint --linelength=120 --filter=-convention/filename,-package/stdargs,-readability/wonkycase
        language: python
        types: [file]
        files: (CMakeLists\.txt$|^cmake/.*\.cmake$)
        exclude: (dmlc-core|gputreeshap)
        additional_dependencies:
          - cmakelint
      - id: pylint
        name: Python lint (pylint)
        entry: pylint
        language: python
        types: [file]
        files: \.py$
        exclude: (dmlc-core|gputreeshap|^ops/|^tests/)
        args:
          - --rcfile=python-package/pyproject.toml
        additional_dependencies:
          - pylint

[CV] Externalize the fold splits. (#12565)
  python-package/xgboost/_cross_validation.py
  src/cross_validate/cross_validate.cc
  src/cross_validate/cross_validate.cu
  src/cross_validate/cross_validate.h
  src/cross_validate/evaluate.cu
  src/cross_validate/kfolds.cc
  src/cross_validate/kfolds.cu
  src/cross_validate/kfolds.cuh
  src/cross_validate/kfolds.h
  src/cross_validate/tree_method.cuh
  src/tree/gpu_hist/row_partitioner.cu
  src/tree/gpu_hist/row_partitioner.cuh
  tests/cpp/cross_validate/test_cv_evaluate.cu
  tests/cpp/cross_validate/test_kfolds.cu
  tests/cpp/tree/gpu_hist/test_row_partitioner.cu
  tests/python-gpu/test_cross_validate.py
Due: lint-cpp, pylint

Add Python 3.11 support
  python-package/pyproject.toml
  python-package/pyproject.toml.in
  python-package/pyproject.toml.stub.in
Due: none

Bump version to 3.3.1
  CMakeLists.txt
  R-package/DESCRIPTION
  R-package/configure
  R-package/configure.ac
  include/xgboost/version_config.h
  jvm-packages/pom.xml
  jvm-packages/xgboost4j-example/pom.xml
  jvm-packages/xgboost4j-flink/pom.xml
  jvm-packages/xgboost4j-spark-gpu/pom.xml
  jvm-packages/xgboost4j-spark/pom.xml
  jvm-packages/xgboost4j/pom.xml
  python-package/pyproject.toml
  python-package/pyproject.toml.in
  python-package/pyproject.toml.stub.in
  python-package/xgboost/VERSION
Due: lint-cpp, lint-cmake

Bump version to 3.4.2
  CMakeLists.txt
  R-package/DESCRIPTION
  R-package/configure
  R-package/configure.ac
  include/xgboost/version_config.h
  jvm-packages/pom.xml
  jvm-packages/xgboost4j-example/pom.xml
  jvm-packages/xgboost4j-flink/pom.xml
  jvm-packages/xgboost4j-spark-gpu/pom.xml
  jvm-packages/xgboost4j-spark/pom.xml
  jvm-packages/xgboost4j/pom.xml
  python-package/pyproject.toml
  python-package/pyproject.toml.in
  python-package/pyproject.toml.stub.in
  python-package/xgboost/VERSION
Due: lint-cpp, lint-cmake

Disable federated learning, to unblock wheel building
  .github/workflows/main.yml
Due: none

Convert MAE and MAPE to the kernel abstraction (#12563)
  src/metric/elementwise_metric.cu
  src/metric/elementwise_metric.h
  src/metric/mae_metric.cc
  src/metric/mae_metric.cu
  src/metric/mae_metric.h
  src/metric/metric.cc
  src/metric/rmse_metric.cc
Due: lint-cpp

[doc] Fix parameter names (#12556)
  python-package/xgboost/core.py
Due: pylint

Create 3.4.2 patch release (#12571)
  CMakeLists.txt
  R-package/DESCRIPTION
  R-package/configure
  R-package/configure.ac
  include/xgboost/version_config.h
  jvm-packages/pom.xml
  jvm-packages/xgboost4j-example/pom.xml
  jvm-packages/xgboost4j-flink/pom.xml
  jvm-packages/xgboost4j-spark-gpu/pom.xml
  jvm-packages/xgboost4j-spark/pom.xml
  jvm-packages/xgboost4j/pom.xml
  python-package/pyproject.toml
  python-package/pyproject.toml.in
  python-package/pyproject.toml.stub.in
  python-package/xgboost/VERSION
Due: lint-cpp, lint-cmake

Fix auditwheel
  ops/pipeline/audit-cuda-wheel.sh
Due: none

Create 3.3.1 patch release (#12570)
  .github/workflows/main.yml
  CMakeLists.txt
  R-package/DESCRIPTION
  R-package/configure
  R-package/configure.ac
  include/xgboost/version_config.h
  jvm-packages/pom.xml
  jvm-packages/xgboost4j-example/pom.xml
  jvm-packages/xgboost4j-flink/pom.xml
  jvm-packages/xgboost4j-spark-gpu/pom.xml
  jvm-packages/xgboost4j-spark/pom.xml
  jvm-packages/xgboost4j/pom.xml
  ops/pipeline/audit-cuda-wheel.sh
  python-package/pyproject.toml
  python-package/pyproject.toml.in
  python-package/pyproject.toml.stub.in
  python-package/xgboost/VERSION
Due: lint-cpp, lint-cmake

Add normal distribution regression objective (#12550)
  doc/parameter.rst
  src/metric/elementwise_metric.cu
  src/objective/normal_obj.cc
  src/objective/normal_obj.cu
  src/objective/normal_obj.h
  src/objective/objective.cc
  tests/cpp/metric/test_metric.cc
  tests/cpp/objective/test_regression_obj.cc
  tests/cpp/objective/test_regression_obj.h
  tests/cpp/objective/test_regression_obj_cpu.cc
  tests/python/test_multi_target.py
Due: lint-cpp

Synchronize distributed target initialization (#12564)
  src/learner.cc
  tests/cpp/test_learner.cc
  tests/python/test_with_sklearn.py
Due: lint-cpp

Limit threading in the small multi-output regression demo
  demo/guide-python/multioutput_regression.py
Due: pylint

Exact intercepts for absolute error and quantile objectives (#12557)
  demo/guide-python/multioutput_regression.py
  python-package/xgboost/testing/intercept.py
  src/objective/absolute_error_obj.cc
  src/objective/absolute_error_obj.cu
  src/objective/absolute_error_obj.h
  src/objective/objective.cc
  src/objective/quantile_obj.cc
  src/objective/radix_select.cc
  src/objective/radix_select.cu
  src/objective/radix_select.h
  tests/cpp/objective/test_quantile_obj.cc
  tests/cpp/objective/test_radix_select.cc
  tests/cpp/objective/test_regression_obj.cc
  tests/test_distributed/test_with_dask/test_with_dask.py
Due: lint-cpp, pylint

Doc: update list of winning solutions using XGBoost
  demo/README.md
Due: none

Convert log loss and pseudo-Huber metrics to kernel abstraction
  src/metric/elementwise_metric.cu
  src/metric/logloss_metric.cc
  src/metric/logloss_metric.cu
  src/metric/logloss_metric.h
  src/metric/metric.cc
  src/metric/pseudohuber_metric.cc
  src/metric/pseudohuber_metric.cu
  src/metric/pseudohuber_metric.h
  tests/cpp/metric/test_elementwise_metric.h
Due: lint-cpp

Python: Improve mypy type hints in plotting and typing
  python-package/xgboost/_typing.py
  python-package/xgboost/plotting.py
Due: pylint

Doc: Clarify RF objective function differences
  doc/tutorials/rf.rst
Due: none

Stabilize pseudo-Huber regression with MM curvature
  src/objective/pseudohuber_obj.h
  tests/cpp/objective/test_regression_obj.cc
Due: lint-cpp

Build dense GPU histograms over tree-sampled features
  src/tree/gpu_hist/histogram.cu
  src/tree/gpu_hist/histogram.cuh
  src/tree/updater_gpu_hist.cu
  tests/cpp/tree/gpu_hist/test_histogram.cu
Due: lint-cpp

Preserve tree-wide GPU histogram sampling with level and node sampling
  src/common/random.h
  src/tree/updater_gpu_hist.cu
  tests/cpp/common/test_random.cc
Due: lint-cpp

Stabilize pseudo-Huber regression with MM curvature (#12576)
  src/objective/pseudohuber_obj.h
  tests/cpp/objective/test_regression_obj.cc
Due: lint-cpp

Convert log loss and pseudo-Huber metrics to kernel abstraction (#12573)
  src/metric/elementwise_metric.cu
  src/metric/logloss_metric.cc
  src/metric/logloss_metric.cu
  src/metric/logloss_metric.h
  src/metric/metric.cc
  src/metric/pseudohuber_metric.cc
  src/metric/pseudohuber_metric.cu
  src/metric/pseudohuber_metric.h
  tests/cpp/metric/test_elementwise_metric.h
Due: lint-cpp

Convert error and Poisson metrics to kernel abstraction
  src/metric/elementwise_metric.cu
  src/metric/elementwise_metric.h
  src/metric/error_metric.cc
  src/metric/error_metric.cu
  src/metric/error_metric.h
  src/metric/metric.cc
  src/metric/poisson_metric.cc
  src/metric/poisson_metric.cu
  src/metric/poisson_metric.h
Due: lint-cpp

Extract CPU leaf prediction into a registered kernel
  src/predictor/cpu_predictor.cc
  src/predictor/prediction_kernel.h
  tests/cpp/predictor/test_cpu_predictor.cc
Due: lint-cpp

Dispatch leaf prediction directly through registered kernels
  include/xgboost/predictor.h
  plugin/sycl/predictor/predictor.cc
  src/gbm/gbtree.h
  src/predictor/cpu_predictor.cc
  src/predictor/gpu_predictor.cu
  tests/cpp/predictor/test_cpu_predictor.cc
  tests/cpp/predictor/test_gpu_predictor.cu
  tests/cpp/predictor/test_predictor.cc
Due: lint-cpp

Add explicit return type to `__device__` lambda
  src/common/quantile.cu
Due: lint-cpp

Add explicit return type to `__device__` lambda (#12578)
  src/common/quantile.cu
Due: lint-cpp

Use automatic CPU fallback for SYCL leaf prediction
  plugin/sycl/predictor/predictor.cc
Due: lint-cpp

Apply pre-commit formatting to leaf prediction kernels
  src/predictor/cpu_predictor.cc
  src/predictor/gpu_predictor.cu
  tests/cpp/predictor/test_gpu_predictor.cu
  tests/cpp/predictor/test_predictor.cc
Due: lint-cpp

[EM] Drop support for the cache compression.
  CMakeLists.txt
  cmake/Utils.cmake
  doc/tutorials/external_memory.rst
  include/xgboost/data.h
  src/c_api/c_api.cu
  src/common/common.h
  src/common/cuda_dr_utils.cc
  src/common/cuda_dr_utils.h
  src/common/cuda_pinned_allocator.cu
  src/common/device_compression.cu
  src/common/device_compression.cuh
  src/common/device_compression.h
  src/data/ellpack_page_source.cu
  src/data/ellpack_page_source.h
  tests/cpp/common/test_device_compression.cu
  tests/cpp/data/test_extmem_quantile_dmatrix.cu
  tests/cpp/helpers.cc
  tests/cpp/helpers.h
Due: lint-cpp, lint-cmake

Format sampled GPU histogram changes
  src/tree/gpu_hist/histogram.cu
  src/tree/updater_gpu_hist.cu
  tests/cpp/tree/gpu_hist/test_histogram.cu
Due: lint-cpp

Remove host pool and stream pool.
  src/common/cuda_pinned_allocator.cu
  src/common/cuda_pinned_allocator.h
  src/common/cuda_stream_pool.h
  src/common/ref_resource_view.cuh
  src/common/resource.cuh
  tests/cpp/common/test_cuda_rt_utils.cu
  tests/cpp/common/test_ref_resource_view.cu
Due: lint-cpp

[EM] Drop support for the cache compression. (#12580)
  CMakeLists.txt
  cmake/Utils.cmake
  doc/tutorials/external_memory.rst
  include/xgboost/data.h
  src/c_api/c_api.cu
  src/common/common.h
  src/common/cuda_dr_utils.cc
  src/common/cuda_dr_utils.h
  src/common/cuda_pinned_allocator.cu
  src/common/cuda_pinned_allocator.h
  src/common/cuda_stream_pool.h
  src/common/device_compression.cu
  src/common/device_compression.cuh
  src/common/device_compression.h
  src/common/ref_resource_view.cuh
  src/common/resource.cuh
  src/data/ellpack_page_source.cu
  src/data/ellpack_page_source.h
  tests/cpp/common/test_cuda_rt_utils.cu
  tests/cpp/common/test_device_compression.cu
  tests/cpp/common/test_ref_resource_view.cu
  tests/cpp/data/test_extmem_quantile_dmatrix.cu
  tests/cpp/helpers.cc
  tests/cpp/helpers.h
Due: lint-cpp, lint-cmake

Fix reverse iterator in `SketchContainer::ScanInput()`
  src/common/quantile.cu
Due: lint-cpp

fix: tolerate non-finite metric strings from the native library
  python-package/xgboost/callback.py
  python-package/xgboost/core.py
  tests/python/test_basic.py
  tests/python/test_callback.py
Due: pylint

Convert leaf prediction to the kernel abstraction (#12579)
  include/xgboost/predictor.h
  plugin/sycl/predictor/predictor.cc
  src/gbm/gbtree.h
  src/predictor/cpu_predictor.cc
  src/predictor/gpu_predictor.cu
  src/predictor/prediction_kernel.h
  tests/cpp/predictor/test_cpu_predictor.cc
  tests/cpp/predictor/test_gpu_predictor.cu
  tests/cpp/predictor/test_predictor.cc
Due: lint-cpp

Convert error and Poisson metrics to kernel abstraction (#12577)
  src/metric/elementwise_metric.cu
  src/metric/elementwise_metric.h
  src/metric/error_metric.cc
  src/metric/error_metric.cu
  src/metric/error_metric.h
  src/metric/metric.cc
  src/metric/poisson_metric.cc
  src/metric/poisson_metric.cu
  src/metric/poisson_metric.h
Due: lint-cpp
