Repository dmlc/xgboost: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-cpp, lint-cmake, pylint

lint-cpp:
  name: C++ lint (cpplint)
  entry: python ops/script/lint_cpp.py
  language: python
  additional_dependencies:
  - cpplint==1.6.1

lint-cmake:
  name: CMake lint (cmakelint)
  entry: cmakelint --linelength=120 --filter=-convention/filename,-package/stdargs,-readability/wonkycase
  language: python
  additional_dependencies:
  - cmakelint

pylint:
  name: Python lint (pylint)
  entry: pylint
  language: python
  args:
  - --rcfile=python-package/pyproject.toml
  additional_dependencies:
  - pylint

test.
  python-package/xgboost/testing/predict.py
Due: pylint

move check.
  src/tree/tree_model.cc
Due: lint-cpp

doc.
  doc/prediction.rst
Due: none

test.
  python-package/xgboost/testing/predict.py
  src/c_api/c_api.cc
Due: lint-cpp, pylint

Checks.
  src/gbm/gbtree.cc
  src/tree/tree_model.cc
Due: lint-cpp

Fix offset.
  src/predictor/gpu_predictor.cu
  tests/python-gpu/test_gpu_prediction.py
  tests/python/test_predict.py
Due: lint-cpp

lint.
  src/predictor/interpretability/shap.cu
Due: lint-cpp

validation.
  include/xgboost/gbm.h
  include/xgboost/learner.h
  src/c_api/c_api.cc
  src/gbm/gblinear.cc
  src/gbm/gbtree.h
  src/learner.cc
Due: lint-cpp

[MT] Hardening.
  include/xgboost/tree_model.h
  src/c_api/c_api.cc
  src/gbm/gbtree.cc
  src/tree/hist/hist_param.cc
  src/tree/tree_model.cc
  src/tree/updater_prune.cc
  tests/cpp/tree/test_tree_model.cc
Due: lint-cpp

Apply suggestions from code review
  src/tree/tree_model.cc
Due: lint-cpp

[MT] Tree dump with stats.
  src/tree/tree_model.cc
  tests/python/test_basic.py
  tests/python/test_plotting.py
Due: lint-cpp

Fix build with RMM 26.08.
  tests/cpp/helpers.cc
Due: lint-cpp

Fix.
  src/tree/tree_model.cc
Due: lint-cpp

Fix JSON model.
  src/tree/tree_model.cc
Due: lint-cpp

Fix test.
  tests/cpp/tree/test_multi_target_tree_model.cc
Due: lint-cpp

fix.
  src/tree/tree_model.cc
Due: lint-cpp

fix.
  tests/cpp/tree/test_multi_target_tree_model.cc
Due: lint-cpp

Fix build with RMM 26.08. (#12316)
  tests/cpp/helpers.cc
Due: lint-cpp

Skip unused per-tree depth computation for single-row prediction
  src/predictor/cpu_predictor.cc
Due: lint-cpp

Avoid redundant allocations in the JSON text parser
  include/xgboost/json_io.h
  src/common/json.cc
Due: lint-cpp

Add stale PR cleanup workflow
  .github/workflows/stale-prs.yml
Due: none

Use PR-only stale cleanup workflow
  .github/workflows/stale-prs.yml
Due: none

Use actions stale for PR cleanup
  .github/workflows/stale-prs.yml
Due: none

Set stale PR threshold to three months
  .github/workflows/stale-prs.yml
Due: none

Add stale PR cleanup workflow (#12318)
  .github/workflows/stale-prs.yml
Due: none

Unify max delta step handling.
  src/tree/gpu_hist/multi_evaluate_splits.cu
  src/tree/param.h
  src/tree/split_evaluator.h
Due: lint-cpp

Skip unused per-tree depth computation for single-row prediction (#12307)
  src/predictor/cpu_predictor.cc
Due: lint-cpp

[MT] Tree dump with stats. (#12314)
  src/tree/tree_model.cc
  tests/cpp/tree/test_multi_target_tree_model.cc
  tests/python/test_basic.py
  tests/python/test_plotting.py
Due: lint-cpp

Apply clang-format v21.1.8 to touched files
  include/xgboost/json_io.h
  src/common/json.cc
Due: lint-cpp

[MT] Disable `pred_leaf` with strict shape, fix ext mem. (#12312)
  doc/prediction.rst
  include/xgboost/gbm.h
  include/xgboost/learner.h
  include/xgboost/tree_model.h
  python-package/xgboost/testing/predict.py
  src/c_api/c_api.cc
  src/common/quantile.cu
  src/gbm/gblinear.cc
  src/gbm/gbtree.cc
  src/gbm/gbtree.h
  src/learner.cc
  src/predictor/gpu_predictor.cu
  src/predictor/interpretability/shap.cu
  src/tree/hist/hist_param.cc
  src/tree/tree_model.cc
  src/tree/updater_prune.cc
  tests/cpp/tree/test_tree_model.cc
  tests/python-gpu/test_gpu_prediction.py
  tests/python/test_predict.py
Due: lint-cpp, pylint

[MT] Defensive checks.
  src/gbm/gbtree.cc
  src/gbm/gbtree.h
  src/metric/elementwise_metric.cu
  src/metric/metric_common.h
  src/metric/multiclass_metric.cu
  src/metric/rank_metric.cc
  src/metric/survival_metric.cu
  src/predictor/interpretability/shap.cc
Due: lint-cpp

space.
  src/gbm/gbtree.cc
Due: lint-cpp

fix check.
  src/predictor/interpretability/shap.cc
Due: lint-cpp

Potential fix for pull request finding
  src/predictor/interpretability/shap.cc
Due: lint-cpp

[MT] Rework gradient-based sampling with reduced gradient.
  src/tree/gpu_hist/sampler.cu
  src/tree/gpu_hist/sampler.cuh
  src/tree/hist/sampler.cc
  src/tree/hist/sampler.h
  src/tree/updater_gpu_hist.cuh
  src/tree/updater_quantile_hist.cc
  tests/cpp/tree/gpu_hist/test_sampler.cu
  tests/cpp/tree/hist/test_sampler.cc
  tests/cpp/tree/test_sampler.h
Due: lint-cpp

Potential fix for pull request finding
  src/tree/gpu_hist/sampler.cuh
Due: none

Windows war.
  src/tree/hist/sampler.h
Due: lint-cpp

[breaking] Drop `min_child_weight` from gain and weight calculation.
  plugin/sycl/tree/split_evaluator.h
  src/tree/param.h
  tests/cpp/tree/test_refresh.cc
  tests/cpp/tree/test_tree_stat.cc
Due: lint-cpp

lint.
  plugin/sycl/tree/split_evaluator.h
  src/tree/param.h
  tests/cpp/tree/test_refresh.cc
Due: lint-cpp

[breaking] Drop `min_child_weight` from gain and weight calculation. (#12322)
  plugin/sycl/tree/split_evaluator.h
  src/tree/param.h
  tests/cpp/tree/test_refresh.cc
  tests/cpp/tree/test_tree_stat.cc
Due: lint-cpp

Path conditions:
  lint-cpp: any of: \.(cc|c|cpp|h|cu|hpp)$, but not: (dmlc-core|gputreeshap)
  lint-cmake: any of: (CMakeLists\.txt$|^cmake/.*\.cmake$), but not: (dmlc-core|gputreeshap)
  pylint: any of: \.py$, but not: (dmlc-core|gputreeshap|^ops/|^tests/)
