Repository dmlc/xgboost: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-cpp, lint-cmake, pylint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: check-yaml
      - id: check-toml
      - id: check-json
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable
      - id: mixed-line-ending
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.14
    hooks:
      - id: ruff-check
        args:
          - --fix
          - --select=I
        files: \.py$
        exclude: (dmlc-core|gputreeshap)
      - id: ruff-format
        files: \.py$
        exclude: (dmlc-core|gputreeshap)
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v21.1.8
    hooks:
      - id: clang-format
        args: [--style=file]
        files: \.(cc|c|cpp|h|cu|hpp)$
        exclude: (dmlc-core|gputreeshap)
  - repo: local
    hooks:
      - id: lint-cpp
        name: C++ lint (cpplint)
        entry: python ops/script/lint_cpp.py
        language: python
        types: [file]
        files: \.(cc|c|cpp|h|cu|hpp)$
        exclude: (dmlc-core|gputreeshap)
        additional_dependencies:
          - cpplint==1.6.1
      - id: lint-cmake
        name: CMake lint (cmakelint)
        entry: cmakelint --linelength=120 --filter=-convention/filename,-package/stdargs,-readability/wonkycase
        language: python
        types: [file]
        files: (CMakeLists\.txt$|^cmake/.*\.cmake$)
        exclude: (dmlc-core|gputreeshap)
        additional_dependencies:
          - cmakelint
      - id: pylint
        name: Python lint (pylint)
        entry: pylint
        language: python
        types: [file]
        files: \.py$
        exclude: (dmlc-core|gputreeshap|^ops/|^tests/)
        args:
          - --rcfile=python-package/pyproject.toml
        additional_dependencies:
          - pylint

[dask] Disable dashboard in tests. (#12498)
  tests/test_distributed/test_gpu_with_dask/conftest.py
  tests/test_distributed/test_gpu_with_dask/test_gpu_external_memory.py
  tests/test_distributed/test_gpu_with_dask/test_gpu_with_dask.py
  tests/test_distributed/test_with_dask/conftest.py
Due: none

Fix nightly cccl build. (#12492)
  src/common/quantile.cu
Due: lint-cpp

use label.
  python-package/xgboost/plotting.py
Due: pylint

update test.
  tests/python/test_plotting.py
Due: none

pylint.
  python-package/xgboost/plotting.py
Due: pylint

Fix plot_importance value-label offset for small importances (#12497)
  python-package/xgboost/plotting.py
  tests/python/test_plotting.py
Due: pylint

[doc] Replace the obsoleted forum.
  README.md
  doc/contrib/community.rst
  doc/contrib/index.rst
Due: none

Potential fix for pull request finding
  doc/contrib/community.rst
Due: none

[doc] Replace the obsoleted forum. (#12500)
  README.md
  doc/contrib/community.rst
  doc/contrib/index.rst
Due: none

[doc] Add Kaggle Playground S5E6 1st place XGBoost solution (#12474)
  demo/README.md
Due: none

docs: add R tabs to parameter tuning tutorial
  doc/tutorials/param_tuning.rst
Due: none

docs: fix R examples in parameter tuning tutorial
  doc/tutorials/param_tuning.rst
Due: none

[jvm-packages] Add sparse data optimization for Spark vectors
  doc/jvm/xgboost4j_spark_tutorial.rst
  jvm-packages/xgboost4j-spark/src/main/scala/ml/dmlc/xgboost4j/scala/spark/Utils.scala
  jvm-packages/xgboost4j-spark/src/main/scala/ml/dmlc/xgboost4j/scala/spark/XGBoostEstimator.scala
  jvm-packages/xgboost4j-spark/src/main/scala/ml/dmlc/xgboost4j/scala/spark/params/XGBoostParams.scala
  jvm-packages/xgboost4j-spark/src/test/scala/ml/dmlc/xgboost4j/scala/spark/XGBoostEstimatorSuite.scala
Due: none

Validation fold.
  src/cross_validate/cross_validate.cc
  src/cross_validate/cross_validate.h
  src/cross_validate/kfolds.cc
  src/cross_validate/kfolds.cu
  src/cross_validate/kfolds.h
  tests/cpp/cross_validate/test_kfolds.cu
Due: lint-cpp

[jvm-packages] Test sparse Spark inference edge cases
  jvm-packages/xgboost4j-spark/src/test/scala/ml/dmlc/xgboost4j/scala/spark/XGBoostEstimatorSuite.scala
Due: none

get rid of the n_samples.
  src/cross_validate/cross_validate.cc
  src/cross_validate/cross_validate.cu
  src/cross_validate/cross_validate.h
Due: lint-cpp

cleanup the loop.
  src/cross_validate/cross_validate.cu
Due: lint-cpp

held out position.
  src/cross_validate/cross_validate.cu
  src/cross_validate/tree_method.cuh
Due: lint-cpp

held out prediction.
  src/cross_validate/cross_validate.cu
Due: lint-cpp

To python.
  python-package/xgboost/_cross_validation.py
  src/cross_validate/cross_validate.cc
  tests/python-gpu/test_cross_validate.py
Due: lint-cpp, pylint

[dask] Disable dashboard in tests. (#12498)
  tests/test_distributed/test_gpu_with_dask/conftest.py
  tests/test_distributed/test_gpu_with_dask/test_gpu_external_memory.py
  tests/test_distributed/test_gpu_with_dask/test_gpu_with_dask.py
  tests/test_distributed/test_with_dask/conftest.py
  tests/test_distributed/test_with_dask/test_with_dask.py
Due: none

[CV] OOF prediction. (#12504)
  python-package/xgboost/_cross_validation.py
  src/cross_validate/cross_validate.cc
  src/cross_validate/cross_validate.cu
  src/cross_validate/cross_validate.h
  src/cross_validate/kfolds.cc
  src/cross_validate/kfolds.cu
  src/cross_validate/kfolds.h
  src/cross_validate/tree_method.cuh
  tests/cpp/cross_validate/test_kfolds.cu
  tests/python-gpu/test_cross_validate.py
  tests/test_distributed/test_gpu_with_dask/conftest.py
  tests/test_distributed/test_gpu_with_dask/test_gpu_external_memory.py
  tests/test_distributed/test_gpu_with_dask/test_gpu_with_dask.py
  tests/test_distributed/test_with_dask/conftest.py
  tests/test_distributed/test_with_dask/test_with_dask.py
Due: lint-cpp, pylint

Rename splited -> split_result in _parse_eval_str
  python-package/xgboost/core.py
Due: pylint

Validate Booster.feature_names the same way DMatrix does
  python-package/xgboost/core.py
Due: pylint

refit.
  python-package/xgboost/_cross_validation.py
  src/cross_validate/cross_validate.cc
  src/cross_validate/cross_validate.cu
  src/cross_validate/cross_validate.h
  src/cross_validate/tree_method.cuh
  tests/cpp/cross_validate/test_cv_model.cc
  tests/python-gpu/test_cross_validate.py
Due: lint-cpp, pylint

Optimize GPU histogram partitioning with asynchronous CUB execution
  src/tree/gpu_hist/histogram.cu
  src/tree/gpu_hist/histogram.cuh
  src/tree/gpu_hist/row_partitioner.cu
  src/tree/gpu_hist/row_partitioner.cuh
  src/tree/updater_gpu_hist.cu
Due: lint-cpp

Fix broken dtype set-membership check in pandas_transform_data
  python-package/xgboost/data.py
Due: pylint

docs: fix typo controling -> controlling
  include/xgboost/logging.h
Due: lint-cpp

python: tighten compatibility helper types
  python-package/xgboost/compat.py
Due: pylint

docs: add S5E11 winning XGBoost solution
  demo/README.md
Due: none

Store held-out row indices on CVPack
  python-package/xgboost/training.py
Due: pylint

Add _PackedBooster.oof_predict
  python-package/xgboost/training.py
Due: pylint

Add return_oof_preds parameter to cv()
  python-package/xgboost/training.py
Due: pylint

Add test for cv(return_oof_preds=True)
  tests/python/test_basic_models.py
Due: none

Fix two typos: evaluataion, qutie
  python-package/xgboost/dask/data.py
  python-package/xgboost/training.py
Due: pylint

docs: fix typo controling -> controlling (#12512)
  include/xgboost/logging.h
Due: lint-cpp

Fix two typos: evaluataion, qutie (#12516)
  python-package/xgboost/dask/data.py
  python-package/xgboost/training.py
Due: pylint

docs: add S5E11 winning XGBoost solution (#12514)
  demo/README.md
Due: none

[CI] Fix Windows sdist test.
  ops/conda_env/win64_test.yml
Due: none

cleanups.
  python-package/xgboost/_cross_validation.py
  src/cross_validate/cross_validate.cc
Due: lint-cpp, pylint
