Repository dmlc/xgboost: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-cpp, lint-cmake, pylint

lint-cpp:
  name: C++ lint (cpplint)
  entry: python ops/script/lint_cpp.py
  language: python
  additional_dependencies:
  - cpplint==1.6.1

lint-cmake:
  name: CMake lint (cmakelint)
  entry: cmakelint --linelength=120 --filter=-convention/filename,-package/stdargs,-readability/wonkycase
  language: python
  additional_dependencies:
  - cmakelint

pylint:
  name: Python lint (pylint)
  entry: pylint
  language: python
  args:
  - --rcfile=python-package/pyproject.toml
  additional_dependencies:
  - pylint

[CV] Implement refit. (#12518)
  python-package/xgboost/_cross_validation.py
  src/cross_validate/cross_validate.cc
  src/cross_validate/cross_validate.cu
  src/cross_validate/cross_validate.h
  src/cross_validate/tree_method.cuh
  tests/cpp/cross_validate/test_cv_model.cc
  tests/python-gpu/test_cross_validate.py
Due: lint-cpp, pylint

[CV] Implement `cross_val_predict`.
  python-package/xgboost/_cross_validation.py
  tests/python-gpu/test_cross_validate.py
Due: pylint

Get max bin
  python-package/xgboost/_cross_validation.py
  src/cross_validate/cross_validate.cu
Due: lint-cpp, pylint

override.
  python-package/xgboost/_cross_validation.py
Due: pylint

[CV] Implement `cross_val_predict`. (#12519)
  python-package/xgboost/_cross_validation.py
  src/cross_validate/cross_validate.cu
  tests/python-gpu/test_cross_validate.py
Due: lint-cpp, pylint

[CUDA] replace Thrust tuple types with 'cuda::std::' equivalents
  src/common/hist_util.cu
  src/common/quantile.cu
  src/data/ellpack_page.cu
  src/objective/lambdarank_obj.cu
Due: lint-cpp

Fix typos in demo/README.md and two learning-to-rank demos
  demo/README.md
  demo/dask/dask_learning_to_rank.py
  demo/guide-python/learning_to_rank.py
Due: pylint

[doc] Fix typos in demo/README.md and two learning-to-rank demos (#12524)
  demo/README.md
  demo/dask/dask_learning_to_rank.py
  demo/guide-python/learning_to_rank.py
Due: pylint

one more: thrust::tie()
  src/common/quantile.cu
Due: lint-cpp

reformatting
  src/common/quantile.cu
Due: lint-cpp

fix 'end-of-file-fixer' errors
  .gitattributes
  demo/c-api/external-memory/README.md
  demo/data/regression/machine.names
  doc/.gitignore
  doc/_static/js/auto_module_index.js
  doc/contrib/consistency.rst
  doc/contrib/git_guide.rst
  doc/python/.gitignore
  doc/python/data_input.rst
  doc/python/python_api.rst
  doc/tutorials/privacy_preserving.rst
  jvm-packages/README.md
  jvm-packages/xgboost4j-example/LICENSE
  jvm-packages/xgboost4j/LICENSE
  jvm-packages/xgboost4j/src/main/resources/xgboost4j-version.properties
  python-package/.gitignore
  tests/cpp/plugin/test_sycl_lambdarank_obj.cc
  tests/cpp/plugin/test_sycl_linalg.cc
  tests/test_distributed/test_gpu_with_dask/__init__.py
  tests/test_distributed/test_with_dask/__init__.py
Due: lint-cpp

fix 'trailing-whitespace' errors
  CONTRIBUTORS.md
  demo/data/regression/machine.names
  doc/tutorials/privacy_preserving.rst
  jvm-packages/checkstyle.xml
  jvm-packages/xgboost4j-example/LICENSE
  jvm-packages/xgboost4j/LICENSE
  tests/cpp/plugin/test_sycl_hist_updater.cc
  tests/cpp/plugin/test_sycl_quantile_hist_builder.cc
Due: lint-cpp

fix 'check-executables-have-shebangs' errors
  jvm-packages/xgboost4j-spark/src/test/scala/ml/dmlc/xgboost4j/scala/spark/TmpFolderPerSuite.scala
  ops/pipeline/get-docker-registry-details.sh
  ops/pipeline/login-docker-registry.sh
  ops/script/verify_link.sh
  plugin/sycl/README.md
Due: none

fix 'pylint' errors (and skip that hook for demo/ code)
  .pre-commit-config.yaml
  doc/sphinx_util.py
Due: pylint

Optimize GPU split evaluation and fix multi-target bin overflow
  src/tree/gpu_hist/evaluate_splits.cuh
  src/tree/gpu_hist/histogram.cu
  src/tree/gpu_hist/histogram.cuh
  src/tree/gpu_hist/multi_evaluate_splits.cu
  src/tree/updater_gpu_hist.cuh
Due: lint-cpp

Tune GPU row partitioner batch size for modern architectures
  src/tree/gpu_hist/row_partitioner.cuh
Due: none

Optimize memory allocations in distributed collective operations
  src/collective/allgather.cc
  src/collective/tracker.cc
Due: lint-cpp

Optimize memory allocations across the core tree module
  src/tree/constraints.cu
  src/tree/hist/evaluate_splits.h
  src/tree/multi_target_tree_model.cc
  src/tree/updater_approx.cc
Due: lint-cpp

one more clang-format fix
  src/objective/lambdarank_obj.cu
Due: lint-cpp

apply all pre-commit hooks to files touched by this changeset
  doc/sphinx_util.py
  tests/cpp/plugin/test_sycl_hist_updater.cc
  tests/cpp/plugin/test_sycl_linalg.cc
  tests/cpp/plugin/test_sycl_quantile_hist_builder.cc
Due: lint-cpp, pylint

Replace Thrust tuple types with 'cuda::std::' equivalents (#12521)
  src/common/hist_util.cu
  src/common/quantile.cu
  src/data/ellpack_page.cu
  src/objective/lambdarank_obj.cu
Due: lint-cpp

[CI] fix pre-commit errors: whitespace, executable files, pylint (#12528)
  .gitattributes
  .pre-commit-config.yaml
  CONTRIBUTORS.md
  demo/c-api/external-memory/README.md
  demo/data/regression/machine.names
  doc/.gitignore
  doc/_static/js/auto_module_index.js
  doc/contrib/consistency.rst
  doc/contrib/git_guide.rst
  doc/python/.gitignore
  doc/python/data_input.rst
  doc/python/python_api.rst
  doc/sphinx_util.py
  doc/tutorials/privacy_preserving.rst
  jvm-packages/README.md
  jvm-packages/checkstyle.xml
  jvm-packages/xgboost4j-example/LICENSE
  jvm-packages/xgboost4j-spark/src/test/scala/ml/dmlc/xgboost4j/scala/spark/TmpFolderPerSuite.scala
  jvm-packages/xgboost4j/LICENSE
  jvm-packages/xgboost4j/src/main/resources/xgboost4j-version.properties
  ops/pipeline/get-docker-registry-details.sh
  ops/pipeline/login-docker-registry.sh
  ops/script/verify_link.sh
  plugin/sycl/README.md
  python-package/.gitignore
  tests/cpp/plugin/test_sycl_hist_updater.cc
  tests/cpp/plugin/test_sycl_lambdarank_obj.cc
  tests/cpp/plugin/test_sycl_linalg.cc
  tests/cpp/plugin/test_sycl_quantile_hist_builder.cc
  tests/test_distributed/test_gpu_with_dask/__init__.py
  tests/test_distributed/test_with_dask/__init__.py
Due: lint-cpp, pylint

Guard append_m_sparse against empty partitions
  python-package/xgboost/spark/data.py
Due: pylint

Fix getter for empty category container.
  src/c_api/c_api.cc
Due: lint-cpp

Fix feature type check message.
  src/tree/tree_model.cc
Due: lint-cpp

Test build.
  ops/conda_env/sdist_test.yml
Due: none

Fix.
  src/c_api/c_api.cc
Due: lint-cpp

[CI] Freeze Python `build` to avoid SSL load error on Windows. (#12517)
  ops/conda_env/sdist_test.yml
  ops/conda_env/win64_test.yml
Due: none

Fix getter for empty category container. (#12533)
  src/c_api/c_api.cc
Due: lint-cpp

Fix feature type check message. (#12534)
  src/tree/tree_model.cc
Due: lint-cpp

python: retain Any for lazy_isinstance
  python-package/xgboost/compat.py
Due: pylint

[ci] get 'ruff' settings from pyproject.toml
  .gitignore
  .pre-commit-config.yaml
  python-package/pyproject.toml
  python-package/pyproject.toml.in
Due: none

use the same line length for pylint and ruff
  python-package/pyproject.toml
Due: none

Remove obsolete py_str type suppression (#12513)
  python-package/xgboost/compat.py
Due: pylint

[obj] Use the absolute-residual pseudo-Hessian |p - y| for multiclass softmax.
  demo/guide-python/custom_softmax.py
  doc/tutorials/custom_metric_obj.rst
  src/objective/multiclass_obj.cc
  src/objective/multiclass_obj.cu
  tests/cpp/objective/test_multiclass_obj.cc
Due: lint-cpp, pylint

Path conditions:
  lint-cpp: any of: \.(cc|c|cpp|h|cu|hpp)$, but not: (dmlc-core|gputreeshap)
  lint-cmake: any of: (CMakeLists\.txt$|^cmake/.*\.cmake$), but not: (dmlc-core|gputreeshap)
  pylint: any of: \.py$, but not: (dmlc-core|gputreeshap|^ops/|^tests/)
