Repository dmlc/xgboost: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-cpp, lint-cmake, pylint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: check-yaml
      - id: check-toml
      - id: check-json
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable
      - id: mixed-line-ending
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.14
    hooks:
      - id: ruff-check
        args:
          - --fix
          - --select=I
        files: \.py$
        exclude: (dmlc-core|gputreeshap)
      - id: ruff-format
        files: \.py$
        exclude: (dmlc-core|gputreeshap)
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v21.1.8
    hooks:
      - id: clang-format
        args: [--style=file]
        files: \.(cc|c|cpp|h|cu|hpp)$
        exclude: (dmlc-core|gputreeshap)
  - repo: local
    hooks:
      - id: lint-cpp
        name: C++ lint (cpplint)
        entry: python ops/script/lint_cpp.py
        language: python
        types: [file]
        files: \.(cc|c|cpp|h|cu|hpp)$
        exclude: (dmlc-core|gputreeshap)
        additional_dependencies:
          - cpplint==1.6.1
      - id: lint-cmake
        name: CMake lint (cmakelint)
        entry: cmakelint --linelength=120 --filter=-convention/filename,-package/stdargs,-readability/wonkycase
        language: python
        types: [file]
        files: (CMakeLists\.txt$|^cmake/.*\.cmake$)
        exclude: (dmlc-core|gputreeshap)
        additional_dependencies:
          - cmakelint
      - id: pylint
        name: Python lint (pylint)
        entry: pylint
        language: python
        types: [file]
        files: \.py$
        exclude: (dmlc-core|gputreeshap|^ops/|^tests/)
        args:
          - --rcfile=python-package/pyproject.toml
        additional_dependencies:
          - pylint

[Doc] Add Kaggle Playground S5E3 winning XGBoost solution to demo list
  demo/README.md
Due: none

Preserve exact weighted values in sorted sketch (#12148)
  src/common/quantile.h
  tests/cpp/common/test_hist_util.cc
Due: lint-cpp

Align sketch element counting semantics
  src/common/quantile.h
  tests/cpp/common/test_quantile.cc
Due: lint-cpp

Avoid `.from_pandas` classmethod constructor in tests (#12144)
  tests/python-gpu/test_from_cudf.py
Due: none

Use test branch.
  ops/pipeline/get-image-tag.sh
Due: none

Use O(log n/eps) budget for CPU distributed sketch (#12150)
  src/common/quantile.cc
  src/common/quantile.h
  tests/cpp/common/test_quantile.cc
Due: lint-cpp

Add property-based CPU quantile summary tests
  tests/cpp/common/test_quantile.cc
  tests/cpp/common/test_quantile_helpers.h
Due: lint-cpp

Clarify quantile epsilon semantics
  src/common/hist_util.cu
  src/common/quantile.cuh
  src/common/quantile.h
Due: lint-cpp

Use harder CPU quantile summary test cases
  tests/cpp/common/test_quantile.cc
  tests/cpp/common/test_quantile_helpers.h
Due: lint-cpp

Shuffle exact-unique summary test inputs
  tests/cpp/common/test_quantile_helpers.h
Due: lint-cpp

Strengthen sorted quantile summary tests
  tests/cpp/common/test_quantile_helpers.h
Due: lint-cpp

Reuse summary anchors for sorted quantile tests
  tests/cpp/common/test_quantile.cc
  tests/cpp/common/test_quantile_helpers.h
Due: lint-cpp

Address quantile test review comments
  tests/cpp/common/test_quantile_helpers.h
Due: lint-cpp

Add property-based CPU quantile summary tests (#12151)
  src/common/hist_util.cu
  src/common/quantile.cuh
  src/common/quantile.h
  tests/cpp/common/test_quantile.cc
  tests/cpp/common/test_quantile_helpers.h
Due: lint-cpp

Add CPU quantile container property tests
  tests/cpp/common/test_quantile.cc
  tests/cpp/common/test_quantile_helpers.h
Due: lint-cpp

Expand CPU quantile property test coverage
  tests/cpp/common/test_hist_util.cc
  tests/cpp/common/test_quantile.cc
  tests/cpp/common/test_quantile_helpers.h
Due: lint-cpp

Replace legacy CPU quantile distribution tests
  tests/cpp/common/test_quantile.cc
  tests/cpp/common/test_quantile_helpers.h
Due: lint-cpp

Remove redundant CPU quantile tests
  tests/cpp/common/test_hist_util.cc
Due: lint-cpp

Remove unused quantile worker helper
  tests/cpp/common/test_quantile.cc
Due: lint-cpp

Add quantile worker consensus test
  tests/cpp/common/test_quantile.cc
Due: lint-cpp

Expand CPU quantile property tests and remove redundant cases (#12155)
  tests/cpp/common/test_hist_util.cc
  tests/cpp/common/test_quantile.cc
  tests/cpp/common/test_quantile_helpers.h
Due: lint-cpp

Add GPU quantile property tests
  tests/cpp/common/test_quantile.cu
Due: lint-cpp

Consolidate QuadratureSHAP benchmark script
  demo/guide-python/quadratureshap_benchmark.py
  demo/guide-python/quadratureshap_rapids_benchmark.py
  quadratureshap_n8_accuracy_vs_nodes.png
  quadratureshap_n8_speedup_vs_nodes.png
Due: pylint

Remove quadratureshap summary artifact
  quadratureshap_n8_summary.json
Due: none

Share quantile cut invariants across CPU and GPU tests
  tests/cpp/common/test_quantile.cc
  tests/cpp/common/test_quantile.cu
  tests/cpp/common/test_quantile_helpers.h
Due: lint-cpp

Simplify GPU quantile tests
  tests/cpp/common/test_hist_util.cu
  tests/cpp/common/test_quantile.cu
  tests/cpp/common/test_quantile.h
Due: lint-cpp

Remove reintroduced GPU sketch memory estimation
  src/common/hist_util.cu
  src/common/hist_util.cuh
  tests/cpp/common/test_hist_util.cu
Due: lint-cpp

refactor: optimize leaf similarity computation
  python-package/xgboost/core.py
Due: pylint

feat: expose leaf similarity weights in c api
  include/xgboost/c_api.h
  include/xgboost/gbm.h
  include/xgboost/learner.h
  python-package/xgboost/core.py
  src/c_api/c_api.cc
  src/gbm/gblinear.cc
  src/gbm/gbtree.h
  src/learner.cc
  tests/python/test_leaf_similarity.py
Due: lint-cpp, pylint

test: cover leaf similarity compatibility modes
  python-package/xgboost/core.py
  tests/python/test_leaf_similarity.py
Due: pylint

Tighten GPU sketch container interface
  src/common/hist_util.cu
  src/common/hist_util.cuh
  src/common/quantile.cu
  src/common/quantile.cuh
  src/data/quantile_dmatrix.cu
  tests/cpp/common/test_hist_util.cu
  tests/cpp/common/test_quantile.cu
Due: lint-cpp

Simplify GPU quantile sketch tests
  tests/cpp/common/test_quantile.cu
Due: lint-cpp

Adjust GPU sketch tests after upstream merge
  tests/cpp/common/test_hist_util.cu
  tests/cpp/common/test_quantile.cu
Due: lint-cpp

Restore duplicate coverage in GPU push test
  tests/cpp/common/test_quantile.cu
Due: lint-cpp

Simplify GPU categorical scan update
  src/common/hist_util.cu
Due: lint-cpp

Fix GPU merge duplicated test dimensions
  tests/cpp/common/test_quantile.cu
Due: lint-cpp

Fix CUDA min usage in sketch cut sizing
  src/common/quantile.cu
Due: lint-cpp

Relax EllpackPageExt buffer equality
  tests/cpp/data/test_sparse_page_dmatrix.cu
Due: lint-cpp

Use emplace_back in GPU quantile test helper
  tests/cpp/common/test_quantile.cu
Due: lint-cpp

Fold quantile helpers into test_quantile header
  tests/cpp/common/test_quantile.cc
  tests/cpp/common/test_quantile.cu
  tests/cpp/common/test_quantile.h
  tests/cpp/common/test_quantile_helpers.h
Due: lint-cpp
