Repository dmlc/xgboost: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-cpp, lint-cmake, pylint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: check-yaml
      - id: check-toml
      - id: check-json
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable
      - id: mixed-line-ending
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.14
    hooks:
      - id: ruff-check
        args:
          - --fix
          - --select=I
        files: \.py$
        exclude: (dmlc-core|gputreeshap)
      - id: ruff-format
        files: \.py$
        exclude: (dmlc-core|gputreeshap)
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v21.1.8
    hooks:
      - id: clang-format
        args: [--style=file]
        files: \.(cc|c|cpp|h|cu|hpp)$
        exclude: (dmlc-core|gputreeshap)
  - repo: local
    hooks:
      - id: lint-cpp
        name: C++ lint (cpplint)
        entry: python ops/script/lint_cpp.py
        language: python
        types: [file]
        files: \.(cc|c|cpp|h|cu|hpp)$
        exclude: (dmlc-core|gputreeshap)
        additional_dependencies:
          - cpplint==1.6.1
      - id: lint-cmake
        name: CMake lint (cmakelint)
        entry: cmakelint --linelength=120 --filter=-convention/filename,-package/stdargs,-readability/wonkycase
        language: python
        types: [file]
        files: (CMakeLists\.txt$|^cmake/.*\.cmake$)
        exclude: (dmlc-core|gputreeshap)
        additional_dependencies:
          - cmakelint
      - id: pylint
        name: Python lint (pylint)
        entry: pylint
        language: python
        types: [file]
        files: \.py$
        exclude: (dmlc-core|gputreeshap|^ops/|^tests/)
        args:
          - --rcfile=python-package/pyproject.toml
        additional_dependencies:
          - pylint

Simplify dropout training
  R-package/R/xgb.train.R
  R-package/R/xgboost.R
  R-package/man/xgb.params.Rd
  R-package/man/xgboost.Rd
  R-package/tests/testthat/test_basic.R
  R-package/tests/testthat/test_helpers.R
  doc/parameter.rst
  doc/tutorials/dart.rst
  doc/tutorials/dropout.rst
  doc/tutorials/index.rst
  include/xgboost/gbm.h
  jvm-packages/xgboost4j-spark/src/main/scala/ml/dmlc/xgboost4j/scala/spark/params/DartBoosterParams.scala
  jvm-packages/xgboost4j-spark/src/main/scala/ml/dmlc/xgboost4j/scala/spark/params/XGBoostParams.scala
  python-package/xgboost/testing/continuation.py
  python-package/xgboost/testing/multi_target.py
  src/gbm/gbtree.cc
  src/gbm/gbtree.cu
  src/gbm/gbtree.h
  src/learner.cc
  tests/cpp/gbm/test_gbtree.cc
  tests/cpp/predictor/test_shap.cc
  tests/python-gpu/test_gpu_multi_target.py
  tests/python-gpu/test_gpu_prediction.py
  tests/python/test_basic_models.py
  tests/python/test_multi_target.py
Due: lint-cpp, pylint

Trim dropout tutorial caveats
  doc/tutorials/dropout.rst
Due: none

Clarify dropout relation to subsampling
  doc/tutorials/dropout.rst
Due: none

Simplify dropout prediction state
  src/gbm/gbtree.cc
Due: lint-cpp

Use Bernoulli sampling for tree dropout
  src/gbm/gbtree.cc
Due: lint-cpp

Apply clang-format to test_multiclass_obj.cc.
  tests/cpp/objective/test_multiclass_obj.cc
Due: lint-cpp

Address dropout parameter review
  R-package/R/xgb.train.R
  R-package/man/xgb.params.Rd
  R-package/man/xgboost.Rd
  doc/parameter.rst
  doc/tutorials/dropout.rst
  jvm-packages/xgboost4j-spark/src/main/scala/ml/dmlc/xgboost4j/scala/spark/params/DartBoosterParams.scala
  tests/python/test_multi_target.py
Due: none

[R] Update the custom softprob test objective to the |p - y| Hessian.
  R-package/tests/testthat/test_custom_objective.R
Due: none

Fix Windows dropout test build
  tests/cpp/gbm/test_gbtree.cc
Due: lint-cpp

Use bounded-step curvature for Tweedie objectives
  src/objective/gamma_obj.cc
  src/objective/gamma_obj.h
  src/objective/poisson_obj.h
  src/objective/tweedie_obj.h
  tests/cpp/objective/test_regression_obj.cc
Due: lint-cpp

Address review: weighted test expectations and demo wording.
  demo/guide-python/custom_softmax.py
  tests/cpp/objective/test_multiclass_obj.cc
Due: lint-cpp, pylint

fix errors from 'ruff-format'
  demo/aft_survival/aft_survival_demo.py
  demo/aft_survival/aft_survival_demo_with_optuna.py
  demo/data/regression/mapfeat.py
  demo/data/regression/mknfold.py
  demo/guide-python/basic_walkthrough.py
  demo/guide-python/boost_from_prediction.py
  demo/guide-python/cover_type.py
  demo/guide-python/custom_rmsle.py
  demo/guide-python/evals_result.py
  demo/guide-python/gamma_regression.py
  demo/guide-python/generalized_linear_model.py
  demo/guide-python/gpu_tree_shap.py
  demo/guide-python/multioutput_reduced_gradient.py
  demo/guide-python/predict_first_ntree.py
  demo/guide-python/predict_leaf_indices.py
  demo/kaggle-higgs/higgs-cv.py
  demo/kaggle-higgs/higgs-numpy.py
  demo/kaggle-higgs/higgs-pred.py
  demo/kaggle-higgs/speedtest.py
  demo/multiclass_classification/train.py
  python-package/xgboost/testing/params.py
  tests/python-gpu/test_gpu_pickling.py
  tests/python/test_linear.py
  tests/python/test_survival.py
  tests/python/test_with_modin.py
Due: pylint

[py] Align the testing softprob objective with the native kernel.
  python-package/xgboost/testing/__init__.py
Due: pylint

[py] Match native arithmetic in the testing softmax; fix a long line.
  python-package/xgboost/testing/__init__.py
Due: pylint

fix errors from 'ruff-format' (#12539)
  demo/aft_survival/aft_survival_demo.py
  demo/aft_survival/aft_survival_demo_with_optuna.py
  demo/data/regression/mapfeat.py
  demo/data/regression/mknfold.py
  demo/guide-python/basic_walkthrough.py
  demo/guide-python/boost_from_prediction.py
  demo/guide-python/cover_type.py
  demo/guide-python/custom_rmsle.py
  demo/guide-python/evals_result.py
  demo/guide-python/gamma_regression.py
  demo/guide-python/generalized_linear_model.py
  demo/guide-python/gpu_tree_shap.py
  demo/guide-python/multioutput_reduced_gradient.py
  demo/guide-python/predict_first_ntree.py
  demo/guide-python/predict_leaf_indices.py
  demo/kaggle-higgs/higgs-cv.py
  demo/kaggle-higgs/higgs-numpy.py
  demo/kaggle-higgs/higgs-pred.py
  demo/kaggle-higgs/speedtest.py
  demo/multiclass_classification/train.py
  python-package/xgboost/testing/params.py
  tests/python-gpu/test_gpu_pickling.py
  tests/python/test_linear.py
  tests/python/test_survival.py
  tests/python/test_with_modin.py
Due: pylint

Handle tuples in param_value_converter
  python-package/xgboost/spark/estimator.py
Due: pylint

Fix XGBClassifier refit after class-count changes
  python-package/xgboost/dask/__init__.py
  python-package/xgboost/sklearn.py
  python-package/xgboost/testing/multi_target.py
  tests/python/test_model_io.py
  tests/python/test_with_sklearn.py
  tests/test_distributed/test_with_dask/test_with_dask.py
Due: pylint

doc(demo): add Kaggle Playground S4E7 and S6E4 winning solutions (#6173)
  demo/README.md
Due: none

Replace objective state changes with class-count validation
  python-package/xgboost/dask/__init__.py
  python-package/xgboost/sklearn.py
  python-package/xgboost/testing/multi_target.py
  tests/python/test_model_io.py
  tests/python/test_with_sklearn.py
  tests/test_distributed/test_with_dask/test_with_dask.py
Due: pylint

[CV] Evaluation.
  python-package/xgboost/_cross_validation.py
  src/cross_validate/cross_validate.cu
  src/cross_validate/cross_validate.h
  src/cross_validate/evaluate.cu
  src/cross_validate/gather.cuh
  tests/cpp/cross_validate/test_cv_evaluate.cc
  tests/python-gpu/test_cross_validate.py
Due: lint-cpp, pylint

Fix pre-commit lint for classifier validation
  python-package/xgboost/sklearn.py
Due: pylint

get rid of the layout.
  src/cross_validate/cross_validate.h
  src/cross_validate/evaluate.cu
Due: lint-cpp

rename.
  tests/cpp/cross_validate/test_cv_evaluate.cu
Due: lint-cpp

use qid.
  tests/python-gpu/test_cross_validate.py
Due: none

fix build.
  ops/pipeline/test-python-sdist.sh
Due: none

err msg.
  src/cross_validate/evaluate.cu
Due: lint-cpp

test.
  tests/python-gpu/test_cross_validate.py
Due: none

lint.
  python-package/xgboost/_cross_validation.py
Due: pylint

[CI] Freeze Python `build` to avoid SSL load error on Windows. (#12517)
  ops/conda_env/sdist_test.yml
  ops/conda_env/win64_test.yml
Due: none

Revert "fix build."
  ops/pipeline/test-python-sdist.sh
Due: none

Fix set device.
  src/data/data.cu
Due: lint-cpp

[CV] Evaluation. (#12546)
  ops/conda_env/sdist_test.yml
  ops/conda_env/win64_test.yml
  python-package/xgboost/_cross_validation.py
  src/cross_validate/cross_validate.cu
  src/cross_validate/cross_validate.h
  src/cross_validate/evaluate.cu
  src/cross_validate/gather.cuh
  src/data/data.cu
  tests/cpp/cross_validate/test_cv_evaluate.cu
  tests/python-gpu/test_cross_validate.py
Due: lint-cpp, pylint

Fix category presence checks for initialized empty encodings
  src/c_api/c_api.cc
  tests/cpp/c_api/test_c_api.cc
  tests/python/test_ordinal.py
Due: lint-cpp

[CV] Grow the full tree.
  src/cross_validate/cross_validate.cu
  src/cross_validate/tree_method.cuh
  tests/cpp/tree/gpu_hist/test_histogram.cu
  tests/python-gpu/test_cross_validate.py
Due: lint-cpp

[CV] Remove NVComp
  CMakeLists.txt
  cmake/Utils.cmake
  doc/tutorials/external_memory.rst
  include/xgboost/data.h
  src/c_api/c_api.cu
  src/common/common.h
  src/common/cuda_dr_utils.cc
  src/common/cuda_dr_utils.h
  src/common/device_compression.cu
  src/common/device_compression.cuh
  src/common/device_compression.h
  src/data/ellpack_page_source.cu
  src/data/ellpack_page_source.h
  tests/cpp/common/test_device_compression.cu
  tests/cpp/data/test_extmem_quantile_dmatrix.cu
  tests/cpp/helpers.cc
  tests/cpp/helpers.h
Due: lint-cpp, lint-cmake

[doc] Add Python and R tabs to feature interaction constraints tutorial
  doc/tutorials/feature_interaction_constraint.rst
Due: none

Fix two docstrings that name parameters the functions do not have
  python-package/xgboost/core.py
Due: pylint

Remove need copy.
  src/cross_validate/cross_validate.cu
Due: lint-cpp

Fix const.
  src/cross_validate/tree_method.cuh
Due: none

cleanups.
  src/cross_validate/cross_validate.cu
  src/cross_validate/tree_method.cuh
  tests/python-gpu/test_cross_validate.py
Due: lint-cpp
