Repository dmlc/xgboost: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-cpp, lint-cmake, pylint

lint-cpp:
  name: C++ lint (cpplint)
  entry: python ops/script/lint_cpp.py
  language: python
  additional_dependencies:
  - cpplint==1.6.1

lint-cmake:
  name: CMake lint (cmakelint)
  entry: cmakelint --linelength=120 --filter=-convention/filename,-package/stdargs,-readability/wonkycase
  language: python
  additional_dependencies:
  - cmakelint

pylint:
  name: Python lint (pylint)
  entry: pylint
  language: python
  args:
  - --rcfile=python-package/pyproject.toml
  additional_dependencies:
  - pylint

predictor: index array tree layouts through raw pointers
  src/predictor/array_tree_layout.h
Due: lint-cpp

[Python] Add type hints to config and tree regularization tests (#6496)
  ops/script/type_check_python.py
  tests/python/test_config.py
  tests/python/test_tree_regularization.py
Due: none

predictor: skip array layout setup for small batches
  src/predictor/cpu_predictor.cc
Due: lint-cpp

Fix GPU in-place prediction row offsets above 2^32 cells
  src/predictor/gpu_predictor.cu
  tests/python-gpu/test_gpu_predictor_large_offset.py
Due: lint-cpp

[R] Warn about ignored arguments in `predict.xgboost`
  R-package/R/xgboost.R
  R-package/man/predict.xgboost.Rd
  R-package/tests/testthat/test_xgboost.R
Due: none

fix: write `-inf` split conditions as `-Infinity` in json dumps
  src/tree/tree_model.cc
  tests/cpp/tree/test_tree_model.cc
Due: lint-cpp

test: fix exact split kRtEps gate test
  doc/parameter.rst
  doc/tutorials/multioutput.rst
  tests/cpp/tree/hist/test_exact_split.cc
Due: lint-cpp

fix: keep `-inf` for `int` features in json dumps
  src/tree/tree_model.cc
  tests/cpp/tree/test_tree_model.cc
Due: lint-cpp

Convert inplace prediction to kernel dispatch
  include/xgboost/predictor.h
  plugin/sycl/predictor/predictor.cc
  src/gbm/gbtree.cc
  src/predictor/cpu_predictor.cc
  src/predictor/gpu_predictor.cu
  src/predictor/prediction_kernel.h
  tests/cpp/predictor/test_predictor.cc
Due: lint-cpp

style: apply clang-format
  src/predictor/array_tree_layout.h
Due: lint-cpp

style: apply clang-format
  src/predictor/cpu_predictor.cc
Due: lint-cpp

predictor: skip array layout setup for small batches (#12614)
  src/predictor/cpu_predictor.cc
Due: lint-cpp

predictor: index array tree layouts through raw pointers (#12610)
  src/predictor/array_tree_layout.h
Due: lint-cpp

Move large GPU offset regression into large input tests
  tests/python-gpu/test_gpu_predictor_large_offset.py
  tests/python-gpu/test_large_input.py
Due: none

[python-package] Maximize interval-regression-accuracy and ams@k in early stopping.
  python-package/xgboost/callback.py
  tests/python/test_callback.py
Due: pylint

predictor: inline NaN checks on MSVC
  include/xgboost/tree_model.h
  src/predictor/data_accessor.h
  src/predictor/predict_fn.h
Due: lint-cpp

predictor: use blocked prediction for sparse data with few features
  src/predictor/cpu_predictor.cc
Due: lint-cpp

Fix Driver potentially skipping valid split candidates (#12604)
  src/tree/driver.h
  tests/cpp/tree/gpu_hist/test_driver.cu
  tests/cpp/tree/test_driver.cc
  tests/cpp/tree/test_empty_pop.h
Due: lint-cpp

Convert cached ranking metrics to kernel abstraction (#12607)
  src/metric/rank_metric.cc
  src/metric/rank_metric.cu
  src/metric/rank_metric.h
  tests/cpp/metric/test_rank_metric.h
Due: lint-cpp

Convert AUC and AUCPR metrics to kernel abstraction
  src/metric/auc.cc
  src/metric/auc.cu
  src/metric/auc.h
  tests/cpp/metric/test_auc.h
Due: lint-cpp

predictor: parallelize small batches over trees
  src/predictor/cpu_predictor.cc
Due: lint-cpp

predictor: select tree parallelism before depth calculation
  src/predictor/cpu_predictor.cc
Due: lint-cpp

[python-package] Raise a clear error for unsupported Arrow column types.
  python-package/xgboost/data.py
  tests/python/test_with_arrow.py
  tests/python/test_with_polars.py
Due: pylint

Convert inplace prediction to kernel dispatch (#12620)
  include/xgboost/predictor.h
  plugin/sycl/predictor/predictor.cc
  src/gbm/gbtree.cc
  src/predictor/cpu_predictor.cc
  src/predictor/gpu_predictor.cu
  src/predictor/prediction_kernel.h
  tests/cpp/predictor/test_predictor.cc
Due: lint-cpp

Fix GPU in-place prediction row offsets above 2^32 cells (#12615)
  src/predictor/gpu_predictor.cu
  tests/python-gpu/test_large_input.py
Due: lint-cpp

Convert batch prediction to kernel dispatch
  include/xgboost/predictor.h
  plugin/sycl/predictor/predictor.cc
  src/gbm/gblinear.cc
  src/gbm/gbtree.cc
  src/gbm/gbtree.h
  src/predictor/cpu_predictor.cc
  src/predictor/gpu_predictor.cu
  src/predictor/prediction_kernel.h
  src/predictor/predictor.cc
  tests/cpp/gbm/test_gbtree.cc
  tests/cpp/helpers.cc
  tests/cpp/plugin/test_sycl_predictor.cc
  tests/cpp/predictor/test_cpu_predictor.cc
  tests/cpp/predictor/test_gpu_predictor.cu
  tests/cpp/predictor/test_predictor.cc
  tests/cpp/predictor/test_predictor.h
Due: lint-cpp

Make CPU prediction selection a file-local function
  src/gbm/gbtree.cc
  src/gbm/gbtree.h
Due: lint-cpp

Fix explicit initialization of SYCL prediction buffers
  plugin/sycl/predictor/predictor.cc
Due: lint-cpp

Reject non-string dictionary columns in Arrow validation
  python-package/xgboost/data.py
  tests/python/test_with_arrow.py
Due: pylint

Move the MSVC float NaN check into common::CheckNAN
  src/common/math.h
  src/predictor/data_accessor.h
  src/predictor/predict_fn.h
Due: lint-cpp

Centralize missing-value detection in GetNextNode
  include/xgboost/tree_model.h
  src/predictor/array_tree_layout.h
  src/predictor/cpu_predictor.cc
  src/predictor/gpu_predictor.cu
  src/predictor/interpretability/shap.cc
  src/predictor/predict_fn.h
  src/tree/updater_prune.cc
  src/tree/updater_refresh.cc
  tests/cpp/predictor/test_predict_fn.cc
Due: lint-cpp

[CI] Add type hints to test_quantile_dmatrix.py and enable mypy check.
  ops/script/type_check_python.py
  tests/python/test_quantile_dmatrix.py
Due: none

predictor: inline NaN checks on MSVC (#12622)
  include/xgboost/tree_model.h
  src/common/math.h
  src/predictor/array_tree_layout.h
  src/predictor/cpu_predictor.cc
  src/predictor/gpu_predictor.cu
  src/predictor/interpretability/shap.cc
  src/predictor/predict_fn.h
  src/tree/updater_prune.cc
  src/tree/updater_refresh.cc
  tests/cpp/predictor/test_predict_fn.cc
Due: lint-cpp

Avoid redundant sort in the MAP objective.
  src/objective/lambdarank_obj.cu
Due: lint-cpp

[python-package] Raise a clear error for unsupported Arrow column types (#12627)
  python-package/xgboost/data.py
  tests/python/test_with_arrow.py
  tests/python/test_with_polars.py
Due: pylint

Convert AUC and AUCPR metrics to kernel abstraction (#12624)
  src/metric/auc.cc
  src/metric/auc.cu
  src/metric/auc.h
  tests/cpp/metric/test_auc.h
Due: lint-cpp

Avoid redundant sort in the MAP objective. (#12633)
  src/objective/lambdarank_obj.cu
Due: lint-cpp

Convert batch prediction to kernel dispatch (#12628)
  include/xgboost/predictor.h
  plugin/sycl/predictor/predictor.cc
  src/gbm/gblinear.cc
  src/gbm/gbtree.cc
  src/gbm/gbtree.h
  src/predictor/cpu_predictor.cc
  src/predictor/gpu_predictor.cu
  src/predictor/prediction_kernel.h
  src/predictor/predictor.cc
  tests/cpp/gbm/test_gbtree.cc
  tests/cpp/helpers.cc
  tests/cpp/plugin/test_sycl_predictor.cc
  tests/cpp/predictor/test_cpu_predictor.cc
  tests/cpp/predictor/test_gpu_predictor.cu
  tests/cpp/predictor/test_predictor.cc
  tests/cpp/predictor/test_predictor.h
Due: lint-cpp

Respect the context device for continued-training prediction
  src/gbm/gbtree.cc
  src/predictor/gpu_predictor.cu
  tests/cpp/gbm/test_gbtree.cc
  tests/cpp/predictor/test_predictor.cc
Due: lint-cpp

Use batched histogram build API for single target updater.
  src/common/device_helpers.cuh
  src/tree/gpu_hist/histogram.cu
  src/tree/gpu_hist/histogram.cuh
  src/tree/updater_gpu_hist.cu
  src/tree/updater_gpu_hist.cuh
  tests/cpp/tree/gpu_hist/test_histogram.cu
  tests/cpp/tree/gpu_hist/test_multi_histogram.cu
Due: lint-cpp

Path conditions:
  lint-cpp: any of: \.(cc|c|cpp|h|cu|hpp)$, but not: (dmlc-core|gputreeshap)
  lint-cmake: any of: (CMakeLists\.txt$|^cmake/.*\.cmake$), but not: (dmlc-core|gputreeshap)
  pylint: any of: \.py$, but not: (dmlc-core|gputreeshap|^ops/|^tests/)
