Repository dmlc/xgboost: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-cpp, lint-cmake

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: check-yaml
      - id: check-toml
      - id: check-json
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable
      - id: mixed-line-ending
  - repo: local
    hooks:
      - id: lint-cpp
        name: C++ lint (cpplint)
        entry: python ops/script/lint_cpp.py
        language: python
        types: [file]
        files: \.(cc|c|cpp|h|cu|hpp)$
        exclude: (dmlc-core|gputreeshap)
        additional_dependencies:
          - cpplint==1.6.1
      - id: lint-cmake
        name: CMake lint (cmakelint)
        entry: cmakelint --linelength=120 --filter=-convention/filename,-package/stdargs,-readability/wonkycase
        language: python
        types: [file]
        files: (CMakeLists\.txt$|^cmake/.*\.cmake$)
        exclude: (dmlc-core|gputreeshap)
        additional_dependencies:
          - cmakelint

Use minimal env.
  .github/workflows/main.yml
Due: none

Update .github/workflows/main.yml
  .github/workflows/main.yml
Due: none

[mt] Initial subsample implementation.
  python-package/xgboost/testing/multi_target.py
  src/common/linalg_op.h
  src/tree/gpu_hist/gradient_based_sampler.cu
  src/tree/gpu_hist/gradient_based_sampler.cuh
  src/tree/hist/gradient_based_sampler.cc
  src/tree/hist/sampler.h
  src/tree/param.h
  src/tree/updater_gpu_hist.cu
  src/tree/updater_gpu_hist.cuh
  src/tree/updater_quantile_hist.cc
  tests/cpp/objective/test_quantile_obj.cc
  tests/cpp/tree/gpu_hist/dummy_quantizer.cuh
  tests/cpp/tree/gpu_hist/test_gradient_based_sampler.cu
  tests/cpp/tree/gpu_hist/test_histogram.cu
  tests/cpp/tree/hist/test_sampler.cc
  tests/cpp/tree/test_prediction_cache.cc
  tests/cpp/tree/test_sampler.h
  tests/python-gpu/test_gpu_multi_target.py
  tests/python/test_multi_target.py
Due: lint-cpp

[mt] Cover all regression objectives.
  python-package/xgboost/testing/multi_target.py
  src/objective/aft_obj.cu
  src/objective/regression_loss.h
  src/objective/regression_obj.cu
  tests/python-gpu/test_gpu_multi_target.py
  tests/python/test_multi_target.py
Due: lint-cpp

revert for now.
  src/objective/aft_obj.cu
Due: lint-cpp

lint.
  python-package/xgboost/testing/multi_target.py
Due: none

Require at least CTK 12.8 in the CMake config.
  CMakeLists.txt
Due: lint-cmake

copilot.
  src/objective/regression_loss.h
  src/objective/regression_obj.cu
Due: lint-cpp

Cleanups.
  src/objective/regression_obj.cu
Due: lint-cpp

More cleanups.
  python-package/xgboost/testing/multi_target.py
  tests/python-gpu/test_gpu_multi_target.py
  tests/python/test_multi_target.py
Due: none

test x86.
  .github/workflows/main.yml
Due: none

[mt] Cover all regression objectives. (#11967)
  python-package/xgboost/testing/multi_target.py
  src/objective/regression_loss.h
  src/objective/regression_obj.cu
  tests/python-gpu/test_gpu_multi_target.py
  tests/python/test_multi_target.py
Due: lint-cpp

Apply suggestions from code review
  src/tree/gpu_hist/gradient_based_sampler.cu
Due: lint-cpp

Apply suggestions from code review
  src/tree/gpu_hist/gradient_based_sampler.cuh
  src/tree/param.h
Due: lint-cpp

remove homebrew setup.
  .github/workflows/main.yml
Due: none

[ci] Enable sccache for R tests. (#11956)
  .github/workflows/misc.yml
  .github/workflows/r_tests.yml
  ops/script/setup_r_sccache.sh
Due: none

[pyspark] Migrate to Spark Connect ML
  python-package/xgboost/spark/core.py
  python-package/xgboost/spark/utils.py
Due: none

Add aft_loss_distribution_scale to parameter doc
  doc/parameter.rst
Due: none

[Don't merge] Test dmlc/xgboost-devops#77
  ops/pipeline/get-image-tag.sh
Due: none

[CI] Move remaining style checks to pre-commit (#11958)
  .github/workflows/lint.yml
  .pre-commit-config.yaml
  doc/contrib/coding_guide.rst
Due: none

Refactor shap tests (#11964)
  tests/cpp/predictor/test_cpu_predictor.cc
  tests/cpp/predictor/test_gpu_predictor.cu
  tests/cpp/predictor/test_predictor.cc
  tests/cpp/predictor/test_predictor.h
  tests/cpp/predictor/test_shap.cc
  tests/cpp/predictor/test_shap.cu
  tests/cpp/predictor/test_shap.h
Due: lint-cpp

Fix logistic with constant labels.
  include/xgboost/base.h
  python-package/xgboost/testing/intercept.py
  src/common/common.h
  src/common/math.h
  src/objective/regression_loss.h
  tests/python-gpu/test_gpu_intercept.py
  tests/python/test_intercept.py
Due: lint-cpp

lint.
  python-package/xgboost/testing/intercept.py
Due: none

typos.
  src/common/column_matrix.h
Due: lint-cpp

Add aft_loss_distribution_scale to parameter doc (#11971)
  doc/parameter.rst
Due: none

Require at least CTK 12.8 in the CMake config. (#11968)
  CMakeLists.txt
Due: lint-cmake

Speed up python tests
  python-package/hatch_build.py
  python-package/xgboost/testing/updater.py
  tests/python/test_ranking.py
  tests/python/test_updaters.py
Due: none

Refine cpplint config
  ops/script/lint_cpp.py
Due: none

Revert changes to json.h
  include/xgboost/json.h
Due: lint-cpp

Remove stray files
  log.txt
  test.py
Due: none

lint.
  src/common/common.h
  src/common/math.h
  src/objective/regression_loss.h
Due: lint-cpp

lint.
  include/xgboost/base.h
  python-package/hatch_build.py
  src/common/common.h
  src/common/math.h
Due: lint-cpp

Fix build failure
  ops/script/lint_cpp.py
  src/common/probability_distribution.h
  tests/cpp/tree/gpu_hist/test_row_partitioner.cu
Due: lint-cpp

Remove header re-ordering in xgboost_R.cc
  R-package/src/xgboost_R.cc
Due: lint-cpp

Remove header re-ordering in xgboost_R.h
  R-package/src/xgboost_R.h
Due: lint-cpp
