Repository dmlc/xgboost: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-cpp, lint-cmake, pylint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: check-yaml
      - id: check-toml
      - id: check-json
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable
      - id: mixed-line-ending
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.14
    hooks:
      - id: ruff-check
        args:
          - --fix
          - --select=I
        files: \.py$
        exclude: (dmlc-core|gputreeshap)
      - id: ruff-format
        files: \.py$
        exclude: (dmlc-core|gputreeshap)
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v21.1.8
    hooks:
      - id: clang-format
        args: [--style=file]
        files: \.(cc|c|cpp|h|cu|hpp)$
        exclude: (dmlc-core|gputreeshap)
  - repo: local
    hooks:
      - id: lint-cpp
        name: C++ lint (cpplint)
        entry: python ops/script/lint_cpp.py
        language: python
        types: [file]
        files: \.(cc|c|cpp|h|cu|hpp)$
        exclude: (dmlc-core|gputreeshap)
        additional_dependencies:
          - cpplint==1.6.1
      - id: lint-cmake
        name: CMake lint (cmakelint)
        entry: cmakelint --linelength=120 --filter=-convention/filename,-package/stdargs,-readability/wonkycase
        language: python
        types: [file]
        files: (CMakeLists\.txt$|^cmake/.*\.cmake$)
        exclude: (dmlc-core|gputreeshap)
        additional_dependencies:
          - cmakelint
      - id: pylint
        name: Python lint (pylint)
        entry: pylint
        language: python
        types: [file]
        files: \.py$
        exclude: (dmlc-core|gputreeshap|^ops/|^tests/)
        args:
          - --rcfile=python-package/pyproject.toml
        additional_dependencies:
          - pylint

Support local test run for the JVM release helper.
  dev/prepare_jvm_release.py
Due: pylint

lint.
  dev/prepare_jvm_release.py
Due: pylint

[JVM] Update central-publishing-maven-plugin
  jvm-packages/pom.xml
Due: none

[JVM] Update central-publishing-maven-plugin (#12255)
  jvm-packages/pom.xml
Due: none

[backport][JVM] Update central-publishing-maven-plugin (#12255)
  jvm-packages/pom.xml
Due: none

[R] More fixes for test n_threads.
  R-package/tests/testthat.R
  R-package/tests/testthat/test_basic.R
  R-package/tests/testthat/test_custom_objective.R
  R-package/tests/testthat/test_helpers.R
  R-package/tests/testthat/test_poisson_regression.R
Due: none

[backport][JVM] Update central-publishing-maven-plugin (#12255) (#12257)
  jvm-packages/pom.xml
Due: none

Support local test run for the JVM release helper. (#12254)
  dev/prepare_jvm_release.py
Due: pylint

[R] More fixes for test n_threads. (#12259)
  R-package/tests/testthat.R
  R-package/tests/testthat/test_basic.R
  R-package/tests/testthat/test_custom_objective.R
  R-package/tests/testthat/test_helpers.R
  R-package/tests/testthat/test_poisson_regression.R
Due: none

[backport][R] More fixes for test n_threads. (#12259)
  R-package/tests/testthat.R
  R-package/tests/testthat/test_basic.R
  R-package/tests/testthat/test_custom_objective.R
  R-package/tests/testthat/test_helpers.R
  R-package/tests/testthat/test_poisson_regression.R
Due: none

[backport][R] More fixes for test n_threads. (#12259) (#12261)
  R-package/tests/testthat.R
  R-package/tests/testthat/test_basic.R
  R-package/tests/testthat/test_custom_objective.R
  R-package/tests/testthat/test_helpers.R
  R-package/tests/testthat/test_poisson_regression.R
Due: none

Cleanup the find nccl script.
  CMakeLists.txt
  cmake/Utils.cmake
  cmake/modules/FindNccl.cmake
  cmake/xgboost-config.cmake.in
  ops/pipeline/build-cuda-impl.sh
Due: lint-cmake

lint.
  CMakeLists.txt
Due: lint-cmake

Add stream-aware storage APIs
  src/common/device_helpers.cuh
  src/common/device_vector.cuh
  tests/cpp/common/test_device_vector.cu
Due: lint-cpp

Use Locale.ROOT for locale-independent float formatting
  jvm-packages/xgboost4j/src/main/java/ml/dmlc/xgboost4j/java/Booster.java
  jvm-packages/xgboost4j/src/main/java/ml/dmlc/xgboost4j/java/XGBoost.java
Due: none

Cleanup the find nccl script. (#12262)
  CMakeLists.txt
  cmake/Utils.cmake
  cmake/modules/FindNccl.cmake
  cmake/xgboost-config.cmake.in
  ops/pipeline/build-cuda-impl.sh
Due: lint-cmake

Preserve tiny positive Hessians in GPU quantization
  src/tree/gpu_hist/quantiser.cuh
  tests/cpp/tree/gpu_hist/test_histogram.cu
Due: lint-cpp

docs: add Kaggle Playground Series S6E5 winning solution
  demo/README.md
Due: none

Preserve tiny positive Hessians in GPU quantization (#12266)
  src/tree/gpu_hist/quantiser.cuh
  tests/cpp/tree/gpu_hist/test_histogram.cu
Due: lint-cpp

Center GPU split thresholds across empty bins
  src/tree/gpu_hist/evaluate_splits.cu
  tests/cpp/tree/gpu_hist/test_evaluate_splits.cu
Due: lint-cpp

Support coherent memory for inplace predict.
  src/common/cuda_rt_utils.cc
  src/common/cuda_rt_utils.h
  src/gbm/gbtree.cc
Due: lint-cpp

CPU.
  src/common/cuda_rt_utils.cc
Due: lint-cpp

Include `cuda/std/type_traits` in `histogram.cu`
  src/tree/gpu_hist/histogram.cu
Due: lint-cpp

Include `cuda/std/type_traits` in `histogram.cu` (#12269)
  src/tree/gpu_hist/histogram.cu
Due: lint-cpp

Fix locale-dependent float serialization in xgboost4j (#12235)
  jvm-packages/xgboost4j/src/main/java/ml/dmlc/xgboost4j/java/Booster.java
  jvm-packages/xgboost4j/src/main/java/ml/dmlc/xgboost4j/java/XGBoost.java
Due: none

doc: add R code tab to random forest tutorial
  doc/tutorials/rf.rst
Due: none

doc: make random forest examples self-contained
  doc/tutorials/rf.rst
Due: none

[EM] Move the batch ptr into DMatrix.
  include/xgboost/data.h
  src/data/ellpack_page_source.h
  src/data/extmem_quantile_dmatrix.cc
  src/data/extmem_quantile_dmatrix.cu
  src/data/extmem_quantile_dmatrix.h
  src/data/proxy_dmatrix.h
  src/data/sparse_page_dmatrix.cu
  src/data/sparse_page_dmatrix.h
  src/tree/updater_gpu_hist.cu
  tests/cpp/data/test_extmem_quantile_dmatrix.cc
  tests/cpp/data/test_extmem_quantile_dmatrix.cu
  tests/cpp/data/test_sparse_page_dmatrix.cu
Due: lint-cpp

BUG: Fix predict_proba for binary:logitraw (GH#11373)
  python-package/xgboost/sklearn.py
  tests/python/test_with_sklearn.py
Due: pylint

Inclusive scan.
  src/data/proxy_dmatrix.h
Due: lint-cpp

[EM] Move the batch ptr into DMatrix. (#12271)
  include/xgboost/data.h
  src/data/ellpack_page_source.h
  src/data/extmem_quantile_dmatrix.cc
  src/data/extmem_quantile_dmatrix.cu
  src/data/extmem_quantile_dmatrix.h
  src/data/proxy_dmatrix.h
  src/data/sparse_page_dmatrix.cu
  src/data/sparse_page_dmatrix.h
  src/tree/updater_gpu_hist.cu
  tests/cpp/data/test_extmem_quantile_dmatrix.cc
  tests/cpp/data/test_extmem_quantile_dmatrix.cu
  tests/cpp/data/test_sparse_page_dmatrix.cu
Due: lint-cpp

[mt] GPU implementation of OHE vector leaf.
  src/common/device_helpers.cuh
  src/tree/gpu_hist/evaluate_splits.cu
  src/tree/gpu_hist/evaluate_splits.cuh
  src/tree/gpu_hist/multi_evaluate_splits.cu
  src/tree/updater_gpu_hist.cuh
  tests/cpp/tree/gpu_hist/test_multi_evaluate_splits.cu
  tests/python-gpu/test_gpu_updaters.py
Due: lint-cpp

lint.
  tests/python-gpu/test_gpu_updaters.py
Due: none

docs: use tabs for model IO examples
  doc/tutorials/saving_model.rst
Due: none

Update pyproject.toml
  ops/script/pypi_variants.py
  python-package/pyproject.toml
  python-package/pyproject.toml.in
Due: none

Build py3-none-* wheels
  .github/workflows/python_wheels_variants.yml
  .github/workflows/python_wheels_winarm64.yml
  doc/contrib/python_packaging.rst
  ops/pipeline/audit-cuda-wheel.sh
  ops/pipeline/build-python-wheels-cpu.sh
  ops/pipeline/build-win64.ps1
  ops/script/release_artifacts.py
Due: none

Address review comments
  CMakeLists.txt
  ops/script/prepare_sdist.py
  python-package/CMakeLists.txt
Due: lint-cmake

Use hatchling in stub package
  python-package/pyproject.toml.stub.in
  python-package/stub-cmake/CMakeLists.txt
Due: lint-cmake

Fix release_artifacts.py
  ops/script/release_artifacts.py
Due: none

Apply suggestions from code review
  src/tree/gpu_hist/multi_evaluate_splits.cu
Due: lint-cpp
