Repository dmlc/xgboost: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-cpp, lint-cmake, pylint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: check-yaml
      - id: check-toml
      - id: check-json
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable
      - id: mixed-line-ending
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.14
    hooks:
      - id: ruff-check
        args:
          - --fix
          - --select=I
        files: \.py$
        exclude: (dmlc-core|gputreeshap)
      - id: ruff-format
        files: \.py$
        exclude: (dmlc-core|gputreeshap)
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v21.1.8
    hooks:
      - id: clang-format
        args: [--style=file]
        files: \.(cc|c|cpp|h|cu|hpp)$
        exclude: (dmlc-core|gputreeshap)
  - repo: local
    hooks:
      - id: lint-cpp
        name: C++ lint (cpplint)
        entry: python ops/script/lint_cpp.py
        language: python
        types: [file]
        files: \.(cc|c|cpp|h|cu|hpp)$
        exclude: (dmlc-core|gputreeshap)
        additional_dependencies:
          - cpplint==1.6.1
      - id: lint-cmake
        name: CMake lint (cmakelint)
        entry: cmakelint --linelength=120 --filter=-convention/filename,-package/stdargs,-readability/wonkycase
        language: python
        types: [file]
        files: (CMakeLists\.txt$|^cmake/.*\.cmake$)
        exclude: (dmlc-core|gputreeshap)
        additional_dependencies:
          - cmakelint
      - id: pylint
        name: Python lint (pylint)
        entry: pylint
        language: python
        types: [file]
        files: \.py$
        exclude: (dmlc-core|gputreeshap|^ops/|^tests/)
        args:
          - --rcfile=python-package/pyproject.toml
        additional_dependencies:
          - pylint

Add CPU V6 SHAP algorithm
  doc/parameter.rst
  src/gbm/gbtree.h
  src/predictor/cpu_predictor.cc
  src/predictor/interpretability/shap.cc
  src/predictor/interpretability/shap.h
  tests/cpp/predictor/test_shap.cc
Due: lint-cpp

Refine GPU sketch prune batching
  src/common/hist_util.cu
  src/common/quantile.cu
Due: lint-cpp

Add configurable quadrature point count
  doc/parameter.rst
  src/gbm/gbtree.h
  src/predictor/cpu_predictor.cc
  src/predictor/interpretability/shap.cc
  src/predictor/interpretability/shap.h
  tests/cpp/predictor/test_shap.cc
Due: lint-cpp

Fix macOS wheel OpenMP dependency resolution
  cmake/FindOpenMPMacOS.cmake
  ops/pipeline/build-python-wheels-macos.sh
Due: lint-cmake

Add QuadratureSHAP benchmark harness
  demo/guide-python/quadratureshap_benchmark.py
  quadratureshap_n8_accuracy_vs_nodes.png
  quadratureshap_n8_speedup_vs_nodes.png
  quadratureshap_n8_summary.json
Due: pylint

Relax GPU iterator sketch equivalence test
  tests/python/test_data_iterator.py
Due: none

Use consistent sketch tolerance in iterator tests
  tests/python/test_data_iterator.py
Due: none

Pin llvm-openmp for macOS wheel builds
  ops/pipeline/build-python-wheels-macos.sh
Due: none

Relax Spark GPU classifier equivalence test
  tests/test_distributed/test_with_spark/test_spark.py
Due: none

Refine macOS wheel CI diagnostics and fallback build
  cmake/FindOpenMPMacOS.cmake
  ops/pipeline/build-python-wheels-macos.sh
  python-package/packager/nativelib.py
Due: lint-cmake, pylint

Disable OpenMP for Intel macOS wheels
  ops/pipeline/build-python-wheels-macos.sh
  python-package/packager/nativelib.py
Due: pylint

Add macOS wheel linker diagnostics
  ops/pipeline/build-python-wheels-macos.sh
  python-package/packager/nativelib.py
Due: pylint

doc: add Kaggle S5E4 winning XGBoost solution to demo list
  demo/README.md
Due: none

Unlink Homebrew llvm in macOS wheel build
  ops/pipeline/build-python-wheels-macos.sh
Due: none

Unlink Homebrew llvm for macOS wheel build
  ops/pipeline/build-python-wheels-macos.sh
  python-package/packager/nativelib.py
Due: pylint

Fix macOS wheel OpenMP dependency resolution (#12108)
  ops/pipeline/build-python-wheels-macos.sh
Due: none

[python-package] Add specific error codes to all type: ignore comments
  python-package/xgboost/_c_api.py
  python-package/xgboost/_data_utils.py
  python-package/xgboost/callback.py
  python-package/xgboost/compat.py
  python-package/xgboost/dask/__init__.py
  python-package/xgboost/data.py
  python-package/xgboost/spark/core.py
  python-package/xgboost/spark/data.py
  python-package/xgboost/spark/estimator.py
  python-package/xgboost/testing/updater.py
Due: pylint

Fix ruff line length: wrap cudf import statements
  python-package/xgboost/data.py
Due: pylint

Fix mypy error codes to match actual CI errors
  python-package/xgboost/_data_utils.py
  python-package/xgboost/callback.py
  python-package/xgboost/data.py
  python-package/xgboost/spark/core.py
  python-package/xgboost/testing/updater.py
Due: pylint

Fix remaining mypy error codes from CI
  python-package/xgboost/_data_utils.py
  python-package/xgboost/data.py
Due: pylint

[python-package] Replace bare Any with specific types in sklearn.py
  python-package/xgboost/sklearn.py
Due: pylint

Keep return type as Any since DaskDMatrix does not extend DMatrix
  python-package/xgboost/sklearn.py
Due: pylint

[ci] Consolidate query-latest-{cccl,rmm}.sh into shared Python script
  ops/pipeline/query-latest-cccl.sh
  ops/pipeline/query-latest-rmm.sh
  ops/pipeline/query-latest-version.py
Due: none

[python-package] Add specific error codes to all type: ignore comments (#12110)
  python-package/xgboost/_c_api.py
  python-package/xgboost/_data_utils.py
  python-package/xgboost/callback.py
  python-package/xgboost/compat.py
  python-package/xgboost/dask/__init__.py
  python-package/xgboost/data.py
  python-package/xgboost/spark/core.py
  python-package/xgboost/spark/data.py
  python-package/xgboost/spark/estimator.py
  python-package/xgboost/testing/updater.py
Due: pylint

doc: add Kaggle S5E4 winning XGBoost solution to demo list (#12109)
  demo/README.md
Due: none

Security disclosure.
  doc/index.rst
  doc/security.rst
  src/gbm/gbtree_model.cc
Due: lint-cpp

Apply suggestions from code review
  doc/security.rst
Due: none

copilot.
  doc/security.rst
Due: none

pre-commit.
  doc/security.rst
Due: none

Use bin-mass floor in Python sketch tolerance
  tests/python/test_data_iterator.py
Due: none

Use bin-mass floor in C++ sketch tolerance
  tests/cpp/common/test_hist_util.h
Due: lint-cpp

Handle tiny sketches in Python rank tolerance
  tests/python/test_data_iterator.py
Due: none

Add CUDA QuadratureSHAP prototype
  src/predictor/gpu_predictor.cu
  src/predictor/interpretability/shap.cu
  src/predictor/interpretability/shap.h
  tests/cpp/predictor/test_shap.cu
Due: lint-cpp

Use sample-mass floor in Python rank tolerance
  tests/python/test_data_iterator.py
Due: none

Allow one sample of slack in Python rank tolerance
  tests/python/test_data_iterator.py
Due: none

Add Automatic Module Names for Java packages
  jvm-packages/xgboost4j-flink/pom.xml
  jvm-packages/xgboost4j-spark/pom.xml
  jvm-packages/xgboost4j/pom.xml
Due: none

Update doc/security.rst
  doc/security.rst
Due: none

Add warning for booster type mismatch (fixes #11473)
  python-package/xgboost/training.py
Due: pylint
