Repository dmlc/xgboost: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-cpp, lint-cmake, pylint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: check-yaml
      - id: check-toml
      - id: check-json
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable
      - id: mixed-line-ending
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.14
    hooks:
      - id: ruff-check
        args:
          - --fix
          - --select=I
        files: \.py$
        exclude: (dmlc-core|gputreeshap)
      - id: ruff-format
        files: \.py$
        exclude: (dmlc-core|gputreeshap)
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v21.1.8
    hooks:
      - id: clang-format
        args: [--style=file]
        files: \.(cc|c|cpp|h|cu|hpp)$
        exclude: (dmlc-core|gputreeshap)
  - repo: local
    hooks:
      - id: lint-cpp
        name: C++ lint (cpplint)
        entry: python ops/script/lint_cpp.py
        language: python
        types: [file]
        files: \.(cc|c|cpp|h|cu|hpp)$
        exclude: (dmlc-core|gputreeshap)
        additional_dependencies:
          - cpplint==1.6.1
      - id: lint-cmake
        name: CMake lint (cmakelint)
        entry: cmakelint --linelength=120 --filter=-convention/filename,-package/stdargs,-readability/wonkycase
        language: python
        types: [file]
        files: (CMakeLists\.txt$|^cmake/.*\.cmake$)
        exclude: (dmlc-core|gputreeshap)
        additional_dependencies:
          - cmakelint
      - id: pylint
        name: Python lint (pylint)
        entry: pylint
        language: python
        types: [file]
        files: \.py$
        exclude: (dmlc-core|gputreeshap|^ops/|^tests/)
        args:
          - --rcfile=python-package/pyproject.toml
        additional_dependencies:
          - pylint

lint.
  doc/changes/v3.4.0.rst
  doc/contrib/release.rst
Due: none

links.
  doc/changes/v3.4.0.rst
Due: none

normalize the date format.
  doc/changes/v2.1.0.rst
  doc/changes/v3.0.0.rst
  doc/changes/v3.1.0.rst
  doc/changes/v3.2.0.rst
  doc/changes/v3.3.0.rst
Due: none

gcc16
  ops/pipeline/build-cpu.sh
Due: none

Revert "gcc16"
  ops/pipeline/build-cpu.sh
Due: none

drop warning as error.
  ops/pipeline/build-cpu.sh
Due: none

[doc] 3.4.0 release note. (#12405)
  doc/changes/index.rst
  doc/changes/v2.1.0.rst
  doc/changes/v3.0.0.rst
  doc/changes/v3.1.0.rst
  doc/changes/v3.2.0.rst
  doc/changes/v3.3.0.rst
  doc/changes/v3.4.0.rst
  doc/contrib/release.rst
  ops/pipeline/build-cpu.sh
Due: none

Bump version to 3.4.0.
  R-package/DESCRIPTION
  jvm-packages/pom.xml
  jvm-packages/xgboost4j-example/pom.xml
  jvm-packages/xgboost4j-flink/pom.xml
  jvm-packages/xgboost4j-spark-gpu/pom.xml
  jvm-packages/xgboost4j-spark/pom.xml
  jvm-packages/xgboost4j/pom.xml
  python-package/pyproject.toml
  python-package/pyproject.toml.in
  python-package/pyproject.toml.stub.in
  python-package/xgboost/VERSION
Due: none

Bump version to 3.5.0 dev.
  CMakeLists.txt
  R-package/DESCRIPTION
  R-package/configure
  R-package/configure.ac
  include/xgboost/version_config.h
  jvm-packages/pom.xml
  jvm-packages/xgboost4j-example/pom.xml
  jvm-packages/xgboost4j-flink/pom.xml
  jvm-packages/xgboost4j-spark-gpu/pom.xml
  jvm-packages/xgboost4j-spark/pom.xml
  jvm-packages/xgboost4j/pom.xml
  python-package/pyproject.toml
  python-package/pyproject.toml.in
  python-package/pyproject.toml.stub.in
  python-package/xgboost/VERSION
Due: lint-cpp, lint-cmake

Bump version to 3.4.0. (#12406)
  R-package/DESCRIPTION
  jvm-packages/pom.xml
  jvm-packages/xgboost4j-example/pom.xml
  jvm-packages/xgboost4j-flink/pom.xml
  jvm-packages/xgboost4j-spark-gpu/pom.xml
  jvm-packages/xgboost4j-spark/pom.xml
  jvm-packages/xgboost4j/pom.xml
  python-package/pyproject.toml
  python-package/pyproject.toml.in
  python-package/pyproject.toml.stub.in
  python-package/xgboost/VERSION
Due: none

Bump version to 3.5.0 dev. (#12407)
  CMakeLists.txt
  R-package/DESCRIPTION
  R-package/configure
  R-package/configure.ac
  include/xgboost/version_config.h
  jvm-packages/pom.xml
  jvm-packages/xgboost4j-example/pom.xml
  jvm-packages/xgboost4j-flink/pom.xml
  jvm-packages/xgboost4j-spark-gpu/pom.xml
  jvm-packages/xgboost4j-spark/pom.xml
  jvm-packages/xgboost4j/pom.xml
  python-package/pyproject.toml
  python-package/pyproject.toml.in
  python-package/pyproject.toml.stub.in
  python-package/xgboost/VERSION
Due: lint-cpp, lint-cmake

Move prediction cache into GBTree
  include/xgboost/gbm.h
  include/xgboost/predictor.h
  plugin/sycl/predictor/predictor.cc
  src/c_api/c_api.cc
  src/common/api_entry.h
  src/gbm/gblinear.cc
  src/gbm/gbtree.cc
  src/gbm/gbtree.h
  src/learner.cc
  src/predictor/cpu_predictor.cc
  src/predictor/gpu_predictor.cu
  tests/cpp/gbm/test_gbtree.cc
  tests/cpp/helpers.cc
  tests/cpp/predictor/test_cpu_predictor.cc
  tests/cpp/predictor/test_gpu_predictor.cu
  tests/cpp/predictor/test_predictor.cc
  tests/cpp/predictor/test_predictor.h
  tests/cpp/test_learner.cc
Due: lint-cpp

Move the jvm release script.
  dev/query_contributors.py
  doc/contrib/release.rst
  ops/script/prepare_jvm_release.py
Due: pylint

remove old tidy test.
  ops/script/test_tidy.cc
Due: lint-cpp

Add typed kernel dispatch for hinge objective
  plugin/CMakeLists.txt
  src/CMakeLists.txt
  src/common/kernel.h
  src/objective/hinge.cc
  src/objective/hinge.cu
  src/objective/hinge.h
  src/objective/objective.cc
  tests/cpp/objective/test_hinge.cc
  tests/cpp/objective/test_hinge_cpu.cc
Due: lint-cpp, lint-cmake

lint.
  ops/script/prepare_jvm_release.py
  ops/script/test_r_package.py
Due: none

doc.
  doc/contrib/release.rst
Due: none

Test CPU kernel fallback centrally
  src/common/kernel.h
  tests/cpp/common/test_kernel.cc
  tests/cpp/objective/test_hinge_cpu.cc
Due: lint-cpp

Keep hinge implementation declarations local
  src/objective/hinge.h
Due: lint-cpp

Move prediction cache into GBTree (#12403)
  include/xgboost/gbm.h
  include/xgboost/predictor.h
  plugin/sycl/predictor/predictor.cc
  src/c_api/c_api.cc
  src/common/api_entry.h
  src/gbm/gblinear.cc
  src/gbm/gbtree.cc
  src/gbm/gbtree.h
  src/learner.cc
  src/predictor/cpu_predictor.cc
  src/predictor/gpu_predictor.cu
  tests/cpp/gbm/test_gbtree.cc
  tests/cpp/helpers.cc
  tests/cpp/predictor/test_cpu_predictor.cc
  tests/cpp/predictor/test_gpu_predictor.cu
  tests/cpp/predictor/test_predictor.cc
  tests/cpp/predictor/test_predictor.h
  tests/cpp/test_learner.cc
Due: lint-cpp

Use context placement in objective transform test
  src/objective/objective.cc
  tests/cpp/objective/test_objective.cc
Due: lint-cpp

Trim comment per review feedback
  python-package/xgboost/testing/shared.py
Due: pylint

Trim error message per review feedback
  python-package/xgboost/plotting.py
Due: pylint

Keep Cox prediction transform on the selected device
  src/objective/regression_obj.cu
Due: lint-cpp

Cleanup release scripts (#12410)
  dev/query_contributors.py
  doc/contrib/release.rst
  ops/script/prepare_jvm_release.py
  ops/script/test_r_package.py
  ops/script/test_tidy.cc
Due: lint-cpp, pylint

[CI] Add pandas-stubs to type checking.
  ops/conda_env/python_lint.yml
  ops/script/test_r_package.py
  python-package/xgboost/_data_utils.py
  python-package/xgboost/compat.py
  python-package/xgboost/data.py
  python-package/xgboost/spark/data.py
  python-package/xgboost/testing/dask.py
  python-package/xgboost/testing/data.py
  python-package/xgboost/testing/ordinal.py
  python-package/xgboost/training.py
  tests/python-gpu/test_gpu_prediction.py
  tests/python/test_ordinal.py
Due: pylint

Exclude CPU-only plugin from objective placement test
  tests/cpp/objective/test_objective.cc
Due: lint-cpp

Remove obsolete predictor and ntree limit plumbing
  R-package/R/xgb.Booster.R
  R-package/tests/testthat/test_model_compatibility.R
  include/xgboost/c_api.h
  include/xgboost/predictor.h
  jvm-packages/xgboost4j-example/src/main/java/ml/dmlc/xgboost4j/java/example/PredictFirstNtree.java
  jvm-packages/xgboost4j-example/src/main/java/ml/dmlc/xgboost4j/java/example/PredictLeafIndices.java
  jvm-packages/xgboost4j-example/src/main/scala/ml/dmlc/xgboost4j/scala/example/PredictFirstNTree.scala
  jvm-packages/xgboost4j-example/src/main/scala/ml/dmlc/xgboost4j/scala/example/PredictLeafIndices.scala
  jvm-packages/xgboost4j/src/main/java/ml/dmlc/xgboost4j/java/Booster.java
  jvm-packages/xgboost4j/src/main/java/ml/dmlc/xgboost4j/java/XGBoostJNI.java
  jvm-packages/xgboost4j/src/main/scala/ml/dmlc/xgboost4j/scala/Booster.scala
  jvm-packages/xgboost4j/src/native/xgboost4j.cpp
  jvm-packages/xgboost4j/src/native/xgboost4j.h
  jvm-packages/xgboost4j/src/test/java/ml/dmlc/xgboost4j/java/BoosterImplTest.java
  python-package/xgboost/sklearn.py
  python-package/xgboost/testing/dask.py
  python-package/xgboost/testing/intercept.py
  python-package/xgboost/testing/updater.py
  src/c_api/c_api.cc
  src/c_api/c_api_utils.h
  src/gbm/gbtree.cc
  src/gbm/gbtree.h
  src/learner.cc
  src/predictor/predictor.cc
  tests/cpp/c_api/test_c_api.cc
  tests/cpp/gbm/test_gbtree.cc
  tests/cpp/helpers.cc
  tests/cpp/helpers.h
  tests/cpp/predictor/test_gpu_predictor.cu
  tests/cpp/predictor/test_predictor.cc
  tests/cpp/predictor/test_predictor.h
  tests/cpp/test_learner.cc
  tests/cpp/test_multi_target.cc
  tests/python/test_model_compatibility.py
  tests/python/test_with_sklearn.py
  tests/test_distributed/test_with_dask/test_with_dask.py
Due: lint-cpp, pylint

Restore dmatrix.__init__ even if validate_data_initialization raises (#12398)
  python-package/xgboost/testing/shared.py
Due: pylint

Small fix.
  tests/cpp/metric/test_distributed_metric.cc
Due: lint-cpp

Roxygen2.
  R-package/DESCRIPTION
  R-package/NAMESPACE
Due: none

doc.
  doc/contrib/featuremap.rst
Due: none

stack
  python-package/xgboost/spark/data.py
Due: pylint

cv.
  python-package/xgboost/training.py
Due: pylint

df.
  python-package/xgboost/testing/dask.py
Due: pylint

Deprecate the RMM plugin.
  .gitignore
  CMakeLists.txt
  R-package/R/xgb.train.R
  R-package/R/xgboost.R
  R-package/man/xgb.params.Rd
  R-package/man/xgboost.Rd
  demo/rmm_plugin/README.rst
  doc/build.rst
  doc/conf.py
  doc/gpu/index.rst
  doc/jvm/xgboost4j_spark_gpu_tutorial.rst
  doc/parameter.rst
  doc/tutorials/external_memory.rst
  src/c_api/c_api.cc
Due: lint-cpp, lint-cmake, pylint

doc.
  doc/build.rst
  doc/parameter.rst
Due: none

Test windows on CI.
  src/common/device_vector.cuh
Due: none
