Repository dmlc/xgboost: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-cpp, lint-cmake, pylint

lint-cpp:
  name: C++ lint (cpplint)
  entry: python ops/script/lint_cpp.py
  language: python
  additional_dependencies:
  - cpplint==1.6.1

lint-cmake:
  name: CMake lint (cmakelint)
  entry: cmakelint --linelength=120 --filter=-convention/filename,-package/stdargs,-readability/wonkycase
  language: python
  additional_dependencies:
  - cmakelint

pylint:
  name: Python lint (pylint)
  entry: pylint
  language: python
  args:
  - --rcfile=python-package/pyproject.toml
  additional_dependencies:
  - pylint

Fix quantile container cleanup build
  src/common/quantile.cu
  src/common/quantile.h
Due: lint-cpp

Support weighted GPU TreeSHAP
  src/predictor/interpretability/shap.cu
Due: lint-cpp

Fix typo in predict docstring
  python-package/xgboost/core.py
Due: pylint

Fix typo in predict docstring (#12076)
  python-package/xgboost/core.py
Due: pylint

[mt] Implement one-hot categorical feature for CPU hist.
  doc/changes/v3.2.0.rst
  include/xgboost/tree_model.h
  python-package/xgboost/testing/dask.py
  python-package/xgboost/testing/data.py
  python-package/xgboost/testing/data_iter.py
  python-package/xgboost/testing/ranking.py
  python-package/xgboost/testing/updater.py
  src/tree/hist/evaluate_splits.h
  src/tree/tree_model.cc
  src/tree/updater_quantile_hist.cc
  tests/cpp/tree/hist/test_evaluate_splits.cc
  tests/python/test_updaters.py
Due: lint-cpp, pylint

Cleanup test.
  tests/python/test_updaters.py
Due: none

Fixes.
  tests/python-gpu/test_from_cudf.py
  tests/test_distributed/test_with_dask/test_with_dask.py
Due: none

type hint.
  python-package/xgboost/testing/dask.py
Due: pylint

[mt] Implement one-hot categorical feature for CPU hist. (#12072)
  doc/changes/v3.2.0.rst
  include/xgboost/tree_model.h
  python-package/xgboost/testing/dask.py
  python-package/xgboost/testing/data.py
  python-package/xgboost/testing/data_iter.py
  python-package/xgboost/testing/ranking.py
  python-package/xgboost/testing/updater.py
  src/tree/hist/evaluate_splits.h
  src/tree/tree_model.cc
  src/tree/updater_quantile_hist.cc
  tests/cpp/tree/hist/test_evaluate_splits.cc
  tests/python-gpu/test_from_cudf.py
  tests/python/test_updaters.py
  tests/test_distributed/test_with_dask/test_with_dask.py
Due: lint-cpp, pylint

tidy.
  src/collective/broadcast.cc
Due: lint-cpp

[coll] Prevent all-to-all connection.
  src/collective/allgather.h
  src/collective/broadcast.cc
  src/collective/comm.cc
  src/collective/comm.h
  tests/cpp/collective/test_worker.h
Due: lint-cpp

pre-commit.
  src/collective/allgather.h
  src/collective/broadcast.cc
  src/collective/coll.h
Due: lint-cpp

tree.
  src/collective/allreduce.h
  src/collective/broadcast.cc
  src/collective/comm.cc
  src/collective/comm.h
Due: lint-cpp

cleanup.
  src/collective/coll.h
Due: lint-cpp

Extract the topology.
  src/collective/allgather.h
  src/collective/allreduce.h
  src/collective/broadcast.cc
  src/collective/comm.cc
  src/collective/comm.h
  src/collective/topo.h
  src/collective/tracker.cc
Due: lint-cpp

pre-commit.
  src/collective/comm.cc
  src/collective/tracker.cc
Due: lint-cpp

copilot's comment.
  src/collective/broadcast.cc
  src/collective/comm.cc
Due: lint-cpp

Unify DART SHAP forwarding (#12073)
  src/gbm/gbtree.cc
  src/gbm/gbtree.h
  src/predictor/interpretability/shap.cu
  tests/cpp/predictor/test_shap.cc
  tests/cpp/predictor/test_shap.cu
  tests/cpp/predictor/test_shap.h
Due: lint-cpp

cleanup.
  src/collective/broadcast.cc
Due: lint-cpp

Fix grouped weights in host sketch
  src/common/quantile.cc
  tests/cpp/common/test_hist_util.cc
  tests/cpp/common/test_hist_util.h
Due: lint-cpp

Share weighted inplace prediction in GBTree
  src/gbm/gbtree.cc
Due: lint-cpp

Share weighted batch prediction in GBTree
  src/gbm/gbtree.cc
Due: lint-cpp

Move DART state into GBTree
  doc/parameter.rst
  doc/tutorials/dart.rst
  src/gbm/gbtree.cc
  src/gbm/gbtree.h
  tests/cpp/gbm/test_gbtree.cc
Due: lint-cpp

Remove outdated dropout prediction note
  doc/parameter.rst
Due: none

Reuse group weight helper in tests
  src/common/quantile.cc
  src/common/quantile.h
  tests/cpp/common/test_hist_util.cc
  tests/cpp/common/test_hist_util.h
Due: lint-cpp

Simplify DART batch weight selection
  src/gbm/gbtree.cc
  src/gbm/gbtree.h
Due: lint-cpp

Remove DART state helpers from GBTree
  src/gbm/gbtree.cc
  src/gbm/gbtree.h
Due: lint-cpp

Stabilize Dask ranking test data
  python-package/xgboost/testing/dask.py
Due: pylint

Clean up host quantile helpers (#12074)
  python-package/xgboost/testing/dask.py
  src/common/hist_util.cc
  src/common/quantile.cc
  src/common/quantile.cu
  src/common/quantile.h
  tests/cpp/common/test_hist_util.cc
  tests/cpp/common/test_hist_util.h
  tests/cpp/common/test_quantile.cc
Due: lint-cpp, pylint

Simplify GPU quantile merge path scan
  src/common/quantile.cu
Due: lint-cpp

Fix DART PR review nits
  doc/parameter.rst
  src/gbm/gbtree.h
Due: lint-cpp

Tighten DART tutorial wording
  doc/tutorials/dart.rst
Due: none

Refine DART documentation wording
  doc/parameter.rst
  doc/tutorials/dart.rst
Due: none

Address quantile merge path review comments
  src/common/quantile.cu
Due: lint-cpp

[coll] Prevent all-to-all connection. (#12075)
  src/collective/allgather.h
  src/collective/allreduce.h
  src/collective/broadcast.cc
  src/collective/comm.cc
  src/collective/comm.h
  src/collective/topo.h
  src/collective/tracker.cc
  tests/cpp/collective/test_worker.h
Due: lint-cpp

docs: add distributed XGBoost on Kubernetes tutorial
  doc/tutorials/kubernetes.rst
Due: none

docs: add distributed XGBoost on Kubernetes tutorial (#12080)
  doc/tutorials/kubernetes.rst
Due: none

Move DART state into GBTree (#12078)
  doc/parameter.rst
  doc/tutorials/dart.rst
  src/gbm/gbtree.cc
  src/gbm/gbtree.h
  tests/cpp/gbm/test_gbtree.cc
Due: lint-cpp

Fix portable GPU quantile merge path storage
  src/common/quantile.cu
Due: lint-cpp

Remove separate Dart booster implementation
  src/gbm/gbm.cc
  src/gbm/gbtree.cc
  src/learner.cc
  tests/cpp/gbm/test_gbtree.cc
Due: lint-cpp

Path conditions:
  lint-cpp: any of: \.(cc|c|cpp|h|cu|hpp)$, but not: (dmlc-core|gputreeshap)
  lint-cmake: any of: (CMakeLists\.txt$|^cmake/.*\.cmake$), but not: (dmlc-core|gputreeshap)
  pylint: any of: \.py$, but not: (dmlc-core|gputreeshap|^ops/|^tests/)
