Repository dmlc/xgboost: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-cpp, lint-cmake, pylint

lint-cpp:
  name: C++ lint (cpplint)
  entry: python ops/script/lint_cpp.py
  language: python
  additional_dependencies:
  - cpplint==1.6.1

lint-cmake:
  name: CMake lint (cmakelint)
  entry: cmakelint --linelength=120 --filter=-convention/filename,-package/stdargs,-readability/wonkycase
  language: python
  additional_dependencies:
  - cmakelint

pylint:
  name: Python lint (pylint)
  entry: pylint
  language: python
  args:
  - --rcfile=python-package/pyproject.toml
  additional_dependencies:
  - pylint

init.
  include/xgboost/learner.h
  python-package/xgboost/_cross_validation.py
  src/cross_validate/cross_validate.cc
  src/cross_validate/cross_validate.cu
  src/cross_validate/cross_validate.h
  src/learner.cc
  tests/python-gpu/test_cross_validate.py
Due: lint-cpp, pylint

IO.
  include/xgboost/learner.h
  src/cross_validate/cross_validate.cc
  src/cross_validate/cross_validate.h
  src/learner.cc
  src/learner_model_param_legacy.h
  tests/cpp/cross_validate/test_cv_model.cc
Due: lint-cpp

cleanup.
  src/cross_validate/cross_validate.cc
Due: lint-cpp

rename.
  python-package/xgboost/_cross_validation.py
  src/cross_validate/cross_validate.cc
  src/cross_validate/cross_validate.cu
  src/cross_validate/cross_validate.h
  tests/cpp/cross_validate/test_cv_model.cc
  tests/python-gpu/test_cross_validate.py
Due: lint-cpp, pylint

Move the prediction out.
  python-package/xgboost/_cross_validation.py
  src/cross_validate/cross_validate.cc
  src/cross_validate/cross_validate.cu
  src/cross_validate/cross_validate.h
  tests/python-gpu/test_cross_validate.py
Due: lint-cpp, pylint

lint.
  include/xgboost/learner.h
  python-package/xgboost/_cross_validation.py
  src/cross_validate/cross_validate.cc
  src/cross_validate/cross_validate.cu
  src/cross_validate/cross_validate.h
  src/learner.cc
  src/learner_model_param_legacy.h
  tests/python-gpu/test_cross_validate.py
Due: lint-cpp, pylint

Potential fix for pull request finding
  src/learner_model_param_legacy.h
Due: lint-cpp

Copy.
  python-package/xgboost/_cross_validation.py
Due: pylint

Fix test.
  tests/python-gpu/test_cross_validate.py
Due: none

CPU.
  src/common/cuda_rt_utils.cc
Due: lint-cpp

Support coherent memory for inplace predict.
  src/common/cuda_rt_utils.cc
  src/common/cuda_rt_utils.h
  src/gbm/gbtree.cc
Due: lint-cpp

[cv] Basic implementation of model. (#12283)
  include/xgboost/learner.h
  python-package/xgboost/_cross_validation.py
  src/cross_validate.cc
  src/cross_validate/cross_validate.cc
  src/cross_validate/cross_validate.cu
  src/cross_validate/cross_validate.h
  src/learner.cc
  src/learner_model_param_legacy.h
  tests/cpp/cross_validate/test_cv_model.cc
  tests/python-gpu/test_cross_validate.py
Due: lint-cpp, pylint

[CV] Use MT tree as default.
  include/xgboost/tree_model.h
  python-package/xgboost/_cross_validation.py
  src/cross_validate/cross_validate.cc
  src/cross_validate/cross_validate.cu
  src/cross_validate/cross_validate.h
  src/tree/multi_target_tree_model.cc
  src/tree/tree_model.cc
  tests/cpp/cross_validate/test_cv_model.cc
Due: lint-cpp, pylint

lint.
  python-package/xgboost/_cross_validation.py
Due: pylint

Fix predict from dense.
  jvm-packages/xgboost4j/src/native/xgboost4j.cpp
Due: lint-cpp

[CV] Use MT tree as default. (#12285)
  include/xgboost/tree_model.h
  python-package/xgboost/_cross_validation.py
  src/cross_validate/cross_validate.cc
  src/cross_validate/cross_validate.cu
  src/cross_validate/cross_validate.h
  src/tree/multi_target_tree_model.cc
  src/tree/tree_model.cc
  tests/cpp/cross_validate/test_cv_model.cc
Due: lint-cpp, pylint

local refs.
  jvm-packages/xgboost4j/src/native/xgboost4j.cpp
Due: lint-cpp

callback.
  jvm-packages/xgboost4j/src/native/xgboost4j.cpp
Due: lint-cpp

lint.
  jvm-packages/xgboost4j/src/native/xgboost4j.cpp
Due: lint-cpp

[CV] Extract C helpers.
  src/c_api/c_api.cc
  src/c_api/c_api_utils.h
Due: lint-cpp

[CV] Extract C helpers. (#12287)
  src/c_api/c_api.cc
  src/c_api/c_api_utils.h
Due: lint-cpp

[CV] Basic interface for the tree method.
  python-package/xgboost/_cross_validation.py
  src/cross_validate/cross_validate.cc
  src/cross_validate/cross_validate.cu
  src/cross_validate/cross_validate.h
  src/tree/updater_gpu_hist.cuh
Due: lint-cpp, pylint

name.
  src/cross_validate/cross_validate.cc
Due: lint-cpp

check.
  src/cross_validate/cross_validate.cc
Due: lint-cpp

check.
  python-package/xgboost/_cross_validation.py
  src/cross_validate/cross_validate.cc
  src/cross_validate/cross_validate.cu
  tests/python-gpu/test_cross_validate.py
Due: lint-cpp, pylint

cleanups.
  python-package/xgboost/_cross_validation.py
Due: pylint

lazy type.
  tests/python-gpu/test_cross_validate.py
Due: none

don't set device.
  src/cross_validate/cross_validate.cu
Due: lint-cpp

name conflict.
  python-package/xgboost/_cross_validation.py
  src/cross_validate/cross_validate.cu
Due: lint-cpp, pylint

names.
  tests/python-gpu/test_cross_validate.py
Due: none

signature?
  src/tree/updater_gpu_hist.cu
Due: lint-cpp

[jvm] Fix potential leaks during error handling. (#12286)
  jvm-packages/xgboost4j/src/native/xgboost4j.cpp
Due: lint-cpp

[CV] Basic interface for the tree method. (#12288)
  python-package/xgboost/_cross_validation.py
  src/cross_validate/cross_validate.cc
  src/cross_validate/cross_validate.cu
  src/cross_validate/cross_validate.h
  src/tree/updater_gpu_hist.cu
  src/tree/updater_gpu_hist.cuh
  tests/python-gpu/test_cross_validate.py
Due: lint-cpp, pylint

fix: clamp integer split threshold in tree dump to int64 range
  python-package/xgboost/testing/parse_tree.py
  src/tree/tree_model.cc
  tests/python/test_basic.py
  tests/python/test_parse_tree.py
  tests/python/test_with_pandas.py
Due: lint-cpp, pylint

Fix formatting
  ops/script/pypi_variants.py
Due: none

Extend GPU quadrature TreeSHAP depth bucket
  src/predictor/interpretability/shap.cu
  tests/cpp/predictor/test_shap.cc
  tests/cpp/predictor/test_shap.cu
  tests/cpp/predictor/test_shap.h
Due: lint-cpp

[CV] Reuse the prediction cache.
  src/cross_validate/cross_validate.cc
  src/cross_validate/cross_validate.h
  tests/python-gpu/test_cross_validate.py
Due: lint-cpp

explicit?
  src/cross_validate/cross_validate.cc
Due: lint-cpp

rename.
  python-package/xgboost/_cross_validation.py
  tests/python-gpu/test_cross_validate.py
Due: pylint

Path conditions:
  lint-cpp: any of: \.(cc|c|cpp|h|cu|hpp)$, but not: (dmlc-core|gputreeshap)
  lint-cmake: any of: (CMakeLists\.txt$|^cmake/.*\.cmake$), but not: (dmlc-core|gputreeshap)
  pylint: any of: \.py$, but not: (dmlc-core|gputreeshap|^ops/|^tests/)
