Repository dmlc/xgboost: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-cpp, lint-cmake, format-python

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: check-yaml
      - id: check-toml
      - id: check-json
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable
      - id: mixed-line-ending
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v21.1.8
    hooks:
      - id: clang-format
        args: [--style=file]
        files: \.(cc|c|cpp|h|cu|hpp)$
        exclude: (dmlc-core|gputreeshap)
  - repo: local
    hooks:
      - id: lint-cpp
        name: C++ lint (cpplint)
        entry: python ops/script/lint_cpp.py
        language: python
        types: [file]
        files: \.(cc|c|cpp|h|cu|hpp)$
        exclude: (dmlc-core|gputreeshap)
        additional_dependencies:
          - cpplint==1.6.1
      - id: lint-cmake
        name: CMake lint (cmakelint)
        entry: cmakelint --linelength=120 --filter=-convention/filename,-package/stdargs,-readability/wonkycase
        language: python
        types: [file]
        files: (CMakeLists\.txt$|^cmake/.*\.cmake$)
        exclude: (dmlc-core|gputreeshap)
        additional_dependencies:
          - cmakelint
      - id: format-python
        name: Python format + lint (black + isort + pylint)
        entry: python ops/script/lint_python.py --format=1 --type-check=0 --pylint=1 --fix
        language: python
        types: [file]
        files: \.py$
        exclude: (dmlc-core|gputreeshap)
        pass_filenames: false
        additional_dependencies:
          - black
          - isort
          - pylint

Update tests/test_distributed/test_with_dask/conftest.py
  tests/test_distributed/test_with_dask/conftest.py
Due: format-python

Update tests/test_distributed/test_with_dask/test_with_dask.py
  tests/test_distributed/test_with_dask/test_with_dask.py
Due: format-python

[wip][ci] Run cross platform tests
  .github/workflows/main.yml
  .github/workflows/python_wheels_macos.yml
  ops/conda_env/macos_cpu_test.yml
  tests/cross-platform/test_cross_platform_model.py
Due: format-python

Refactor tests
  src/interpretability/shap.cc
  src/interpretability/shap.h
  src/predictor/cpu_predictor.cc
  tests/cpp/predictor/test_shap.cc
Due: lint-cpp

Exclude tests with pylint
  .pre-commit-config.yaml
  tests/python/test_ranking.py
Due: format-python

Revert some changes
  python-package/xgboost/testing/dask.py
Due: format-python

Enable multi-thread for large data initialization.
  src/common/ref_resource_view.h
  src/common/threading_utils.h
  src/data/gradient_index.cc
  src/data/gradient_index.cu
  src/data/gradient_index.h
  src/data/gradient_index_page_source.cc
  src/data/gradient_index_page_source.h
  src/data/sparse_page_dmatrix.cc
  tests/cpp/data/test_sparse_page_dmatrix.cc
  tests/cpp/tree/hist/test_histogram.cc
  tests/cpp/tree/test_quantile_hist.cc
Due: lint-cpp

Enable multi-thread for large data initialization. (#11974)
  src/common/ref_resource_view.h
  src/common/threading_utils.h
  src/data/gradient_index.cc
  src/data/gradient_index.cu
  src/data/gradient_index.h
  src/data/gradient_index_page_source.cc
  src/data/gradient_index_page_source.h
  src/data/sparse_page_dmatrix.cc
  tests/cpp/data/test_sparse_page_dmatrix.cc
  tests/cpp/tree/hist/test_histogram.cc
  tests/cpp/tree/test_quantile_hist.cc
Due: lint-cpp

Fixes.
  src/tree/hist/sampler.h
  tests/cpp/tree/hist/test_sampler.cc
Due: lint-cpp

Merge CPU implementation.
  R-package/R/xgb.train.R
  R-package/man/xgb.params.Rd
  R-package/man/xgboost.Rd
  R-package/src/Makevars.in
  R-package/src/Makevars.win.in
  doc/parameter.rst
  src/tree/gpu_hist/histogram.cu
  src/tree/gpu_hist/quantiser.cuh
  src/tree/gpu_hist/sampler.cu
  src/tree/gpu_hist/sampler.cuh
  src/tree/hist/sampler.cc
  src/tree/hist/sampler.h
  src/tree/updater_approx.cc
  src/tree/updater_gpu_hist.cu
  src/tree/updater_gpu_hist.cuh
  src/tree/updater_quantile_hist.cc
  tests/cpp/tree/gpu_hist/test_sampler.cu
  tests/cpp/tree/hist/test_sampler.cc
  tests/cpp/tree/test_sampler.h
  tests/python/test_multi_target.py
Due: lint-cpp, format-python

Tests.
  src/tree/gpu_hist/sampler.cu
  src/tree/gpu_hist/sampler.cuh
  src/tree/hist/sampler.h
  tests/cpp/tree/gpu_hist/test_sampler.cu
  tests/cpp/tree/test_sampler.h
Due: lint-cpp

consistent double.
  src/tree/gpu_hist/quantiser.cuh
  src/tree/gpu_hist/sampler.cu
Due: lint-cpp

edge cases.
  src/tree/gpu_hist/quantiser.cuh
  src/tree/gpu_hist/sampler.cu
  src/tree/hist/sampler.cc
  src/tree/hist/sampler.h
Due: lint-cpp

Fix.
  src/tree/gpu_hist/sampler.cu
Due: lint-cpp

Fix value gpair.
  src/tree/updater_gpu_hist.cuh
Due: none

[mt] Initial subsample implementation.
  doc/tutorials/multioutput.rst
  python-package/xgboost/testing/multi_target.py
  src/common/linalg_op.h
  src/tree/gpu_hist/gradient_based_sampler.cu
  src/tree/gpu_hist/gradient_based_sampler.cuh
  src/tree/hist/sampler.h
  src/tree/updater_gpu_hist.cu
  src/tree/updater_gpu_hist.cuh
  src/tree/updater_quantile_hist.cc
  tests/cpp/objective/test_quantile_obj.cc
  tests/cpp/tree/gpu_hist/dummy_quantizer.cuh
  tests/cpp/tree/gpu_hist/test_gradient_based_sampler.cu
  tests/cpp/tree/gpu_hist/test_histogram.cu
  tests/cpp/tree/gpu_hist/test_multi_histogram.cu
  tests/cpp/tree/hist/test_sampler.cc
  tests/cpp/tree/test_prediction_cache.cc
  tests/cpp/tree/test_quantile_hist.cc
  tests/cpp/tree/test_sampler.h
  tests/python-gpu/test_gpu_multi_target.py
  tests/python/test_multi_target.py
Due: lint-cpp, format-python

cleanups && edge cases.
  src/tree/gpu_hist/sampler.cu
  src/tree/hist/sampler.cc
Due: lint-cpp

Cleanup.
  tests/cpp/tree/gpu_hist/test_sampler.cu
Due: lint-cpp

Fix document.
  doc/parameter.rst
Due: none

cleanup.
  src/tree/gpu_hist/sampler.cu
  src/tree/hist/sampler.cc
  src/tree/hist/sampler.h
Due: lint-cpp

pre-commit.
  src/common/linalg_op.h
  src/tree/hist/sampler.cc
  src/tree/updater_quantile_hist.cc
  tests/cpp/objective/test_quantile_obj.cc
  tests/cpp/tree/gpu_hist/test_histogram.cu
  tests/cpp/tree/test_prediction_cache.cc
  tests/cpp/tree/test_quantile_hist.cc
  tests/python-gpu/test_gpu_multi_target.py
  tests/python/test_multi_target.py
Due: lint-cpp, format-python

cleanup.
  src/tree/gpu_hist/sampler.cu
Due: lint-cpp

re-weight for leaf weights.
  src/tree/gpu_hist/sampler.cu
  src/tree/gpu_hist/sampler.cuh
  src/tree/updater_gpu_hist.cuh
  tests/cpp/tree/gpu_hist/test_sampler.cu
Due: lint-cpp

Re-calculate the rag and threshold.
  python-package/xgboost/testing/multi_target.py
  src/tree/gpu_hist/sampler.cu
  src/tree/gpu_hist/sampler.cuh
  src/tree/hist/sampler.cc
  src/tree/hist/sampler.h
  src/tree/updater_approx.cc
  src/tree/updater_quantile_hist.cc
  tests/cpp/tree/gpu_hist/test_sampler.cu
  tests/cpp/tree/hist/test_sampler.cc
Due: lint-cpp, format-python

pre commit.
  src/tree/hist/sampler.cc
  tests/cpp/tree/gpu_hist/test_sampler.cu
  tests/cpp/tree/hist/test_sampler.cc
Due: lint-cpp

Notes.
  doc/parameter.rst
Due: none

Rename.
  src/tree/gpu_hist/sampler.cu
  src/tree/gpu_hist/sampler.cuh
  src/tree/updater_gpu_hist.cu
  src/tree/updater_gpu_hist.cuh
  tests/cpp/tree/gpu_hist/test_sampler.cu
Due: lint-cpp

Cleanup.
  src/tree/hist/sampler.cc
  src/tree/hist/sampler.h
  tests/cpp/tree/gpu_hist/test_sampler.cu
  tests/cpp/tree/hist/test_sampler.cc
  tests/cpp/tree/test_sampler.h
Due: lint-cpp

More cleanups.
  src/tree/hist/sampler.cc
  src/tree/hist/sampler.h
  tests/cpp/tree/gpu_hist/test_sampler.cu
  tests/cpp/tree/hist/test_sampler.cc
Due: lint-cpp

fix.
  src/tree/gpu_hist/sampler.cu
Due: lint-cpp

Replace isort/black with ruff
  .pre-commit-config.yaml
Due: none

Copilot review
  .pre-commit-config.yaml
  python-package/pyproject.toml
Due: none

pylint.
  tests/cross-platform/test_cross_platform_model.py
Due: format-python

Note.
  doc/parameter.rst
Due: none

Cleanup.
  src/tree/gpu_hist/quantiser.cuh
  src/tree/gpu_hist/sampler.cu
  src/tree/hist/sampler.cc
  src/tree/hist/sampler.h
  tests/cpp/tree/gpu_hist/test_sampler.cu
Due: lint-cpp

Refactor SHAP dispatch and GPU implementation
  src/interpretability/shap.cc
  src/interpretability/shap.cu
  src/interpretability/shap.h
  src/predictor/gpu_predictor.cu
  tests/cpp/predictor/test_shap.cc
Due: lint-cpp

[ci] Run cross platform tests (#11955)
  .github/workflows/main.yml
  .github/workflows/python_wheels_macos.yml
  ops/conda_env/macos_cpu_test.yml
  tests/cross-platform/test_cross_platform_model.py
Due: format-python

Add optional support to use static omp on macos
  CMakeLists.txt
  cmake/FindOpenMPMacOS.cmake
  ops/pipeline/build-python-wheels-macos.sh
  python-package/packager/build_config.py
  src/common/io.cc
Due: lint-cpp, lint-cmake, format-python

retention.
  .github/workflows/main.yml
Due: none
