Repository dmlc/xgboost: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-cpp, lint-cmake, pylint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: check-yaml
      - id: check-toml
      - id: check-json
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable
      - id: mixed-line-ending
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.14
    hooks:
      - id: ruff-check
        args:
          - --fix
          - --select=I
        files: \.py$
        exclude: (dmlc-core|gputreeshap)
      - id: ruff-format
        files: \.py$
        exclude: (dmlc-core|gputreeshap)
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v21.1.8
    hooks:
      - id: clang-format
        args: [--style=file]
        files: \.(cc|c|cpp|h|cu|hpp)$
        exclude: (dmlc-core|gputreeshap)
  - repo: local
    hooks:
      - id: lint-cpp
        name: C++ lint (cpplint)
        entry: python ops/script/lint_cpp.py
        language: python
        types: [file]
        files: \.(cc|c|cpp|h|cu|hpp)$
        exclude: (dmlc-core|gputreeshap)
        additional_dependencies:
          - cpplint==1.6.1
      - id: lint-cmake
        name: CMake lint (cmakelint)
        entry: cmakelint --linelength=120 --filter=-convention/filename,-package/stdargs,-readability/wonkycase
        language: python
        types: [file]
        files: (CMakeLists\.txt$|^cmake/.*\.cmake$)
        exclude: (dmlc-core|gputreeshap)
        additional_dependencies:
          - cmakelint
      - id: pylint
        name: Python lint (pylint)
        entry: pylint
        language: python
        types: [file]
        files: \.py$
        exclude: (dmlc-core|gputreeshap|^ops/|^tests/)
        args:
          - --rcfile=python-package/pyproject.toml
        additional_dependencies:
          - pylint

Fix AFT metric configuration after reload
  src/metric/survival_metric.cc
  tests/cpp/metric/test_survival_metric.cu
  tests/python/test_survival.py
Due: lint-cpp

Improved QuadratureTreeSHAP on CPU
  src/predictor/interpretability/quadrature.h
  src/predictor/interpretability/shap.cc
  tests/python/test_shap.py
Due: lint-cpp

comments
  src/predictor/interpretability/shap.cc
Due: lint-cpp

[python-package] Do not reset the global NumPy random state in xgboost.cv
  python-package/xgboost/training.py
  tests/python/test_basic.py
Due: pylint

Make the folds comparison in test_cv_folds_follow_seed strict
  tests/python/test_basic.py
Due: none

Cleanup GPU histogram tests. (#12647)
  tests/cpp/histogram_helpers.cu
  tests/cpp/histogram_helpers.h
  tests/cpp/test_histogram_helpers.cu
  tests/cpp/tree/gpu_hist/test_histogram.cu
  tests/cpp/tree/gpu_hist/test_multi_histogram.cu
Due: lint-cpp

cleanups.
  src/tree/gpu_hist/histogram.cu
Due: lint-cpp

Unify and optimize the histogram kernels.
  src/tree/gpu_hist/histogram.cu
  src/tree/gpu_hist/histogram.cuh
  src/tree/updater_gpu_hist.cu
  src/tree/updater_gpu_hist.cuh
  tests/cpp/tree/gpu_hist/test_histogram.cu
Due: lint-cpp

Fix vector leaf by sharing the L2.
  src/tree/gpu_hist/histogram.cu
Due: lint-cpp

Fix all missing.
  src/tree/gpu_hist/histogram.cu
Due: lint-cpp

Pinned copy.
  src/tree/gpu_hist/histogram.cu
Due: lint-cpp

Remove the cost estimation.
  src/tree/gpu_hist/histogram.cu
Due: lint-cpp

Cleanup tests.
  tests/cpp/tree/gpu_hist/test_histogram.cu
Due: lint-cpp

Move the planning to the host.
  src/tree/gpu_hist/histogram.cu
  src/tree/gpu_hist/histogram.cuh
  src/tree/updater_gpu_hist.cu
  src/tree/updater_gpu_hist.cuh
  tests/cpp/tree/gpu_hist/test_histogram.cu
Due: lint-cpp

Cleanup the dispatching.
  src/tree/gpu_hist/histogram.cu
  src/tree/gpu_hist/histogram.cuh
  tests/cpp/tree/gpu_hist/test_histogram.cu
Due: lint-cpp

rename.
  src/tree/gpu_hist/histogram.cu
Due: lint-cpp

record.
  training-comparison.md
Due: none

new results
  benchmark-training-comparison.md
Due: none

launch policy
  histogram-launch-policy-plan.md
  src/tree/gpu_hist/histogram.cu
  src/tree/gpu_hist/histogram.cuh
  tests/cpp/tree/gpu_hist/test_histogram.cu
Due: lint-cpp

remove the segment.
  histogram-launch-policy-plan.md
  src/tree/gpu_hist/histogram.cu
  src/tree/gpu_hist/histogram.cuh
  tests/cpp/tree/gpu_hist/test_histogram.cu
Due: lint-cpp

new doc.
  benchmark-training-comparison.md
  histogram-launch-policy-plan.md
Due: none

Drop old results.
  training-comparison.md
Due: none

Cleanup tests.
  histogram-launch-policy-plan.md
  src/tree/gpu_hist/histogram.cu
  src/tree/gpu_hist/histogram.cuh
  tests/cpp/tree/gpu_hist/test_histogram.cu
Due: lint-cpp

remove old plan.
  histogram-launch-policy-plan.md
Due: none

cleanup tests
  tests/cpp/tree/gpu_hist/test_histogram.cu
Due: lint-cpp

Keep the current path's features in shared memory for GPU SHAP interactions
  src/predictor/interpretability/shap.cu
Due: lint-cpp

Parallelize the final step of GPU SHAP interaction values
  src/predictor/interpretability/shap.cu
Due: lint-cpp

rename.
  training-comparison.md
Due: none

new results.
  training-comparison.md
Due: none

Cleanup the policy.
  src/tree/gpu_hist/histogram.cu
  src/tree/gpu_hist/histogram.cuh
  tests/cpp/tree/gpu_hist/test_histogram.cu
Due: lint-cpp

cleanup results.
  training-comparison.md
Due: none

cleanup.
  src/tree/gpu_hist/histogram.cu
  src/tree/gpu_hist/histogram.cuh
  tests/cpp/tree/gpu_hist/test_histogram.cu
Due: lint-cpp

Cleanups.
  src/common/compressed_iterator.h
  src/data/ellpack_page.cuh
  src/tree/gpu_hist/histogram.cu
  src/tree/gpu_hist/histogram.cuh
Due: lint-cpp

Cleanup.
  src/tree/gpu_hist/histogram.cu
  tests/cpp/tree/gpu_hist/test_histogram.cu
Due: lint-cpp

Cleanup.
  src/tree/gpu_hist/histogram.cu
  src/tree/gpu_hist/histogram.cuh
  tests/cpp/tree/gpu_hist/test_histogram.cu
Due: lint-cpp

remove.
  training-comparison.md
Due: none

lint.
  src/common/compressed_iterator.h
  src/tree/gpu_hist/histogram.cu
Due: lint-cpp

Comments.
  src/tree/gpu_hist/histogram.cu
  src/tree/gpu_hist/histogram.cuh
  tests/cpp/tree/gpu_hist/test_histogram.cu
Due: lint-cpp
