Repository dmlc/xgboost: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-cpp, lint-cmake, pylint

lint-cpp:
  name: C++ lint (cpplint)
  entry: python ops/script/lint_cpp.py
  language: python
  additional_dependencies:
  - cpplint==1.6.1

lint-cmake:
  name: CMake lint (cmakelint)
  entry: cmakelint --linelength=120 --filter=-convention/filename,-package/stdargs,-readability/wonkycase
  language: python
  additional_dependencies:
  - cmakelint

pylint:
  name: Python lint (pylint)
  entry: pylint
  language: python
  args:
  - --rcfile=python-package/pyproject.toml
  additional_dependencies:
  - pylint

Potential fix for pull request finding
  python-package/xgboost/data.py
Due: pylint

lint
  python-package/xgboost/data.py
Due: pylint

Fix missing space in DeprecatedFunc error message. (#12200)
  src/common/error_msg.cc
Due: lint-cpp

Validate unique column names in pandas. (#12199)
  python-package/xgboost/data.py
Due: pylint

Fix SetPrune aliasing
  src/common/quantile.h
  tests/cpp/common/test_quantile.cc
Due: lint-cpp

Use cached entries for in-place SetPrune
  src/common/quantile.h
  tests/cpp/common/test_quantile.cc
Due: lint-cpp

Strengthen zero-cover SHAP test
  tests/cpp/predictor/test_shap.cc
Due: lint-cpp

Simplify GPU QuadratureSHAP launch constants
  src/predictor/interpretability/quadrature.h
  src/predictor/interpretability/shap.cu
Due: lint-cpp

Reduce SetPrune random test matrix
  tests/cpp/common/test_quantile.cc
Due: lint-cpp

Fix GPU SHAP zero-cover test setup
  tests/cpp/predictor/test_shap.cc
Due: lint-cpp

Address GPU SHAP review comments
  doc/contrib/featuremap.rst
  src/predictor/interpretability/shap.cu
Due: lint-cpp

Fix in-place SetPrune aliasing (#12202)
  src/common/quantile.h
  tests/cpp/common/test_quantile.cc
Due: lint-cpp

Align default arch of CTK 12.9 with CTK 13.0.
  cmake/Utils.cmake
Due: lint-cmake

Replace GPU TreeSHAP with QuadratureTreeSHAP (#12192)
  .gitmodules
  cmake/Utils.cmake
  doc/contrib/featuremap.rst
  doc/gpu/index.rst
  python-package/packager/sdist.py
  python-package/xgboost/testing/ordinal.py
  src/predictor/interpretability/quadrature.h
  src/predictor/interpretability/shap.cc
  src/predictor/interpretability/shap.cu
  tests/cpp/predictor/test_shap.cc
  tests/cpp/predictor/test_shap.cu
  tests/cpp/predictor/test_shap.h
Due: lint-cpp, lint-cmake, pylint

Add TreeSHAP documentation references
  doc/contrib/featuremap.rst
  doc/gpu/index.rst
  doc/prediction.rst
Due: none

Add basic interpret SHAP values API
  python-package/xgboost/__init__.py
  python-package/xgboost/interpret.py
  tests/python/test_interpret.py
Due: pylint

Address SHAP docs review comments
  doc/gpu/index.rst
  doc/prediction.rst
Due: none

Add device override to interpret shap values
  python-package/xgboost/interpret.py
  tests/python/test_interpret.py
Due: pylint

Clarify SHAP approximation docs
  doc/prediction.rst
Due: none

Support vector leaf SHAP on CPU
  src/predictor/interpretability/quadrature.h
  src/predictor/interpretability/shap.cc
  tests/cpp/predictor/test_shap.cc
  tests/cpp/predictor/test_shap.cu
  tests/cpp/predictor/test_shap.h
  tests/python/test_multi_target.py
Due: lint-cpp

Align default arch of CTK 12.9 with CTK 13.0. (#12204)
  cmake/Utils.cmake
Due: lint-cmake

Add TreeSHAP references to documentation (#12207)
  doc/contrib/featuremap.rst
  doc/gpu/index.rst
  doc/prediction.rst
Due: none

Support vector leaf SHAP on CPU (#12209)
  src/predictor/interpretability/quadrature.h
  src/predictor/interpretability/shap.cc
  tests/cpp/predictor/test_shap.cc
  tests/cpp/predictor/test_shap.cu
  tests/cpp/predictor/test_shap.h
  tests/python/test_multi_target.py
Due: lint-cpp

Address interpret API review comments
  python-package/xgboost/interpret.py
  tests/python/test_interpret.py
Due: pylint

Support vector leaf SHAP on GPU
  src/predictor/interpretability/shap.cu
  tests/cpp/predictor/test_shap.cc
  tests/cpp/predictor/test_shap.cu
  tests/cpp/predictor/test_shap.h
  tests/python-gpu/test_gpu_multi_target.py
Due: lint-cpp

Use explicit leaf payload for GPU SHAP
  src/predictor/interpretability/shap.cu
Due: lint-cpp

Address GPU SHAP review comments
  src/predictor/interpretability/shap.cu
Due: lint-cpp

Share vector leaf root mean calculation
  src/predictor/interpretability/quadrature.h
  src/predictor/interpretability/shap.cc
  src/predictor/interpretability/shap.cu
Due: lint-cpp

Use conda CUDA host compiler for RMM nightly build
  ops/pipeline/nightly-test-rmm-impl.sh
Due: none

Use conda CUDA host compiler for RMM nightly build (#12212)
  ops/pipeline/nightly-test-rmm-impl.sh
Due: none

Support vector leaf SHAP on GPU (#12210)
  src/predictor/interpretability/quadrature.h
  src/predictor/interpretability/shap.cc
  src/predictor/interpretability/shap.cu
  tests/cpp/predictor/test_shap.cc
  tests/cpp/predictor/test_shap.cu
  tests/cpp/predictor/test_shap.h
  tests/python-gpu/test_gpu_multi_target.py
Due: lint-cpp

Update default tree learning parameters
  R-package/R/xgb.train.R
  R-package/R/xgboost.R
  R-package/man/xgb.params.Rd
  R-package/man/xgboost.Rd
  doc/parameter.rst
  jvm-packages/xgboost4j-spark/src/main/scala/ml/dmlc/xgboost4j/scala/spark/params/TreeBoosterParams.scala
  jvm-packages/xgboost4j-spark/src/main/scala/ml/dmlc/xgboost4j/scala/spark/params/XGBoostParams.scala
  python-package/xgboost/dask/__init__.py
  python-package/xgboost/sklearn.py
  python-package/xgboost/training.py
  src/tree/param.h
  tests/test_distributed/test_with_spark/test_spark.py
Due: lint-cpp, pylint

Pin legacy defaults in affected tests
  R-package/vignettes/xgboostfromJSON.Rmd
  jvm-packages/xgboost4j/src/test/java/ml/dmlc/xgboost4j/java/BoosterImplTest.java
  jvm-packages/xgboost4j/src/test/java/ml/dmlc/xgboost4j/java/DMatrixTest.java
  tests/cpp/plugin/test_sycl_hist_updater.cc
  tests/cpp/tree/hist/test_evaluate_splits.cc
  tests/cpp/tree/test_approx.cc
  tests/cpp/tree/test_refresh.cc
  tests/cpp/tree/test_tree_stat.cc
  tests/python-sycl/test_sycl_training_continuation.py
Due: lint-cpp

Add timeout to RTD trigger request
  ops/pipeline/trigger-rtd-impl.py
Due: none

Stabilize tests for updated tree defaults
  R-package/tests/testthat/test_basic.R
  jvm-packages/xgboost4j/src/test/scala/ml/dmlc/xgboost4j/scala/ScalaBoosterImplSuite.scala
  python-package/xgboost/testing/__init__.py
  python-package/xgboost/testing/callbacks.py
  python-package/xgboost/testing/intercept.py
  python-package/xgboost/testing/metrics.py
  python-package/xgboost/testing/multi_target.py
  python-package/xgboost/testing/predict.py
  python-package/xgboost/testing/updater.py
  tests/cpp/plugin/test_sycl_hist_updater.cc
  tests/cpp/tree/test_gpu_hist.cu
  tests/python/test_basic_models.py
  tests/python/test_callback.py
  tests/python/test_early_stopping.py
  tests/python/test_multi_target.py
  tests/python/test_training_continuation.py
  tests/python/test_tree_regularization.py
Due: lint-cpp, pylint

Pin legacy defaults in remaining CI tests
  R-package/tests/testthat/test_basic.R
  R-package/tests/testthat/test_callbacks.R
  R-package/tests/testthat/test_custom_objective.R
  jvm-packages/xgboost4j-spark/src/test/scala/ml/dmlc/xgboost4j/scala/spark/XGBoostClassifierSuite.scala
  jvm-packages/xgboost4j-spark/src/test/scala/ml/dmlc/xgboost4j/scala/spark/XGBoostRegressorSuite.scala
  tests/cpp/plugin/test_sycl_hist_updater.cc
  tests/cpp/tree/test_prediction_cache.h
Due: lint-cpp

Add doc tests for embedded examples.
  .github/workflows/misc.yml
  R-package/tests/helper_scripts/install_deps.R
  doc/conf.py
  doc/tutorials/advanced_custom_obj.rst
  doc/xgboost_doc.yml
  doc/xgboost_doc_doctest.py
  ops/pipeline/test-docs.sh
Due: pylint

note.
  doc/contrib/docs.rst
Due: none

lint.
  doc/xgboost_doc_doctest.py
Due: pylint

lint.
  doc/xgboost_doc_doctest.py
  ops/pipeline/test-docs.sh
Due: pylint

Path conditions:
  lint-cpp: any of: \.(cc|c|cpp|h|cu|hpp)$, but not: (dmlc-core|gputreeshap)
  lint-cmake: any of: (CMakeLists\.txt$|^cmake/.*\.cmake$), but not: (dmlc-core|gputreeshap)
  pylint: any of: \.py$, but not: (dmlc-core|gputreeshap|^ops/|^tests/)
