Repository dmlc/xgboost: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-cpp, lint-cmake, pylint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: check-yaml
      - id: check-toml
      - id: check-json
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable
      - id: mixed-line-ending
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.14
    hooks:
      - id: ruff-check
        args:
          - --fix
          - --select=I
        files: \.py$
        exclude: (dmlc-core|gputreeshap)
      - id: ruff-format
        files: \.py$
        exclude: (dmlc-core|gputreeshap)
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v21.1.8
    hooks:
      - id: clang-format
        args: [--style=file]
        files: \.(cc|c|cpp|h|cu|hpp)$
        exclude: (dmlc-core|gputreeshap)
  - repo: local
    hooks:
      - id: lint-cpp
        name: C++ lint (cpplint)
        entry: python ops/script/lint_cpp.py
        language: python
        types: [file]
        files: \.(cc|c|cpp|h|cu|hpp)$
        exclude: (dmlc-core|gputreeshap)
        additional_dependencies:
          - cpplint==1.6.1
      - id: lint-cmake
        name: CMake lint (cmakelint)
        entry: cmakelint --linelength=120 --filter=-convention/filename,-package/stdargs,-readability/wonkycase
        language: python
        types: [file]
        files: (CMakeLists\.txt$|^cmake/.*\.cmake$)
        exclude: (dmlc-core|gputreeshap)
        additional_dependencies:
          - cmakelint
      - id: pylint
        name: Python lint (pylint)
        entry: pylint
        language: python
        types: [file]
        files: \.py$
        exclude: (dmlc-core|gputreeshap|^ops/|^tests/)
        args:
          - --rcfile=python-package/pyproject.toml
        additional_dependencies:
          - pylint

[python-package] Reject numpy masked arrays instead of silently corrupting data
  python-package/xgboost/data.py
  tests/python/test_dmatrix.py
  tests/python/test_quantile_dmatrix.py
Due: pylint

[pyspark] Fix empty-partition handling in sparse DMatrix construction
  python-package/xgboost/spark/data.py
  tests/test_distributed/test_with_spark/test_data.py
Due: pylint

[tests] Don't read reserved vector storage in the partitioner overrun test
  tests/cpp/tree/test_quantile_hist.cc
Due: lint-cpp

Include <exception> in span.h for std::terminate
  include/xgboost/span.h
Due: lint-cpp

test: fix exact split kRtEps gate test
  doc/parameter.rst
  doc/tutorials/multioutput.rst
  tests/cpp/tree/hist/test_exact_split.cc
Due: lint-cpp

fix(tree): select exact multinomial mode by explicit request, not sidecar presence
  include/xgboost/gradient.h
  src/learner.cc
  src/objective/multiclass_obj.cc
  src/tree/hist/exact_builder.h
  src/tree/updater_quantile_hist.cc
Due: lint-cpp

fix(tree): adapt exact builder to the renamed MultiTargetTree expand/finalize API
  src/tree/hist/exact_builder.h
  src/tree/updater_quantile_hist.cc
Due: lint-cpp

fix(docs,test): correct the K=2 regularizer reduction to the gauge actually shipped
  research/design_exact_leaf_objective.md
  tests/cpp/tree/hist/test_exact_evaluator.cc
Due: lint-cpp

test: fix exact-mode test fixtures for the explicit mode-request flag
  tests/cpp/test_exact_multinomial_learner.cc
  tests/cpp/tree/hist/test_exact_builder.cc
  tests/cpp/tree/hist/test_exact_distributed.cc
Due: lint-cpp

test: add distributed empty-worker regression for multi_hessian=exact
  tests/cpp/test_exact_multinomial_learner.cc
Due: lint-cpp

fix(gbm): align the scalar-leaf exact-Hessian guard with the explicit request flag
  src/gbm/gbtree.cc
Due: lint-cpp

fix(tree): make the exact builder honour max_cached_hist_node
  src/tree/hist/exact_builder.h
  tests/cpp/tree/hist/test_exact_builder.cc
Due: lint-cpp

perf(tree): parallelize the exact histogram thread-buffer zero and reduction
  src/tree/hist/exact_histogram.h
Due: lint-cpp

research: add Phase 3D bounded sanity sweep for exact multinomial Hessian
  research/.gitignore
  research/benchmark_phase3d_evidence.py
Due: pylint

chore(research): remove development-only research material per the documented PR scope
  research/EXACT_HESSIAN_STATUS.md
  research/README.md
  research/design_exact_leaf_objective.md
  research/exact_multiclass_hessian.py
  research/multinomial.py
  research/reproduce_issue_12278.py
  research/validate_xgboost_exact.py
  tests/cpp/test_exact_multinomial_learner.cc
  tests/cpp/tree/hist/test_exact_evaluator.cc
Due: lint-cpp, pylint

docs(research): write final design summary for the exact multinomial Hessian PR
  research/FINAL_DESIGN_SUMMARY.md
Due: none

[TEST][DOC] Harden exact Hessian validation
  doc/tutorials/multioutput.rst
  research/EXACT_HESSIAN_STATUS.md
  research/retracted/README.md
  tests/cpp/tree/hist/test_exact_histogram.cc
Due: lint-cpp

Respect the context device for continued-training prediction (#12634)
  src/gbm/gbtree.cc
  src/predictor/gpu_predictor.cu
  tests/cpp/gbm/test_gbtree.cc
  tests/cpp/predictor/test_predictor.cc
Due: lint-cpp

Use batched histogram build API for single target updater. (#12635)
  src/common/device_helpers.cuh
  src/tree/gpu_hist/histogram.cu
  src/tree/gpu_hist/histogram.cuh
  src/tree/updater_gpu_hist.cu
  src/tree/updater_gpu_hist.cuh
  tests/cpp/tree/gpu_hist/test_histogram.cu
  tests/cpp/tree/gpu_hist/test_multi_histogram.cu
Due: lint-cpp

use isTRUE() for robust comparison
  R-package/R/callbacks.R
Due: none

add test for early stopping NaNs
  R-package/tests/testthat/test_callbacks.R
Due: none

Unify and optimize the histogram kernels.
  src/tree/gpu_hist/histogram.cu
  src/tree/gpu_hist/histogram.cuh
  src/tree/updater_gpu_hist.cu
  src/tree/updater_gpu_hist.cuh
  tests/cpp/histogram_helpers.cu
  tests/cpp/histogram_helpers.h
  tests/cpp/test_histogram_helpers.cu
  tests/cpp/tree/gpu_hist/test_histogram.cu
  tests/cpp/tree/gpu_hist/test_multi_histogram.cu
Due: lint-cpp

Fix vector leaf by sharing the L2.
  src/tree/gpu_hist/histogram.cu
Due: lint-cpp

Remove the cost estimation.
  src/tree/gpu_hist/histogram.cu
Due: lint-cpp

Cleanup the dispatching.
  src/tree/gpu_hist/histogram.cu
  src/tree/gpu_hist/histogram.cuh
  tests/cpp/tree/gpu_hist/test_histogram.cu
Due: lint-cpp

cleanups.
  src/tree/gpu_hist/histogram.cu
Due: lint-cpp

Fix all missing.
  src/tree/gpu_hist/histogram.cu
Due: lint-cpp

Pinned copy.
  src/tree/gpu_hist/histogram.cu
Due: lint-cpp

rename.
  src/tree/gpu_hist/histogram.cu
Due: lint-cpp

Move the planning to the host.
  src/tree/gpu_hist/histogram.cu
  src/tree/gpu_hist/histogram.cuh
  src/tree/updater_gpu_hist.cu
  src/tree/updater_gpu_hist.cuh
  tests/cpp/tree/gpu_hist/test_histogram.cu
Due: lint-cpp

[R] Fix verbose early stopping best iteration output
  R-package/R/callbacks.R
  R-package/tests/testthat/test_callbacks.R
Due: none

Cleanup tests.
  tests/cpp/tree/gpu_hist/test_histogram.cu
Due: lint-cpp

Cleanup GPU histogram tests.
  tests/cpp/histogram_helpers.cu
  tests/cpp/histogram_helpers.h
  tests/cpp/test_histogram_helpers.cu
  tests/cpp/tree/gpu_hist/test_histogram.cu
  tests/cpp/tree/gpu_hist/test_multi_histogram.cu
Due: lint-cpp

[python-package] Validate masked arrays during NumPy dtype normalization
  python-package/xgboost/_data_utils.py
  python-package/xgboost/data.py
  tests/python/test_dmatrix.py
  tests/python/test_predict.py
  tests/python/test_quantile_dmatrix.py
Due: pylint

Don't read reserved vector storage in the partitioner overrun test (#12637)
  tests/cpp/tree/test_quantile_hist.cc
Due: lint-cpp

Apply clang-format to span.h and silence cpplint on the array-pointer conversion
  include/xgboost/span.h
Due: lint-cpp

[python-package] Reject numpy masked arrays. (#12636)
  python-package/xgboost/_data_utils.py
  python-package/xgboost/data.py
  tests/python/test_dmatrix.py
  tests/python/test_predict.py
  tests/python/test_quantile_dmatrix.py
Due: pylint

Include <exception> in span.h for std::terminate (#12638)
  include/xgboost/span.h
Due: lint-cpp

Fix cyclic garbage in array interface conversion
  python-package/xgboost/_data_utils.py
  tests/python/test_data_utils.py
Due: pylint
