Repository dmlc/xgboost: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-cpp, lint-cmake, pylint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: check-yaml
      - id: check-toml
      - id: check-json
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable
      - id: mixed-line-ending
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.14
    hooks:
      - id: ruff-check
        args:
          - --fix
          - --select=I
        files: \.py$
        exclude: (dmlc-core|gputreeshap)
      - id: ruff-format
        files: \.py$
        exclude: (dmlc-core|gputreeshap)
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v21.1.8
    hooks:
      - id: clang-format
        args: [--style=file]
        files: \.(cc|c|cpp|h|cu|hpp)$
        exclude: (dmlc-core|gputreeshap)
  - repo: local
    hooks:
      - id: lint-cpp
        name: C++ lint (cpplint)
        entry: python ops/script/lint_cpp.py
        language: python
        types: [file]
        files: \.(cc|c|cpp|h|cu|hpp)$
        exclude: (dmlc-core|gputreeshap)
        additional_dependencies:
          - cpplint==1.6.1
      - id: lint-cmake
        name: CMake lint (cmakelint)
        entry: cmakelint --linelength=120 --filter=-convention/filename,-package/stdargs,-readability/wonkycase
        language: python
        types: [file]
        files: (CMakeLists\.txt$|^cmake/.*\.cmake$)
        exclude: (dmlc-core|gputreeshap)
        additional_dependencies:
          - cmakelint
      - id: pylint
        name: Python lint (pylint)
        entry: pylint
        language: python
        types: [file]
        files: \.py$
        exclude: (dmlc-core|gputreeshap|^ops/|^tests/)
        args:
          - --rcfile=python-package/pyproject.toml
        additional_dependencies:
          - pylint

Separate learner model inputs from model state (#12443)
  include/xgboost/gbm.h
  include/xgboost/learner.h
  jvm-packages/xgboost4j/src/main/java/ml/dmlc/xgboost4j/java/Booster.java
  jvm-packages/xgboost4j/src/main/java/ml/dmlc/xgboost4j/java/XGBoostJNI.java
  jvm-packages/xgboost4j/src/native/xgboost4j.cpp
  jvm-packages/xgboost4j/src/native/xgboost4j.h
  plugin/sycl/predictor/predictor.cc
  src/gbm/gblinear.cc
  src/gbm/gblinear_model.h
  src/gbm/gbm.cc
  src/gbm/gbtree.cc
  src/gbm/gbtree.h
  src/gbm/gbtree_model.cc
  src/gbm/gbtree_model.h
  src/learner.cc
  src/linear/coordinate_common.h
  src/linear/updater_coordinate.cc
  src/linear/updater_gpu_coordinate.cu
  src/linear/updater_shotgun.cc
  src/predictor/cpu_predictor.cc
  src/predictor/gbtree_view.h
  src/predictor/gpu_predictor.cu
  src/predictor/interpretability/shap.cc
  src/predictor/interpretability/shap.cu
  src/predictor/predictor.cc
  src/predictor/utils.h
  tests/cpp/gbm/test_gblinear.cc
  tests/cpp/gbm/test_gbtree.cc
  tests/cpp/helpers.cc
  tests/cpp/helpers.h
  tests/cpp/linear/test_linear.cc
  tests/cpp/linear/test_linear.cu
  tests/cpp/predictor/test_cpu_predictor.cc
  tests/cpp/predictor/test_gpu_predictor.cu
  tests/cpp/predictor/test_predictor.cc
  tests/cpp/predictor/test_predictor.h
  tests/cpp/predictor/test_shap.cc
  tests/cpp/test_learner.cc
  tests/cpp/test_learner.cu
  tests/cpp/test_multi_target.cc
Due: lint-cpp

Initialize learner model state from training data
  include/xgboost/learner.h
  src/gbm/gblinear.cc
  src/learner.cc
  src/predictor/interpretability/shap.cu
  tests/cpp/gbm/test_gbtree.cc
  tests/cpp/test_learner.cc
Due: lint-cpp

[R] Replace autotools with CMake. (#12416)
  .github/workflows/main.yml
  .github/workflows/misc.yml
  .github/workflows/r_nold.yml
  .github/workflows/r_tests.yml
  CMakeLists.txt
  R-package/.Rbuildignore
  R-package/CMakeLists.txt
  R-package/DESCRIPTION
  R-package/bootstrap.R
  R-package/cleanup
  R-package/cleanup.win
  R-package/configure
  R-package/configure.ac
  R-package/configure.win
  R-package/inst/make-r-def.R
  R-package/remove_warning_suppression_pragma.sh
  R-package/src/Makevars.in
  R-package/src/Makevars.win.in
  R-package/src/config.h.in
  R-package/src/xgboost-win.def
  R-package/tools/cmake-source-files
  amalgamation/dmlc-minimum0.cc
  cmake/FindOpenMPMacOS.cmake
  cmake/RPackageInstall.cmake.in
  cmake/RPackageInstallTargetSetup.cmake
  cmake/modules/FindLibR.cmake
  doc/build.rst
  doc/contrib/docs.rst
  jvm-packages/CMakeLists.txt
  ops/pipeline/build-gpu-rpkg.sh
  ops/pipeline/build-r-docs.sh
  ops/pipeline/test-docs.sh
  ops/script/change_version.py
  ops/script/setup_r_sccache.R
  ops/script/setup_r_sccache.sh
  ops/script/test_r_package.py
Due: lint-cpp, lint-cmake

Remove unbiased LambdaRank
  R-package/R/xgb.train.R
  R-package/man/xgb.params.Rd
  demo/guide-python/learning_to_rank.py
  doc/parameter.rst
  doc/tutorials/learning_to_rank.rst
  python-package/xgboost/testing/params.py
  src/common/ranking_utils.h
  src/objective/lambdarank_obj.cc
  src/objective/lambdarank_obj.cu
  src/objective/lambdarank_obj.cuh
  src/objective/lambdarank_obj.h
  tests/cpp/objective/test_lambdarank_obj.cc
  tests/cpp/objective/test_lambdarank_obj.cu
  tests/cpp/objective/test_lambdarank_obj.h
  tests/cpp/plugin/test_sycl_lambdarank_obj.cc
  tests/python/test_ranking.py
Due: lint-cpp, pylint

Remove unbiased LambdaRank Spark parameter
  jvm-packages/xgboost4j-spark/src/main/scala/ml/dmlc/xgboost4j/scala/spark/params/LearningTaskParams.scala
  jvm-packages/xgboost4j-spark/src/main/scala/ml/dmlc/xgboost4j/scala/spark/params/XGBoostParams.scala
Due: none

Split AFT and expectile objective kernels (#12447)
  src/objective/aft_obj.cc
  src/objective/aft_obj.cu
  src/objective/aft_obj.h
  src/objective/expectile_obj.cc
  src/objective/expectile_obj.cu
  src/objective/expectile_obj.h
  src/objective/objective.cc
  src/objective/regression_obj.cu
Due: lint-cpp

Fix model slicing with category container.
  src/gbm/gbtree.cc
  tests/python/test_ordinal.py
Due: lint-cpp

copy is ref
  src/data/cat_container.h
Due: lint-cpp

lint.
  src/data/cat_container.h
Due: lint-cpp

Make `sklearn._SklObjWProto` runtime checkable (#12454)
  python-package/xgboost/sklearn.py
Due: pylint

[doc] Update staled document about multi output.
  doc/parameter.rst
  doc/tutorials/advanced_custom_obj.rst
  doc/tutorials/intercept.rst
Due: none

[doc] Remove ray tutorial.
  doc/tutorials/index.rst
  doc/tutorials/ray.rst
Due: none

Fix model slicing with category container. (#12462)
  src/data/cat_container.h
  src/gbm/gbtree.cc
  tests/python/test_ordinal.py
Due: lint-cpp

fixes.
  doc/tutorials/advanced_custom_obj.rst
Due: none

lint.
  doc/tutorials/index.rst
Due: none

[backport] Fix model slicing with category container. (#12462)
  src/data/cat_container.h
  src/gbm/gbtree.cc
  tests/python/test_ordinal.py
Due: lint-cpp

[backport][jvm] Fix batch predict for SparseVector features (#12347)
  jvm-packages/xgboost4j-spark/src/main/scala/ml/dmlc/xgboost4j/scala/spark/Utils.scala
  jvm-packages/xgboost4j-spark/src/test/scala/ml/dmlc/xgboost4j/scala/spark/XGBoostEstimatorSuite.scala
  jvm-packages/xgboost4j/src/test/java/ml/dmlc/xgboost4j/java/DMatrixTest.java
Due: none

Freeze CPP test compiler version.
  ops/conda_env/cpp_test.yml
Due: none

[backport][jvm] Fix batch predict for SparseVector features (#12347) (#12466)
  jvm-packages/xgboost4j-spark/src/main/scala/ml/dmlc/xgboost4j/scala/spark/Utils.scala
  jvm-packages/xgboost4j-spark/src/test/scala/ml/dmlc/xgboost4j/scala/spark/XGBoostEstimatorSuite.scala
  jvm-packages/xgboost4j/src/test/java/ml/dmlc/xgboost4j/java/DMatrixTest.java
Due: none

[backport] Fix model slicing with category container. (#12462) (#12465)
  src/data/cat_container.h
  src/gbm/gbtree.cc
  tests/python/test_ordinal.py
Due: lint-cpp

Bump version to 3.4.1.
  CMakeLists.txt
  R-package/DESCRIPTION
  R-package/configure
  R-package/configure.ac
  include/xgboost/version_config.h
  jvm-packages/pom.xml
  jvm-packages/xgboost4j-example/pom.xml
  jvm-packages/xgboost4j-flink/pom.xml
  jvm-packages/xgboost4j-spark-gpu/pom.xml
  jvm-packages/xgboost4j-spark/pom.xml
  jvm-packages/xgboost4j/pom.xml
  python-package/pyproject.toml
  python-package/pyproject.toml.in
  python-package/pyproject.toml.stub.in
  python-package/xgboost/VERSION
Due: lint-cpp, lint-cmake

3.4.1 news.
  doc/changes/v3.4.0.rst
Due: none

lint.
  R-package/configure
Due: none

3.4.1 news. (#12469)
  doc/changes/v3.4.0.rst
Due: none

Bump version to 3.4.1. (#12468)
  CMakeLists.txt
  R-package/DESCRIPTION
  R-package/configure
  R-package/configure.ac
  include/xgboost/version_config.h
  jvm-packages/pom.xml
  jvm-packages/xgboost4j-example/pom.xml
  jvm-packages/xgboost4j-flink/pom.xml
  jvm-packages/xgboost4j-spark-gpu/pom.xml
  jvm-packages/xgboost4j-spark/pom.xml
  jvm-packages/xgboost4j/pom.xml
  python-package/pyproject.toml
  python-package/pyproject.toml.in
  python-package/pyproject.toml.stub.in
  python-package/xgboost/VERSION
Due: lint-cpp, lint-cmake

[Forward] 3.4.1 news. (#12469)
  doc/changes/v3.4.0.rst
Due: none

[doc] Remove ray tutorial. (#12464)
  doc/tutorials/index.rst
  doc/tutorials/ray.rst
Due: none

update.
  ops/conda_env/cpp_test.yml
Due: none

[Forward] 3.4.1 news. (#12469) (#12470)
  doc/changes/v3.4.0.rst
Due: none

Freeze CPP test compiler version. (#12467)
  ops/conda_env/cpp_test.yml
Due: none

[python] Fix XGBClassifier.predict_proba for binary:logitraw
  python-package/xgboost/sklearn.py
  tests/python/test_with_sklearn.py
Due: pylint

docs: add Kaggle Playground S5E6 1st place XGBoost solution
  demo/README.md
Due: none

Fix `XGBClassifier.predict_proba` for `binary:logitraw`. (#12472)
  python-package/xgboost/sklearn.py
  tests/python/test_with_sklearn.py
Due: pylint

Deprecate the `logitraw` objective.
  doc/parameter.rst
  src/objective/logistic_obj.cc
Due: lint-cpp

Test multi-thread cupy on Windows.
  tests/python-gpu/test_gpu_prediction.py
Due: none

fmt.
  src/objective/logistic_obj.cc
Due: lint-cpp

Remove the deprecated feature weights from the `fit` method.
  python-package/xgboost/dask/__init__.py
  python-package/xgboost/sklearn.py
  tests/python/test_with_sklearn.py
Due: pylint

[dask] Remove deprecated scheduler addr option.
  doc/tutorials/dask.rst
  python-package/xgboost/dask/__init__.py
  python-package/xgboost/dask/utils.py
  tests/test_distributed/test_with_dask/test_with_dask.py
Due: pylint

Use default intercept when resetting empty boosters
  src/learner.cc
  tests/cpp/test_learner.cc
Due: lint-cpp

[dask] Remove deprecated scheduler addr option. (#12480)
  doc/tutorials/dask.rst
  python-package/xgboost/dask/__init__.py
  python-package/xgboost/dask/utils.py
  tests/test_distributed/test_with_dask/test_with_dask.py
Due: pylint
