Repository dmlc/xgboost: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-cpp, lint-cmake, pylint

lint-cpp:
  name: C++ lint (cpplint)
  entry: python ops/script/lint_cpp.py
  language: python
  additional_dependencies:
  - cpplint==1.6.1

lint-cmake:
  name: CMake lint (cmakelint)
  entry: cmakelint --linelength=120 --filter=-convention/filename,-package/stdargs,-readability/wonkycase
  language: python
  additional_dependencies:
  - cmakelint

pylint:
  name: Python lint (pylint)
  entry: pylint
  language: python
  args:
  - --rcfile=python-package/pyproject.toml
  additional_dependencies:
  - pylint

more.
  src/collective/allreduce.h
  src/collective/coll.cu
  src/common/cuda_stream.h
  tests/cpp/collective/test_allreduce_v.cu
Due: lint-cpp

lint.
  plugin/federated/federated_coll.cu
  plugin/federated/federated_coll.h
  src/collective/coll.cc
  src/collective/comm.cu
  tests/cpp/collective/test_allgather.cc
  tests/cpp/collective/test_allreduce.cc
  tests/cpp/plugin/federated/test_federated_coll.cc
  tests/cpp/plugin/federated/test_federated_coll.cu
Due: lint-cpp

fixes.
  src/collective/comm.cu
  src/collective/comm.cuh
  src/common/cuda_stream.h
  tests/cpp/plugin/federated/test_federated_coll.cu
Due: lint-cpp

Revert CI tag.
  ops/pipeline/get-image-tag.sh
Due: none

Restore device.
  src/collective/comm.cu
  src/common/cuda_stream.cc
  src/common/cuda_stream.h
Due: lint-cpp

cpu build.
  src/common/cuda_stream.cc
Due: lint-cpp

Log clang CUDA configure failures
  ops/pipeline/build-cuda-clang.sh
Due: none

Set CUDA standard flag for clang CI detection
  ops/pipeline/build-cuda-clang.sh
Due: none

Support clang as CUDA compiler
  CMakeLists.txt
  cmake/Utils.cmake
  include/xgboost/byteswap.h
  src/common/bitfield.h
  src/common/quantile.cu
Due: lint-cpp, lint-cmake

Install clang tools for CUDA offload linking
  ops/pipeline/build-cuda-clang.sh
Due: none

Use newer CMake for clang CUDA CI
  ops/pipeline/build-cuda-clang.sh
  ops/pipeline/run-clang-tidy-clang-cuda.sh
Due: none

Set CUDA toolkit path for clang CI
  ops/pipeline/build-cuda-clang.sh
Due: none

Force clang CUDA arch in CI configure
  ops/pipeline/build-cuda-clang.sh
Due: none

Fix clang CUDA CI follow-ups
  .github/workflows/lint.yml
  CMakeLists.txt
  ops/pipeline/build-cuda-clang.sh
  ops/pipeline/run-clang-tidy-clang-cuda.sh
  src/common/bitfield.h
Due: lint-cpp, lint-cmake

Add clang-CUDA CI and clang-tidy smoke checks
  .github/workflows/lint.yml
  .github/workflows/main.yml
  ops/pipeline/build-cuda-clang.sh
  ops/pipeline/run-clang-tidy-clang-cuda.sh
Due: none

Run clang-tidy over clang CUDA compile database
  .clang-tidy
  .github/workflows/lint.yml
  ops/pipeline/run-clang-tidy-clang-cuda.sh
Due: none

Improve clang CUDA tool checks
  ops/pipeline/build-cuda-clang.sh
  ops/pipeline/run-clang-tidy-clang-cuda.sh
Due: none

Disable NCCL in clang CUDA CI
  ops/pipeline/build-cuda-clang.sh
Due: none

Clean up clang CUDA CI build helper
  ops/pipeline/build-cuda-clang.sh
Due: none

Use shared CI configure workflow for clang tidy
  .github/workflows/lint.yml
Due: none

Install libuv headers for R CI
  .github/workflows/r_tests.yml
Due: none

Enable warnings as errors for clang CUDA build
  cmake/Utils.cmake
  include/xgboost/host_device_vector.h
  ops/pipeline/build-cuda-clang.sh
  src/common/algorithm.cuh
  src/common/device_compression.h
  src/common/device_helpers.cuh
  src/common/hist_util.cuh
  src/common/host_device_vector.cu
  src/common/quantile.cu
  src/data/columnar.h
  src/data/ellpack_page.cu
  src/data/ellpack_page.cuh
  src/data/ellpack_page_source.cu
  src/data/extmem_quantile_dmatrix.cu
  src/data/gradient_index.cu
  src/data/sparse_page_dmatrix.cu
  src/metric/auc.cu
  src/objective/lambdarank_obj.cu
  src/predictor/gpu_data_accessor.cuh
  src/predictor/gpu_predictor.cu
  src/predictor/interpretability/shap.cu
  src/tree/constraints.cu
  src/tree/gpu_hist/evaluate_splits.cu
  src/tree/gpu_hist/histogram.cu
  src/tree/gpu_hist/histogram.cuh
  src/tree/gpu_hist/multi_evaluate_splits.cu
  src/tree/gpu_hist/quantiser.cu
  src/tree/updater_gpu_hist.cu
Due: lint-cpp, lint-cmake

Leave clang CUDA warnings as warnings
  ops/pipeline/build-cuda-clang.sh
Due: none

Drop clang CUDA warning suppressions
  cmake/Utils.cmake
  ops/pipeline/build-cuda-clang.sh
Due: lint-cmake

Document clang-tidy flow and drop legacy CI job
  .github/workflows/lint.yml
  doc/contrib/coding_guide.rst
Due: none

Set device in test helper.
  tests/cpp/helpers.cc
  tests/cpp/helpers.h
Due: lint-cpp

format.
  tests/cpp/helpers.h
Due: lint-cpp

Replace CPU TreeSHAP with fixed quadrature SHAP
  src/predictor/cpu_predictor.cc
  src/predictor/interpretability/quadrature.h
  src/predictor/interpretability/shap.cc
  src/predictor/interpretability/shap.h
  tests/cpp/predictor/test_shap.cc
Due: lint-cpp

Clean extracted CPU quadrature SHAP branch
  src/predictor/interpretability/shap.cc
  src/predictor/interpretability/shap.h
  tests/cpp/predictor/test_shap.cc
Due: lint-cpp

Finalize QuadratureTreeSHAP extraction
  src/predictor/interpretability/shap.cc
  src/predictor/treeshap.cc
  src/predictor/treeshap.h
Due: lint-cpp

Drop unnecessary CPU predictor extraction changes
  src/predictor/cpu_predictor.cc
Due: lint-cpp

Add SHAP efficiency error experiment
  experiments/2026-04-21-fashion-mnist-efficiency-sweep/README.md
  experiments/2026-04-21-fashion-mnist-efficiency-sweep/benchmark_fashion_mnist_efficiency.py
  src/predictor/cpu_predictor.cc
  src/predictor/interpretability/shap.cc
Due: lint-cpp, pylint

Fix quadrature SHAP CI build issues
  R-package/src/Makevars.in
  R-package/src/Makevars.win.in
  src/predictor/interpretability/quadrature.h
  src/predictor/interpretability/shap.cc
Due: lint-cpp

Add guard to global config test.
  tests/cpp/c_api/test_c_api.cc
Due: lint-cpp

Guard quadrature SHAP cover validation
  src/predictor/interpretability/shap.cc
  tests/cpp/predictor/test_shap.cc
Due: lint-cpp

Initial idea to add support on termux.
  python-package/packager/nativelib.py
  python-package/xgboost/libpath.py
  python-package/xgboost/testing/__init__.py
Due: pylint

Fix QuantileDMatrix OOM with sparse polars Categorical codes
  include/xgboost/data.h
  ops/conda_env/aarch64_test.yml
  ops/conda_env/macos_cpu_test.yml
  ops/conda_env/win64_test.yml
  src/common/categorical.h
  src/common/quantile.cc
  src/common/quantile.cu
  src/data/adapter.cc
  src/data/adapter.h
  src/data/cat_container.cc
  src/data/cat_container.cu
  src/data/cat_container.h
  src/data/cat_container_hash.cuh
  src/data/cat_container_hash.h
  src/data/data.cc
  src/data/device_adapter.cu
  src/data/device_adapter.cuh
  src/data/extmem_quantile_dmatrix.cc
  src/data/gradient_index.cc
  src/data/gradient_index.h
  src/data/iterative_dmatrix.cc
  src/data/proxy_dmatrix.cc
  src/data/proxy_dmatrix.cu
  src/data/proxy_dmatrix.cuh
  src/data/proxy_dmatrix.h
  src/data/quantile_dmatrix.cc
  src/data/quantile_dmatrix.cu
  src/data/quantile_dmatrix.h
  src/tree/hist/evaluate_splits.h
  src/tree/updater_gpu_hist.cu
  tests/cpp/common/test_quantile.cc
  tests/cpp/data/test_cat_container.cc
  tests/python-gpu/test_gpu_with_polars.py
  tests/python/test_with_polars.py
  tests/test_distributed/test_gpu_with_dask/test_gpu_with_dask.py
  tests/test_distributed/test_with_dask/test_with_dask.py
Due: lint-cpp

fix: align default verbose behavior between XGBClassifier and XGBRegressor fit()
  python-package/xgboost/sklearn.py
  tests/python/test_with_sklearn.py
Due: pylint

Replace GPU TreeSHAP with QuadratureTreeSHAP
  .gitmodules
  cmake/Utils.cmake
  doc/contrib/featuremap.rst
  doc/gpu/index.rst
  python-package/packager/sdist.py
  src/predictor/interpretability/quadrature.h
  src/predictor/interpretability/shap.cu
Due: lint-cpp, lint-cmake, pylint

Path conditions:
  lint-cpp: any of: \.(cc|c|cpp|h|cu|hpp)$, but not: (dmlc-core|gputreeshap)
  lint-cmake: any of: (CMakeLists\.txt$|^cmake/.*\.cmake$), but not: (dmlc-core|gputreeshap)
  pylint: any of: \.py$, but not: (dmlc-core|gputreeshap|^ops/|^tests/)
