Repository dmlc/xgboost: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-cpp, lint-cmake, pylint

lint-cpp:
  name: C++ lint (cpplint)
  entry: python ops/script/lint_cpp.py
  language: python
  additional_dependencies:
  - cpplint==1.6.1

lint-cmake:
  name: CMake lint (cmakelint)
  entry: cmakelint --linelength=120 --filter=-convention/filename,-package/stdargs,-readability/wonkycase
  language: python
  additional_dependencies:
  - cmakelint

pylint:
  name: Python lint (pylint)
  entry: pylint
  language: python
  args:
  - --rcfile=python-package/pyproject.toml
  additional_dependencies:
  - pylint

Move tree weights into GBTreeModel
  include/xgboost/predictor.h
  plugin/sycl/predictor/predictor.cc
  src/gbm/gbtree.cc
  src/gbm/gbtree.h
  src/gbm/gbtree_model.cc
  src/gbm/gbtree_model.h
  src/predictor/cpu_predictor.cc
  src/predictor/gpu_predictor.cu
  tests/cpp/gbm/test_gbtree.cc
  tests/cpp/predictor/test_predictor.cc
Due: lint-cpp

work on cv.
  src/cross_validate.cc
  src/tree/updater_gpu_cv_hist.cu
Due: lint-cpp

fixes.
  src/cross_validate.cc
Due: lint-cpp

get grad.
  src/cross_validate.cc
Due: lint-cpp

ctor.
  python-package/xgboost/_cross_validation.py
  src/cross_validate.cc
Due: lint-cpp, pylint

Work on folds.
  src/cross_validate.cc
  src/cross_validate/kfolds.cc
  src/cross_validate/kfolds.h
Due: lint-cpp

max bin boundary.
  python-package/xgboost/testing/updater.py
  src/tree/gpu_hist/evaluate_splits.cuh
  src/tree/gpu_hist/multi_evaluate_splits.cu
  src/tree/updater_gpu_hist.cuh
  tests/cpp/tree/gpu_hist/test_multi_evaluate_splits.cu
  tests/python-gpu/test_gpu_updaters.py
Due: lint-cpp, pylint

[mt] GPU implementation of OHE vector leaf. (#12276)
  python-package/xgboost/testing/updater.py
  src/common/device_helpers.cuh
  src/tree/gpu_hist/evaluate_splits.cu
  src/tree/gpu_hist/evaluate_splits.cuh
  src/tree/gpu_hist/multi_evaluate_splits.cu
  src/tree/updater_gpu_hist.cuh
  tests/cpp/tree/gpu_hist/test_multi_evaluate_splits.cu
  tests/python-gpu/test_gpu_updaters.py
Due: lint-cpp, pylint

Move tree weights into GBTreeModel (#12275)
  include/xgboost/predictor.h
  plugin/sycl/predictor/predictor.cc
  src/gbm/gbtree.cc
  src/gbm/gbtree.h
  src/gbm/gbtree_model.cc
  src/gbm/gbtree_model.h
  src/predictor/cpu_predictor.cc
  src/predictor/gpu_predictor.cu
  tests/cpp/gbm/test_gbtree.cc
  tests/cpp/predictor/test_predictor.cc
Due: lint-cpp

Include license file in Python wheel metadata
  ops/script/pypi_variants.py
  python-package/packager/pep517.py
  python-package/pyproject.toml
  python-package/pyproject.toml.in
  python-package/pyproject.toml.stub.in
Due: pylint

Remove use of --clean
  ops/pipeline/test-python-sdist.sh
Due: none

Migrate to scikit-build-core (#12219)
  .github/workflows/python_wheels_variants.yml
  CMakeLists.txt
  cmake/Utils.cmake
  doc/build.rst
  ops/conda_env/python_lint.yml
  ops/pipeline/audit-cuda-wheel.sh
  ops/pipeline/test-python-sdist.sh
  ops/pipeline/test-python-with-sysprefix.sh
  ops/script/prepare_sdist.py
  ops/script/pypi_variants.py
  ops/script/release_artifacts.py
  python-package/CMakeLists.txt
  python-package/hatch_build.py
  python-package/packager/__init__.py
  python-package/packager/build_config.py
  python-package/packager/nativelib.py
  python-package/packager/pep517.py
  python-package/packager/sdist.py
  python-package/packager/util.py
  python-package/pyproject.toml
  python-package/pyproject.toml.in
  python-package/pyproject.toml.stub.in
Due: lint-cmake, pylint

Avoid packaging dependency in PyPI variant script
  ops/script/pypi_variants.py
Due: none

Cleanups.
  src/cross_validate.cc
Due: lint-cpp

split
  src/cross_validate.cc
  src/cross_validate.cu
  src/cross_validate.h
  src/cross_validate/kfolds.cc
  src/cross_validate/kfolds.h
Due: lint-cpp

checks.
  src/cross_validate.cu
  src/cross_validate/kfolds.cu
Due: lint-cpp

implement kfold.
  src/cross_validate/kfolds.cu
  tests/cpp/cross_validate/test_kfolds.cu
Due: lint-cpp

ctor.
  python-package/xgboost/_cross_validation.py
  src/cross_validate.cu
  src/cross_validate.h
  src/cross_validate/kfolds.cu
  src/cross_validate/kfolds.h
  tests/cpp/cross_validate/test_kfolds.cu
  tests/python-gpu/test_cross_validate.py
Due: lint-cpp, pylint

cv grad.
  src/cross_validate.cc
  src/cross_validate.h
Due: lint-cpp

typing.
  python-package/xgboost/_cross_validation.py
  src/cross_validate.cc
  src/cross_validate.h
Due: lint-cpp, pylint

py
  python-package/xgboost/_cross_validation.py
  tests/python-gpu/test_cross_validate.py
Due: pylint

mv.
  src/cross_validate.cc
  src/cross_validate.cu
Due: lint-cpp

copy.
  src/cross_validate.cu
Due: lint-cpp

track.
  src/cross_validate.cu
  src/cross_validate.h
Due: lint-cpp

transform.
  src/cross_validate.cu
Due: lint-cpp

fixes.
  src/cross_validate.cu
Due: lint-cpp

mv.
  src/cross_validate.cc
  src/cross_validate.cu
  src/cross_validate.h
Due: lint-cpp

objs.
  python-package/xgboost/_cross_validation.py
  src/cross_validate.cu
  src/cross_validate.h
  tests/python-gpu/test_cross_validate.py
Due: lint-cpp, pylint

getter.
  python-package/xgboost/_cross_validation.py
  src/cross_validate.cc
  tests/python-gpu/test_cross_validate.py
Due: lint-cpp, pylint

init prediction.
  src/cross_validate.cc
  src/cross_validate.cu
  src/cross_validate.h
Due: lint-cpp

test.
  tests/cpp/cross_validate/test_kfolds.cu
  tests/python-gpu/test_cross_validate.py
Due: lint-cpp

lint.
  python-package/xgboost/_cross_validation.py
  src/tree/updater_gpu_cv_hist.cu
Due: lint-cpp, pylint

CPU build.
  src/cross_validate/kfolds.cc
  tests/python-gpu/test_cross_validate.py
Due: lint-cpp

check once.
  src/cross_validate.cc
  src/cross_validate.h
Due: lint-cpp

comments.
  src/cross_validate/kfolds.h
Due: lint-cpp

[cv] Calculate the gradient. (#12281)
  python-package/xgboost/_cross_validation.py
  src/cross_validate.cc
  src/cross_validate.cu
  src/cross_validate.h
  src/cross_validate/kfolds.cc
  src/cross_validate/kfolds.cu
  src/cross_validate/kfolds.h
  src/tree/updater_gpu_cv_hist.cu
  tests/cpp/cross_validate/test_kfolds.cu
  tests/python-gpu/test_cross_validate.py
Due: lint-cpp, pylint

namespace.
  python-package/xgboost/_cross_validation.py
  src/cross_validate.cc
  src/cross_validate.cu
  src/cross_validate.h
Due: lint-cpp, pylint

sketch.
  src/cross_validate.h
Due: lint-cpp

Move.
  src/cross_validate/cross_validate.cc
  src/cross_validate/cross_validate.cu
  src/cross_validate/cross_validate.h
Due: lint-cpp

sketch.
  src/cross_validate/cross_validate.cc
Due: lint-cpp

Path conditions:
  lint-cpp: any of: \.(cc|c|cpp|h|cu|hpp)$, but not: (dmlc-core|gputreeshap)
  lint-cmake: any of: (CMakeLists\.txt$|^cmake/.*\.cmake$), but not: (dmlc-core|gputreeshap)
  pylint: any of: \.py$, but not: (dmlc-core|gputreeshap|^ops/|^tests/)
