Repository dmlc/xgboost: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-cpp, lint-cmake, black, isort, pylint

lint-cpp:
  name: C++ lint (cpplint)
  entry: python ops/script/lint_cpp.py
  language: python
  additional_dependencies:
  - cpplint==1.6.1

lint-cmake:
  name: CMake lint (cmakelint)
  entry: cmakelint --linelength=120 --filter=-convention/filename,-package/stdargs,-readability/wonkycase
  language: python
  additional_dependencies:
  - cmakelint

black:
  name: Python format (black)
  entry: black -q
  language: python
  additional_dependencies:
  - black

isort:
  name: Python format (isort)
  entry: isort
  language: python
  args:
  - --settings-path
  - python-package
  - --src=python-package
  additional_dependencies:
  - isort

pylint:
  name: Python lint (pylint)
  entry: pylint
  language: python
  args:
  - --rcfile=python-package/pyproject.toml
  additional_dependencies:
  - pylint

adopt changes from oneapi 2026 release
  plugin/sycl/data.h
Due: lint-cpp

Fix compiling with latest cccl.
  src/tree/gpu_hist/sampler.cu
Due: lint-cpp

temporarily enable cccl test.
  .github/workflows/cccl_nightly.yml
Due: none

Revert "temporarily enable cccl test."
  .github/workflows/cccl_nightly.yml
Due: none

[ci] disable pylint import order check. (#11993)
  python-package/pyproject.toml
  python-package/pyproject.toml.in
Due: none

[doc] Work on 3.2 news. [skip ci]
  doc/changes/v3.2.0.rst
Due: none

pd3 [skip ci]
  doc/changes/v3.2.0.rst
Due: none

index [skip ci]
  doc/changes/index.rst
Due: none

[doc] Update NUMA configuration for external memory. (#11992)
  demo/guide-python/distributed_extmem_basic.py
  doc/tutorials/external_memory.rst
Due: black, isort, pylint

Fix compiling with latest cccl. (#11995)
  src/tree/gpu_hist/sampler.cu
Due: lint-cpp

pre-commit.
  plugin/sycl/data.h
Due: lint-cpp

sampling [skip ci]
  doc/changes/v3.2.0.rst
Due: none

Cleanup the use of omp clauses (#11991)
  src/common/numeric.h
  src/common/quantile.h
  src/common/threading_utils.h
  src/data/data.cc
  src/metric/rank_metric.cc
  src/tree/hist/sampler.cc
  src/tree/updater_refresh.cc
  tests/cpp/common/test_numeric.cc
Due: lint-cpp

SYCL. Adopt changes from oneapi 2026 release (#11994)
  plugin/sycl/data.h
Due: lint-cpp

wording. [skip ci]
  doc/changes/v3.2.0.rst
Due: none

Fix compilation with the latest nvcomp.
  src/common/device_compression.cu
Due: lint-cpp

[EM] Support SNMG with mixed GPU models.
  src/collective/comm.cu
  src/common/cuda_dr_utils.cc
  src/common/cuda_rt_utils.cc
  src/common/cuda_rt_utils.h
  src/data/batch_utils.cc
Due: lint-cpp

test.
  tests/cpp/common/test_cuda_rt_utils.cu
Due: lint-cpp

cpu.
  src/common/cuda_rt_utils.cc
Due: lint-cpp

cleanup.
  doc/tutorials/external_memory.rst
  src/collective/comm.cu
  src/common/cuda_rt_utils.cc
  src/data/batch_utils.cc
  tests/cpp/common/test_cuda_rt_utils.cu
Due: lint-cpp

stub.
  src/common/cuda_rt_utils.cc
Due: lint-cpp

Change expectile initialization for 1-step Newton; Add unit test for convergence in simple case.
  src/objective/regression_obj.cu
  tests/cpp/objective/test_regression_obj.cc
  tests/python/test_eval_metrics.py
Due: lint-cpp, black, isort

cleanup.
  src/common/cuda_rt_utils.cc
Due: lint-cpp

cleanup.
  src/common/cuda_dr_utils.cc
  src/common/cuda_rt_utils.cc
  tests/cpp/common/test_cuda_rt_utils.cu
Due: lint-cpp

Refactor reg tests
  tests/test_distributed/test_with_spark/test_spark_local.py
Due: black, isort

Rename tau to alpha in expectile python test
  tests/python/test_eval_metrics.py
Due: black, isort

[EM] Support mixed GPU models on SNMG. (#11998)
  doc/tutorials/external_memory.rst
  src/collective/comm.cu
  src/common/cuda_dr_utils.cc
  src/common/cuda_rt_utils.cc
  src/common/cuda_rt_utils.h
  src/data/batch_utils.cc
  tests/cpp/common/test_cuda_rt_utils.cu
Due: lint-cpp

Fix compilation with the latest nvcomp. (#11997)
  src/common/device_compression.cu
Due: lint-cpp

[ci] Use sccache for Windows CPU build. (#11979)
  .github/workflows/windows.yml
  ops/pipeline/build-win64-cpu.ps1
  ops/pipeline/build-win64-gpu.ps1
  ops/pipeline/build-win64.ps1
Due: none

Cleanup code
  python-package/xgboost/spark/core.py
  python-package/xgboost/spark/utils.py
Due: black, isort, pylint

Fix up code and style
  python-package/xgboost/spark/core.py
  python-package/xgboost/spark/utils.py
Due: black, isort, pylint

Set default launch_tracker_on_driver value to False for Spark Connect sessions
  python-package/xgboost/spark/core.py
Due: black, isort, pylint

fix: correct typo 'recieve' to 'receive'
  src/encoder/ordinal.h
  tests/python/test_callback.py
Due: lint-cpp, black, isort

Fix typo 'recieve' to 'receive' (#11999)
  src/encoder/ordinal.h
  tests/python/test_callback.py
Due: lint-cpp, black, isort

Update.
  doc/changes/v3.2.0.rst
Due: none

notes.
  doc/changes/v3.2.0.rst
Due: none

Path conditions:
  lint-cpp: any of: \.(cc|c|cpp|h|cu|hpp)$, but not: (dmlc-core|gputreeshap)
  lint-cmake: any of: (CMakeLists\.txt$|^cmake/.*\.cmake$), but not: (dmlc-core|gputreeshap)
  black: any of: \.py$, but not: (dmlc-core|gputreeshap)
  isort: any of: \.py$, but not: (dmlc-core|gputreeshap)
  pylint: any of: \.py$, but not: (dmlc-core|gputreeshap|^ops/|^tests/)
