Repository dmlc/xgboost: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-cpp, lint-cmake, pylint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: check-yaml
      - id: check-toml
      - id: check-json
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable
      - id: mixed-line-ending
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.14
    hooks:
      - id: ruff-check
        args:
          - --fix
          - --select=I
        files: \.py$
        exclude: (dmlc-core|gputreeshap)
      - id: ruff-format
        files: \.py$
        exclude: (dmlc-core|gputreeshap)
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v21.1.8
    hooks:
      - id: clang-format
        args: [--style=file]
        files: \.(cc|c|cpp|h|cu|hpp)$
        exclude: (dmlc-core|gputreeshap)
  - repo: local
    hooks:
      - id: lint-cpp
        name: C++ lint (cpplint)
        entry: python ops/script/lint_cpp.py
        language: python
        types: [file]
        files: \.(cc|c|cpp|h|cu|hpp)$
        exclude: (dmlc-core|gputreeshap)
        additional_dependencies:
          - cpplint==1.6.1
      - id: lint-cmake
        name: CMake lint (cmakelint)
        entry: cmakelint --linelength=120 --filter=-convention/filename,-package/stdargs,-readability/wonkycase
        language: python
        types: [file]
        files: (CMakeLists\.txt$|^cmake/.*\.cmake$)
        exclude: (dmlc-core|gputreeshap)
        additional_dependencies:
          - cmakelint
      - id: pylint
        name: Python lint (pylint)
        entry: pylint
        language: python
        types: [file]
        files: \.py$
        exclude: (dmlc-core|gputreeshap|^ops/|^tests/)
        args:
          - --rcfile=python-package/pyproject.toml
        additional_dependencies:
          - pylint

Make SetPrune safe for in-place use
  src/common/quantile.h
  tests/cpp/common/test_quantile.cc
Due: lint-cpp

Fix quantile merge sizing and simplify vector init
  src/common/quantile.cc
Due: lint-cpp

Fix quantile CI issues for OpenMP and clang-tidy
  src/common/quantile.cc
  src/common/quantile.h
Due: lint-cpp

Refine quantile summary API and direct capped summary extraction
  src/common/quantile.cc
  src/common/quantile.h
Due: lint-cpp

Add combine-prune workspace API for quantile summaries
  src/common/quantile.cc
  src/common/quantile.h
Due: lint-cpp

Remove unused variable.
  tests/cpp/common/test_quantile.cu
Due: lint-cpp

Remove unused variable. (#12053)
  tests/cpp/common/test_quantile.cu
Due: lint-cpp

Refactor quantile summary combine and push flow
  src/common/quantile.cc
  src/common/quantile.h
Due: lint-cpp

Refine quantile summary finalization flow
  src/common/quantile.h
  tests/cpp/common/test_quantile.cc
Due: lint-cpp

Simplify quantile summary combine/prune APIs
  src/common/quantile.cc
  src/common/quantile.h
  tests/cpp/common/test_quantile.cc
Due: lint-cpp

Refactor WQuantileSketch initialization and limit sizing
  src/common/hist_util.cu
  src/common/quantile.cc
  src/common/quantile.h
  tests/cpp/common/test_quantile.cc
Due: lint-cpp

Address quantile review comments
  src/common/quantile.h
Due: lint-cpp

Make linux packaging easier
  CMakeLists.txt
Due: lint-cmake

Update updater_colmaker.cc
  src/tree/updater_colmaker.cc
Due: lint-cpp

Support Regressor and Ranker in Pipeline with columnar input
  jvm-packages/xgboost4j-example/src/main/java/ml/dmlc/xgboost4j/java/example/PredictLeafIndices.java
  jvm-packages/xgboost4j-example/src/main/scala/ml/dmlc/xgboost4j/scala/example/PredictLeafIndices.scala
  jvm-packages/xgboost4j-spark/src/main/scala/ml/dmlc/xgboost4j/scala/spark/XGBoostEstimator.scala
  jvm-packages/xgboost4j-spark/src/main/scala/org/apache/spark/ml/xgboost/SparkUtils.scala
  jvm-packages/xgboost4j-spark/src/test/scala/ml/dmlc/xgboost4j/scala/spark/XGBoostEstimatorSuite.scala
Due: none

[wip] Expose the Objective to Python.
  demo/guide-python/multioutput_reduced_gradient.py
  doc/python/python_api.rst
  doc/tutorials/multioutput.rst
  python-package/xgboost/core.py
  python-package/xgboost/objective.py
  python-package/xgboost/sklearn.py
  python-package/xgboost/testing/multi_target.py
  python-package/xgboost/testing/objective.py
  python-package/xgboost/training.py
  tests/python-gpu/test_gpu_objective.py
  tests/python/test_objective.py
Due: pylint

More quantile refactoring (#12049)
  src/common/quantile.cc
  src/common/quantile.h
  tests/cpp/common/test_quantile.cc
Due: lint-cpp

other objs.
  python-package/xgboost/objective.py
  python-package/xgboost/testing/objective.py
  tests/python-gpu/test_gpu_objective.py
  tests/python/test_objective.py
Due: pylint

cleanup.
  doc/python/python_api.rst
  python-package/xgboost/objective.py
  python-package/xgboost/testing/objective.py
Due: pylint

doc string.
  python-package/xgboost/objective.py
Due: pylint

cleanup.
  python-package/xgboost/core.py
  python-package/xgboost/objective.py
Due: pylint

Fix quantile merge fallout and align member naming
  src/common/quantile.cc
  src/common/quantile.h
Due: lint-cpp

vector leaf.
  demo/guide-python/multioutput_reduced_gradient.py
  doc/tutorials/multioutput.rst
  python-package/xgboost/testing/multi_target.py
  tests/python/test_multi_target.py
Due: pylint

Refactor WQSummary SetCombine by inlining merge kernel
  src/common/quantile.h
Due: lint-cpp

rename.
  demo/guide-python/multioutput_reduced_gradient.py
  python-package/xgboost/objective.py
  python-package/xgboost/testing/multi_target.py
  python-package/xgboost/testing/objective.py
Due: pylint

Remove synthetic classes.
  python-package/xgboost/objective.py
Due: pylint

Cleanup.
  python-package/xgboost/objective.py
  python-package/xgboost/testing/objective.py
  tests/python-gpu/test_gpu_objective.py
  tests/python/test_objective.py
Due: pylint

typo.
  python-package/xgboost/objective.py
Due: pylint

Address quantile review feedback on move safety and combine workspace
  src/common/quantile.cc
  src/common/quantile.h
Due: lint-cpp

Revert changes to vector leaf.
  demo/guide-python/multioutput_reduced_gradient.py
  doc/python/python_api.rst
  doc/tutorials/multioutput.rst
  python-package/xgboost/testing/multi_target.py
  tests/python/test_multi_target.py
Due: pylint

early exit.
  python-package/xgboost/core.py
Due: pylint

lint.
  demo/guide-python/multioutput_reduced_gradient.py
Due: pylint

IO tests.
  python-package/xgboost/testing/multi_target.py
  python-package/xgboost/testing/objective.py
  tests/python-gpu/test_gpu_objective.py
  tests/python/test_objective.py
Due: pylint

not callable.
  python-package/xgboost/objective.py
Due: pylint

Add tutorial document for federated xgboost (#12044)
  doc/tutorials/federated_learning.rst
  doc/tutorials/index.rst
  python-package/xgboost/federated.py
  python-package/xgboost/testing/federated.py
Due: pylint

stringify.
  python-package/xgboost/objective.py
Due: pylint

Remove unused WQSummaryContainer copy operations
  src/common/quantile.h
Due: lint-cpp
