Repository dmlc/xgboost: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-cpp, lint-cmake, pylint

lint-cpp:
  name: C++ lint (cpplint)
  entry: python ops/script/lint_cpp.py
  language: python
  additional_dependencies:
  - cpplint==1.6.1

lint-cmake:
  name: CMake lint (cmakelint)
  entry: cmakelint --linelength=120 --filter=-convention/filename,-package/stdargs,-readability/wonkycase
  language: python
  additional_dependencies:
  - cmakelint

pylint:
  name: Python lint (pylint)
  entry: pylint
  language: python
  args:
  - --rcfile=python-package/pyproject.toml
  additional_dependencies:
  - pylint

Simplify GPU quantile merge implementation
  src/common/quantile.cu
Due: lint-cpp

Use local lambdas for GPU quantile merge helpers
  src/common/quantile.cu
Due: lint-cpp

Validate allgathered GPU sketch alignment
  src/common/quantile.cu
Due: lint-cpp

Fix R DART training prediction path
  R-package/R/xgb.Booster.R
  R-package/man/predict.xgb.Booster.Rd
Due: none

Fix alignment for in-memory allreduce buffer
  src/collective/in_memory_handler.cc
  src/collective/in_memory_handler.h
Due: lint-cpp

[wip] Serialize the RNG in ctx.
  include/xgboost/context.h
  python-package/xgboost/testing/continuation.py
  src/common/random.h
  src/context.cc
  src/learner.cc
  src/tree/updater_approx.cc
  src/tree/updater_gpu_hist.cu
  src/tree/updater_quantile_hist.cc
  tests/python-gpu/test_gpu_training_continuation.py
  tests/python/test_training_continuation.py
Due: lint-cpp, pylint

cleanup.
  src/common/random.cc
  src/common/random.h
  src/tree/hist/sampler.cc
  src/tree/hist/sampler.h
  src/tree/updater_approx.cc
  src/tree/updater_gpu_hist.cu
  src/tree/updater_quantile_hist.cc
Due: lint-cpp

Fix clang-tidy naming in aligned buffer
  src/collective/in_memory_handler.cc
  src/collective/in_memory_handler.h
Due: lint-cpp

Use hex.
  src/common/random.cc
  src/context.cc
  src/tree/updater_gpu_hist.cu
Due: lint-cpp

Cleanup.
  include/xgboost/context.h
  src/common/random.cc
  src/context.cc
Due: lint-cpp

pre-commit.
  python-package/xgboost/testing/continuation.py
  tests/python-gpu/test_gpu_training_continuation.py
  tests/python/test_training_continuation.py
Due: pylint

cleanup.
  python-package/xgboost/testing/continuation.py
  src/tree/updater_quantile_hist.cc
Due: lint-cpp, pylint

cleanup.
  tests/python-gpu/test_gpu_training_continuation.py
  tests/python/test_training_continuation.py
Due: none

Cleanups.
  src/tree/updater_approx.cc
  src/tree/updater_gpu_hist.cu
Due: lint-cpp

per iteration.
  python-package/xgboost/testing/continuation.py
  tests/python-gpu/test_gpu_training_continuation.py
  tests/python/test_training_continuation.py
Due: pylint

Fix.
  src/tree/updater_approx.cc
  src/tree/updater_gpu_hist.cu
  src/tree/updater_quantile_hist.cc
Due: lint-cpp

Fix distributed training.
  src/learner.cc
Due: lint-cpp

Fix.
  src/learner.cc
Due: lint-cpp

Address review comments
  python-package/xgboost/spark/utils.py
Due: pylint

Fix linting error
  python-package/xgboost/spark/utils.py
Due: pylint

set launch_tracker_on_driver to False by default for compatibility with Spark Connect
  python-package/xgboost/spark/core.py
Due: pylint

Code cleanup
  python-package/xgboost/spark/core.py
Due: pylint

Use SparkSession from dataframe
  python-package/xgboost/spark/core.py
  python-package/xgboost/spark/estimator.py
  python-package/xgboost/spark/utils.py
Due: pylint

Fix tests
  tests/test_distributed/test_with_spark/test_spark.py
Due: none

Delete backward compatibility code for Spark 3.x
  python-package/xgboost/spark/core.py
  python-package/xgboost/spark/utils.py
  tests/test_distributed/test_with_spark/test_spark.py
Due: pylint

Use consistent naming for SparkSession parameter
  python-package/xgboost/spark/core.py
Due: pylint

Rename rest of the SparkSession parameters
  python-package/xgboost/spark/estimator.py
Due: pylint

update LightGBM links
  R-package/CMakeLists.txt
  cmake/FindOpenMPMacOS.cmake
  src/objective/lambdarank_obj.cc
Due: lint-cpp, lint-cmake

update LightGBM links (#12084)
  R-package/CMakeLists.txt
  cmake/FindOpenMPMacOS.cmake
  src/objective/lambdarank_obj.cc
Due: lint-cpp, lint-cmake

Remove outdated docstring assignments that crash under python -OO
  python-package/xgboost/dask/__init__.py
  python-package/xgboost/sklearn.py
Due: pylint

Remove dead Python 2 guard and sklearn.cross_validation fallback
  python-package/xgboost/compat.py
Due: pylint

Update competition winning solutions list with recent entries
  demo/README.md
Due: none

Warn when xgb_model booster type mismatches training config
  python-package/xgboost/training.py
  tests/python/test_training_continuation.py
Due: pylint

Fix alignment for in-memory allreduce buffer (#12082)
  src/collective/in_memory_handler.cc
  src/collective/in_memory_handler.h
Due: lint-cpp

Copilot fix
  src/gbm/gbtree.cc
Due: lint-cpp

Clarify GPU quantile merge partition comments
  src/common/quantile.cu
Due: lint-cpp

Make GPU sketch prune emit a correct summary
  src/common/quantile.cu
  tests/cpp/common/test_quantile.cu
Due: lint-cpp

Warn once for legacy DART booster
  src/learner.cc
Due: lint-cpp

[doc] Update competition winning solutions (#12087)
  demo/README.md
Due: none

Ignore future return in the destructor.
  src/data/sparse_page_source.h
Due: lint-cpp

Path conditions:
  lint-cpp: any of: \.(cc|c|cpp|h|cu|hpp)$, but not: (dmlc-core|gputreeshap)
  lint-cmake: any of: (CMakeLists\.txt$|^cmake/.*\.cmake$), but not: (dmlc-core|gputreeshap)
  pylint: any of: \.py$, but not: (dmlc-core|gputreeshap|^ops/|^tests/)
