Repository dmlc/xgboost: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-cpp, lint-cmake, pylint

lint-cpp:
  name: C++ lint (cpplint)
  entry: python ops/script/lint_cpp.py
  language: python
  additional_dependencies:
  - cpplint==1.6.1

lint-cmake:
  name: CMake lint (cmakelint)
  entry: cmakelint --linelength=120 --filter=-convention/filename,-package/stdargs,-readability/wonkycase
  language: python
  additional_dependencies:
  - cmakelint

pylint:
  name: Python lint (pylint)
  entry: pylint
  language: python
  args:
  - --rcfile=python-package/pyproject.toml
  additional_dependencies:
  - pylint

downgrade.
  .github/workflows/lint.yml
  .github/workflows/main.yml
Due: none

clang tidy.
  include/xgboost/json.h
  src/common/json.cc
  src/common/json_utils.h
  src/data/array_interface.cc
  src/data/array_interface.h
  src/data/data.cc
  src/tree/gpu_hist/histogram.cu
Due: lint-cpp

lint.
  src/data/array_interface.h
Due: lint-cpp

clang.
  src/data/array_interface.h
Due: lint-cpp

[jvm-packages] Fix batch predict for SparseVector features (corrupted CSR)
  jvm-packages/xgboost4j-spark/src/main/scala/ml/dmlc/xgboost4j/scala/spark/Utils.scala
  jvm-packages/xgboost4j-spark/src/test/scala/ml/dmlc/xgboost4j/scala/spark/XGBoostEstimatorSuite.scala
  jvm-packages/xgboost4j/src/test/java/ml/dmlc/xgboost4j/java/DMatrixTest.java
Due: none

Drop all death tests.
  tests/cpp/common/test_span.cu
Due: lint-cpp

lint.
  tests/cpp/common/test_span.cu
Due: lint-cpp

Remove federated tests.
  .github/workflows/main.yml
Due: none

split up the env.
  .github/workflows/main.yml
Due: none

Update document.
  doc/contrib/ci.rst
Due: none

Downgrade clang, cleanup the scripts.
  .github/workflows/main.yml
  doc/contrib/coding_guide.rst
  ops/pipeline/build-cuda-clang.sh
  ops/pipeline/run-clang-tidy-clang-cuda.sh
Due: none

More cleanup.
  doc/contrib/coding_guide.rst
  ops/pipeline/run-clang-tidy-clang-cuda.sh
Due: none

Move mgpu tests.
  .github/workflows/main.yml
Due: none

Update JVM.
  jvm-packages/pom.xml
Due: none

doc.
  doc/install.rst
Due: none

audit.
  ops/pipeline/test-python-wheel.sh
Due: none

float128 with strides.
  src/data/array_interface.h
  tests/python/test_dmatrix.py
Due: lint-cpp

disable rmm.
  jvm-packages/xgboost4j-spark-gpu/src/test/scala/ml/dmlc/xgboost4j/scala/spark/GpuTestSuite.scala
Due: none

nightly tests.
  ops/pipeline/nightly-test-cccl-impl.sh
  ops/pipeline/nightly-test-rmm-impl.sh
Due: none

Add use_category_names option to trees_to_dataframe
  python-package/xgboost/core.py
Due: pylint

Add test coverage for trees_to_dataframe's use_category_names
  python-package/xgboost/testing/parse_tree.py
  tests/python/test_parse_tree.py
Due: pylint

Document trees_to_dataframe's use_category_names in the categorical tutorial
  doc/tutorials/categorical.rst
Due: none

Escape feature name before using it in a regex in get_split_value_histogram
  python-package/xgboost/core.py
Due: pylint

Raise a clear error for multi-class gblinear models in plot_importance
  python-package/xgboost/plotting.py
Due: pylint

polars.
  tests/python/test_with_polars.py
Due: none

Fix make_array_interface reporting wrong shape for empty results (#12381)
  python-package/xgboost/_data_utils.py
Due: pylint

Implement smooth MM quantile objective
  doc/parameter.rst
  python-package/xgboost/testing/updater.py
  src/common/quantile_loss_utils.h
  src/objective/quantile_obj.cu
  tests/cpp/common/test_quantile_utils.cc
  tests/cpp/objective/test_quantile_obj.cc
  tests/cpp/objective/test_quantile_obj_cpu.cc
  tests/python/test_monotone_constraints.py
  tests/python/test_tree_regularization.py
  tests/test_distributed/test_with_dask/test_with_dask.py
Due: lint-cpp, pylint

Reuse multi-target histogram builder (#12387)
  src/tree/updater_quantile_hist.cc
Due: lint-cpp

Implement smooth MM quantile objective (#12386)
  doc/parameter.rst
  python-package/xgboost/testing/updater.py
  src/common/quantile_loss_utils.h
  src/objective/quantile_obj.cu
  tests/cpp/common/test_quantile_utils.cc
  tests/cpp/objective/test_quantile_obj.cc
  tests/cpp/objective/test_quantile_obj_cpu.cc
  tests/python/test_monotone_constraints.py
  tests/python/test_tree_regularization.py
  tests/test_distributed/test_with_dask/test_with_dask.py
Due: lint-cpp, pylint

Remove obsolete objective leaf updates
  include/xgboost/objective.h
  include/xgboost/task.h
  src/gbm/gbtree.cc
  src/gbm/gbtree.h
  src/objective/adaptive.cc
  src/objective/adaptive.cu
  src/objective/adaptive.h
  src/objective/quantile_obj.cu
  src/objective/regression_loss.h
  src/objective/regression_obj.cu
  src/tree/sample_position.h
  tests/cpp/objective/test_quantile_obj.cc
  tests/cpp/objective/test_regression_obj.cc
  tests/cpp/objective/test_regression_obj.h
  tests/cpp/objective/test_regression_obj_cpu.cc
  tests/cpp/tree/test_quantile_hist.cc
  tests/test_distributed/test_gpu_with_dask/test_gpu_with_dask.py
  tests/test_distributed/test_with_dask/test_with_dask.py
Due: lint-cpp

Update R package source manifests
  R-package/src/Makevars.in
  R-package/src/Makevars.win.in
Due: none

Add 2nd place winning solution for Tabular Playground Series - Dec 2021 to README
  demo/README.md
Due: none

Update document.
  doc/gpu/index.rst
Due: none

Update & fix documents.
  doc/build.rst
  doc/gpu/index.rst
  doc/install.rst
  plugin/federated/README.md
Due: none

Cleanup the installation doc.
  doc/install.rst
Due: none

Remove obsolete objective leaf update mechanism (#12391)
  R-package/src/Makevars.in
  R-package/src/Makevars.win.in
  include/xgboost/objective.h
  include/xgboost/task.h
  src/gbm/gbtree.cc
  src/gbm/gbtree.h
  src/objective/adaptive.cc
  src/objective/adaptive.cu
  src/objective/adaptive.h
  src/objective/quantile_obj.cu
  src/objective/regression_loss.h
  src/objective/regression_obj.cu
  src/tree/sample_position.h
  tests/cpp/objective/test_quantile_obj.cc
  tests/cpp/objective/test_regression_obj.cc
  tests/cpp/objective/test_regression_obj.h
  tests/cpp/objective/test_regression_obj_cpu.cc
  tests/cpp/tree/test_quantile_hist.cc
  tests/test_distributed/test_gpu_with_dask/test_gpu_with_dask.py
  tests/test_distributed/test_with_dask/test_with_dask.py
Due: lint-cpp

tag.
  ops/pipeline/get-image-tag.sh
Due: none

Use predictor for leaf ID cache updates
  include/xgboost/predictor.h
  include/xgboost/tree_updater.h
  plugin/sycl/predictor/predictor.cc
  plugin/sycl/tree/hist_updater.cc
  plugin/sycl/tree/hist_updater.h
  plugin/sycl/tree/updater_quantile_hist.cc
  plugin/sycl/tree/updater_quantile_hist.h
  src/gbm/gbtree.cc
  src/predictor/cpu_predictor.cc
  src/predictor/gpu_predictor.cu
  src/tree/hist/evaluate_splits.h
  src/tree/updater_approx.cc
  src/tree/updater_gpu_hist.cu
  src/tree/updater_gpu_hist.cuh
  src/tree/updater_quantile_hist.cc
  tests/cpp/predictor/test_cpu_predictor.cc
  tests/cpp/predictor/test_predictor.cc
  tests/cpp/tree/test_gpu_hist.cu
  tests/cpp/tree/test_prediction_cache.h
Due: lint-cpp

Path conditions:
  lint-cpp: any of: \.(cc|c|cpp|h|cu|hpp)$, but not: (dmlc-core|gputreeshap)
  lint-cmake: any of: (CMakeLists\.txt$|^cmake/.*\.cmake$), but not: (dmlc-core|gputreeshap)
  pylint: any of: \.py$, but not: (dmlc-core|gputreeshap|^ops/|^tests/)
