Repository dmlc/xgboost: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-cpp, lint-cmake, pylint

lint-cpp:
  name: C++ lint (cpplint)
  entry: python ops/script/lint_cpp.py
  language: python
  additional_dependencies:
  - cpplint==1.6.1

lint-cmake:
  name: CMake lint (cmakelint)
  entry: cmakelint --linelength=120 --filter=-convention/filename,-package/stdargs,-readability/wonkycase
  language: python
  additional_dependencies:
  - cmakelint

pylint:
  name: Python lint (pylint)
  entry: pylint
  language: python
  args:
  - --rcfile=python-package/pyproject.toml
  additional_dependencies:
  - pylint

small cleanups.
  src/tree/hist/evaluate_splits.h
Due: lint-cpp

cleanups.
  src/tree/hist/evaluate_splits.h
Due: lint-cpp

cleanup.
  src/tree/hist/evaluate_splits.h
Due: lint-cpp

avoid calc.
  src/tree/hist/evaluate_splits.h
Due: lint-cpp

Python tests.
  python-package/xgboost/testing/updater.py
Due: pylint

Apply suggestions from code review
  src/tree/hist/evaluate_splits.h
  tests/cpp/tree/hist/test_evaluate_splits.cc
Due: lint-cpp

[breaking][MT] Support trees to dataframe. (#12293)
  python-package/xgboost/core.py
  python-package/xgboost/testing/parse_tree.py
  tests/python/test_parse_tree.py
Due: pylint

naming.
  src/tree/hist/evaluate_splits.h
Due: lint-cpp

typing.
  src/tree/hist/evaluate_splits.h
Due: lint-cpp

[MT] CPU implementation of partition-based categorical split. (#12299)
  python-package/xgboost/testing/updater.py
  src/tree/hist/evaluate_splits.h
  tests/cpp/tree/hist/test_evaluate_splits.cc
Due: lint-cpp, pylint

[MT] Support partition-based split for GPU.
  python-package/xgboost/testing/updater.py
  src/tree/gpu_hist/evaluate_splits.cu
  src/tree/gpu_hist/evaluate_splits.cuh
  src/tree/gpu_hist/evaluator.cu
  src/tree/gpu_hist/multi_evaluate_splits.cu
  src/tree/gpu_hist/multi_evaluate_splits.cuh
  src/tree/gpu_hist/row_partitioner.cuh
  src/tree/updater_gpu_common.cuh
  src/tree/updater_gpu_hist.cuh
  tests/cpp/tree/gpu_hist/test_multi_evaluate_splits.cu
  tests/cpp/tree/gpu_hist/test_row_partitioner.cu
  tests/python-gpu/test_gpu_updaters.py
  tests/python/test_updaters.py
Due: lint-cpp, pylint

Include license file in Python wheel metadata (#12280)
  .github/workflows/python_wheels_winarm64.yml
  ops/pipeline/build-cuda-impl.sh
  ops/pipeline/build-python-wheels-arm64-impl.sh
  ops/pipeline/build-python-wheels-macos.sh
  ops/pipeline/build-test-sycl.sh
  ops/pipeline/build-win64.ps1
  ops/pipeline/test-python-macos.sh
  ops/pipeline/test-python-with-sysprefix.sh
  ops/script/prepare_sdist.py
  ops/script/pypi_variants.py
  python-package/pyproject.toml
  python-package/pyproject.toml.in
  python-package/pyproject.toml.stub.in
Due: none

Add Tsallis entropy-based information gain split criterion
  python-package/xgboost/sklearn.py
  src/tree/param.h
  src/tree/updater_approx.cc
  src/tree/updater_colmaker.cc
  src/tree/updater_quantile_hist.cc
Due: lint-cpp, pylint

approx.
  tests/python-gpu/test_gpu_updaters.py
Due: none

Full test.
  python-package/xgboost/testing/updater.py
  src/tree/gpu_hist/multi_evaluate_splits.cu
  tests/python-gpu/test_gpu_data_iterator.py
  tests/python-gpu/test_gpu_updaters.py
  tests/python/test_updaters.py
Due: lint-cpp, pylint

extract.
  src/tree/gpu_hist/multi_evaluate_splits.cu
  src/tree/gpu_hist/multi_evaluate_splits.cuh
  src/tree/updater_gpu_hist.cuh
  tests/cpp/tree/gpu_hist/test_multi_evaluate_splits.cu
Due: lint-cpp

cleanup.
  src/tree/gpu_hist/multi_evaluate_splits.cu
Due: lint-cpp

comment.
  src/tree/updater_gpu_hist.cuh
Due: none

cleanup storage.
  src/tree/updater_gpu_hist.cu
  src/tree/updater_gpu_hist.cuh
Due: lint-cpp

lint.
  tests/cpp/tree/gpu_hist/test_row_partitioner.cu
  tests/python-gpu/test_gpu_data_iterator.py
  tests/python/test_updaters.py
Due: lint-cpp

Move tests.
  python-package/xgboost/testing/multi_target.py
  python-package/xgboost/testing/updater.py
  src/tree/gpu_hist/multi_evaluate_splits.cu
  tests/python-gpu/test_gpu_multi_target.py
  tests/python-gpu/test_gpu_updaters.py
  tests/python/test_multi_target.py
  tests/python/test_updaters.py
Due: lint-cpp, pylint

extract.
  src/tree/gpu_hist/multi_evaluate_splits.cu
Due: lint-cpp

doc.
  doc/tutorials/categorical.rst
  doc/tutorials/multioutput.rst
Due: none

Potential fix for pull request finding
  src/tree/gpu_hist/multi_evaluate_splits.cu
Due: lint-cpp

better test.
  tests/test_distributed/test_with_dask/test_with_dask.py
Due: none

comments.
  src/tree/updater_gpu_hist.cu
  src/tree/updater_gpu_hist.cuh
Due: lint-cpp

Avoid per-call regex construction when parsing the device parameter
  src/context.cc
Due: lint-cpp

share the test.
  python-package/xgboost/testing/updater.py
  tests/python-gpu/test_gpu_updaters.py
  tests/python/test_updaters.py
Due: pylint

Avoid per-call regex construction when parsing the device parameter (#12306)
  src/context.cc
Due: lint-cpp

cleanup the use of direction.
  src/tree/gpu_hist/multi_evaluate_splits.cu
Due: lint-cpp

lint.
  src/tree/gpu_hist/multi_evaluate_splits.cu
Due: lint-cpp

Fix vector_logic lint in R interaction-constraints test
  R-package/tests/testthat/test_interaction_constraints.R
Due: none

doc: clarify what feature interaction constraints apply to
  doc/tutorials/feature_interaction_constraint.rst
Due: none

lint r.
  R-package/tests/testthat/test_interaction_constraints.R
Due: none

Fix vector_logic lint in R interaction-constraints test (#12309)
  R-package/tests/testthat/test_interaction_constraints.R
Due: none

[MT] GPU implementation of partition-based categorical split. (#12305)
  doc/tutorials/categorical.rst
  doc/tutorials/multioutput.rst
  python-package/xgboost/testing/multi_target.py
  python-package/xgboost/testing/updater.py
  src/tree/gpu_hist/evaluate_splits.cu
  src/tree/gpu_hist/evaluate_splits.cuh
  src/tree/gpu_hist/evaluator.cu
  src/tree/gpu_hist/multi_evaluate_splits.cu
  src/tree/gpu_hist/multi_evaluate_splits.cuh
  src/tree/gpu_hist/row_partitioner.cuh
  src/tree/updater_gpu_common.cuh
  src/tree/updater_gpu_hist.cu
  src/tree/updater_gpu_hist.cuh
  tests/cpp/tree/gpu_hist/test_multi_evaluate_splits.cu
  tests/cpp/tree/gpu_hist/test_row_partitioner.cu
  tests/python-gpu/test_gpu_data_iterator.py
  tests/python-gpu/test_gpu_multi_target.py
  tests/python-gpu/test_gpu_updaters.py
  tests/python/test_multi_target.py
  tests/python/test_updaters.py
  tests/test_distributed/test_with_dask/test_with_dask.py
Due: lint-cpp, pylint

[MT] Support partition-based split for GPU.
  doc/parameter.rst
  python-package/xgboost/testing/multi_target.py
  src/tree/gpu_hist/evaluate_splits.cuh
  src/tree/gpu_hist/multi_evaluate_splits.cu
  src/tree/hist/evaluate_splits.h
  src/tree/param.h
  src/tree/split_evaluator.h
  src/tree/updater_gpu_common.cuh
  tests/cpp/tree/test_tree_stat.cc
  tests/python/test_tracker.py
Due: lint-cpp, pylint

lint.
  include/xgboost/gbm.h
  include/xgboost/learner.h
  src/gbm/gblinear.cc
  src/tree/updater_prune.cc
  tests/cpp/tree/test_tree_model.cc
Due: lint-cpp

fix.
  src/common/quantile.cu
  src/predictor/interpretability/shap.cu
Due: lint-cpp

lint.
  include/xgboost/tree_model.h
  src/tree/tree_model.cc
Due: lint-cpp

Path conditions:
  lint-cpp: any of: \.(cc|c|cpp|h|cu|hpp)$, but not: (dmlc-core|gputreeshap)
  lint-cmake: any of: (CMakeLists\.txt$|^cmake/.*\.cmake$), but not: (dmlc-core|gputreeshap)
  pylint: any of: \.py$, but not: (dmlc-core|gputreeshap|^ops/|^tests/)
