Repository dmlc/xgboost: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-cpp, lint-cmake, pylint

lint-cpp:
  name: C++ lint (cpplint)
  entry: python ops/script/lint_cpp.py
  language: python
  additional_dependencies:
  - cpplint==1.6.1

lint-cmake:
  name: CMake lint (cmakelint)
  entry: cmakelint --linelength=120 --filter=-convention/filename,-package/stdargs,-readability/wonkycase
  language: python
  additional_dependencies:
  - cmakelint

pylint:
  name: Python lint (pylint)
  entry: pylint
  language: python
  args:
  - --rcfile=python-package/pyproject.toml
  additional_dependencies:
  - pylint

Remove the prev cache in GPU SHAP.
  src/predictor/interpretability/shap.cu
Due: lint-cpp

[MT][Dask] Support multi-label and SHAP for sklearn-like estimators.
  python-package/xgboost/core.py
  python-package/xgboost/dask/__init__.py
  python-package/xgboost/sklearn.py
  python-package/xgboost/testing/__init__.py
  python-package/xgboost/testing/dask.py
  python-package/xgboost/testing/multi_target.py
  python-package/xgboost/training.py
  src/tree/gpu_hist/multi_evaluate_splits.cu
  tests/python-gpu/test_gpu_multi_target.py
  tests/test_distributed/test_gpu_with_dask/test_gpu_with_dask.py
Due: lint-cpp, pylint

Notes.
  python-package/xgboost/dask/__init__.py
Due: pylint

type.
  python-package/xgboost/sklearn.py
  python-package/xgboost/testing/__init__.py
  python-package/xgboost/testing/dask.py
  tests/test_distributed/test_with_dask/test_with_dask.py
Due: pylint

win
  tests/python-gpu/test_gpu_multi_target.py
Due: none

Remove the prev cache in GPU SHAP. (#12368)
  src/predictor/interpretability/shap.cu
Due: lint-cpp

Cleanups.
  python-package/xgboost/dask/__init__.py
  src/tree/gpu_hist/multi_evaluate_splits.cu
Due: lint-cpp, pylint

mixin.
  python-package/xgboost/dask/__init__.py
  python-package/xgboost/sklearn.py
  tests/test_distributed/test_with_dask/test_with_dask.py
Due: pylint

Avoid allocation.
  src/tree/gpu_hist/multi_evaluate_splits.cu
Due: lint-cpp

avoid stream sync.
  src/common/device_vector.cuh
  src/tree/gpu_hist/multi_evaluate_splits.cu
  src/tree/updater_gpu_hist.cuh
Due: lint-cpp

raise not fitted error.
  python-package/xgboost/sklearn.py
Due: pylint

Cleanup the tests.
  python-package/xgboost/testing/dask.py
  tests/test_distributed/test_gpu_with_dask/test_gpu_with_dask.py
  tests/test_distributed/test_with_dask/test_with_dask.py
Due: pylint

Cleanup tests.
  python-package/xgboost/testing/dask.py
  tests/test_distributed/test_gpu_with_dask/test_gpu_with_dask.py
  tests/test_distributed/test_with_dask/test_with_dask.py
Due: pylint

Fix silently dropped graphviz kwarg in to_graphviz (#12359)
  python-package/xgboost/plotting.py
  tests/python/test_plotting.py
Due: pylint

[MT][Dask] Support multi-label for sklearn-like estimators, Support SHAP. (#12369)
  python-package/xgboost/core.py
  python-package/xgboost/dask/__init__.py
  python-package/xgboost/sklearn.py
  python-package/xgboost/testing/__init__.py
  python-package/xgboost/testing/dask.py
  python-package/xgboost/testing/multi_target.py
  python-package/xgboost/training.py
  src/common/device_vector.cuh
  src/tree/gpu_hist/multi_evaluate_splits.cu
  src/tree/updater_gpu_hist.cuh
  tests/python-gpu/test_gpu_multi_target.py
  tests/test_distributed/test_gpu_with_dask/test_gpu_with_dask.py
  tests/test_distributed/test_with_dask/test_with_dask.py
Due: lint-cpp, pylint

[R] Fix early stopping for the `xgboost()` function.
  R-package/R/xgboost.R
  R-package/tests/testthat/test_xgboost.R
Due: none

Revert "style: format qid validation check to pass pre-commit / black linting"
  python-package/xgboost/sklearn.py
Due: pylint

lint.
  python-package/xgboost/sklearn.py
Due: pylint

fix(sklearn): raise ValueError in XGBRanker.score when qid is missing (#12335)
  python-package/xgboost/sklearn.py
Due: pylint

Fix UTF-8 and nullable categories index in the recoder.
  python-package/xgboost/_data_utils.py
  python-package/xgboost/testing/ordinal.py
  src/data/cat_container.cc
  src/data/columnar.h
  src/data/device_adapter.cu
  src/encoder/ordinal.h
  tests/cpp/data/test_adapter.cc
  tests/cpp/data/test_cat_container.cc
  tests/cpp/data/test_device_adapter.cu
  tests/python/test_ordinal.py
  tests/python/test_with_polars.py
Due: lint-cpp, pylint

lint.
  tests/cpp/data/test_adapter.cc
  tests/cpp/data/test_device_adapter.cu
Due: lint-cpp

type check.
  tests/python/test_ordinal.py
Due: none

feat(objective): use smooth MM updates for absolute error
  doc/parameter.rst
  src/objective/regression_obj.cu
  tests/cpp/objective/test_regression_obj.cc
  tests/cpp/objective/test_regression_obj.h
  tests/cpp/objective/test_regression_obj_cpu.cc
  tests/python/test_monotone_constraints.py
  tests/python/test_tree_regularization.py
  tests/test_distributed/test_with_dask/test_with_dask.py
Due: lint-cpp

feat(objective): initialize absolute error with one MM step
  doc/parameter.rst
  src/objective/regression_obj.cu
  tests/cpp/objective/test_regression_obj.cc
  tests/cpp/test_multi_target.cc
  tests/test_distributed/test_with_dask/test_with_dask.py
Due: lint-cpp

Fix offset.
  src/data/columnar.h
Due: lint-cpp

check.
  src/data/device_adapter.cu
Due: lint-cpp

checks.
  src/data/adapter.cc
  src/data/columnar.h
  src/data/device_adapter.cu
Due: lint-cpp

doc.
  doc/tutorials/saving_model.rst
Due: none

typing.
  python-package/xgboost/_data_utils.py
Due: pylint

encoding the offsets.
  python-package/xgboost/_data_utils.py
Due: pylint

Test XGBoost with Python 3.11
  .github/workflows/main.yml
  .github/workflows/pre-commit.yml
  .github/workflows/python_tests.yml
  .github/workflows/python_wheels_variants.yml
  .github/workflows/python_wheels_winarm64.yml
  .github/workflows/r_tests.yml
  .readthedocs.yaml
  doc/xgboost_doc.yml
  ops/conda_env/aarch64_test.yml
  ops/conda_env/linux_cpu_test.yml
  ops/conda_env/linux_sycl_test.yml
  ops/conda_env/macos_cpu_test.yml
  ops/conda_env/minimal.yml
  ops/conda_env/python_lint.yml
  ops/conda_env/sdist_test.yml
  ops/conda_env/win64_test.yml
  ops/pipeline/build-python-wheels-cpu.sh
  ops/pipeline/build-python-wheels-macos.sh
  python-package/pyproject.toml
  python-package/pyproject.toml.in
  python-package/pyproject.toml.stub.in
Due: none

container types.
  include/xgboost/json.h
  include/xgboost/json_io.h
  python-package/xgboost/_data_utils.py
  src/common/json.cc
  src/data/cat_container.cc
  tests/cpp/data/test_cat_container.cc
  tests/cpp/test_serialization.cc
  tests/python/test_ordinal.py
Due: lint-cpp, pylint

cleanup cast.
  src/data/cat_container.cc
  tests/cpp/data/test_cat_container.cc
Due: lint-cpp

lint.
  include/xgboost/json.h
Due: lint-cpp

Use Python 3.11 in CI containers
  ops/pipeline/get-image-tag.sh
Due: none

Make async version of tm.dask.get_client_workers
  python-package/xgboost/testing/dask.py
  tests/test_distributed/test_with_dask/test_external_memory.py
Due: pylint

Fix doc.
  doc/tutorials/categorical.rst
Due: none

docs: simplify absolute error description
  doc/parameter.rst
Due: none

Standardize node positions for CPU updaters
  src/tree/updater_colmaker.cc
  src/tree/updater_prune.cc
  src/tree/updater_refresh.cc
  tests/cpp/tree/test_node_partition.cc
Due: lint-cpp

Fix rebased colmaker tree check
  src/tree/updater_colmaker.cc
Due: lint-cpp

Path conditions:
  lint-cpp: any of: \.(cc|c|cpp|h|cu|hpp)$, but not: (dmlc-core|gputreeshap)
  lint-cmake: any of: (CMakeLists\.txt$|^cmake/.*\.cmake$), but not: (dmlc-core|gputreeshap)
  pylint: any of: \.py$, but not: (dmlc-core|gputreeshap|^ops/|^tests/)
