Repository dmlc/xgboost: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-cpp, lint-cmake, pylint

lint-cpp:
  name: C++ lint (cpplint)
  entry: python ops/script/lint_cpp.py
  language: python
  additional_dependencies:
  - cpplint==1.6.1

lint-cmake:
  name: CMake lint (cmakelint)
  entry: cmakelint --linelength=120 --filter=-convention/filename,-package/stdargs,-readability/wonkycase
  language: python
  additional_dependencies:
  - cmakelint

pylint:
  name: Python lint (pylint)
  entry: pylint
  language: python
  args:
  - --rcfile=python-package/pyproject.toml
  additional_dependencies:
  - pylint

pre-commit.
  src/data/sparse_page_source.h
Due: lint-cpp

Fix GPU prune review issues
  src/common/quantile.cu
  tests/cpp/common/test_quantile.cu
Due: lint-cpp

Remove separate Dart booster implementation (#12081)
  R-package/R/xgb.Booster.R
  R-package/man/predict.xgb.Booster.Rd
  src/gbm/gbm.cc
  src/gbm/gbtree.cc
  src/learner.cc
  tests/cpp/gbm/test_gbtree.cc
Due: lint-cpp

Restore post-prune unique in GPU sketch
  src/common/quantile.cu
Due: lint-cpp

Simplify GPU quantile merge path scan (#12079)
  src/common/quantile.cu
Due: lint-cpp

fix ruff formatting: blank lines around top-level function and imports
  python-package/xgboost/compat.py
Due: pylint

[python-package] Guard __doc__ assignments for python -OO compatibility
  python-package/xgboost/dask/__init__.py
  python-package/xgboost/sklearn.py
Due: pylint

Inline _get_unwrap_udt_fn
  python-package/xgboost/spark/core.py
Due: pylint

Ignore future return in the destructor. (#12092)
  src/data/sparse_page_source.h
Due: lint-cpp

Fix python -OO crash by guarding __doc__ assignments against None
  python-package/xgboost/dask/__init__.py
  python-package/xgboost/sklearn.py
Due: pylint

[python-package] Add regression test for python -OO import
  tests/python/test_basic.py
Due: none

Fix ruff lint and bitwise XOR on float32 in indicator test
  tests/python/test_parse_tree.py
Due: none

Address review feedback: fix XOR test, add indicator validation, use explicit encoding
  python-package/xgboost/core.py
  tests/python/test_parse_tree.py
Due: pylint

Handle indicator (boolean) features in trees_to_dataframe
  python-package/xgboost/core.py
  tests/python/test_parse_tree.py
Due: pylint

Fix ruff format: join single-line expression
  tests/python/test_parse_tree.py
Due: none

[python-package] Set indicator missing direction to no-child, assert non_leaf non-empty
  python-package/xgboost/core.py
  tests/python/test_parse_tree.py
Due: pylint

Pass objective args through factory
  include/xgboost/objective.h
  plugin/example/custom_obj.cc
  src/learner.cc
  src/objective/aft_obj.cu
  src/objective/hinge.cu
  src/objective/lambdarank_obj.cc
  src/objective/multiclass_obj.cu
  src/objective/objective.cc
  src/objective/quantile_obj.cu
  src/objective/regression_obj.cu
Due: lint-cpp

Use constructor-time objective init in tests
  tests/cpp/objective/test_aft_obj.cc
  tests/cpp/objective/test_hinge.cc
  tests/cpp/objective/test_multiclass_obj.cc
  tests/cpp/objective/test_objective.cc
  tests/cpp/objective/test_quantile_obj.cc
  tests/cpp/objective/test_regression_obj.cc
  tests/cpp/objective/test_regression_obj_cpu.cc
  tests/cpp/plugin/test_example_objective.cc
  tests/cpp/plugin/test_sycl_regression_obj.cc
  tests/cpp/predictor/test_shap.cc
Due: lint-cpp

Fix distributed training.
  src/learner.cc
Due: lint-cpp

cleanup.
  src/common/random.cc
  src/common/random.h
  src/tree/hist/sampler.cc
  src/tree/hist/sampler.h
  src/tree/updater_approx.cc
  src/tree/updater_gpu_hist.cu
  src/tree/updater_quantile_hist.cc
Due: lint-cpp

Use hex.
  src/common/random.cc
  src/context.cc
  src/tree/updater_gpu_hist.cu
Due: lint-cpp

Tests.
  python-package/xgboost/testing/continuation.py
  tests/python-gpu/test_gpu_training_continuation.py
  tests/python/test_training_continuation.py
Due: pylint

per iteration.
  python-package/xgboost/testing/continuation.py
  tests/python-gpu/test_gpu_training_continuation.py
  tests/python/test_training_continuation.py
Due: pylint

Cleanup.
  include/xgboost/context.h
  src/common/random.cc
  src/context.cc
Due: lint-cpp

cleanup.
  python-package/xgboost/testing/continuation.py
  src/tree/updater_quantile_hist.cc
Due: lint-cpp, pylint

Cleanups.
  src/common/random.h
  src/tree/updater_approx.cc
  src/tree/updater_gpu_hist.cu
  src/tree/updater_quantile_hist.cc
Due: lint-cpp

Update document.
  doc/treemethod.rst
Due: none

Fix.
  src/learner.cc
Due: lint-cpp

Fix.
  src/tree/updater_approx.cc
  src/tree/updater_gpu_hist.cu
  src/tree/updater_quantile_hist.cc
Due: lint-cpp

cleanup.
  tests/python-gpu/test_gpu_training_continuation.py
  tests/python/test_training_continuation.py
Due: none

Cleanups.
  src/tree/updater_approx.cc
  src/tree/updater_gpu_hist.cu
Due: lint-cpp

[wip] Serialize the RNG in ctx.
  include/xgboost/context.h
  python-package/xgboost/testing/continuation.py
  src/common/random.h
  src/context.cc
  src/learner.cc
  src/tree/updater_approx.cc
  src/tree/updater_gpu_hist.cu
  src/tree/updater_quantile_hist.cc
  tests/python-gpu/test_gpu_training_continuation.py
  tests/python/test_training_continuation.py
Due: lint-cpp, pylint

Cleanups.
  src/common/random.cc
  src/common/random.h
  src/context.cc
Due: lint-cpp

pre-commit.
  python-package/xgboost/testing/continuation.py
  tests/python-gpu/test_gpu_training_continuation.py
  tests/python/test_training_continuation.py
Due: pylint

Fix.
  src/common/random.cc
  src/common/random.h
Due: lint-cpp

Remove the member variable.
  plugin/sycl/tree/hist_updater.cc
  src/common/random.cc
  src/common/random.h
  src/tree/hist/evaluate_splits.h
  src/tree/updater_colmaker.cc
  src/tree/updater_gpu_hist.cu
  src/tree/updater_gpu_hist.cuh
  tests/cpp/common/test_random.cc
  tests/cpp/tree/hist/test_evaluate_splits.cc
Due: lint-cpp

lint.
  python-package/xgboost/testing/continuation.py
  src/tree/updater_colmaker.cc
  tests/python-gpu/test_gpu_training_continuation.py
  tests/python/test_training_continuation.py
Due: lint-cpp, pylint

use seed instead.
  src/common/random.cc
  src/common/random.cu
  src/common/random.h
  tests/cpp/common/test_random.cc
Due: lint-cpp

pre-commit.
  plugin/sycl/tree/hist_updater.cc
  plugin/sycl/tree/hist_updater.h
  src/common/random.h
  src/tree/updater_gpu_hist.cu
  tests/cpp/common/test_random.cc
  tests/cpp/tree/test_constraints.cc
Due: lint-cpp

Cross platform tests.
  .github/workflows/main.yml
  tests/cross-platform/test_cross_platform_model.py
Due: none

Path conditions:
  lint-cpp: any of: \.(cc|c|cpp|h|cu|hpp)$, but not: (dmlc-core|gputreeshap)
  lint-cmake: any of: (CMakeLists\.txt$|^cmake/.*\.cmake$), but not: (dmlc-core|gputreeshap)
  pylint: any of: \.py$, but not: (dmlc-core|gputreeshap|^ops/|^tests/)
