Repository dmlc/xgboost: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-cpp, lint-cmake, pylint

lint-cpp:
  name: C++ lint (cpplint)
  entry: python ops/script/lint_cpp.py
  language: python
  additional_dependencies:
  - cpplint==1.6.1

lint-cmake:
  name: CMake lint (cmakelint)
  entry: cmakelint --linelength=120 --filter=-convention/filename,-package/stdargs,-readability/wonkycase
  language: python
  additional_dependencies:
  - cmakelint

pylint:
  name: Python lint (pylint)
  entry: pylint
  language: python
  args:
  - --rcfile=python-package/pyproject.toml
  additional_dependencies:
  - pylint

Update doc/security.rst
  doc/security.rst
Due: none

Prune GPU sketch after each merge (#12105)
  src/common/hist_util.cu
  src/common/hist_util.cuh
  src/common/quantile.cu
  src/common/quantile.cuh
  tests/cpp/common/test_hist_util.h
  tests/cpp/common/test_quantile.cu
  tests/python/test_data_iterator.py
  tests/test_distributed/test_with_spark/test_spark.py
Due: lint-cpp

Simplify GPU sketch batch sizing
  src/common/hist_util.cu
  src/common/hist_util.cuh
  tests/cpp/common/test_hist_util.cu
Due: lint-cpp

Use fixed GPU sketch batch size
  src/common/hist_util.cu
  src/common/hist_util.cuh
  tests/cpp/common/test_hist_util.cu
Due: lint-cpp

fix: issue #11947 automated patch
  .bot/coordination/acceptance_criteria.md
  .bot/coordination/coordinator_plan.md
  .bot/coordination/worker_handoff.md
  .bot/coordination/worker_handoff_retry.md
  .bot/coordination/worker_report.md
  .bot/memory/coordinator_retrieved_memory.md
  .bot/memory/worker_retrieved_memory.md
  .bot/pr_body.md
  .bot/retrieved_memory.md
  .bot/validation.md
  .bot/validation_failures.md
  .bot/validation_matrix.json
  .openclaw/workspace-state.json
  AGENTS.md
  HEARTBEAT.md
  IDENTITY.md
  SOUL.md
  TOOLS.md
  USER.md
  python-package/xgboost/__init__.py
  python-package/xgboost/interpret.py
  tests/python/test_shap.py
Due: pylint

fix: issue #11845 automated patch
  .bot/coordination/acceptance_criteria.md
  .bot/coordination/coordinator_plan.md
  .bot/coordination/worker_handoff.md
  .bot/coordination/worker_report.md
  .bot/memory/coordinator_retrieved_memory.md
  .bot/memory/worker_retrieved_memory.md
  .bot/pr_body.md
  .bot/retrieved_memory.md
  .bot/validation.md
  .bot/validation_matrix.json
  .openclaw/workspace-state.json
  AGENTS.md
  HEARTBEAT.md
  IDENTITY.md
  SOUL.md
  TOOLS.md
  USER.md
  src/tree/gpu_hist/multi_evaluate_splits.cu
  src/tree/hist/evaluate_splits.h
  src/tree/param.h
  src/tree/updater_approx.cc
  src/tree/updater_colmaker.cc
  src/tree/updater_gpu_common.cuh
  src/tree/updater_gpu_hist.cu
  src/tree/updater_gpu_hist.cuh
  src/tree/updater_prune.cc
  src/tree/updater_quantile_hist.cc
  src/tree/updater_refresh.cc
  tests/cpp/tree/test_tree_stat.cc
Due: lint-cpp

fix: clean pr scope and suppress interpret pylint args
  .bot/coordination/acceptance_criteria.md
  .bot/coordination/coordinator_plan.md
  .bot/coordination/worker_handoff.md
  .bot/coordination/worker_handoff_retry.md
  .bot/coordination/worker_report.md
  .bot/memory/coordinator_retrieved_memory.md
  .bot/memory/worker_retrieved_memory.md
  .bot/pr_body.md
  .bot/retrieved_memory.md
  .bot/validation.md
  .bot/validation_failures.md
  .bot/validation_matrix.json
  .openclaw/workspace-state.json
  AGENTS.md
  HEARTBEAT.md
  IDENTITY.md
  SOUL.md
  TOOLS.md
  USER.md
  python-package/xgboost/interpret.py
Due: pylint

chore: address maintainer review feedback
  .bot/coordination/acceptance_criteria.md
  .bot/coordination/acceptance_feedback.md
  .bot/coordination/coordinator_plan.md
  .bot/coordination/coordinator_plan_feedback.md
  .bot/coordination/worker_handoff.md
  .bot/coordination/worker_handoff_feedback.md
  .bot/coordination/worker_handoff_feedback_retry.md
  .bot/coordination/worker_handoff_retry.md
  .bot/coordination/worker_report.md
  .bot/maintainer_feedback.md
  .bot/memory/coordinator_retrieved_memory.md
  .bot/memory/worker_retrieved_memory.md
  .bot/pr_body.md
  .bot/pr_review_comment.md
  .bot/retrieved_memory.md
  .bot/revalidation_failures.md
  .bot/validation.md
  .bot/validation_failures.md
  .bot/validation_matrix.json
  .openclaw/workspace-state.json
  AGENTS.md
  HEARTBEAT.md
  IDENTITY.md
  SOUL.md
  TOOLS.md
  USER.md
Due: none

chore: address maintainer review feedback
  .bot/coordination/worker_handoff.md
  .bot/coordination/worker_report.md
  .bot/memory/coordinator_retrieved_memory.md
  .bot/memory/worker_retrieved_memory.md
  .bot/pr_review_comment.md
  .bot/retrieved_memory.md
  .bot/validation_matrix.json
Due: none

fix: prune workspace files and correct near assertion
  .bot/coordination/acceptance_criteria.md
  .bot/coordination/coordinator_plan.md
  .bot/coordination/worker_handoff.md
  .bot/coordination/worker_report.md
  .bot/memory/coordinator_retrieved_memory.md
  .bot/memory/worker_retrieved_memory.md
  .bot/pr_body.md
  .bot/retrieved_memory.md
  .bot/validation.md
  .bot/validation_matrix.json
  .openclaw/workspace-state.json
  AGENTS.md
  HEARTBEAT.md
  IDENTITY.md
  SOUL.md
  TOOLS.md
  USER.md
  tests/cpp/tree/test_tree_stat.cc
Due: lint-cpp

chore: address maintainer review feedback
  .bot/coordination/acceptance_criteria.md
  .bot/coordination/acceptance_feedback.md
  .bot/coordination/coordinator_plan.md
  .bot/coordination/coordinator_plan_feedback.md
  .bot/coordination/worker_handoff.md
  .bot/coordination/worker_handoff_feedback.md
  .bot/coordination/worker_report.md
  .bot/maintainer_feedback.md
  .bot/memory/coordinator_retrieved_memory.md
  .bot/memory/worker_retrieved_memory.md
  .bot/pr_body.md
  .bot/pr_review_comment.md
  .bot/retrieved_memory.md
  .bot/validation.md
  .bot/validation_matrix.json
  .openclaw/workspace-state.json
  AGENTS.md
  HEARTBEAT.md
  IDENTITY.md
  SOUL.md
  TOOLS.md
  USER.md
Due: none

chore: remove workspace artifacts from pr diff
  .bot/coordination/acceptance_criteria.md
  .bot/coordination/acceptance_feedback.md
  .bot/coordination/coordinator_plan.md
  .bot/coordination/coordinator_plan_feedback.md
  .bot/coordination/worker_handoff.md
  .bot/coordination/worker_handoff_feedback.md
  .bot/coordination/worker_handoff_feedback_retry.md
  .bot/coordination/worker_handoff_retry.md
  .bot/coordination/worker_report.md
  .bot/maintainer_feedback.md
  .bot/memory/coordinator_retrieved_memory.md
  .bot/memory/worker_retrieved_memory.md
  .bot/pr_body.md
  .bot/pr_review_comment.md
  .bot/retrieved_memory.md
  .bot/revalidation_failures.md
  .bot/validation.md
  .bot/validation_failures.md
  .bot/validation_matrix.json
  .openclaw/workspace-state.json
  AGENTS.md
  HEARTBEAT.md
  IDENTITY.md
  SOUL.md
  TOOLS.md
  USER.md
Due: none

chore: remove workspace files from PR diff
  .bot/coordination/acceptance_criteria.md
  .bot/coordination/acceptance_feedback.md
  .bot/coordination/coordinator_plan.md
  .bot/coordination/coordinator_plan_feedback.md
  .bot/coordination/worker_handoff.md
  .bot/coordination/worker_handoff_feedback.md
  .bot/coordination/worker_handoff_feedback_retry.md
  .bot/coordination/worker_handoff_retry.md
  .bot/coordination/worker_report.md
  .bot/maintainer_feedback.md
  .bot/memory/coordinator_retrieved_memory.md
  .bot/memory/worker_retrieved_memory.md
  .bot/pr_body.md
  .bot/pr_review_comment.md
  .bot/retrieved_memory.md
  .bot/revalidation_failures.md
  .bot/validation.md
  .bot/validation_failures.md
  .bot/validation_matrix.json
  .openclaw/workspace-state.json
  AGENTS.md
  HEARTBEAT.md
  IDENTITY.md
  SOUL.md
  TOOLS.md
  USER.md
Due: none

Add Spark GPU Auto module name
  jvm-packages/xgboost4j-spark-gpu/pom.xml
Due: none

chore: remove accidental workspace files from PR
  .bot/coordination/acceptance_criteria.md
  .bot/coordination/acceptance_feedback.md
  .bot/coordination/coordinator_plan.md
  .bot/coordination/coordinator_plan_feedback.md
  .bot/coordination/worker_handoff.md
  .bot/coordination/worker_handoff_feedback.md
  .bot/coordination/worker_report.md
  .bot/maintainer_feedback.md
  .bot/memory/coordinator_retrieved_memory.md
  .bot/memory/worker_retrieved_memory.md
  .bot/pr_body.md
  .bot/pr_review_comment.md
  .bot/retrieved_memory.md
  .bot/validation.md
  .bot/validation_matrix.json
  .openclaw/workspace-state.json
  AGENTS.md
  HEARTBEAT.md
  IDENTITY.md
  SOUL.md
  TOOLS.md
  USER.md
Due: none

chore: remove accidental workspace files from PR
  .bot/coordination/acceptance_criteria.md
  .bot/coordination/acceptance_feedback.md
  .bot/coordination/coordinator_plan.md
  .bot/coordination/coordinator_plan_feedback.md
  .bot/coordination/worker_handoff.md
  .bot/coordination/worker_handoff_feedback.md
  .bot/coordination/worker_handoff_feedback_retry.md
  .bot/coordination/worker_handoff_retry.md
  .bot/coordination/worker_report.md
  .bot/maintainer_feedback.md
  .bot/memory/coordinator_retrieved_memory.md
  .bot/memory/worker_retrieved_memory.md
  .bot/pr_body.md
  .bot/pr_review_comment.md
  .bot/retrieved_memory.md
  .bot/revalidation_failures.md
  .bot/validation.md
  .bot/validation_failures.md
  .bot/validation_matrix.json
  .openclaw/workspace-state.json
  AGENTS.md
  HEARTBEAT.md
  IDENTITY.md
  SOUL.md
  TOOLS.md
  USER.md
Due: none

ci(r): install libuv1-dev and cmake in Debian test container
  .github/workflows/r_tests.yml
Due: none

hdv.
  include/xgboost/host_device_vector.h
  src/common/host_device_vector.cc
  src/common/host_device_vector.cu
  tests/cpp/common/test_host_device_vector.cu
Due: lint-cpp

tensor.
  include/xgboost/host_device_vector.h
  include/xgboost/linalg.h
  src/common/host_device_vector.cc
  src/common/host_device_vector.cu
  tests/cpp/common/test_host_device_vector.cu
  tests/cpp/common/test_linalg.cu
  tests/cpp/common/test_linalg.h
Due: lint-cpp

Use it in the predictor.
  src/predictor/predictor.cc
Due: lint-cpp

lint.
  include/xgboost/host_device_vector.h
  include/xgboost/linalg.h
  src/common/host_device_vector.cc
  tests/cpp/common/test_host_device_vector.cu
  tests/cpp/common/test_linalg.cu
  tests/cpp/common/test_linalg.h
Due: lint-cpp

sycl, remove dft.
  plugin/sycl/common/host_device_vector.cc
  src/common/host_device_vector.cu
Due: lint-cpp

lint.
  plugin/sycl/common/host_device_vector.cc
Due: lint-cpp

Use raw-byte GPU allreduce for quantile sketch
  src/collective/allreduce.cuh
  src/common/quantile.cu
Due: lint-cpp

Reduce GPU allreduce control overhead
  src/collective/allreduce.cuh
Due: none

Update security.md.
  SECURITY.md
Due: none

Move the security policy.
  SECURITY.md
  doc/security.rst
Due: none

lint.
  SECURITY.md
Due: none

reviewer's comment.
  doc/security.rst
Due: none

revert
  ops/pipeline/get-image-tag.sh
Due: none

[cmake] fix building with system-installed dmlc-core
  CMakeLists.txt
Due: lint-cmake

device uvector ctor.
  src/common/algorithm.cuh
  src/common/device_compression.cu
  src/common/device_vector.cuh
  src/common/host_device_vector.cu
  src/common/linalg_op.cu
  src/data/cat_container.cu
  src/data/ellpack_page.cu
  src/predictor/interpretability/shap.cu
  src/tree/gpu_hist/evaluate_splits.cu
  tests/cpp/common/test_device_compression.cu
  tests/cpp/common/test_device_vector.cu
  tests/cpp/common/test_linalg.cu
  tests/cpp/tree/gpu_hist/test_row_partitioner.cu
Due: lint-cpp

resize.
  src/common/device_helpers.cuh
  src/common/device_vector.cuh
  src/tree/gpu_hist/row_partitioner.cu
  tests/cpp/common/test_device_vector.cu
  tests/cpp/tree/gpu_hist/test_row_partitioner.cu
Due: lint-cpp

win.
  src/common/device_vector.cuh
Due: none

Path conditions:
  lint-cpp: any of: \.(cc|c|cpp|h|cu|hpp)$, but not: (dmlc-core|gputreeshap)
  lint-cmake: any of: (CMakeLists\.txt$|^cmake/.*\.cmake$), but not: (dmlc-core|gputreeshap)
  pylint: any of: \.py$, but not: (dmlc-core|gputreeshap|^ops/|^tests/)
