Repository dmlc/xgboost: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-cpp, lint-cmake, pylint

lint-cpp:
  name: C++ lint (cpplint)
  entry: python ops/script/lint_cpp.py
  language: python
  additional_dependencies:
  - cpplint==1.6.1

lint-cmake:
  name: CMake lint (cmakelint)
  entry: cmakelint --linelength=120 --filter=-convention/filename,-package/stdargs,-readability/wonkycase
  language: python
  additional_dependencies:
  - cmakelint

pylint:
  name: Python lint (pylint)
  entry: pylint
  language: python
  args:
  - --rcfile=python-package/pyproject.toml
  additional_dependencies:
  - pylint

lint.
  demo/guide-python/prediction_intervals.py
Due: pylint

Cleanup.
  src/objective/regression_obj.cu
Due: lint-cpp

Update types for CTK 13.4
  src/data/cat_container.cu
  src/encoder/ordinal.cuh
Due: lint-cpp

check.
  src/common/stats.cc
  src/common/stats.cu
Due: lint-cpp

Fix compilation with ctk133.
  src/encoder/ordinal.cuh
  src/encoder/ordinal.h
Due: lint-cpp

conditional definition.
  src/common/random.cu
  src/common/random.cuh
  src/tree/gpu_hist/sampler.cu
Due: lint-cpp

undef.
  src/common/random.cuh
Due: none

Re-parameterize the expectile objective. (#12228)
  R-package/R/xgb.train.R
  R-package/R/xgboost.R
  R-package/man/xgb.params.Rd
  R-package/man/xgboost.Rd
  demo/aft_survival/aft_survival_viz_demo.py
  demo/guide-python/prediction_intervals.py
  demo/guide-python/quantile_regression.py
  doc/parameter.rst
  include/xgboost/objective.h
  python-package/xgboost/testing/multi_target.py
  src/common/expectile_loss_utils.h
  src/common/linalg_op.h
  src/common/math.h
  src/common/stats.cc
  src/common/stats.cu
  src/objective/regression_obj.cu
  tests/cpp/helpers.cc
  tests/cpp/objective/test_regression_obj.cc
  tests/python-gpu/test_gpu_multi_target.py
  tests/python/test_demos.py
  tests/python/test_multi_target.py
Due: lint-cpp, pylint

relax.
  tests/cpp/tree/test_gpu_hist.cu
Due: lint-cpp

doc: fix R custom metric evaluation log and matrix reshaping
  doc/tutorials/custom_metric_obj.rst
Due: none

idx type.
  src/encoder/ordinal.cuh
  src/encoder/ordinal.h
Due: lint-cpp

support arm in cachemanager
  src/common/cache_manager.cc
Due: lint-cpp

format
  src/common/cache_manager.cc
Due: lint-cpp

Update types for CTK 13.3 (#12230)
  src/data/cat_container.cu
  src/encoder/ordinal.cuh
  src/encoder/ordinal.h
Due: lint-cpp

[JVM] Add xgboost4j support for FreeBSD (#12222)
  jvm-packages/create_jni.py
  jvm-packages/xgboost4j/src/main/java/ml/dmlc/xgboost4j/java/NativeLibLoader.java
Due: pylint

clean up
  src/common/cache_manager.cc
Due: lint-cpp

Use philox for faster sampling on GPU. (#12223)
  src/common/random.cu
  src/common/random.cuh
  src/tree/gpu_hist/sampler.cu
  tests/cpp/tree/test_gpu_hist.cu
Due: lint-cpp

Fix locale-dependent float serialization in xgboost4j
  jvm-packages/xgboost4j/src/main/java/ml/dmlc/xgboost4j/java/Booster.java
  jvm-packages/xgboost4j/src/main/java/ml/dmlc/xgboost4j/java/XGBoost.java
Due: none

Enable latest libcxx on MacOS
  R-package/src/Makevars.in
Due: none

Remove nvidia-nccl-cu12 from pyproject.toml
  python-package/pyproject.toml
Due: none

Mark wheels as any platform compatible
  python-package/hatch_build.py
Due: pylint

Fix compilation with the latest CCCL
  src/common/hist_util.cu
  src/common/quantile.cu
  src/common/ranking_utils.cu
  src/data/ellpack_page.cu
  src/metric/auc.cu
  src/objective/lambdarank_obj.cu
  src/tree/gpu_hist/evaluate_splits.cuh
  src/tree/gpu_hist/evaluator.cu
  tests/cpp/common/test_quantile.cu
Due: lint-cpp

Fix missing include
  src/tree/gpu_hist/histogram.cu
Due: lint-cpp

Fix CMake export target.
  cmake/xgboost-config.cmake.in
Due: none

cccl.
  cmake/xgboost-config.cmake.in
Due: none

Reject polars categorical.
  python-package/xgboost/data.py
  tests/python/test_with_polars.py
Due: pylint

Fix CMake export target. (#12238)
  cmake/xgboost-config.cmake.in
Due: none

Detect CPU cache sizes via sysfs on aarch64 Linux (#12233)
  src/common/cache_manager.cc
Due: lint-cpp

[doc] Brief note about expectile margin output.
  doc/parameter.rst
Due: none

Potential fix for pull request finding
  doc/parameter.rst
Due: none

Small fix to categorical splits in vector leaf.
  src/tree/tree_model.cc
Due: lint-cpp

type.
  src/tree/tree_model.cc
Due: lint-cpp

lint.
  python-package/xgboost/dask/utils.py
Due: pylint

Drop old dask.
  python-package/xgboost/dask/utils.py
Due: pylint

Support VS2026.
  jvm-packages/create_jni.py
  python-package/packager/nativelib.py
Due: pylint

Potential fix for pull request finding
  jvm-packages/create_jni.py
Due: pylint

drop old dask.
  python-package/xgboost/dask/utils.py
Due: pylint

cleanup.
  jvm-packages/create_jni.py
Due: pylint

Path conditions:
  lint-cpp: any of: \.(cc|c|cpp|h|cu|hpp)$, but not: (dmlc-core|gputreeshap)
  lint-cmake: any of: (CMakeLists\.txt$|^cmake/.*\.cmake$), but not: (dmlc-core|gputreeshap)
  pylint: any of: \.py$, but not: (dmlc-core|gputreeshap|^ops/|^tests/)
