Repository dmlc/xgboost: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-cpp, lint-cmake, pylint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: check-yaml
      - id: check-toml
      - id: check-json
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable
      - id: mixed-line-ending
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.14
    hooks:
      - id: ruff-check
        args:
          - --fix
          - --select=I
        files: \.py$
        exclude: (dmlc-core|gputreeshap)
      - id: ruff-format
        files: \.py$
        exclude: (dmlc-core|gputreeshap)
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v21.1.8
    hooks:
      - id: clang-format
        args: [--style=file]
        files: \.(cc|c|cpp|h|cu|hpp)$
        exclude: (dmlc-core|gputreeshap)
  - repo: local
    hooks:
      - id: lint-cpp
        name: C++ lint (cpplint)
        entry: python ops/script/lint_cpp.py
        language: python
        types: [file]
        files: \.(cc|c|cpp|h|cu|hpp)$
        exclude: (dmlc-core|gputreeshap)
        additional_dependencies:
          - cpplint==1.6.1
      - id: lint-cmake
        name: CMake lint (cmakelint)
        entry: cmakelint --linelength=120 --filter=-convention/filename,-package/stdargs,-readability/wonkycase
        language: python
        types: [file]
        files: (CMakeLists\.txt$|^cmake/.*\.cmake$)
        exclude: (dmlc-core|gputreeshap)
        additional_dependencies:
          - cmakelint
      - id: pylint
        name: Python lint (pylint)
        entry: pylint
        language: python
        types: [file]
        files: \.py$
        exclude: (dmlc-core|gputreeshap|^ops/|^tests/)
        args:
          - --rcfile=python-package/pyproject.toml
        additional_dependencies:
          - pylint

[MT] Support distributed training and the Dask interface.
  python-package/xgboost/testing/dask.py
  src/tree/updater_gpu_hist.cuh
  src/tree/updater_quantile_hist.cc
  tests/test_distributed/test_gpu_with_dask/test_gpu_with_dask.py
  tests/test_distributed/test_with_dask/test_with_dask.py
Due: lint-cpp, pylint

lint.
  python-package/xgboost/testing/dask.py
  tests/test_distributed/test_gpu_with_dask/test_gpu_with_dask.py
Due: pylint

fix.
  python-package/xgboost/testing/dask.py
Due: pylint

Fix.
  src/tree/updater_gpu_hist.cuh
Due: none

Fix MAE.
  python-package/xgboost/testing/dask.py
  src/objective/adaptive.cc
  src/objective/adaptive.cu
  src/objective/adaptive.h
  tests/test_distributed/test_gpu_with_dask/test_gpu_with_dask.py
  tests/test_distributed/test_with_dask/test_with_dask.py
Due: lint-cpp, pylint

lint.
  src/objective/adaptive.cu
Due: lint-cpp

Cleanups.
  python-package/xgboost/testing/dask.py
Due: pylint

Cleanups.
  python-package/xgboost/testing/dask.py
  tests/test_distributed/test_gpu_with_dask/test_gpu_with_dask.py
  tests/test_distributed/test_with_dask/test_with_dask.py
Due: pylint

restore the test.
  tests/test_distributed/test_gpu_with_dask/test_gpu_with_dask.py
Due: none

Fix scalar leaf.
  src/objective/adaptive.h
Due: lint-cpp

staled test.
  tests/cpp/objective/test_regression_obj.cc
Due: lint-cpp

[breaking] Use the JSON model for `trees_to_dataframe`.
  python-package/xgboost/core.py
  python-package/xgboost/testing/parse_tree.py
  tests/python/test_parse_tree.py
Due: pylint

Use an explicit worker set.
  tests/test_distributed/test_with_dask/test_external_memory.py
Due: none

mt.
  python-package/xgboost/core.py
Due: pylint

test.
  python-package/xgboost/testing/parse_tree.py
  tests/python/test_parse_tree.py
Due: pylint

Extend GPU quadrature TreeSHAP depth bucket (#12290)
  src/predictor/interpretability/shap.cu
  tests/cpp/predictor/test_shap.cc
  tests/cpp/predictor/test_shap.cu
  tests/cpp/predictor/test_shap.h
Due: lint-cpp

lint.
  python-package/xgboost/testing/parse_tree.py
  tests/python/test_parse_tree.py
Due: pylint

comments.
  python-package/xgboost/core.py
  python-package/xgboost/testing/parse_tree.py
  tests/python/test_parse_tree.py
Due: pylint

Fix.
  python-package/xgboost/testing/parse_tree.py
Due: pylint

use int.
  python-package/xgboost/core.py
  python-package/xgboost/testing/parse_tree.py
Due: pylint

typo.
  python-package/xgboost/core.py
Due: pylint

hygiene.
  src/objective/adaptive.cc
  src/objective/adaptive.cu
  src/objective/adaptive.h
Due: lint-cpp

[MT] Support distributed training and the Dask interface. (#12292)
  python-package/xgboost/testing/dask.py
  src/objective/adaptive.cc
  src/objective/adaptive.cu
  src/objective/adaptive.h
  src/tree/updater_gpu_hist.cuh
  src/tree/updater_quantile_hist.cc
  tests/cpp/objective/test_regression_obj.cc
  tests/test_distributed/test_gpu_with_dask/test_gpu_with_dask.py
  tests/test_distributed/test_with_dask/test_external_memory.py
  tests/test_distributed/test_with_dask/test_with_dask.py
Due: lint-cpp, pylint

[MT] Implement interaction constraints.
  python-package/xgboost/testing/interaction_constraints.py
  src/tree/hist/evaluate_splits.h
  src/tree/updater_gpu_hist.cuh
  src/tree/updater_quantile_hist.cc
  tests/python-gpu/test_gpu_interaction_constraints.py
  tests/python/test_interaction_constraints.py
Due: lint-cpp, pylint

fix: simplify int32 dump overflow fix to a direct int64_t cast
  src/tree/tree_model.cc
  tests/python/test_basic.py
Due: lint-cpp

Unify and fix `min_child_weight`.
  src/tree/gpu_hist/evaluate_splits.cu
  src/tree/hist/evaluate_splits.h
  src/tree/split_evaluator.h
  src/tree/updater_gpu_common.cuh
  tests/cpp/tree/test_tree_stat.cc
Due: lint-cpp

headers.
  src/tree/split_evaluator.h
  src/tree/updater_gpu_common.cuh
Due: lint-cpp

Unify and fix min_child_weight. (#12296)
  src/tree/gpu_hist/evaluate_splits.cu
  src/tree/hist/evaluate_splits.h
  src/tree/split_evaluator.h
  src/tree/updater_gpu_common.cuh
  tests/cpp/tree/test_tree_stat.cc
Due: lint-cpp

[MT] Implement interaction constraints. (#12294)
  python-package/xgboost/testing/interaction_constraints.py
  src/tree/hist/evaluate_splits.h
  src/tree/updater_gpu_hist.cuh
  src/tree/updater_quantile_hist.cc
  tests/python-gpu/test_gpu_interaction_constraints.py
  tests/python/test_interaction_constraints.py
Due: lint-cpp, pylint

Drop unused instantiation.
  src/common/quantile.cc
Due: lint-cpp

Remove the deprecated `XGDMatrixCreateFromFile`.
  demo/c-api/basic/c-api-demo.c
  doc/tutorials/c_api_tutorial.rst
  include/xgboost/c_api.h
  jvm-packages/xgboost4j/src/main/java/ml/dmlc/xgboost4j/java/DMatrix.java
  jvm-packages/xgboost4j/src/main/java/ml/dmlc/xgboost4j/java/XGBoostJNI.java
  jvm-packages/xgboost4j/src/native/xgboost4j.cpp
  jvm-packages/xgboost4j/src/native/xgboost4j.h
  jvm-packages/xgboost4j/src/test/java/ml/dmlc/xgboost4j/java/DMatrixTest.java
  src/c_api/c_api.cc
  tests/cpp/c_api/test_c_api.cc
Due: lint-cpp

lint.
  demo/c-api/basic/c-api-demo.c
  jvm-packages/xgboost4j/src/main/java/ml/dmlc/xgboost4j/java/XGBoostJNI.java
  jvm-packages/xgboost4j/src/native/xgboost4j.h
Due: lint-cpp

win.
  jvm-packages/xgboost4j/src/native/xgboost4j.cpp
Due: lint-cpp

Remove the deprecated `XGDMatrixCreateFromFile`. (#12297)
  demo/c-api/basic/c-api-demo.c
  doc/tutorials/c_api_tutorial.rst
  include/xgboost/c_api.h
  jvm-packages/xgboost4j/src/main/java/ml/dmlc/xgboost4j/java/DMatrix.java
  jvm-packages/xgboost4j/src/main/java/ml/dmlc/xgboost4j/java/XGBoostJNI.java
  jvm-packages/xgboost4j/src/native/xgboost4j.cpp
  jvm-packages/xgboost4j/src/native/xgboost4j.h
  jvm-packages/xgboost4j/src/test/java/ml/dmlc/xgboost4j/java/DMatrixTest.java
  src/c_api/c_api.cc
  tests/cpp/c_api/test_c_api.cc
Due: lint-cpp

cleanup.
  src/tree/hist/evaluate_splits.h
Due: lint-cpp

work.
  src/tree/hist/evaluate_splits.h
Due: lint-cpp

bounds.
  src/tree/hist/evaluate_splits.h
Due: lint-cpp

impl.
  src/tree/hist/evaluate_splits.h
Due: lint-cpp

test.
  src/tree/hist/evaluate_splits.h
  tests/cpp/tree/hist/test_evaluate_splits.cc
Due: lint-cpp
