Repository dmlc/xgboost: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-cpp, lint-cmake, pylint

lint-cpp:
  name: C++ lint (cpplint)
  entry: python ops/script/lint_cpp.py
  language: python
  additional_dependencies:
  - cpplint==1.6.1

lint-cmake:
  name: CMake lint (cmakelint)
  entry: cmakelint --linelength=120 --filter=-convention/filename,-package/stdargs,-readability/wonkycase
  language: python
  additional_dependencies:
  - cmakelint

pylint:
  name: Python lint (pylint)
  entry: pylint
  language: python
  args:
  - --rcfile=python-package/pyproject.toml
  additional_dependencies:
  - pylint

cleanup.
  src/cross_validate/cross_validate.cu
Due: lint-cpp

wording.
  src/cross_validate/cross_validate.cu
Due: lint-cpp

lint
  src/c_api/c_api.cu
Due: lint-cpp

[CV, EM] Remove NVComp (#12552)
  CMakeLists.txt
  cmake/Utils.cmake
  doc/tutorials/external_memory.rst
  include/xgboost/data.h
  src/c_api/c_api.cu
  src/common/common.h
  src/common/cuda_dr_utils.cc
  src/common/cuda_dr_utils.h
  src/common/device_compression.cu
  src/common/device_compression.cuh
  src/common/device_compression.h
  src/data/ellpack_page_source.cu
  src/data/ellpack_page_source.h
  tests/cpp/common/test_device_compression.cu
  tests/cpp/data/test_extmem_quantile_dmatrix.cu
  tests/cpp/helpers.cc
  tests/cpp/helpers.h
Due: lint-cpp, lint-cmake

[CV] Grow the full tree. (#12551)
  src/cross_validate/cross_validate.cu
  src/cross_validate/tree_method.cuh
  tests/cpp/tree/gpu_hist/test_histogram.cu
  tests/python-gpu/test_cross_validate.py
Due: lint-cpp

Split an over-long line in _validate_features to satisfy pylint
  python-package/xgboost/core.py
Due: pylint

Update rapidsai to 26.08.
  ops/pipeline/get-image-tag.sh
  python-package/xgboost/_data_utils.py
  python-package/xgboost/compat.py
  python-package/xgboost/dask/__init__.py
  python-package/xgboost/dask/data.py
  python-package/xgboost/data.py
  python-package/xgboost/spark/core.py
  python-package/xgboost/spark/data.py
  python-package/xgboost/testing/dask.py
  python-package/xgboost/testing/data.py
  python-package/xgboost/testing/data_iter.py
  python-package/xgboost/testing/ordinal.py
  python-package/xgboost/testing/updater.py
Due: pylint

lint.
  src/c_api/c_api.cu
  src/common/hist_util.cu
  src/common/quantile.cu
  src/common/random.cu
  src/common/ranking_utils.cu
  src/common/stats.cu
  src/gbm/gbtree.cu
  src/objective/quantile_obj.cu
  src/predictor/gpu_predictor.cu
  src/tree/fit_stump.cu
  src/tree/gpu_hist/evaluate_splits.cu
  src/tree/gpu_hist/evaluator.cu
  src/tree/gpu_hist/quantiser.cu
  src/tree/updater_gpu_hist.cu
  tests/cpp/common/test_device_helpers.cu
  tests/cpp/common/test_device_vector.cu
  tests/cpp/common/test_hist_util.cu
  tests/cpp/common/test_host_device_vector.cu
  tests/cpp/common/test_ref_resource_view.cu
  tests/cpp/common/test_stats.cu
Due: lint-cpp

pylint.
  python-package/xgboost/_data_utils.py
  python-package/xgboost/dask/__init__.py
  python-package/xgboost/spark/core.py
  python-package/xgboost/spark/data.py
  python-package/xgboost/testing/data.py
  python-package/xgboost/testing/updater.py
Due: pylint

Check include.
  src/common/cuda_compat.cuh
Due: none

fix.
  src/common/cuda_compat.cuh
Due: none

Drop the const iter.
  src/common/cuda_compat.cuh
Due: none

check.
  python-package/xgboost/_data_utils.py
Due: pylint

bring back the tag.
  ops/pipeline/get-image-tag.sh
Due: none

Fix test include paths.
  tests/cpp/encoder/df_mock.cuh
  tests/cpp/encoder/test_ordinal.cu
  tests/cpp/tree/test_fit_stump.cc
Due: lint-cpp

Fix test include paths. (#12562)
  tests/cpp/encoder/df_mock.cuh
  tests/cpp/encoder/test_ordinal.cu
  tests/cpp/tree/test_fit_stump.cc
Due: lint-cpp

Begin converting metrics to the kernel abstraction (#12558)
  src/metric/elementwise_metric.cu
  src/metric/elementwise_metric.cuh
  src/metric/elementwise_metric.h
  src/metric/metric.cc
  src/metric/rmse_metric.cc
  src/metric/rmse_metric.cu
  src/metric/rmse_metric.h
Due: lint-cpp

[obj] Use the absolute-residual pseudo-Hessian |p - y| for multiclass softmax (#12537)
  R-package/tests/testthat/test_custom_objective.R
  demo/guide-python/custom_softmax.py
  doc/tutorials/custom_metric_obj.rst
  python-package/xgboost/testing/__init__.py
  src/objective/multiclass_obj.cc
  src/objective/multiclass_obj.cu
  tests/cpp/objective/test_multiclass_obj.cc
Due: lint-cpp, pylint

Convert MAE and MAPE to the kernel abstraction
  src/metric/elementwise_metric.cu
  src/metric/elementwise_metric.h
  src/metric/mae_metric.cc
  src/metric/mae_metric.cu
  src/metric/mae_metric.h
  src/metric/metric.cc
  src/metric/rmse_metric.cc
Due: lint-cpp

Fix CI documentation checks and redirect DART tutorial
  R-package/man/xgb.params.Rd
  R-package/man/xgboost.Rd
  doc/conf.py
  doc/requirements.txt
  python-package/xgboost/core.py
Due: pylint

Synchronize distributed target initialization
  src/learner.cc
  tests/cpp/test_learner.cc
Due: lint-cpp

Simplify normal objective documentation
  doc/parameter.rst
Due: none

Clarify normal variance noise floor
  doc/parameter.rst
Due: none

Add normal distribution objective
  doc/parameter.rst
  src/metric/elementwise_metric.cu
  src/objective/normal_obj.cc
  src/objective/normal_obj.cu
  src/objective/normal_obj.h
  src/objective/objective.cc
  tests/cpp/metric/test_metric.cc
  tests/cpp/objective/test_regression_obj.cc
  tests/cpp/objective/test_regression_obj.h
  tests/cpp/objective/test_regression_obj_cpu.cc
  tests/python/test_multi_target.py
Due: lint-cpp

Explain normal variance stability test
  tests/python/test_multi_target.py
Due: none

Stabilize normal variance at interpolation
  doc/parameter.rst
  src/objective/normal_obj.cc
  src/objective/normal_obj.cu
  src/objective/normal_obj.h
  tests/python/test_multi_target.py
Due: lint-cpp

Fix normal objective lint
  src/objective/normal_obj.cc
  src/objective/normal_obj.cu
  tests/python/test_multi_target.py
Due: lint-cpp

Stabilize normal NLL evaluation
  src/metric/elementwise_metric.cu
  tests/cpp/metric/test_metric.cc
Due: lint-cpp

Keep normal objective gradients finite for extreme margins
  src/objective/normal_obj.h
  tests/cpp/objective/test_regression_obj.cc
  tests/python/test_multi_target.py
Due: lint-cpp

[CV] Externalize the fold splits.
  python-package/xgboost/_cross_validation.py
  src/cross_validate/cross_validate.cc
  src/cross_validate/cross_validate.cu
  src/cross_validate/cross_validate.h
  src/cross_validate/evaluate.cu
  src/cross_validate/kfolds.cc
  src/cross_validate/kfolds.cu
  src/cross_validate/kfolds.cuh
  src/cross_validate/kfolds.h
  src/cross_validate/tree_method.cuh
  src/tree/gpu_hist/row_partitioner.cu
  src/tree/gpu_hist/row_partitioner.cuh
  tests/cpp/cross_validate/test_cv_evaluate.cu
  tests/cpp/cross_validate/test_kfolds.cu
  tests/cpp/tree/gpu_hist/test_row_partitioner.cu
  tests/python-gpu/test_cross_validate.py
Due: lint-cpp, pylint

Compute normal intercept variance in double precision
  src/objective/normal_obj.cc
  src/objective/normal_obj.cu
  tests/cpp/objective/test_regression_obj.cc
Due: lint-cpp

Fixes.
  python-package/xgboost/_cross_validation.py
  src/cross_validate/kfolds.cu
  src/cross_validate/kfolds.cuh
  tests/cpp/cross_validate/test_kfolds.cu
Due: lint-cpp, pylint

lint
  python-package/xgboost/_cross_validation.py
Due: pylint

[Don't merge] Test XGBoost 3.4.1 with Python 3.11
  .github/workflows/main.yml
  .github/workflows/pre-commit.yml
  .github/workflows/python_tests.yml
  .github/workflows/python_wheels_variants.yml
  .github/workflows/python_wheels_winarm64.yml
  .github/workflows/r_tests.yml
  .readthedocs.yaml
  doc/xgboost_doc.yml
  ops/conda_env/linux_sycl_test.yml
  ops/conda_env/macos_cpu_test.yml
  ops/conda_env/minimal.yml
  ops/conda_env/python_lint.yml
  ops/conda_env/sdist_test.yml
  ops/conda_env/win64_test.yml
  ops/pipeline/build-python-wheels-cpu.sh
  ops/pipeline/build-python-wheels-macos.sh
  ops/pipeline/get-image-tag.sh
  python-package/pyproject.toml
  python-package/pyproject.toml.in
  python-package/pyproject.toml.stub.in
Due: none

Fix learner lint and limit RFECV test threading
  src/learner.cc
  tests/python/test_with_sklearn.py
Due: lint-cpp

[CI] Freeze Python `build` to avoid SSL load error on Windows. (#12517)
  ops/conda_env/sdist_test.yml
  ops/conda_env/win64_test.yml
Due: none

Test collective rejection of inconsistent target counts
  tests/cpp/test_learner.cc
Due: lint-cpp

Path conditions:
  lint-cpp: any of: \.(cc|c|cpp|h|cu|hpp)$, but not: (dmlc-core|gputreeshap)
  lint-cmake: any of: (CMakeLists\.txt$|^cmake/.*\.cmake$), but not: (dmlc-core|gputreeshap)
  pylint: any of: \.py$, but not: (dmlc-core|gputreeshap|^ops/|^tests/)
