Repository dmlc/xgboost: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-cpp, lint-cmake, pylint

lint-cpp:
  name: C++ lint (cpplint)
  entry: python ops/script/lint_cpp.py
  language: python
  additional_dependencies:
  - cpplint==1.6.1

lint-cmake:
  name: CMake lint (cmakelint)
  entry: cmakelint --linelength=120 --filter=-convention/filename,-package/stdargs,-readability/wonkycase
  language: python
  additional_dependencies:
  - cmakelint

pylint:
  name: Python lint (pylint)
  entry: pylint
  language: python
  args:
  - --rcfile=python-package/pyproject.toml
  additional_dependencies:
  - pylint

Cleanups.
  src/tree/gpu_hist/multi_evaluate_splits.cu
Due: lint-cpp

ptr.
  src/tree/gpu_hist/multi_evaluate_splits.cu
Due: lint-cpp

use double.
  src/tree/hist/evaluate_splits.h
  src/tree/updater_gpu_hist.cuh
Due: lint-cpp

Remove checks.
  src/tree/split_evaluator.h
Due: lint-cpp

[doc] Prefer CUDA async pool for external memory. (#12337)
  demo/guide-python/distributed_extmem_basic.py
  demo/guide-python/external_memory.py
  doc/tutorials/external_memory.rst
Due: pylint

Address column split review comments
  tests/cpp/helpers.cc
  tests/python/test_with_pandas.py
Due: lint-cpp

Deprecate the random forest estimators (#12324)
  doc/tutorials/rf.rst
  python-package/xgboost/dask/__init__.py
  python-package/xgboost/sklearn.py
  tests/python/test_with_sklearn.py
Due: pylint

Remove remaining column split API plumbing
  R-package/R/xgb.DMatrix.R
  R-package/src/init.c
  R-package/src/xgboost_R.cc
  R-package/src/xgboost_R.h
  include/xgboost/data.h
  python-package/xgboost/core.py
  python-package/xgboost/data.py
  src/c_api/c_api.cc
  src/data/data.cc
  src/data/data.cu
  src/tree/common_row_partitioner.h
  src/tree/updater_approx.cc
  src/tree/updater_quantile_hist.cc
  tests/cpp/c_api/test_c_api.cc
  tests/cpp/common/test_quantile.cu
  tests/cpp/data/test_metainfo.cc
  tests/cpp/data/test_simple_dmatrix.cc
  tests/cpp/helpers.cc
  tests/cpp/helpers.h
  tests/cpp/metric/test_auc.h
  tests/cpp/metric/test_distributed_metric.cc
  tests/cpp/metric/test_elementwise_metric.h
  tests/cpp/metric/test_multiclass_metric.h
  tests/cpp/metric/test_rank_metric.h
  tests/cpp/metric/test_survival_metric.h
  tests/cpp/tree/hist/test_histogram.cc
  tests/cpp/tree/test_approx.cc
  tests/cpp/tree/test_common_partitioner.cc
  tests/cpp/tree/test_fit_stump.cc
  tests/cpp/tree/test_quantile_hist.cc
Due: lint-cpp, pylint

[MT] Unify split evaluator. (#12336)
  src/tree/gpu_hist/leaf_sum.cu
  src/tree/gpu_hist/leaf_sum.cuh
  src/tree/gpu_hist/multi_evaluate_splits.cu
  src/tree/gpu_hist/multi_evaluate_splits.cuh
  src/tree/hist/evaluate_splits.h
  src/tree/param.h
  src/tree/split_evaluator.h
  src/tree/updater_colmaker.cc
  src/tree/updater_gpu_hist.cuh
  src/tree/updater_quantile_hist.cc
  tests/cpp/tree/gpu_hist/test_multi_evaluate_splits.cu
  tests/cpp/tree/test_param.cc
  tests/cpp/tree/test_split_evaluator.cc
Due: lint-cpp

[MT] Support dart.
  python-package/xgboost/testing/multi_target.py
  src/gbm/gbtree.cc
  src/gbm/gbtree.h
  tests/cpp/gbm/test_gbtree.cc
  tests/python-gpu/test_gpu_multi_target.py
  tests/python/test_multi_target.py
Due: lint-cpp, pylint

Potential fix for pull request finding
  python-package/xgboost/testing/multi_target.py
Due: pylint

lint
  tests/cpp/gbm/test_gbtree.cc
Due: lint-cpp

[wip][MT] Monotonic constraint.
  python-package/xgboost/testing/monotone_constraints.py
  src/tree/hist/evaluate_splits.h
  src/tree/split_evaluator.h
  src/tree/updater_quantile_hist.cc
  tests/cpp/tree/hist/test_evaluate_splits.cc
  tests/cpp/tree/test_split_evaluator.cc
  tests/python/test_monotone_constraints.py
  tests/python/test_multi_target.py
Due: lint-cpp, pylint

reduce grad.
  src/tree/hist/evaluate_splits.h
  src/tree/split_evaluator.h
  src/tree/updater_quantile_hist.cc
  tests/python/test_multi_target.py
Due: lint-cpp

doc.
  doc/tutorials/categorical.rst
  doc/tutorials/monotonic.rst
  doc/tutorials/multioutput.rst
Due: none

GPU.
  python-package/xgboost/testing/multi_target.py
  src/tree/gpu_hist/leaf_sum.cu
  src/tree/gpu_hist/multi_evaluate_splits.cu
  src/tree/gpu_hist/multi_evaluate_splits.cuh
  src/tree/hist/evaluate_splits.h
  src/tree/split_evaluator.h
  src/tree/updater_gpu_hist.cuh
  tests/cpp/tree/gpu_hist/test_multi_evaluate_splits.cu
  tests/cpp/tree/test_split_evaluator.cc
  tests/python-gpu/test_monotonic_constraints.py
  tests/python/test_multi_target.py
Due: lint-cpp, pylint

lint.
  python-package/xgboost/testing/multi_target.py
Due: pylint

cleanup.
  python-package/xgboost/testing/monotone_constraints.py
Due: pylint

Cleanups.
  src/tree/gpu_hist/evaluate_splits.cuh
  src/tree/gpu_hist/evaluator.cu
  src/tree/gpu_hist/multi_evaluate_splits.cu
  src/tree/gpu_hist/multi_evaluate_splits.cuh
  src/tree/hist/evaluate_splits.h
  src/tree/split_evaluator.h
  src/tree/updater_colmaker.cc
  src/tree/updater_gpu_hist.cuh
  tests/cpp/tree/gpu_hist/test_multi_evaluate_splits.cu
  tests/cpp/tree/hist/test_evaluate_splits.cc
  tests/cpp/tree/test_split_evaluator.cc
Due: lint-cpp

doc.
  doc/tutorials/monotonic.rst
Due: none

tests.
  python-package/xgboost/testing/monotone_constraints.py
  tests/python-gpu/test_monotonic_constraints.py
  tests/python/test_monotone_constraints.py
Due: pylint

cleanups.
  python-package/xgboost/testing/monotone_constraints.py
Due: pylint

Cleanup.
  src/tree/param.h
  src/tree/updater_refresh.cc
Due: lint-cpp

rng.
  python-package/xgboost/testing/monotone_constraints.py
Due: pylint

Cleanups.
  src/tree/param.h
  src/tree/split_evaluator.h
  src/tree/updater_refresh.cc
Due: lint-cpp

Promote the vector leaf from WIP.
  demo/guide-python/multioutput_regression.py
  doc/treemethod.rst
  doc/tutorials/multioutput.rst
Due: pylint

lint.
  demo/guide-python/multioutput_regression.py
Due: pylint

Cleanups.
  python-package/xgboost/testing/monotone_constraints.py
  src/tree/param.h
  src/tree/split_evaluator.h
Due: lint-cpp, pylint

added the RF tutorial docs
  doc/tutorials/rf.rst
Due: none

added the RF tutorial docs (#12342)
  doc/tutorials/rf.rst
Due: none

Add USE_VECTOR_MATH macro for vectorized math integration
  CMakeLists.txt
  cmake/Utils.cmake
  cmake/modules/FindArmPL.cmake
  cmake/modules/FindSLEEF.cmake
Due: lint-cmake

suggested test.
  tests/python/test_multi_target.py
Due: none

checks.
  src/tree/updater_approx.cc
  src/tree/updater_colmaker.cc
Due: lint-cpp

[MT] Support dart. (#12340)
  python-package/xgboost/testing/multi_target.py
  src/gbm/gbtree.cc
  src/gbm/gbtree.h
  tests/cpp/gbm/test_gbtree.cc
  tests/python-gpu/test_gpu_multi_target.py
  tests/python/test_multi_target.py
Due: lint-cpp, pylint

Reuse weight fn, add test.
  python-package/xgboost/testing/multi_target.py
  src/gbm/gbtree.cc
  src/tree/gpu_hist/evaluate_splits.cu
  src/tree/gpu_hist/evaluate_splits.cuh
  src/tree/gpu_hist/evaluator.cu
  src/tree/gpu_hist/leaf_sum.cu
  src/tree/gpu_hist/leaf_sum.cuh
  src/tree/gpu_hist/multi_evaluate_splits.cu
  src/tree/gpu_hist/multi_evaluate_splits.cuh
  src/tree/hist/evaluate_splits.h
  src/tree/param.h
  src/tree/split_evaluator.h
  src/tree/updater_gpu_common.cuh
  src/tree/updater_gpu_hist.cu
  src/tree/updater_gpu_hist.cuh
  src/tree/updater_quantile_hist.cc
  tests/cpp/tree/gpu_hist/test_evaluate_splits.cu
  tests/cpp/tree/gpu_hist/test_multi_evaluate_splits.cu
  tests/cpp/tree/test_split_evaluator.cc
Due: lint-cpp, pylint

Note.
  doc/tutorials/monotonic.rst
Due: none

Remove remaining C++ data split API
  include/xgboost/data.h
  src/c_api/c_api.cc
  src/data/data.cc
  src/data/data.cu
  src/data/proxy_dmatrix.h
  src/data/quantile_dmatrix.h
  src/data/simple_dmatrix.cc
  src/data/simple_dmatrix.h
  src/data/sparse_page_dmatrix.h
  tests/cpp/common/test_quantile.cu
  tests/cpp/data/test_metainfo.cc
  tests/cpp/data/test_simple_dmatrix.cc
  tests/cpp/helpers.cc
  tests/cpp/helpers.h
  tests/cpp/metric/test_auc.h
  tests/cpp/metric/test_distributed_metric.cc
  tests/cpp/metric/test_elementwise_metric.h
  tests/cpp/metric/test_multiclass_metric.h
  tests/cpp/metric/test_rank_metric.h
  tests/cpp/metric/test_survival_metric.h
  tests/cpp/tree/test_fit_stump.cc
Due: lint-cpp

Hoist from_array_interface wrapper class to module scope
  python-package/xgboost/_data_utils.py
Due: pylint

Path conditions:
  lint-cpp: any of: \.(cc|c|cpp|h|cu|hpp)$, but not: (dmlc-core|gputreeshap)
  lint-cmake: any of: (CMakeLists\.txt$|^cmake/.*\.cmake$), but not: (dmlc-core|gputreeshap)
  pylint: any of: \.py$, but not: (dmlc-core|gputreeshap|^ops/|^tests/)
