Repository dmlc/xgboost: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-cpp, lint-cmake, black, isort, pylint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: check-yaml
      - id: check-toml
      - id: check-json
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable
      - id: mixed-line-ending
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v21.1.8
    hooks:
      - id: clang-format
        args: [--style=file]
        files: \.(cc|c|cpp|h|cu|hpp)$
        exclude: (dmlc-core|gputreeshap)
  - repo: local
    hooks:
      - id: lint-cpp
        name: C++ lint (cpplint)
        entry: python ops/script/lint_cpp.py
        language: python
        types: [file]
        files: \.(cc|c|cpp|h|cu|hpp)$
        exclude: (dmlc-core|gputreeshap)
        additional_dependencies:
          - cpplint==1.6.1
      - id: lint-cmake
        name: CMake lint (cmakelint)
        entry: cmakelint --linelength=120 --filter=-convention/filename,-package/stdargs,-readability/wonkycase
        language: python
        types: [file]
        files: (CMakeLists\.txt$|^cmake/.*\.cmake$)
        exclude: (dmlc-core|gputreeshap)
        additional_dependencies:
          - cmakelint
      - id: black
        name: Python format (black)
        entry: black -q
        language: python
        types: [file]
        files: \.py$
        exclude: (dmlc-core|gputreeshap)
        additional_dependencies:
          - black
      - id: isort
        name: Python format (isort)
        entry: isort
        language: python
        types: [file]
        files: \.py$
        exclude: (dmlc-core|gputreeshap)
        args:
          - --settings-path
          - python-package
          - --src=python-package
        additional_dependencies:
          - isort
      - id: pylint
        name: Python lint (pylint)
        entry: pylint
        language: python
        types: [file]
        files: \.py$
        exclude: (dmlc-core|gputreeshap|^ops/|^tests/)
        args:
          - --rcfile=python-package/pyproject.toml
        additional_dependencies:
          - pylint

CI fix
  src/gbm/gbtree.h
Due: lint-cpp

Refactor quantile sketch structure and queue handling
  src/common/hist_util.cu
  src/common/quantile.cc
  src/common/quantile.cuh
  src/common/quantile.h
Due: lint-cpp

CI fixes
  demo/guide-python/custom_softmax.py
  python-package/xgboost/testing/__init__.py
Due: black, isort, pylint

Use cupy <14.0
  ops/conda_env/win64_test.yml
  python-package/xgboost/testing/__init__.py
Due: black, isort, pylint

Deprecate gblinear (#12030)
  demo/guide-python/custom_softmax.py
  doc/parameter.rst
  ops/conda_env/win64_test.yml
  python-package/xgboost/sklearn.py
  python-package/xgboost/testing/__init__.py
  src/learner.cc
  tests/cpp/test_learner.cc
Due: lint-cpp, black, isort, pylint

[ci] Re-enable dependabot for github actions. (#12029)
  .github/dependabot.yml
Due: none

Enable categorical feature support by default. (#12015)
  python-package/xgboost/core.py
  python-package/xgboost/dask/__init__.py
  python-package/xgboost/data.py
  python-package/xgboost/sklearn.py
  tests/python-gpu/test_from_cudf.py
  tests/python-gpu/test_gpu_ordinal.py
  tests/python-gpu/test_gpu_prediction.py
  tests/python-gpu/test_gpu_with_sklearn.py
  tests/python/generate_models.py
  tests/python/test_callback.py
  tests/python/test_data_iterator.py
  tests/python/test_demos.py
  tests/python/test_model_io.py
  tests/python/test_predict.py
  tests/python/test_quantile_dmatrix.py
  tests/python/test_with_pandas.py
  tests/python/test_with_polars.py
  tests/python/test_with_sklearn.py
  tests/test_distributed/test_gpu_with_dask/test_gpu_with_dask.py
  tests/test_distributed/test_with_dask/test_with_dask.py
Due: black, isort, pylint

Support DART weights in GPU TreeSHAP
  src/predictor/gpu_predictor.cu
  tests/cpp/predictor/test_shap.cc
Due: lint-cpp

Fix test
  src/common/quantile.cc
  src/common/quantile.h
  tests/cpp/common/test_quantile.cc
Due: lint-cpp

Use span instead of ptr + size
  src/common/quantile.cc
  src/common/quantile.h
  tests/cpp/common/test_quantile.cc
Due: lint-cpp

Fix RNG state persistence in checkpoint save/load for distributed training
  src/learner.cc
  tests/cpp/test_checkpoint_rng.cc
  tests/python/test_checkpoint_rng_consistency.py
Due: lint-cpp, black, isort

[CI] Avoid push runs caused by dependabot.
  .github/workflows/freebsd.yml
  .github/workflows/jvm_tests.yml
  .github/workflows/lint.yml
  .github/workflows/main.yml
  .github/workflows/misc.yml
  .github/workflows/pre-commit.yml
  .github/workflows/python_tests.yml
  .github/workflows/python_wheels_variants.yml
  .github/workflows/python_wheels_winarm64.yml
  .github/workflows/r_tests.yml
  .github/workflows/sycl_tests.yml
  .github/workflows/windows.yml
Due: none

[CI] Avoid push runs caused by dependabot. (#12038)
  .github/workflows/freebsd.yml
  .github/workflows/jvm_tests.yml
  .github/workflows/lint.yml
  .github/workflows/main.yml
  .github/workflows/misc.yml
  .github/workflows/pre-commit.yml
  .github/workflows/python_tests.yml
  .github/workflows/python_wheels_variants.yml
  .github/workflows/python_wheels_winarm64.yml
  .github/workflows/r_tests.yml
  .github/workflows/sycl_tests.yml
  .github/workflows/windows.yml
Due: none

checkout.
  .github/workflows/cccl_nightly.yml
  .github/workflows/freebsd.yml
  .github/workflows/jvm_tests.yml
  .github/workflows/lint.yml
  .github/workflows/main.yml
  .github/workflows/misc.yml
  .github/workflows/pre-commit.yml
  .github/workflows/python_tests.yml
  .github/workflows/python_wheels_variants.yml
  .github/workflows/python_wheels_winarm64.yml
  .github/workflows/r_nold.yml
  .github/workflows/r_tests.yml
  .github/workflows/scorecards.yml
  .github/workflows/sycl_tests.yml
  .github/workflows/windows.yml
Due: none

setup-python.
  .github/workflows/pre-commit.yml
  .github/workflows/python_tests.yml
  .github/workflows/python_wheels_winarm64.yml
  .github/workflows/r_tests.yml
Due: none

Use the pytest tmp path fixture.
  tests/python-gpu/test_gpu_with_sklearn.py
  tests/python/test_basic.py
  tests/python/test_basic_models.py
  tests/python/test_callback.py
  tests/python/test_data_iterator.py
  tests/python/test_demos.py
  tests/python/test_dmatrix.py
  tests/python/test_model_io.py
  tests/python/test_openmp.py
  tests/python/test_training_continuation.py
  tests/python/test_with_polars.py
  tests/python/test_with_sklearn.py
  tests/test_distributed/test_gpu_with_dask/test_gpu_with_dask.py
  tests/test_distributed/test_with_dask/test_with_dask.py
  tests/test_distributed/test_with_spark/test_spark.py
Due: black, isort

Use the pytest tmp path fixture. (#12019)
  tests/python-gpu/test_gpu_with_sklearn.py
  tests/python/test_basic.py
  tests/python/test_basic_models.py
  tests/python/test_callback.py
  tests/python/test_data_iterator.py
  tests/python/test_demos.py
  tests/python/test_dmatrix.py
  tests/python/test_model_io.py
  tests/python/test_openmp.py
  tests/python/test_training_continuation.py
  tests/python/test_with_polars.py
  tests/python/test_with_sklearn.py
  tests/test_distributed/test_gpu_with_dask/test_gpu_with_dask.py
  tests/test_distributed/test_with_dask/test_with_dask.py
  tests/test_distributed/test_with_spark/test_spark.py
Due: black, isort

Revert "Use span instead of ptr + size"
  src/common/quantile.cc
  src/common/quantile.h
  tests/cpp/common/test_quantile.cc
Due: lint-cpp

Dispatch on data type
  src/predictor/interpretability/shap.cc
  src/predictor/interpretability/shap.cu
Due: lint-cpp

Clang-tidy
  src/common/quantile.h
Due: lint-cpp

native sycl implemenations for mean
  plugin/sycl/common/stats.cc
  src/common/stats.cc
  src/common/stats.h
Due: lint-cpp

[doc] Notes for pickling.
  doc/tutorials/saving_model.rst
Due: none

pre-commit.
  doc/tutorials/saving_model.rst
Due: none

[sycl] Fix multiclass objective calculation (#12041)
  plugin/sycl/common/stats.cc
  src/common/stats.cc
  src/common/stats.h
Due: lint-cpp

[wip] Replace the global random engine.
  include/xgboost/context.h
  src/common/common.cc
  src/common/random.cu
  src/common/random.h
  src/gbm/gbtree.cc
  src/learner.cc
  src/linear/coordinate_common.h
  src/tree/gpu_hist/sampler.cu
  src/tree/hist/sampler.cc
  src/tree/updater_colmaker.cc
  src/tree/updater_gpu_hist.cu
  tests/cpp/test_learner.cc
  tests/cpp/test_serialization.cc
  tests/cpp/tree/test_gpu_hist.cu
Due: lint-cpp

Fixes.
  include/xgboost/context.h
  src/common/common.cc
  src/common/random.cu
  src/linear/coordinate_common.h
  tests/cpp/test_learner.cc
  tests/cpp/test_serialization.cc
Due: lint-cpp

Move the typedef.
  include/xgboost/context.h
  src/common/random.h
Due: lint-cpp

add federated learning docs and tracking files
  UPSTREAM_CHECKLIST.md
  UPSTREAM_GUIDE.md
  doc/tutorials/federated_learning.rst
  doc/tutorials/federated_learning_security.rst
  docs_checklist/1_API_DOCUMENTATION_REVIEW.md
  docs_checklist/3_PARAMETER_DOCUMENTATION.md
  docs_checklist/4_CHANGELOG_ENTRY.md
  docs_checklist/4_CHANGELOG_ENTRY_UPDATED.md
  docs_checklist/5_README_UPDATES.md
  docs_checklist/DOCUMENTATION_SUMMARY.md
  docs_checklist/SECURITY_DOCUMENTATION_SUMMARY.md
  docs_checklist/SECURITY_ENHANCEMENTS_QUICK_REF.md
Due: none

combine docs
  doc/tutorials/federated_learning.rst
  doc/tutorials/federated_learning_security.rst
  doc/tutorials/index.rst
  docs_checklist/UPSTREAM_CHECKLIST.md
  docs_checklist/UPSTREAM_GUIDE.md
Due: none

Fix comment.
  src/tree/updater_colmaker.cc
Due: lint-cpp

fully test and polish federated_learning.rst
  doc/tutorials/federated_learning.rst
Due: none

add docstrings
  doc/tutorials/=2.1
  doc/tutorials/federated_learning.rst
  docs_checklist/1_API_DOCUMENTATION_REVIEW.md
  docs_checklist/3_PARAMETER_DOCUMENTATION.md
  docs_checklist/4_CHANGELOG_ENTRY.md
  docs_checklist/4_CHANGELOG_ENTRY_UPDATED.md
  docs_checklist/5_README_UPDATES.md
  docs_checklist/DOCUMENTATION_SUMMARY.md
  docs_checklist/SECURITY_DOCUMENTATION_SUMMARY.md
  docs_checklist/SECURITY_ENHANCEMENTS_QUICK_REF.md
  docs_checklist/UPSTREAM_CHECKLIST.md
  docs_checklist/UPSTREAM_GUIDE.md
  python-package/xgboost/federated.py
  python-package/xgboost/testing/federated.py
Due: black, isort, pylint

remove redundant file
  doc/tutorials/=2.1
Due: none

Apply suggestions from code review
  doc/tutorials/saving_model.rst
Due: none

[wip][ci] Revise document build pipeline.
  doc/conf.py
  doc/requirements.txt
  doc/sphinx_util.py
  ops/pipeline/build-jvm-doc.sh
  ops/pipeline/build-r-docs.sh
  ops/script/build_local_docs.py
Due: black, isort, pylint

header
  doc/changes/old.md
Due: none

Merge old release notes.
  doc/changes/index.rst
  doc/changes/old.md
Due: none

Cleanup.
  doc/conf.py
  ops/script/build_local_docs.py
Due: black, isort, pylint

Replace the global random engine. (#12043)
  include/xgboost/context.h
  src/common/common.cc
  src/common/random.cu
  src/common/random.h
  src/gbm/gbtree.cc
  src/learner.cc
  src/linear/coordinate_common.h
  src/tree/gpu_hist/sampler.cu
  src/tree/hist/sampler.cc
  src/tree/updater_colmaker.cc
  src/tree/updater_gpu_hist.cu
  tests/cpp/test_learner.cc
  tests/cpp/test_serialization.cc
  tests/cpp/tree/test_gpu_hist.cu
Due: lint-cpp
