Repository dmlc/xgboost: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-cpp, lint-cmake, pylint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: check-yaml
      - id: check-toml
      - id: check-json
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable
      - id: mixed-line-ending
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.14
    hooks:
      - id: ruff-check
        args:
          - --fix
          - --select=I
        files: \.py$
        exclude: (dmlc-core|gputreeshap)
      - id: ruff-format
        files: \.py$
        exclude: (dmlc-core|gputreeshap)
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v21.1.8
    hooks:
      - id: clang-format
        args: [--style=file]
        files: \.(cc|c|cpp|h|cu|hpp)$
        exclude: (dmlc-core|gputreeshap)
  - repo: local
    hooks:
      - id: lint-cpp
        name: C++ lint (cpplint)
        entry: python ops/script/lint_cpp.py
        language: python
        types: [file]
        files: \.(cc|c|cpp|h|cu|hpp)$
        exclude: (dmlc-core|gputreeshap)
        additional_dependencies:
          - cpplint==1.6.1
      - id: lint-cmake
        name: CMake lint (cmakelint)
        entry: cmakelint --linelength=120 --filter=-convention/filename,-package/stdargs,-readability/wonkycase
        language: python
        types: [file]
        files: (CMakeLists\.txt$|^cmake/.*\.cmake$)
        exclude: (dmlc-core|gputreeshap)
        additional_dependencies:
          - cmakelint
      - id: pylint
        name: Python lint (pylint)
        entry: pylint
        language: python
        types: [file]
        files: \.py$
        exclude: (dmlc-core|gputreeshap|^ops/|^tests/)
        args:
          - --rcfile=python-package/pyproject.toml
        additional_dependencies:
          - pylint

Split Poisson and Tweedie objective kernels (#12425)
  R-package/src/Makevars.in
  R-package/src/Makevars.win.in
  src/objective/elementwise_objective.cuh
  src/objective/elementwise_objective.h
  src/objective/objective.cc
  src/objective/poisson_obj.cc
  src/objective/poisson_obj.cu
  src/objective/poisson_obj.h
  src/objective/regression_obj.cu
  src/objective/tweedie_obj.cc
  src/objective/tweedie_obj.cu
  src/objective/tweedie_obj.h
Due: lint-cpp

Split gamma and squared log objective kernels
  R-package/src/Makevars.in
  R-package/src/Makevars.win.in
  src/objective/gamma_obj.cc
  src/objective/gamma_obj.cu
  src/objective/gamma_obj.h
  src/objective/objective.cc
  src/objective/regression_loss.h
  src/objective/regression_obj.cu
  src/objective/squared_log_obj.cc
  src/objective/squared_log_obj.cu
  src/objective/squared_log_obj.h
Due: lint-cpp

Split gamma and squared log objective kernels (#12427)
  R-package/src/Makevars.in
  R-package/src/Makevars.win.in
  src/objective/gamma_obj.cc
  src/objective/gamma_obj.cu
  src/objective/gamma_obj.h
  src/objective/objective.cc
  src/objective/regression_loss.h
  src/objective/regression_obj.cu
  src/objective/squared_log_obj.cc
  src/objective/squared_log_obj.cu
  src/objective/squared_log_obj.h
Due: lint-cpp

Split squared error and logistic objective kernels
  R-package/src/Makevars.in
  R-package/src/Makevars.win.in
  src/objective/logistic_obj.cc
  src/objective/logistic_obj.cu
  src/objective/logistic_obj.h
  src/objective/objective.cc
  src/objective/regression_loss.h
  src/objective/regression_obj.cu
  src/objective/squared_error_obj.cc
  src/objective/squared_error_obj.cu
  src/objective/squared_error_obj.h
Due: lint-cpp

Use a majorized Hessian for Poisson regression
  R-package/R/xgb.train.R
  R-package/R/xgboost.R
  R-package/man/xgb.params.Rd
  R-package/man/xgboost.Rd
  doc/parameter.rst
  src/learner.cc
  src/objective/poisson_obj.cc
  src/objective/poisson_obj.h
  tests/cpp/objective/test_objective.cc
  tests/cpp/objective/test_regression_obj.cc
  tests/cpp/test_learner.cc
Due: lint-cpp

[JVM] Support CUDA async pool in Spark. (#12417)
  jvm-packages/xgboost4j-spark-gpu/src/main/scala/ml/dmlc/xgboost4j/scala/spark/GpuXGBoostPlugin.scala
  jvm-packages/xgboost4j-spark-gpu/src/test/scala/ml/dmlc/xgboost4j/scala/spark/GpuXGBoostPluginSuite.scala
Due: none

Use Newton update for quantile intercept
  src/objective/init_estimation.cc
  src/objective/quantile_obj.cu
  tests/cpp/objective/test_quantile_obj.cc
Due: lint-cpp

Use Halley update for Poisson regression
  src/objective/poisson_obj.h
  tests/cpp/objective/test_regression_obj.cc
Due: lint-cpp

Split quantile objective kernels
  src/objective/objective.cc
  src/objective/quantile_obj.cc
  src/objective/quantile_obj.cu
  src/objective/quantile_obj.h
Due: lint-cpp

Optimize quantile CUDA reduction
  src/objective/quantile_obj.cc
  src/objective/quantile_obj.cu
  src/objective/quantile_obj.h
Due: lint-cpp

[CI] Run the macOS Python tests on Apple Silicon as well
  .github/workflows/python_tests.yml
Due: none

Split squared error and logistic objective kernels (#12430)
  R-package/src/Makevars.in
  R-package/src/Makevars.win.in
  src/objective/logistic_obj.cc
  src/objective/logistic_obj.cu
  src/objective/logistic_obj.h
  src/objective/objective.cc
  src/objective/regression_loss.h
  src/objective/regression_obj.cu
  src/objective/squared_error_obj.cc
  src/objective/squared_error_obj.cu
  src/objective/squared_error_obj.h
Due: lint-cpp

parameter: address review feedback
  include/xgboost/base.h
  include/xgboost/gbm.h
  include/xgboost/linear_updater.h
  include/xgboost/logging.h
  include/xgboost/metric.h
  include/xgboost/objective.h
  include/xgboost/parameter.h
  include/xgboost/tree_updater.h
Due: lint-cpp

Apply pre-commit formatting
  include/xgboost/linear_updater.h
  include/xgboost/logging.h
  include/xgboost/metric.h
  include/xgboost/parameter.h
  plugin/example/custom_obj.cc
  src/linear/updater_coordinate.cc
  src/linear/updater_gpu_coordinate.cu
  src/linear/updater_shotgun.cc
  src/logging.cc
  src/metric/survival_metric.cu
  src/objective/aft_obj.cu
Due: lint-cpp

Optimize absolute error CUDA kernels
  src/objective/absolute_error_obj.cc
  src/objective/absolute_error_obj.cu
  src/objective/absolute_error_obj.h
Due: lint-cpp

Split multiclass and absolute error objective kernels
  R-package/src/Makevars.in
  R-package/src/Makevars.win.in
  src/objective/absolute_error_obj.cc
  src/objective/absolute_error_obj.cu
  src/objective/absolute_error_obj.h
  src/objective/multiclass_obj.cc
  src/objective/multiclass_obj.cu
  src/objective/multiclass_obj.h
  src/objective/objective.cc
  src/objective/regression_obj.cu
Due: lint-cpp

Fix multiclass CUDA intercept estimation
  src/objective/multiclass_obj.cc
  src/objective/multiclass_obj.cu
  src/objective/multiclass_obj.h
Due: lint-cpp

c-api: configure booster parameters in batches
  include/xgboost/c_api.h
  include/xgboost/learner.h
  python-package/xgboost/core.py
  python-package/xgboost/sklearn.py
  src/c_api/c_api.cc
  src/learner.cc
  tests/cpp/c_api/test_c_api.cc
  tests/cpp/common/test_categorical.cc
  tests/cpp/common/test_io.cc
  tests/cpp/gbm/test_gbtree.cc
  tests/cpp/gbm/test_gbtree.cu
  tests/cpp/objective/test_objective.cc
  tests/cpp/predictor/test_predictor.cc
  tests/cpp/predictor/test_shap.cu
  tests/cpp/test_learner.cc
  tests/cpp/test_learner.cu
  tests/cpp/test_multi_target.cc
  tests/cpp/test_serialization.cc
  tests/cpp/tree/test_gpu_hist.cu
  tests/cpp/tree/test_prediction_cache.h
  tests/cpp/tree/test_regen.cc
  tests/cpp/tree/test_tree_policy.cc
  tests/python/test_basic_models.py
Due: lint-cpp, pylint

Resolve objective split conflicts with master
  src/objective/absolute_error_obj.cc
  src/objective/multiclass_obj.cc
  src/objective/regression_obj.cu
Due: lint-cpp

bindings: configure booster parameters in batches
  R-package/R/xgb.Booster.R
  R-package/src/init.c
  R-package/src/xgboost_R.cc
  R-package/src/xgboost_R.h
  jvm-packages/xgboost4j/src/main/java/ml/dmlc/xgboost4j/java/Booster.java
  jvm-packages/xgboost4j/src/main/java/ml/dmlc/xgboost4j/java/XGBoostJNI.java
  jvm-packages/xgboost4j/src/native/xgboost4j.cpp
  jvm-packages/xgboost4j/src/native/xgboost4j.h
  jvm-packages/xgboost4j/src/test/java/ml/dmlc/xgboost4j/java/BoosterImplTest.java
  python-package/xgboost/core.py
Due: lint-cpp, pylint

learner: configure parameter batches directly
  include/xgboost/learner.h
  src/c_api/c_api.cc
  src/learner.cc
  tests/cpp/c_api/test_c_api.cc
  tests/cpp/common/test_categorical.cc
  tests/cpp/common/test_io.cc
  tests/cpp/gbm/test_gblinear.cu
  tests/cpp/gbm/test_gbtree.cc
  tests/cpp/gbm/test_gbtree.cu
  tests/cpp/objective/test_objective.cc
  tests/cpp/objective/test_quantile_obj_cpu.cc
  tests/cpp/predictor/test_predictor.cc
  tests/cpp/predictor/test_shap.cc
  tests/cpp/predictor/test_shap.cu
  tests/cpp/test_learner.cc
  tests/cpp/test_learner.cu
  tests/cpp/test_multi_target.cc
  tests/cpp/test_serialization.cc
  tests/cpp/tree/test_gpu_hist.cu
  tests/cpp/tree/test_prediction_cache.h
  tests/cpp/tree/test_regen.cc
  tests/cpp/tree/test_tree_policy.cc
Due: lint-cpp

Remove the unneeded `XGBOOST_USE_SYSTEM_LIBXGBOOST` option.
  doc/build.rst
  python-package/CMakeLists.txt
Due: lint-cmake

sccache.
  .github/workflows/python_tests.yml
  ops/pipeline/test-python-macos.sh
  ops/pipeline/test-python-with-sysprefix.sh
Due: none

Cleanup tests.
  .github/workflows/main.yml
  .github/workflows/python_tests.yml
  ops/pipeline/test-python-macos.sh
Due: none

sccache.
  .github/workflows/python_tests.yml
  ops/pipeline/test-python-sdist.sh
Due: none

cleanup.
  python-package/CMakeLists.txt
Due: lint-cmake

[CV] Save model in preparation for future tests.
  python-package/xgboost/_cross_validation.py
  src/cross_validate/cross_validate.cc
  tests/python-gpu/test_cross_validate.py
Due: lint-cpp, pylint

lint.
  tests/python-gpu/test_cross_validate.py
Due: none

Fix dmlc def.
  R-package/CMakeLists.txt
Due: lint-cmake

Fix typo
  CMakeLists.txt
Due: lint-cmake

[CV] Save model in preparation for future tests. (#12440)
  python-package/xgboost/_cross_validation.py
  src/cross_validate/cross_validate.cc
  tests/python-gpu/test_cross_validate.py
Due: lint-cpp, pylint

Remove the unneeded `XGBOOST_USE_SYSTEM_LIBXGBOOST` option. (#12439)
  .github/workflows/main.yml
  .github/workflows/python_tests.yml
  doc/build.rst
  ops/pipeline/test-python-macos.sh
  ops/pipeline/test-python-sdist.sh
  ops/pipeline/test-python-with-sysprefix.sh
  python-package/CMakeLists.txt
Due: lint-cmake

[CV] Initial implementation of evaluation.
  python-package/xgboost/_cross_validation.py
  src/cross_validate/cross_validate.cc
  src/cross_validate/cross_validate.cu
  src/cross_validate/cross_validate.h
  src/tree/gpu_hist/row_partitioner.cu
  src/tree/gpu_hist/row_partitioner.cuh
  src/tree/updater_gpu_hist.cuh
  tests/cpp/tree/gpu_hist/test_row_partitioner.cu
  tests/python-gpu/test_cross_validate.py
Due: lint-cpp, pylint

lint.
  python-package/xgboost/_cross_validation.py
Due: pylint

Normalize non-native NumPy byte order
  python-package/xgboost/_data_utils.py
  tests/python/test_dmatrix.py
Due: pylint

Configure learner parameters in explicit batches (#12436)
  R-package/R/xgb.Booster.R
  R-package/src/init.c
  R-package/src/xgboost_R.cc
  R-package/src/xgboost_R.h
  include/xgboost/c_api.h
  include/xgboost/learner.h
  jvm-packages/xgboost4j/src/main/java/ml/dmlc/xgboost4j/java/Booster.java
  jvm-packages/xgboost4j/src/main/java/ml/dmlc/xgboost4j/java/XGBoostJNI.java
  jvm-packages/xgboost4j/src/native/xgboost4j.cpp
  jvm-packages/xgboost4j/src/native/xgboost4j.h
  jvm-packages/xgboost4j/src/test/java/ml/dmlc/xgboost4j/java/BoosterImplTest.java
  python-package/xgboost/core.py
  python-package/xgboost/sklearn.py
  src/c_api/c_api.cc
  src/learner.cc
  tests/cpp/c_api/test_c_api.cc
  tests/cpp/common/test_categorical.cc
  tests/cpp/common/test_io.cc
  tests/cpp/gbm/test_gblinear.cu
  tests/cpp/gbm/test_gbtree.cc
  tests/cpp/gbm/test_gbtree.cu
  tests/cpp/objective/test_objective.cc
  tests/cpp/objective/test_quantile_obj_cpu.cc
  tests/cpp/predictor/test_predictor.cc
  tests/cpp/predictor/test_shap.cc
  tests/cpp/predictor/test_shap.cu
  tests/cpp/test_learner.cc
  tests/cpp/test_learner.cu
  tests/cpp/test_multi_target.cc
  tests/cpp/test_serialization.cc
  tests/cpp/tree/test_gpu_hist.cu
  tests/cpp/tree/test_prediction_cache.h
  tests/cpp/tree/test_regen.cc
  tests/cpp/tree/test_tree_policy.cc
  tests/python/test_basic_models.py
Due: lint-cpp, pylint

[WIP][JVM] Drop support for glibc 2.17.
  .github/workflows/jvm_tests.yml
  ops/pipeline/build-jvm-manylinux.sh
  ops/pipeline/build-python-wheels-cpu.sh
  ops/pipeline/build-test-jvm-packages.sh
  ops/pipeline/get-image-tag.sh
Due: none
