Repository dmlc/xgboost: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-cpp, lint-cmake, black, isort, pylint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: check-yaml
      - id: check-toml
      - id: check-json
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable
      - id: mixed-line-ending
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v21.1.8
    hooks:
      - id: clang-format
        args: [--style=file]
        files: \.(cc|c|cpp|h|cu|hpp)$
        exclude: (dmlc-core|gputreeshap)
  - repo: local
    hooks:
      - id: lint-cpp
        name: C++ lint (cpplint)
        entry: python ops/script/lint_cpp.py
        language: python
        types: [file]
        files: \.(cc|c|cpp|h|cu|hpp)$
        exclude: (dmlc-core|gputreeshap)
        additional_dependencies:
          - cpplint==1.6.1
      - id: lint-cmake
        name: CMake lint (cmakelint)
        entry: cmakelint --linelength=120 --filter=-convention/filename,-package/stdargs,-readability/wonkycase
        language: python
        types: [file]
        files: (CMakeLists\.txt$|^cmake/.*\.cmake$)
        exclude: (dmlc-core|gputreeshap)
        additional_dependencies:
          - cmakelint
      - id: black
        name: Python format (black)
        entry: black -q
        language: python
        types: [file]
        files: \.py$
        exclude: (dmlc-core|gputreeshap)
        additional_dependencies:
          - black
      - id: isort
        name: Python format (isort)
        entry: isort
        language: python
        types: [file]
        files: \.py$
        exclude: (dmlc-core|gputreeshap)
        args:
          - --settings-path
          - python-package
          - --src=python-package
        additional_dependencies:
          - isort
      - id: pylint
        name: Python lint (pylint)
        entry: pylint
        language: python
        types: [file]
        files: \.py$
        exclude: (dmlc-core|gputreeshap|^ops/|^tests/)
        args:
          - --rcfile=python-package/pyproject.toml
        additional_dependencies:
          - pylint

Update pyspark GPU tests
  ops/pipeline/test-python-wheel.sh
  ops/script/type_check_python.py
  tests/test_distributed/test_gpu_with_spark/__init__.py
  tests/test_distributed/test_gpu_with_spark/conftest.py
  tests/test_distributed/test_gpu_with_spark/discover_gpu.sh
  tests/test_distributed/test_gpu_with_spark/test_data.py
  tests/test_distributed/test_gpu_with_spark/test_gpu_spark.py
  tests/test_distributed/test_with_spark/discover_gpu.sh
  tests/test_distributed/test_with_spark/test_data.py
  tests/test_distributed/test_with_spark/test_spark.py
Due: black, isort

[wip] Implement worker port.
  python-package/xgboost/collective.py
  src/collective/comm.cc
  src/collective/comm.h
  src/collective/comm_group.cc
  tests/cpp/collective/test_worker.h
  tests/python/test_tracker.py
Due: lint-cpp, black, isort, pylint

pre-commit.
  src/collective/comm.cc
  src/collective/comm.h
  src/collective/comm_group.cc
  tests/cpp/collective/test_worker.h
  tests/python/test_tracker.py
Due: lint-cpp, black, isort

Fix verbosity leakage from test_expectile_uniform_convergence
  tests/python/test_eval_metrics.py
Due: black, isort

Copilot review
  tests/test_distributed/test_with_spark/test_spark.py
Due: black, isort

Fix SketchBatchNumElements test to clamp with kIntMax
  tests/cpp/common/test_hist_util.cu
Due: lint-cpp

Test latest sccache.
  .github/workflows/windows.yml
  ops/pipeline/build-win64.ps1
Due: none

Fix.
  .github/workflows/windows.yml
Due: none

precommit.
  src/metric/elementwise_metric.cu
  src/objective/regression_obj.cu
  tests/cpp/metric/test_elementwise_metric.h
  tests/cpp/objective/test_objective.cc
  tests/cpp/objective/test_regression_obj.cc
  tests/cpp/objective/test_regression_obj.h
  tests/cpp/objective/test_regression_obj_cpu.cc
  tests/cpp/test_learner.cc
  tests/python/test_eval_metrics.py
Due: lint-cpp, black, isort

Precommit python
  tests/python/test_eval_metrics.py
Due: black, isort

Add support for expectile regression. (#11988)
  R-package/R/utils.R
  R-package/R/xgb.train.R
  R-package/R/xgboost.R
  R-package/man/xgb.params.Rd
  R-package/man/xgboost.Rd
  R-package/src/Makevars.in
  R-package/src/Makevars.win.in
  R-package/tests/testthat/test_xgboost.R
  doc/parameter.rst
  jvm-packages/xgboost4j-spark/src/main/scala/ml/dmlc/xgboost4j/scala/spark/params/LearningTaskParams.scala
  python-package/xgboost/testing/metrics.py
  src/common/expectile_loss_utils.cc
  src/common/expectile_loss_utils.h
  src/common/quantile_loss_utils.h
  src/metric/elementwise_metric.cu
  src/objective/regression_obj.cu
  tests/cpp/metric/test_distributed_metric.cc
  tests/cpp/metric/test_elementwise_metric.h
  tests/cpp/metric/test_metric.cc
  tests/cpp/objective/test_objective.cc
  tests/cpp/objective/test_regression_obj.cc
  tests/cpp/objective/test_regression_obj.h
  tests/cpp/objective/test_regression_obj_cpu.cc
  tests/cpp/plugin/federated/test_federated_learner.cc
  tests/cpp/test_learner.cc
  tests/python/test_eval_metrics.py
Due: lint-cpp, black, isort, pylint

Use span
  include/xgboost/predictor.h
  src/gbm/gbtree.cc
  src/gbm/gbtree.h
  src/interpretability/shap.cc
  src/interpretability/shap.cu
  src/interpretability/shap.h
  src/predictor/cpu_predictor.cc
  src/predictor/gpu_predictor.cu
  tests/cpp/predictor/test_shap.cc
Due: lint-cpp

Fix compilation with the latest CCCL.
  tests/cpp/common/test_quantile.cu
Due: lint-cpp

disable dispatch for now
  .github/workflows/cccl_nightly.yml
Due: none

Fix conda env cccl.
  CMakeLists.txt
Due: lint-cmake

pre commit.
  cmake/version_config.h.in
  include/xgboost/version_config.h
Due: lint-cpp

tuple.
  src/common/quantile.cu
  src/common/ranking_utils.cu
  src/data/ellpack_page.cu
  src/metric/auc.cu
  src/objective/lambdarank_obj.cu
  src/tree/gpu_hist/evaluate_splits.cuh
  src/tree/gpu_hist/evaluator.cu
Due: lint-cpp

format.
  src/common/quantile.cu
  src/common/ranking_utils.cu
  src/data/ellpack_page.cu
  src/metric/auc.cu
  src/objective/lambdarank_obj.cu
  src/tree/gpu_hist/evaluator.cu
  tests/cpp/common/test_quantile.cu
Due: lint-cpp

drop
  ops/script/lint_cpp.py
Due: black, isort

Revert "drop"
  ops/script/lint_cpp.py
Due: black, isort

err
  src/common/quantile.cu
Due: lint-cpp

upload the sccache log.
  .github/workflows/windows.yml
Due: none

Fixes.
  src/common/hist_util.cu
  src/data/ellpack_page.cu
Due: lint-cpp

absolute path.
  .github/workflows/windows.yml
Due: none

Disable all other tests for now.
  .github/workflows/cccl_nightly.yml
  .github/workflows/freebsd.yml
  .github/workflows/jvm_tests.yml
  .github/workflows/lint.yml
  .github/workflows/main.yml
  .github/workflows/misc.yml
  .github/workflows/pre-commit.yml
  .github/workflows/python_tests.yml
  .github/workflows/python_wheels_variants.yml
  .github/workflows/python_wheels_winarm64.yml
  .github/workflows/r_nold.yml
  .github/workflows/r_tests.yml
  .github/workflows/scorecards.yml
  .github/workflows/sycl_tests.yml
Due: none

revert.
  .github/workflows/cccl_nightly.yml
Due: none

disable the cpp lint include check.
  ops/script/lint_cpp.py
Due: black, isort

[pyspark] Update pyspark GPU tests (#12009)
  ops/pipeline/test-python-wheel.sh
  ops/script/type_check_python.py
  tests/test_distributed/test_gpu_with_spark/__init__.py
  tests/test_distributed/test_gpu_with_spark/conftest.py
  tests/test_distributed/test_gpu_with_spark/discover_gpu.sh
  tests/test_distributed/test_gpu_with_spark/test_data.py
  tests/test_distributed/test_gpu_with_spark/test_gpu_spark.py
  tests/test_distributed/test_with_spark/discover_gpu.sh
  tests/test_distributed/test_with_spark/test_data.py
  tests/test_distributed/test_with_spark/test_spark.py
Due: black, isort

simplify code
  tests/test_distributed/test_with_spark/test_spark_local.py
  tests/test_distributed/test_with_spark/test_spark_local_cluster.py
Due: black, isort

Fix one test
  tests/test_distributed/test_with_spark/test_spark_local.py
Due: black, isort

Fix compilation with the latest CCCL. (#12013)
  CMakeLists.txt
  cmake/version_config.h.in
  include/xgboost/version_config.h
  ops/script/lint_cpp.py
  src/common/hist_util.cu
  src/common/quantile.cu
  src/common/ranking_utils.cu
  src/data/ellpack_page.cu
  src/metric/auc.cu
  src/objective/lambdarank_obj.cu
  src/tree/gpu_hist/evaluate_splits.cuh
  src/tree/gpu_hist/evaluator.cu
  tests/cpp/common/test_quantile.cu
Due: lint-cpp, lint-cmake, black, isort

Enable categorical feature support by default.
  python-package/xgboost/core.py
  python-package/xgboost/sklearn.py
  tests/python-gpu/test_from_cudf.py
  tests/python/test_with_pandas.py
  tests/python/test_with_polars.py
Due: black, isort, pylint

Tests.
  tests/python-gpu/test_from_cudf.py
  tests/python-gpu/test_gpu_ordinal.py
  tests/python-gpu/test_gpu_prediction.py
  tests/python-gpu/test_gpu_with_sklearn.py
  tests/python/generate_models.py
  tests/python/test_data_iterator.py
  tests/python/test_demos.py
  tests/python/test_model_io.py
  tests/python/test_predict.py
  tests/python/test_quantile_dmatrix.py
  tests/python/test_with_pandas.py
  tests/python/test_with_polars.py
  tests/python/test_with_sklearn.py
  tests/test_distributed/test_gpu_with_dask/test_gpu_with_dask.py
  tests/test_distributed/test_with_dask/test_with_dask.py
Due: black, isort

pre-commit.
  python-package/xgboost/core.py
  python-package/xgboost/sklearn.py
  tests/python-gpu/test_from_cudf.py
  tests/python-gpu/test_gpu_ordinal.py
  tests/python-gpu/test_gpu_prediction.py
  tests/python-gpu/test_gpu_with_sklearn.py
  tests/python/generate_models.py
  tests/python/test_data_iterator.py
  tests/python/test_model_io.py
  tests/python/test_predict.py
  tests/python/test_quantile_dmatrix.py
  tests/python/test_with_pandas.py
  tests/python/test_with_polars.py
  tests/python/test_with_sklearn.py
  tests/test_distributed/test_gpu_with_dask/test_gpu_with_dask.py
  tests/test_distributed/test_with_dask/test_with_dask.py
Due: black, isort, pylint

ruff.
  tests/python/test_with_sklearn.py
Due: black, isort

pre-commit.
  tests/python-gpu/test_from_cudf.py
  tests/python-gpu/test_gpu_ordinal.py
  tests/python-gpu/test_gpu_prediction.py
  tests/python-gpu/test_gpu_with_sklearn.py
  tests/python/generate_models.py
  tests/python/test_data_iterator.py
  tests/python/test_demos.py
  tests/python/test_model_io.py
  tests/python/test_predict.py
  tests/python/test_quantile_dmatrix.py
  tests/python/test_with_pandas.py
  tests/python/test_with_polars.py
  tests/python/test_with_sklearn.py
  tests/test_distributed/test_gpu_with_dask/test_gpu_with_dask.py
  tests/test_distributed/test_with_dask/test_with_dask.py
Due: black, isort

Fix.
  python-package/xgboost/data.py
Due: black, isort, pylint

Dask.
  python-package/xgboost/dask/__init__.py
Due: black, isort, pylint

Fix.
  tests/test_distributed/test_with_dask/test_with_dask.py
Due: black, isort
