Repository dmlc/xgboost: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-cpp, lint-cmake, pylint

lint-cpp:
  name: C++ lint (cpplint)
  entry: python ops/script/lint_cpp.py
  language: python
  additional_dependencies:
  - cpplint==1.6.1

lint-cmake:
  name: CMake lint (cmakelint)
  entry: cmakelint --linelength=120 --filter=-convention/filename,-package/stdargs,-readability/wonkycase
  language: python
  additional_dependencies:
  - cmakelint

pylint:
  name: Python lint (pylint)
  entry: pylint
  language: python
  args:
  - --rcfile=python-package/pyproject.toml
  additional_dependencies:
  - pylint

Add manual GPU container startup measurements
  .github/workflows/container-startup.yml
  ops/pipeline/measure-container-startup.sh
Due: none

[jvm-packages] Fix model save/load on Spark 4.x and num_class on classifier load
  jvm-packages/xgboost4j-spark/src/main/scala/ml/dmlc/xgboost4j/scala/spark/XGBoostClassifier.scala
  jvm-packages/xgboost4j-spark/src/main/scala/ml/dmlc/xgboost4j/scala/spark/params/CustomParams.scala
  jvm-packages/xgboost4j-spark/src/test/scala/ml/dmlc/xgboost4j/scala/spark/XGBoostClassifierSuite.scala
  jvm-packages/xgboost4j-spark/src/test/scala/ml/dmlc/xgboost4j/scala/spark/XGBoostParamsSuite.scala
Due: none

Run container startup experiment on relevant pull requests
  .github/workflows/container-startup.yml
Due: none

Complete indicator missing branches and align Graphviz edge colors
  src/tree/tree_model.cc
  tests/cpp/tree/test_tree_model.cc
Due: lint-cpp

Bound learner threads in growth-policy tests
  tests/cpp/tree/test_tree_policy.cc
Due: lint-cpp

Instrument growth-policy test phases for Windows diagnosis
  tests/cpp/tree/test_tree_policy.cc
Due: lint-cpp

[CI] Cache installed libomp for macOS wheel builds (#12669)
  .github/actions/setup-libomp/action.yml
  .github/workflows/main.yml
Due: none

Report growth-policy tree sizes and training profiles
  tests/cpp/tree/test_tree_policy.cc
Due: lint-cpp

Grow CPU histogram cache geometrically instead of per node
  src/tree/hist/hist_cache.h
  tests/cpp/tree/hist/test_histogram.cc
  tests/cpp/tree/test_tree_policy.cc
Due: lint-cpp

Use 1.5x histogram cache growth to reduce spare memory
  src/tree/hist/hist_cache.h
  tests/cpp/tree/hist/test_histogram.cc
Due: lint-cpp

Define a parallel reduction for CPU.
  src/common/numeric.cc
  src/common/numeric.h
  src/common/stats.cc
  src/common/threading_utils.h
  src/metric/alpha_metric.h
  src/metric/elementwise_metric.h
  src/metric/multiclass_metric.cc
  src/metric/normal_metric.cc
  src/metric/survival_metric.cc
  src/objective/normal_obj.cc
  tests/cpp/common/test_numeric.cc
  tests/cpp/common/test_threading_utils.cc
Due: lint-cpp

Fold the tests.
  tests/cpp/common/test_numeric.cc
Due: lint-cpp

Lint.
  tests/cpp/common/test_threading_utils.cc
Due: lint-cpp

Address all CCCL deprecations (#12666)
  ops/pipeline/nightly-test-cccl-impl.sh
  ops/pipeline/nightly-test-rmm-impl.sh
  src/common/algorithm.cuh
  src/common/device_helpers.cuh
  src/common/device_vector.cuh
  src/metric/rank_metric.cu
  src/tree/gpu_hist/evaluate_splits.cu
  src/tree/gpu_hist/leaf_sum.cu
  src/tree/gpu_hist/row_partitioner.cuh
  tests/cpp/common/test_algorithm.cu
Due: lint-cpp

[EM] Use a page pool for creating ellpacks. (#12670)
  src/data/ellpack_page_raw_format.cu
  src/data/ellpack_page_raw_format.h
  src/data/ellpack_page_source.cu
  src/data/ellpack_page_source.h
  src/data/extmem_quantile_dmatrix.cu
  src/data/iterative_dmatrix.cu
  src/data/sparse_page_source.h
  tests/cpp/data/test_ellpack_page_raw_format.cu
  tests/cpp/data/test_extmem_quantile_dmatrix.h
  tests/cpp/data/test_sparse_page_dmatrix.cc
  tests/cpp/data/test_sparse_page_dmatrix.cu
Due: lint-cpp

Use an worker handle to identify threads.
  src/common/hist_util.cc
  src/common/hist_util.h
  src/common/numeric.h
  src/common/quantile.h
  src/common/threading_utils.h
  src/data/data.cc
  src/data/gradient_index.cu
  src/data/gradient_index.h
  src/data/quantile_dmatrix.cc
  src/linear/coordinate_common.h
  src/metric/auc.cc
  src/metric/metric_common.h
  src/metric/rank_metric.cc
  src/objective/radix_select.cc
  src/predictor/cpu_predictor.cc
  src/predictor/interpretability/shap.cc
  src/tree/fit_stump.cc
  src/tree/hist/evaluate_splits.h
  src/tree/hist/histogram.h
  src/tree/updater_colmaker.cc
  src/tree/updater_quantile_hist.cc
  src/tree/updater_refresh.cc
  tests/cpp/common/test_hist_util.cc
  tests/cpp/common/test_linalg.cc
  tests/cpp/common/test_random.cc
  tests/cpp/common/test_threading_utils.cc
  tests/cpp/data/test_data.cc
  tests/cpp/data/test_metainfo.h
  tests/cpp/metric/test_auc.h
  tests/cpp/test_learner.cc
  tests/cpp/tree/hist/test_evaluate_splits.cc
Due: lint-cpp

Revert "Use an worker handle to identify threads."
  src/common/hist_util.cc
  src/common/hist_util.h
  src/common/numeric.h
  src/common/quantile.h
  src/common/threading_utils.h
  src/data/data.cc
  src/data/gradient_index.cu
  src/data/gradient_index.h
  src/data/quantile_dmatrix.cc
  src/linear/coordinate_common.h
  src/metric/auc.cc
  src/metric/metric_common.h
  src/metric/rank_metric.cc
  src/objective/radix_select.cc
  src/predictor/cpu_predictor.cc
  src/predictor/interpretability/shap.cc
  src/tree/fit_stump.cc
  src/tree/hist/evaluate_splits.h
  src/tree/hist/histogram.h
  src/tree/updater_colmaker.cc
  src/tree/updater_quantile_hist.cc
  src/tree/updater_refresh.cc
  tests/cpp/common/test_hist_util.cc
  tests/cpp/common/test_linalg.cc
  tests/cpp/common/test_random.cc
  tests/cpp/common/test_threading_utils.cc
  tests/cpp/data/test_data.cc
  tests/cpp/data/test_metainfo.h
  tests/cpp/metric/test_auc.h
  tests/cpp/test_learner.cc
  tests/cpp/tree/hist/test_evaluate_splits.cc
Due: lint-cpp

lint
  src/common/ranking_utils.h
  tests/cpp/common/test_linalg.cc
  tests/cpp/common/test_ranking_utils.cc
  tests/cpp/common/test_ranking_utils.cu
  tests/cpp/data/test_metainfo.cu
  tests/cpp/objective/test_lambdarank_obj.cu
Due: lint-cpp

lint
  tests/cpp/data/test_metainfo.h
Due: lint-cpp

Workaround CUDA memory destruction on Windows
  src/common/device_vector.cuh
Due: none

No need for tl
  src/common/device_vector.cuh
Due: none

lock
  src/common/device_vector.cuh
Due: none

Fix histogram cache growth size types across platforms
  src/tree/hist/hist_cache.h
Due: lint-cpp

Workaround CUDA memory pool on Windows (#12681)
  src/common/device_vector.cuh
Due: none

[CI] Diagnose slow macOS Python tests
  .github/workflows/main.yml
  ops/conda_env/macos_cpu_test.yml
  ops/pipeline/diagnose-macos-tests.py
Due: none

[CI] Cache the Windows Conda test environment
  .github/actions/setup-windows-test-env/action.yml
  .github/workflows/windows.yml
  ops/pipeline/test-win64-gpu.ps1
Due: none

[CI] Reuse invariant work in categorical recoding tests
  python-package/xgboost/testing/ordinal.py
Due: pylint

[CI] Focus wide categorical inputs on prediction coverage
  python-package/xgboost/testing/ordinal.py
  tests/python-gpu/test_gpu_ordinal.py
  tests/python/test_ordinal.py
Due: pylint

Fix comment length for pylint
  python-package/xgboost/testing/ordinal.py
Due: pylint

[CI] Measure CUDA cache reuse with release architecture targets
  .github/workflows/main.yml
  ops/pipeline/build-cuda.sh
Due: none

Use consistent CUDA targets for PR compiler-cache reuse
  .github/workflows/main.yml
  ops/pipeline/build-cuda-impl.sh
  ops/pipeline/build-cuda.sh
Due: none

Compare macOS threading, data conversion and process overhead
  .github/workflows/main.yml
  ops/conda_env/macos_cpu_test.yml
  ops/pipeline/benchmark-macos.py
  ops/pipeline/diagnose-macos-tests.py
Due: none

Reuse audited CUDA wheel for WheelNext conversion
  .github/workflows/main.yml
  .github/workflows/python_wheels_variants.yml
  ops/pipeline/build-variant-wheels.sh
  ops/pipeline/convert-variant-wheel.sh
Due: none

Reuse audited CUDA wheel for WheelNext conversion (#12686)
  .github/workflows/main.yml
  .github/workflows/python_wheels_variants.yml
  ops/pipeline/build-variant-wheels.sh
  ops/pipeline/convert-variant-wheel.sh
Due: none

Limit Intel macOS to focused Python compatibility coverage
  .github/workflows/main.yml
  ops/conda_env/macos_cpu_test.yml
  ops/pipeline/benchmark-macos.py
  ops/pipeline/test-python-macos.sh
Due: none

Define a parallel reduction for CPU. (#12678)
  src/common/numeric.cc
  src/common/numeric.h
  src/common/stats.cc
  src/common/threading_utils.h
  src/metric/alpha_metric.h
  src/metric/elementwise_metric.h
  src/metric/multiclass_metric.cc
  src/metric/normal_metric.cc
  src/metric/survival_metric.cc
  src/objective/normal_obj.cc
  tests/cpp/common/test_numeric.cc
  tests/cpp/common/test_threading_utils.cc
Due: lint-cpp

Implement worker handle for parallel loop.
  src/common/quantile.h
  src/common/threading_utils.h
  tests/cpp/common/test_threading_utils.cc
Due: lint-cpp

Remove the private ctor.
  src/common/threading_utils.h
Due: lint-cpp

Use rvalue exclusively
  src/common/threading_utils.h
  tests/cpp/common/test_threading_utils.cc
Due: lint-cpp

Path conditions:
  lint-cpp: any of: \.(cc|c|cpp|h|cu|hpp)$, but not: (dmlc-core|gputreeshap)
  lint-cmake: any of: (CMakeLists\.txt$|^cmake/.*\.cmake$), but not: (dmlc-core|gputreeshap)
  pylint: any of: \.py$, but not: (dmlc-core|gputreeshap|^ops/|^tests/)
