Repository dmlc/xgboost: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-cpp, lint-cmake, pylint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: check-yaml
      - id: check-toml
      - id: check-json
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable
      - id: mixed-line-ending
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.14
    hooks:
      - id: ruff-check
        args:
          - --fix
          - --select=I
        files: \.py$
        exclude: (dmlc-core|gputreeshap)
      - id: ruff-format
        files: \.py$
        exclude: (dmlc-core|gputreeshap)
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v21.1.8
    hooks:
      - id: clang-format
        args: [--style=file]
        files: \.(cc|c|cpp|h|cu|hpp)$
        exclude: (dmlc-core|gputreeshap)
  - repo: local
    hooks:
      - id: lint-cpp
        name: C++ lint (cpplint)
        entry: python ops/script/lint_cpp.py
        language: python
        types: [file]
        files: \.(cc|c|cpp|h|cu|hpp)$
        exclude: (dmlc-core|gputreeshap)
        additional_dependencies:
          - cpplint==1.6.1
      - id: lint-cmake
        name: CMake lint (cmakelint)
        entry: cmakelint --linelength=120 --filter=-convention/filename,-package/stdargs,-readability/wonkycase
        language: python
        types: [file]
        files: (CMakeLists\.txt$|^cmake/.*\.cmake$)
        exclude: (dmlc-core|gputreeshap)
        additional_dependencies:
          - cmakelint
      - id: pylint
        name: Python lint (pylint)
        entry: pylint
        language: python
        types: [file]
        files: \.py$
        exclude: (dmlc-core|gputreeshap|^ops/|^tests/)
        args:
          - --rcfile=python-package/pyproject.toml
        additional_dependencies:
          - pylint

rework the create jni.
  jvm-packages/create_jni.py
Due: pylint

lint.
  jvm-packages/create_jni.py
Due: pylint

walrus.
  jvm-packages/create_jni.py
Due: pylint

Support VS2026. (#12245)
  jvm-packages/create_jni.py
  python-package/packager/nativelib.py
  python-package/xgboost/dask/utils.py
Due: pylint

[doc] Brief note about expectile margin output.
  doc/parameter.rst
Due: none

Potential fix for pull request finding
  doc/parameter.rst
Due: none

cleanups.
  doc/parameter.rst
Due: none

Small fix to categorical splits in vector leaf. (#12244)
  src/tree/tree_model.cc
Due: lint-cpp

Reject polars categorical.
  python-package/xgboost/data.py
  tests/python/test_with_polars.py
Due: pylint

check min value.
  src/common/hist_util.h
  tests/python/test_with_polars.py
Due: lint-cpp

[doc] Use RTD canonical URL.
  doc/conf.py
Due: pylint

[doc] Brief note about expectile margin output. (#12243)
  doc/parameter.rst
Due: none

Require `Enum` from polars. (#12240)
  python-package/xgboost/data.py
  src/common/hist_util.h
  tests/python/test_with_polars.py
Due: lint-cpp, pylint

[doc] Warning for the WIP interpret function.
  python-package/xgboost/interpret.py
Due: pylint

[doc] Use RTD canonical URL. (#12246)
  doc/conf.py
Due: pylint

Remove unnecessary changes
  .github/workflows/python_wheels_variants.yml
  ops/pipeline/audit-cuda-wheel.sh
Due: none

Refine build doc
  doc/build.rst
Due: none

Cleanup agent output
  ops/pipeline/audit-cuda-wheel.sh
  ops/script/prepare_sdist.py
  ops/script/release_artifacts.py
Due: none

Cleanup agent output
  .github/workflows/python_wheels_variants.yml
  python-package/CMakeLists.txt
Due: lint-cmake

[doc] Warning for the WIP interpret function. (#12247)
  python-package/xgboost/interpret.py
Due: pylint

[WIP] 3.3.0 release news.
  doc/changes/index.rst
  doc/changes/v3.3.0.rst
Due: none

lint.
  doc/changes/v3.3.0.rst
Due: none

note.
  doc/changes/v3.3.0.rst
Due: none

Fixes.
  doc/changes/v3.3.0.rst
Due: none

fixes.
  doc/changes/v3.3.0.rst
Due: none

rest.
  doc/changes/v3.3.0.rst
Due: none

typos.
  doc/changes/v3.3.0.rst
Due: none

quantile.
  doc/changes/v3.3.0.rst
Due: none

move.
  doc/changes/v3.3.0.rst
Due: none

3.3.0 release news. (#12250)
  doc/changes/index.rst
  doc/changes/v3.3.0.rst
Due: none

Bump version to 3.3.0.
  R-package/DESCRIPTION
  jvm-packages/pom.xml
  jvm-packages/xgboost4j-example/pom.xml
  jvm-packages/xgboost4j-flink/pom.xml
  jvm-packages/xgboost4j-spark-gpu/pom.xml
  jvm-packages/xgboost4j-spark/pom.xml
  jvm-packages/xgboost4j/pom.xml
  python-package/pyproject.toml
  python-package/pyproject.toml.in
  python-package/pyproject.toml.stub.in
  python-package/xgboost/VERSION
Due: none

Bump version to 3.4.0-dev.
  CMakeLists.txt
  R-package/DESCRIPTION
  R-package/configure
  R-package/configure.ac
  include/xgboost/version_config.h
  jvm-packages/pom.xml
  jvm-packages/xgboost4j-example/pom.xml
  jvm-packages/xgboost4j-flink/pom.xml
  jvm-packages/xgboost4j-spark-gpu/pom.xml
  jvm-packages/xgboost4j-spark/pom.xml
  jvm-packages/xgboost4j/pom.xml
  python-package/pyproject.toml
  python-package/pyproject.toml.in
  python-package/pyproject.toml.stub.in
  python-package/xgboost/VERSION
Due: lint-cpp, lint-cmake

Bump version to 3.3.0. (#12251)
  R-package/DESCRIPTION
  jvm-packages/pom.xml
  jvm-packages/xgboost4j-example/pom.xml
  jvm-packages/xgboost4j-flink/pom.xml
  jvm-packages/xgboost4j-spark-gpu/pom.xml
  jvm-packages/xgboost4j-spark/pom.xml
  jvm-packages/xgboost4j/pom.xml
  python-package/pyproject.toml
  python-package/pyproject.toml.in
  python-package/pyproject.toml.stub.in
  python-package/xgboost/VERSION
Due: none

Bump version to 3.4.0-dev. (#12252)
  CMakeLists.txt
  R-package/DESCRIPTION
  R-package/configure
  R-package/configure.ac
  include/xgboost/version_config.h
  jvm-packages/pom.xml
  jvm-packages/xgboost4j-example/pom.xml
  jvm-packages/xgboost4j-flink/pom.xml
  jvm-packages/xgboost4j-spark-gpu/pom.xml
  jvm-packages/xgboost4j-spark/pom.xml
  jvm-packages/xgboost4j/pom.xml
  python-package/pyproject.toml
  python-package/pyproject.toml.in
  python-package/pyproject.toml.stub.in
  python-package/xgboost/VERSION
Due: lint-cpp, lint-cmake

Small fixes for the release helper script.
  ops/script/release_artifacts.py
Due: none

lint.
  ops/script/release_artifacts.py
Due: none

Small fixes for the release helper script. (#12253)
  ops/script/release_artifacts.py
Due: none
