Repository dmlc/xgboost: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-cpp, lint-cmake, pylint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: check-yaml
      - id: check-toml
      - id: check-json
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable
      - id: mixed-line-ending
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.14
    hooks:
      - id: ruff-check
        args:
          - --fix
          - --select=I
        files: \.py$
        exclude: (dmlc-core|gputreeshap)
      - id: ruff-format
        files: \.py$
        exclude: (dmlc-core|gputreeshap)
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v21.1.8
    hooks:
      - id: clang-format
        args: [--style=file]
        files: \.(cc|c|cpp|h|cu|hpp)$
        exclude: (dmlc-core|gputreeshap)
  - repo: local
    hooks:
      - id: lint-cpp
        name: C++ lint (cpplint)
        entry: python ops/script/lint_cpp.py
        language: python
        types: [file]
        files: \.(cc|c|cpp|h|cu|hpp)$
        exclude: (dmlc-core|gputreeshap)
        additional_dependencies:
          - cpplint==1.6.1
      - id: lint-cmake
        name: CMake lint (cmakelint)
        entry: cmakelint --linelength=120 --filter=-convention/filename,-package/stdargs,-readability/wonkycase
        language: python
        types: [file]
        files: (CMakeLists\.txt$|^cmake/.*\.cmake$)
        exclude: (dmlc-core|gputreeshap)
        additional_dependencies:
          - cmakelint
      - id: pylint
        name: Python lint (pylint)
        entry: pylint
        language: python
        types: [file]
        files: \.py$
        exclude: (dmlc-core|gputreeshap|^ops/|^tests/)
        args:
          - --rcfile=python-package/pyproject.toml
        additional_dependencies:
          - pylint

Remove duplicated test.
  tests/cpp/tree/gpu_hist/test_row_partitioner.cu
Due: lint-cpp

fix types.
  tests/python-gpu/test_cross_validate.py
Due: none

comment.
  src/cross_validate/cross_validate.cu
Due: lint-cpp

Cleanup tests.
  src/cross_validate/cross_validate.cu
  tests/cpp/tree/gpu_hist/test_row_partitioner.cu
  tests/python-gpu/test_cross_validate.py
Due: lint-cpp

names.
  src/cross_validate/cross_validate.cu
Due: lint-cpp

why.
  src/cross_validate/cross_validate.cu
Due: lint-cpp

cleanup.
  .github/workflows/jvm_tests.yml
Due: none

copyable.
  src/tree/gpu_hist/row_partitioner.cu
Due: lint-cpp

Cleanup.
  src/cross_validate/cross_validate.cu
  src/tree/gpu_hist/row_partitioner.cu
  src/tree/gpu_hist/row_partitioner.cuh
  tests/cpp/tree/gpu_hist/test_row_partitioner.cu
Due: lint-cpp

Handle tiny quantile weights consistently
  src/objective/quantile_obj.cc
  tests/cpp/objective/test_quantile_obj.cc
Due: lint-cpp

comment.
  tests/python-gpu/test_cross_validate.py
Due: none

[CV] Initial implementation of evaluation. (#12441)
  python-package/xgboost/_cross_validation.py
  src/cross_validate/cross_validate.cc
  src/cross_validate/cross_validate.cu
  src/cross_validate/cross_validate.h
  src/tree/gpu_hist/row_partitioner.cu
  src/tree/gpu_hist/row_partitioner.cuh
  src/tree/updater_gpu_hist.cuh
  tests/cpp/tree/gpu_hist/test_row_partitioner.cu
  tests/python-gpu/test_cross_validate.py
Due: lint-cpp, pylint

Normalize non-native NumPy byte order (#12434)
  python-package/xgboost/_data_utils.py
  tests/python/test_dmatrix.py
Due: pylint

Restore quantile transform comment
  src/objective/quantile_obj.h
Due: lint-cpp

Revert "Restore quantile transform comment"
  src/objective/quantile_obj.h
Due: lint-cpp

Restore absolute error objective documentation
  src/objective/absolute_error_obj.cc
Due: lint-cpp

Revert tag
  ops/pipeline/get-image-tag.sh
Due: none

Split multiclass and absolute-error objective kernels (#12435)
  R-package/src/Makevars.in
  R-package/src/Makevars.win.in
  src/objective/absolute_error_obj.cc
  src/objective/absolute_error_obj.cu
  src/objective/absolute_error_obj.h
  src/objective/multiclass_obj.cc
  src/objective/multiclass_obj.cu
  src/objective/multiclass_obj.h
  src/objective/objective.cc
  src/objective/regression_obj.cu
Due: lint-cpp

[JVM] Drop support for glibc 2.17. (#12442)
  .github/workflows/jvm_tests.yml
  ops/pipeline/build-jvm-manylinux.sh
  ops/pipeline/build-python-wheels-cpu.sh
  ops/pipeline/build-test-jvm-packages.sh
Due: none

[jvm-packages] Fix batch predict for SparseVector features (#12347)
  jvm-packages/xgboost4j-spark/src/main/scala/ml/dmlc/xgboost4j/scala/spark/Utils.scala
  jvm-packages/xgboost4j-spark/src/test/scala/ml/dmlc/xgboost4j/scala/spark/XGBoostEstimatorSuite.scala
  jvm-packages/xgboost4j/src/test/java/ml/dmlc/xgboost4j/java/DMatrixTest.java
Due: none

Add documentation for DMatrix methods.
  jvm-packages/xgboost4j/src/main/java/ml/dmlc/xgboost4j/java/XGBoostJNI.java
Due: none

Use language tabs for model saving examples
  doc/tutorials/saving_model.rst
Due: none

Use a Halley update for Poisson regression (#12431)
  R-package/R/xgb.train.R
  R-package/R/xgboost.R
  R-package/man/xgb.params.Rd
  R-package/man/xgboost.Rd
  doc/parameter.rst
  src/learner.cc
  src/objective/poisson_obj.cc
  src/objective/poisson_obj.h
  tests/cpp/objective/test_objective.cc
  tests/cpp/objective/test_regression_obj.cc
  tests/cpp/test_learner.cc
Due: lint-cpp

Separate learner model inputs from state
  include/xgboost/gbm.h
  include/xgboost/learner.h
  src/gbm/gblinear.cc
  src/gbm/gblinear_model.h
  src/gbm/gbm.cc
  src/gbm/gbtree.cc
  src/gbm/gbtree.h
  src/gbm/gbtree_model.cc
  src/gbm/gbtree_model.h
  src/learner.cc
  src/linear/coordinate_common.h
  src/linear/updater_coordinate.cc
  src/linear/updater_gpu_coordinate.cu
  src/linear/updater_shotgun.cc
  src/predictor/cpu_predictor.cc
  src/predictor/gbtree_view.h
  src/predictor/gpu_predictor.cu
  src/predictor/interpretability/shap.cc
  src/predictor/interpretability/shap.cu
  src/predictor/predictor.cc
  src/predictor/utils.h
  tests/cpp/gbm/test_gblinear.cc
  tests/cpp/gbm/test_gbtree.cc
  tests/cpp/helpers.cc
  tests/cpp/helpers.h
  tests/cpp/linear/test_linear.cc
  tests/cpp/linear/test_linear.cu
  tests/cpp/predictor/test_cpu_predictor.cc
  tests/cpp/predictor/test_gpu_predictor.cu
  tests/cpp/predictor/test_predictor.cc
  tests/cpp/predictor/test_predictor.h
  tests/cpp/predictor/test_shap.cc
  tests/cpp/test_learner.cc
  tests/cpp/test_multi_target.cc
Due: lint-cpp

Support learner device ordinal changes
  src/learner.cc
  tests/cpp/test_learner.cu
Due: lint-cpp

Fix lazy learner initialization regressions
  include/xgboost/learner.h
  jvm-packages/xgboost4j/src/main/java/ml/dmlc/xgboost4j/java/Booster.java
  jvm-packages/xgboost4j/src/main/java/ml/dmlc/xgboost4j/java/XGBoostJNI.java
  jvm-packages/xgboost4j/src/native/xgboost4j.cpp
  jvm-packages/xgboost4j/src/native/xgboost4j.h
  plugin/sycl/predictor/predictor.cc
  src/learner.cc
  tests/cpp/test_learner.cc
Due: lint-cpp

Use standard sort implementations for quantile predictions
  src/objective/quantile_obj.cc
  src/objective/quantile_obj.cu
  src/objective/quantile_obj.h
Due: lint-cpp

Format quantile CUDA includes
  src/objective/quantile_obj.cu
Due: lint-cpp

Fix CUDA learner model state test
  tests/cpp/test_learner.cu
Due: lint-cpp

Use local CUDA sort for quantile predictions
  src/objective/quantile_obj.cu
Due: lint-cpp

[Tests] Spawn subprocesses with sys.executable, not a bare "python"
  tests/python-gpu/test_gpu_demos.py
  tests/python/test_openmp.py
  tests/test_distributed/test_gpu_with_dask/test_gpu_demos.py
  tests/test_distributed/test_with_dask/test_demos.py
Due: none

Split quantile objective kernels and update intercept (#12437)
  src/objective/init_estimation.cc
  src/objective/objective.cc
  src/objective/quantile_obj.cc
  src/objective/quantile_obj.cu
  src/objective/quantile_obj.h
  tests/cpp/objective/test_quantile_obj.cc
Due: lint-cpp

Split AFT and expectile objective kernels
  R-package/src/Makevars.in
  R-package/src/Makevars.win.in
  src/objective/aft_obj.cc
  src/objective/aft_obj.cu
  src/objective/aft_obj.h
  src/objective/expectile_obj.cc
  src/objective/expectile_obj.cu
  src/objective/expectile_obj.h
  src/objective/objective.cc
  src/objective/regression_obj.cu
Due: lint-cpp

Fix tweedie-nloglik returning -inf at tweedie_variance_power=1
  R-package/R/xgb.train.R
  R-package/man/xgb.params.Rd
  R-package/man/xgboost.Rd
  doc/parameter.rst
  src/metric/elementwise_metric.cu
  tests/cpp/metric/test_distributed_metric.cc
  tests/cpp/metric/test_elementwise_metric.h
Due: lint-cpp

Detect CPU cache sizes on Apple Silicon
  src/common/cache_manager.cc
  src/common/cache_manager.h
  tests/cpp/common/test_cache_manager.cc
Due: lint-cpp

Use the target's real cache line size in the hist builder
  src/common/cache_manager.h
  src/common/hist_util.cc
  src/tree/hist/histogram.h
  tests/cpp/common/test_cache_manager.cc
Due: lint-cpp

Spawn subprocesses with `sys.executable` (#12450)
  tests/python-gpu/test_gpu_demos.py
  tests/python/test_openmp.py
  tests/test_distributed/test_gpu_with_dask/test_gpu_demos.py
  tests/test_distributed/test_with_dask/test_demos.py
Due: none

Restore objective kernel parallelism
  src/objective/aft_obj.cc
  src/objective/expectile_obj.cc
  src/objective/expectile_obj.cu
Due: lint-cpp

Make sklearn._SklObjWProto runtime checkable
  python-package/xgboost/sklearn.py
Due: pylint

cmake.
  R-package/configure
Due: none
