Repository dmlc/xgboost: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-cpp, lint-cmake, pylint

lint-cpp:
  name: C++ lint (cpplint)
  entry: python ops/script/lint_cpp.py
  language: python
  additional_dependencies:
  - cpplint==1.6.1

lint-cmake:
  name: CMake lint (cmakelint)
  entry: cmakelint --linelength=120 --filter=-convention/filename,-package/stdargs,-readability/wonkycase
  language: python
  additional_dependencies:
  - cmakelint

pylint:
  name: Python lint (pylint)
  entry: pylint
  language: python
  args:
  - --rcfile=python-package/pyproject.toml
  additional_dependencies:
  - pylint

Use explicit re-export syntax for non_decreasing/non_increasing
  python-package/xgboost/testing/__init__.py
Due: pylint

[doc] Use https for external links
  doc/contrib/docs.rst
  doc/contrib/unit_tests.rst
  doc/install.rst
  doc/treemethod.rst
Due: none

[doc] Use https for more external links
  R-package/R/xgb.Booster.R
  R-package/R/xgboost.R
  R-package/README.md
  doc/R-package/index.rst
  doc/jvm/xgboost4j_spark_tutorial.rst
  doc/tutorials/dart.rst
  doc/tutorials/model.rst
Due: none

[doc] Use https for external links (#12328)
  doc/contrib/docs.rst
  doc/contrib/unit_tests.rst
  doc/install.rst
  doc/treemethod.rst
Due: none

[MT] Support AUC variants for multi-label.
  doc/parameter.rst
  python-package/xgboost/testing/metrics.py
  src/metric/auc.cc
  src/metric/auc.cu
  src/metric/auc.h
  src/predictor/interpretability/shap.cc
  tests/cpp/metric/test_auc.h
  tests/cpp/metric/test_distributed_metric.cc
  tests/python-gpu/test_gpu_eval_metrics.py
  tests/python/test_eval_metrics.py
Due: lint-cpp, pylint

cleanup rebase.
  src/predictor/interpretability/shap.cc
Due: lint-cpp

rename.
  src/metric/auc.cc
  src/metric/auc.cu
Due: lint-cpp

cleanups.
  src/metric/auc.cc
  src/metric/auc.cu
  src/metric/auc.h
Due: lint-cpp

cleanup.
  tests/cpp/metric/test_distributed_metric.cc
Due: lint-cpp

consistency.
  doc/parameter.rst
  src/metric/auc.cc
Due: lint-cpp

Potential fix for pull request finding
  python-package/xgboost/sklearn.py
Due: pylint

avoid cuda std equal to.
  src/metric/auc.cu
Due: lint-cpp

one more fix.
  src/common/stats.cc
Due: lint-cpp

outdated doc.
  doc/tutorials/external_memory.rst
Due: none

Validation.
  src/learner.cc
Due: lint-cpp

check.
  src/gbm/gbtree.h
Due: lint-cpp

cleanup.
  src/objective/adaptive.cc
Due: lint-cpp

[MT] Fix ext mem + vector leaf + adaptive tree indexing.
  python-package/xgboost/testing/multi_target.py
  src/tree/common_row_partitioner.h
Due: lint-cpp, pylint

Fix & cleanup the stats.
  src/common/stats.cu
Due: lint-cpp

fix.
  python-package/xgboost/testing/multi_target.py
Due: pylint

[MT] Support AUC variants for multi-label. (#12313)
  doc/parameter.rst
  python-package/xgboost/testing/metrics.py
  src/common/stats.cc
  src/common/stats.cu
  src/metric/auc.cc
  src/metric/auc.cu
  src/metric/auc.h
  tests/cpp/metric/test_auc.h
  tests/cpp/metric/test_distributed_metric.cc
  tests/python-gpu/test_gpu_eval_metrics.py
  tests/python/test_eval_metrics.py
Due: lint-cpp, pylint

Remove unused scipy_csr compat import
  python-package/xgboost/compat.py
Due: pylint

[MT] Fix ext mem + vector leaf + adaptive tree + subsample indexing. (#12330)
  doc/tutorials/external_memory.rst
  python-package/xgboost/testing/multi_target.py
  src/gbm/gbtree.h
  src/learner.cc
  src/objective/adaptive.cc
  src/tree/common_row_partitioner.h
Due: lint-cpp, pylint

Fix LTR pair sampling with training continuation.
  python-package/xgboost/testing/__init__.py
  python-package/xgboost/testing/continuation.py
  python-package/xgboost/testing/data.py
  python-package/xgboost/testing/ranking.py
  src/objective/lambdarank_obj.cc
  src/objective/lambdarank_obj.cu
  src/objective/lambdarank_obj.cuh
  src/objective/lambdarank_obj.h
  tests/python-gpu/test_device_quantile_dmatrix.py
  tests/python/generate_models.py
  tests/python/test_quantile_dmatrix.py
  tests/python/test_ranking.py
  tests/python/test_with_sklearn.py
Due: lint-cpp, pylint

lint.
  src/objective/lambdarank_obj.cc
  src/objective/lambdarank_obj.h
  tests/python-gpu/test_device_quantile_dmatrix.py
Due: lint-cpp

[MT] Support min child weight, unify gain calculation. (#12325)
  doc/parameter.rst
  python-package/xgboost/testing/monotone_constraints.py
  python-package/xgboost/testing/multi_target.py
  src/tree/gpu_hist/evaluate_splits.cu
  src/tree/gpu_hist/evaluate_splits.cuh
  src/tree/gpu_hist/multi_evaluate_splits.cu
  src/tree/hist/evaluate_splits.h
  src/tree/param.h
  src/tree/split_evaluator.h
  src/tree/updater_gpu_common.cuh
  src/tree/updater_gpu_hist.cuh
  src/tree/updater_quantile_hist.cc
  src/tree/updater_refresh.cc
  tests/cpp/tree/gpu_hist/test_multi_evaluate_splits.cu
  tests/cpp/tree/hist/test_evaluate_splits.cc
  tests/cpp/tree/test_param.cc
  tests/cpp/tree/test_tree_stat.cc
  tests/python-gpu/test_monotonic_constraints.py
  tests/python/test_monotone_constraints.py
  tests/python/test_tracker.py
Due: lint-cpp, pylint

Fix column split removal CI failures
  python-package/xgboost/data.py
  python-package/xgboost/testing/__init__.py
  src/common/quantile.cuh
  src/common/stats.cc
  src/common/stats.cu
  src/common/stats.h
  src/metric/auc.cu
  src/objective/init_estimation.cc
  src/predictor/gpu_predictor.cu
  src/tree/gpu_hist/histogram.cu
  src/tree/hist/evaluate_splits.h
  src/tree/hist/histogram.h
  src/tree/updater_approx.cc
  src/tree/updater_gpu_hist.cuh
  tests/cpp/common/test_quantile.cu
  tests/cpp/common/test_stats.cc
  tests/cpp/data/test_metainfo.cc
  tests/cpp/data/test_simple_dmatrix.cc
  tests/cpp/plugin/federated/test_federated_data.cc
  tests/cpp/plugin/federated/test_federated_learner.cc
  tests/cpp/predictor/test_cpu_predictor.cc
  tests/cpp/predictor/test_gpu_predictor.cu
  tests/cpp/predictor/test_predictor.h
  tests/cpp/test_learner.cc
  tests/cpp/tree/gpu_hist/test_evaluate_splits.cu
  tests/cpp/tree/hist/test_histogram.cc
  tests/cpp/tree/test_gpu_approx.cu
  tests/cpp/tree/test_gpu_hist.cu
  tests/python/test_dmatrix.py
  tests/python/test_with_arrow.py
  tests/python/test_with_pandas.py
Due: lint-cpp, pylint

Fix CUDA build after column split removal
  src/common/quantile.cc
  src/data/quantile_dmatrix.cu
  src/tree/updater_gpu_hist.cu
  src/tree/updater_gpu_hist.cuh
  tests/cpp/common/test_quantile.cu
  tests/cpp/plugin/federated/CMakeLists.txt
  tests/cpp/tree/gpu_hist/test_evaluate_splits.cu
Due: lint-cpp, lint-cmake

fix(sklearn): add qid check in XGBRanker.score
  python-package/xgboost/sklearn.py
Due: pylint

Cleanup the evaluator for the exact tree method.
  src/tree/param.h
  src/tree/split_evaluator.h
  src/tree/updater_colmaker.cc
Due: lint-cpp

Fix remaining column split CI fallout
  src/metric/rank_metric.cc
  src/objective/adaptive.h
  src/tree/fit_stump.cc
  tests/cpp/plugin/test_sycl_predictor.cc
Due: lint-cpp

Remove unused scipy_csr compat import (#12331)
  python-package/xgboost/compat.py
Due: pylint

[doc] Prefer CUDA async pool for external memory.
  demo/guide-python/distributed_extmem_basic.py
  demo/guide-python/external_memory.py
  doc/tutorials/external_memory.rst
Due: pylint

cleanup.
  demo/guide-python/distributed_extmem_basic.py
  demo/guide-python/external_memory.py
Due: pylint

Apply suggestions from code review
  doc/tutorials/external_memory.rst
Due: none

Reject removed column split mode in Python
  doc/tutorials/kubernetes.rst
  python-package/xgboost/_typing.py
  python-package/xgboost/core.py
  python-package/xgboost/data.py
  tests/python/test_dmatrix.py
  tests/python/test_with_arrow.py
  tests/python/test_with_pandas.py
Due: pylint

Integrate the evaluator to GPU.
  src/tree/gpu_hist/leaf_sum.cu
  src/tree/gpu_hist/leaf_sum.cuh
  src/tree/gpu_hist/multi_evaluate_splits.cu
  src/tree/gpu_hist/multi_evaluate_splits.cuh
  src/tree/split_evaluator.h
  src/tree/updater_gpu_hist.cuh
  tests/cpp/tree/gpu_hist/test_multi_evaluate_splits.cu
Due: lint-cpp

cpu.
  src/tree/hist/evaluate_splits.h
  src/tree/param.h
  src/tree/split_evaluator.h
  src/tree/updater_quantile_hist.cc
  tests/cpp/tree/test_param.cc
  tests/cpp/tree/test_split_evaluator.cc
Due: lint-cpp

cleanup typing.
  src/tree/split_evaluator.h
  tests/cpp/tree/test_split_evaluator.cc
Due: lint-cpp

Path conditions:
  lint-cpp: any of: \.(cc|c|cpp|h|cu|hpp)$, but not: (dmlc-core|gputreeshap)
  lint-cmake: any of: (CMakeLists\.txt$|^cmake/.*\.cmake$), but not: (dmlc-core|gputreeshap)
  pylint: any of: \.py$, but not: (dmlc-core|gputreeshap|^ops/|^tests/)
