Repository dmlc/xgboost: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-cpp, lint-cmake, pylint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: check-yaml
      - id: check-toml
      - id: check-json
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable
      - id: mixed-line-ending
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.14
    hooks:
      - id: ruff-check
        args:
          - --fix
          - --select=I
        files: \.py$
        exclude: (dmlc-core|gputreeshap)
      - id: ruff-format
        files: \.py$
        exclude: (dmlc-core|gputreeshap)
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v21.1.8
    hooks:
      - id: clang-format
        args: [--style=file]
        files: \.(cc|c|cpp|h|cu|hpp)$
        exclude: (dmlc-core|gputreeshap)
  - repo: local
    hooks:
      - id: lint-cpp
        name: C++ lint (cpplint)
        entry: python ops/script/lint_cpp.py
        language: python
        types: [file]
        files: \.(cc|c|cpp|h|cu|hpp)$
        exclude: (dmlc-core|gputreeshap)
        additional_dependencies:
          - cpplint==1.6.1
      - id: lint-cmake
        name: CMake lint (cmakelint)
        entry: cmakelint --linelength=120 --filter=-convention/filename,-package/stdargs,-readability/wonkycase
        language: python
        types: [file]
        files: (CMakeLists\.txt$|^cmake/.*\.cmake$)
        exclude: (dmlc-core|gputreeshap)
        additional_dependencies:
          - cmakelint
      - id: pylint
        name: Python lint (pylint)
        entry: pylint
        language: python
        types: [file]
        files: \.py$
        exclude: (dmlc-core|gputreeshap|^ops/|^tests/)
        args:
          - --rcfile=python-package/pyproject.toml
        additional_dependencies:
          - pylint

style: format qid validation check to pass pre-commit / black linting
  python-package/xgboost/sklearn.py
Due: pylint

Inline tree synchronization into prune updater
  R-package/R/xgb.train.R
  R-package/man/xgb.params.Rd
  R-package/src/Makevars.in
  R-package/src/Makevars.win.in
  doc/parameter.rst
  doc/treemethod.rst
  src/tree/tree_updater.cc
  src/tree/updater_prune.cc
  src/tree/updater_sync.cc
Due: lint-cpp

[jvm-packages] Fix batch predict for SparseVector features (corrupted CSR)
  jvm-packages/xgboost4j-spark/src/main/scala/ml/dmlc/xgboost4j/scala/spark/Utils.scala
  jvm-packages/xgboost4j-spark/src/test/scala/ml/dmlc/xgboost4j/scala/spark/XGBoostEstimatorSuite.scala
Due: none

[MT] Monotone constraint. (#12341)
  demo/guide-python/multioutput_regression.py
  doc/treemethod.rst
  doc/tutorials/categorical.rst
  doc/tutorials/monotonic.rst
  doc/tutorials/multioutput.rst
  python-package/xgboost/testing/monotone_constraints.py
  python-package/xgboost/testing/multi_target.py
  src/gbm/gbtree.cc
  src/tree/gpu_hist/evaluate_splits.cu
  src/tree/gpu_hist/evaluate_splits.cuh
  src/tree/gpu_hist/evaluator.cu
  src/tree/gpu_hist/leaf_sum.cu
  src/tree/gpu_hist/leaf_sum.cuh
  src/tree/gpu_hist/multi_evaluate_splits.cu
  src/tree/gpu_hist/multi_evaluate_splits.cuh
  src/tree/hist/evaluate_splits.h
  src/tree/param.h
  src/tree/split_evaluator.h
  src/tree/updater_approx.cc
  src/tree/updater_colmaker.cc
  src/tree/updater_gpu_common.cuh
  src/tree/updater_gpu_hist.cu
  src/tree/updater_gpu_hist.cuh
  src/tree/updater_quantile_hist.cc
  src/tree/updater_refresh.cc
  tests/cpp/tree/gpu_hist/test_evaluate_splits.cu
  tests/cpp/tree/gpu_hist/test_multi_evaluate_splits.cu
  tests/cpp/tree/hist/test_evaluate_splits.cc
  tests/cpp/tree/test_split_evaluator.cc
  tests/python-gpu/test_monotonic_constraints.py
  tests/python/test_monotone_constraints.py
Due: lint-cpp, pylint

Copy license into the Python package.
  .github/workflows/python_wheels_winarm64.yml
  ops/pipeline/build-cuda-impl.sh
  ops/pipeline/build-python-wheels-arm64-impl.sh
  ops/pipeline/build-python-wheels-macos.sh
  ops/pipeline/build-test-sycl.sh
  ops/pipeline/build-win64.ps1
  ops/pipeline/test-python-macos.sh
  ops/pipeline/test-python-with-sysprefix.sh
  ops/script/prepare_sdist.py
  ops/script/pypi_variants.py
  python-package/LICENSE
Due: none

Remove redundant private specifier
  src/tree/updater_prune.cc
Due: lint-cpp

Fix updater node-position tests
  src/tree/updater_prune.cc
  tests/cpp/tree/test_prune.cc
  tests/cpp/tree/test_refresh.cc
Due: lint-cpp

Standardize node positions for CPU updaters
  src/tree/updater_colmaker.cc
  src/tree/updater_prune.cc
  src/tree/updater_refresh.cc
  tests/cpp/tree/test_node_partition.cc
Due: lint-cpp

Fix rebased colmaker tree check
  src/tree/updater_colmaker.cc
Due: lint-cpp

cleanup deprecated.
  src/objective/lambdarank_obj.cuh
Due: none

Fix i386 fit stump warning
  tests/cpp/tree/test_fit_stump.cc
Due: lint-cpp

int dist.
  src/common/random.cuh
  src/objective/lambdarank_obj.cuh
Due: none

[R] Remove obsolete 32-bit Windows thread_local workaround
  R-package/src/Makevars.in
  R-package/src/Makevars.win.in
Due: none

Copy license into the Python package. (#12349)
  .github/workflows/python_wheels_winarm64.yml
  ops/pipeline/build-cuda-impl.sh
  ops/pipeline/build-python-wheels-arm64-impl.sh
  ops/pipeline/build-python-wheels-macos.sh
  ops/pipeline/build-test-sycl.sh
  ops/pipeline/build-win64.ps1
  ops/pipeline/test-python-macos.sh
  ops/pipeline/test-python-with-sysprefix.sh
  ops/script/prepare_sdist.py
  ops/script/pypi_variants.py
  python-package/LICENSE
Due: none

Fix prune test node positions
  tests/cpp/tree/test_prune.cc
Due: lint-cpp

test pickle.
  python-package/xgboost/testing/continuation.py
  tests/python-gpu/test_gpu_training_continuation.py
  tests/python/test_training_continuation.py
Due: pylint

[R] Remove obsolete 32-bit Windows thread_local workaround (#12352)
  R-package/src/Makevars.in
  R-package/src/Makevars.win.in
Due: none

Followup cleanups for removing column split.
  src/data/extmem_quantile_dmatrix.cu
  src/data/iterative_dmatrix.cu
  src/data/quantile_dmatrix.cu
  src/data/quantile_dmatrix.h
  src/objective/init_estimation.cc
  src/objective/regression_obj.cu
  src/tree/fit_stump.cc
  src/tree/fit_stump.cu
  src/tree/fit_stump.h
  src/tree/gpu_hist/expand_entry.cuh
  src/tree/gpu_hist/histogram.cu
  src/tree/gpu_hist/histogram.cuh
  src/tree/gpu_hist/quantiser.cu
  src/tree/gpu_hist/quantiser.cuh
  src/tree/hist/expand_entry.h
  src/tree/updater_gpu_hist.cu
  src/tree/updater_gpu_hist.cuh
  tests/cpp/collective/test_worker.h
  tests/cpp/common/test_quantile.cu
  tests/cpp/predictor/test_gpu_predictor.cu
  tests/cpp/tree/gpu_hist/dummy_quantizer.cuh
  tests/cpp/tree/gpu_hist/test_evaluate_splits.cu
  tests/cpp/tree/gpu_hist/test_expand_entry.cu
  tests/cpp/tree/gpu_hist/test_histogram.cu
  tests/cpp/tree/hist/test_expand_entry.cc
  tests/cpp/tree/test_fit_stump.cc
  tests/cpp/tree/test_gpu_approx.cu
  tests/cpp/tree/test_gpu_hist.cu
Due: lint-cpp

missing assert.
  python-package/xgboost/testing/continuation.py
Due: pylint

Potential fix for pull request finding
  tests/cpp/common/test_quantile.cu
Due: lint-cpp

Followup cleanups for removing column split. (#12354)
  src/data/extmem_quantile_dmatrix.cu
  src/data/iterative_dmatrix.cu
  src/data/quantile_dmatrix.cu
  src/data/quantile_dmatrix.h
  src/objective/init_estimation.cc
  src/objective/regression_obj.cu
  src/tree/fit_stump.cc
  src/tree/fit_stump.cu
  src/tree/fit_stump.h
  src/tree/gpu_hist/expand_entry.cuh
  src/tree/gpu_hist/histogram.cu
  src/tree/gpu_hist/histogram.cuh
  src/tree/gpu_hist/quantiser.cu
  src/tree/gpu_hist/quantiser.cuh
  src/tree/hist/expand_entry.h
  src/tree/updater_gpu_hist.cu
  src/tree/updater_gpu_hist.cuh
  tests/cpp/collective/test_worker.h
  tests/cpp/common/test_quantile.cu
  tests/cpp/predictor/test_gpu_predictor.cu
  tests/cpp/tree/gpu_hist/dummy_quantizer.cuh
  tests/cpp/tree/gpu_hist/test_evaluate_splits.cu
  tests/cpp/tree/gpu_hist/test_expand_entry.cu
  tests/cpp/tree/gpu_hist/test_histogram.cu
  tests/cpp/tree/hist/test_expand_entry.cc
  tests/cpp/tree/test_fit_stump.cc
  tests/cpp/tree/test_gpu_approx.cu
  tests/cpp/tree/test_gpu_hist.cu
Due: lint-cpp

Fix LTR pair sampling with training continuation. (#12332)
  python-package/xgboost/testing/__init__.py
  python-package/xgboost/testing/continuation.py
  python-package/xgboost/testing/data.py
  python-package/xgboost/testing/ranking.py
  src/common/random.cuh
  src/objective/lambdarank_obj.cc
  src/objective/lambdarank_obj.cu
  src/objective/lambdarank_obj.cuh
  src/objective/lambdarank_obj.h
  tests/python-gpu/test_device_quantile_dmatrix.py
  tests/python-gpu/test_gpu_training_continuation.py
  tests/python/generate_models.py
  tests/python/test_quantile_dmatrix.py
  tests/python/test_ranking.py
  tests/python/test_training_continuation.py
  tests/python/test_with_sklearn.py
Due: lint-cpp, pylint

Cleanup the expand entry.
  plugin/sycl/tree/expand_entry.h
  plugin/sycl/tree/hist_updater.cc
  src/tree/driver.h
  src/tree/gpu_hist/expand_entry.cuh
  src/tree/hist/expand_entry.h
  tests/cpp/tree/gpu_hist/test_multi_evaluate_splits.cu
Due: lint-cpp

lint.
  plugin/sycl/tree/expand_entry.h
  src/tree/driver.h
Due: lint-cpp

[cv] Basic implementation of model. (#12283)
  include/xgboost/learner.h
  python-package/xgboost/_cross_validation.py
  src/cross_validate.cc
  src/cross_validate/cross_validate.cc
  src/cross_validate/cross_validate.cu
  src/cross_validate/cross_validate.h
  src/learner.cc
  src/learner_model_param_legacy.h
  tests/cpp/cross_validate/test_cv_model.cc
  tests/python-gpu/test_cross_validate.py
Due: lint-cpp, pylint

[CV] Use MT tree as default. (#12285)
  include/xgboost/tree_model.h
  python-package/xgboost/_cross_validation.py
  src/cross_validate/cross_validate.cc
  src/cross_validate/cross_validate.cu
  src/cross_validate/cross_validate.h
  src/tree/multi_target_tree_model.cc
  src/tree/tree_model.cc
  tests/cpp/cross_validate/test_cv_model.cc
Due: lint-cpp, pylint

[CV] Extract C helpers. (#12287)
  src/c_api/c_api.cc
  src/c_api/c_api_utils.h
Due: lint-cpp

[cv] Calculate the gradient. (#12281)
  python-package/xgboost/_cross_validation.py
  src/cross_validate.cc
  src/cross_validate.cu
  src/cross_validate.h
  src/cross_validate/kfolds.cc
  src/cross_validate/kfolds.cu
  src/cross_validate/kfolds.h
  src/tree/updater_gpu_cv_hist.cu
  tests/cpp/cross_validate/test_kfolds.cu
  tests/python-gpu/test_cross_validate.py
Due: lint-cpp, pylint

[CV] Basic interface for the tree method. (#12288)
  python-package/xgboost/_cross_validation.py
  src/cross_validate/cross_validate.cc
  src/cross_validate/cross_validate.cu
  src/cross_validate/cross_validate.h
  src/tree/updater_gpu_hist.cu
  src/tree/updater_gpu_hist.cuh
  tests/python-gpu/test_cross_validate.py
Due: lint-cpp, pylint

[CV] Reuse the prediction cache. (#12291)
  python-package/xgboost/_cross_validation.py
  src/cross_validate/cross_validate.cc
  src/cross_validate/cross_validate.h
  tests/python-gpu/test_cross_validate.py
Due: lint-cpp, pylint

[CV] Calculate root sum.
  python-package/xgboost/_cross_validation.py
  src/cross_validate/cross_validate.cc
  src/cross_validate/cross_validate.cu
  src/cross_validate/cross_validate.h
  src/tree/updater_gpu_cv_hist.cu
  src/tree/updater_gpu_hist.cu
  src/tree/updater_gpu_hist.cuh
  tests/cpp/cross_validate/test_cv_model.cc
  tests/python-gpu/test_cross_validate.py
Due: lint-cpp, pylint

Fix.
  src/tree/updater_gpu_hist.cu
Due: lint-cpp

Replace the name `num_output_group` with the number of targets.
  demo/guide-python/model_parser.py
  include/xgboost/gbm.h
  include/xgboost/learner.h
  include/xgboost/objective.h
  include/xgboost/predictor.h
  python-package/xgboost/core.py
  python-package/xgboost/testing/shared.py
  src/c_api/c_api.cc
  src/c_api/c_api.cu
  src/c_api/c_api_utils.h
  src/data/data.cc
  src/gbm/gblinear.cc
  src/gbm/gblinear_model.h
  src/gbm/gbtree.cc
  src/gbm/gbtree.cu
  src/gbm/gbtree.h
  src/gbm/gbtree_model.cc
  src/gbm/gbtree_model.h
  src/learner.cc
  src/linear/coordinate_common.h
  src/linear/updater_coordinate.cc
  src/linear/updater_gpu_coordinate.cu
  src/linear/updater_shotgun.cc
  src/objective/adaptive.cc
  src/objective/adaptive.cu
  src/objective/adaptive.h
  src/objective/quantile_obj.cu
  src/objective/regression_obj.cu
  src/predictor/cpu_predictor.cc
  src/predictor/gbtree_view.h
  src/predictor/gpu_predictor.cu
  src/predictor/interpretability/shap.cc
  src/predictor/interpretability/shap.cu
  src/predictor/predictor.cc
  tests/cpp/helpers.h
  tests/cpp/predictor/test_predictor.cc
  tests/cpp/predictor/test_predictor.h
  tests/cpp/predictor/test_shap.cc
  tests/cpp/test_multi_target.cc
  tests/cpp/tree/test_tree_stat.cc
Due: lint-cpp, pylint

sycl.
  plugin/sycl/predictor/predictor.cc
Due: lint-cpp

Fix.
  src/predictor/interpretability/shap.cc
Due: lint-cpp

Fix
  src/predictor/interpretability/shap.cc
Due: lint-cpp

[CV] Calculate root sum. (#12356)
  python-package/xgboost/_cross_validation.py
  src/cross_validate/cross_validate.cc
  src/cross_validate/cross_validate.cu
  src/cross_validate/cross_validate.h
  src/tree/updater_gpu_cv_hist.cu
  src/tree/updater_gpu_hist.cu
  src/tree/updater_gpu_hist.cuh
  tests/cpp/cross_validate/test_cv_model.cc
  tests/python-gpu/test_cross_validate.py
Due: lint-cpp, pylint

Fix a few comment/docstring typos
  python-package/xgboost/core.py
  python-package/xgboost/data.py
Due: pylint

[doc] Fix stale readthedocs.org domain in README
  README.md
Due: none
