Repository dmlc/xgboost: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-cpp, lint-cmake, pylint

lint-cpp:
  name: C++ lint (cpplint)
  entry: python ops/script/lint_cpp.py
  language: python
  additional_dependencies:
  - cpplint==1.6.1

lint-cmake:
  name: CMake lint (cmakelint)
  entry: cmakelint --linelength=120 --filter=-convention/filename,-package/stdargs,-readability/wonkycase
  language: python
  additional_dependencies:
  - cmakelint

pylint:
  name: Python lint (pylint)
  entry: pylint
  language: python
  args:
  - --rcfile=python-package/pyproject.toml
  additional_dependencies:
  - pylint

Fix silently dropped graphviz kwarg in to_graphviz
  python-package/xgboost/plotting.py
Due: pylint

Fix buffer corruption for non-ASCII pandas categorical names
  python-package/xgboost/_data_utils.py
Due: pylint

Raise on partial cert paths in run_federated_server instead of silently going insecure
  python-package/xgboost/federated.py
Due: pylint

Share tree model broadcast helper
  src/tree/hist/hist_param.cc
  src/tree/model_utils.h
  src/tree/updater_prune.cc
Due: lint-cpp

Detect CPU cache sizes on Apple silicon via sysctl
  src/common/cache_manager.cc
Due: lint-cpp

Restore unrelated GPU tests removed with column split
  tests/cpp/common/test_quantile.cu
  tests/cpp/predictor/test_gpu_predictor.cu
Due: lint-cpp

Revert "Share tree model broadcast helper"
  src/tree/hist/hist_param.cc
  src/tree/model_utils.h
  src/tree/updater_prune.cc
Due: lint-cpp

[doc] Fix stale readthedocs.org domain in README (#12358)
  README.md
Due: none

Fix a few comment/docstring typos (#12357)
  python-package/xgboost/core.py
  python-package/xgboost/data.py
Due: pylint

Cleanup the row partitioner.
  src/tree/gpu_hist/row_partitioner.cuh
  src/tree/updater_gpu_hist.cu
  src/tree/updater_gpu_hist.cuh
  tests/cpp/tree/gpu_hist/test_row_partitioner.cu
Due: lint-cpp

Cleanup param.
  src/tree/param.h
Due: lint-cpp

Cleanup methods.
  src/tree/gpu_hist/expand_entry.cuh
Due: none

move.
  src/tree/updater_gpu_hist.cuh
Due: none

batch.
  include/xgboost/multi_target_tree_model.h
  include/xgboost/tree_model.h
  src/tree/updater_gpu_hist.cuh
Due: lint-cpp

Add regression test for graphviz kwargs fix
  tests/python/test_plotting.py
Due: none

batch apply.
  include/xgboost/multi_target_tree_model.h
  include/xgboost/tree_model.h
  src/common/device_helpers.cuh
  src/tree/gpu_hist/multi_evaluate_splits.cu
  src/tree/gpu_hist/multi_evaluate_splits.cuh
  src/tree/hist/evaluate_splits.h
  src/tree/tree_model.cc
  src/tree/updater_approx.cc
  src/tree/updater_gpu_hist.cu
  src/tree/updater_gpu_hist.cuh
  src/tree/updater_quantile_hist.cc
  tests/cpp/tree/hist/test_evaluate_splits.cc
  tests/cpp/tree/test_multi_target_tree_model.cc
  tests/cpp/tree/test_partitioner.h
Due: lint-cpp

tests.
  tests/cpp/tree/gpu_hist/test_multi_evaluate_splits.cu
  tests/cpp/tree/test_multi_target_tree_model.cc
  tests/cpp/tree/test_partitioner.h
Due: lint-cpp

ctx
  include/xgboost/multi_target_tree_model.h
  include/xgboost/tree_model.h
  src/tree/hist/evaluate_splits.h
  src/tree/updater_quantile_hist.cc
Due: lint-cpp

push.
  src/tree/updater_gpu_hist.cuh
Due: none

cuda impl.
  src/tree/multi_target_tree_model.cu
Due: lint-cpp

copy.
  src/tree/hist/evaluate_splits.h
  src/tree/multi_target_tree_model.cc
  src/tree/tree_model.cc
  tests/cpp/predictor/test_predictor.cc
Due: lint-cpp

Cleanups.
  src/tree/gpu_hist/expand_entry.cu
  src/tree/gpu_hist/expand_entry.cuh
  src/tree/gpu_hist/multi_evaluate_splits.cu
  src/tree/gpu_hist/multi_evaluate_splits.cuh
  tests/cpp/tree/gpu_hist/test_multi_evaluate_splits.cu
  tests/cpp/tree/test_multi_target_tree_model.cc
Due: lint-cpp

cleanup.
  src/tree/updater_gpu_common.cuh
Due: none

ranges.
  src/tree/gpu_hist/multi_evaluate_splits.cu
  src/tree/multi_target_tree_model.cc
  src/tree/tree_model.cc
  src/tree/updater_gpu_hist.cu
Due: lint-cpp

lint.
  tests/cpp/tree/gpu_hist/test_multi_evaluate_splits.cu
Due: lint-cpp

lint.
  tests/cpp/tree/gpu_hist/test_multi_evaluate_splits.cu
  tests/cpp/tree/test_partitioner.h
Due: lint-cpp

cleanups.
  include/xgboost/multi_target_tree_model.h
  src/tree/tree_model.cc
Due: lint-cpp

use transform.
  src/tree/multi_target_tree_model.cu
Due: lint-cpp

flaky test.
  tests/python/test_tracker.py
Due: none

typing.
  src/common/device_helpers.cuh
  src/tree/multi_target_tree_model.cc
  src/tree/multi_target_tree_model.cu
Due: lint-cpp

lint.
  src/common/device_helpers.cuh
Due: none

cleanup.
  src/common/device_helpers.cuh
  src/tree/multi_target_tree_model.cu
Due: lint-cpp

Cleanup.
  src/common/categorical.h
  src/tree/gpu_hist/multi_evaluate_splits.cuh
Due: lint-cpp

Restore unrelated GPU tests removed with column split (#12363)
  tests/cpp/common/test_quantile.cu
  tests/cpp/predictor/test_gpu_predictor.cu
Due: lint-cpp

Inline distributed tree synchronization into prune updater (#12345)
  R-package/R/xgb.train.R
  R-package/man/xgb.params.Rd
  R-package/src/Makevars.in
  R-package/src/Makevars.win.in
  doc/parameter.rst
  doc/treemethod.rst
  src/tree/tree_updater.cc
  src/tree/updater_prune.cc
  src/tree/updater_sync.cc
Due: lint-cpp

[MT] Apply splits by batches. (#12365)
  include/xgboost/multi_target_tree_model.h
  include/xgboost/tree_model.h
  plugin/sycl/tree/expand_entry.h
  plugin/sycl/tree/hist_updater.cc
  src/common/categorical.h
  src/common/device_helpers.cuh
  src/tree/driver.h
  src/tree/gpu_hist/expand_entry.cu
  src/tree/gpu_hist/expand_entry.cuh
  src/tree/gpu_hist/multi_evaluate_splits.cu
  src/tree/gpu_hist/multi_evaluate_splits.cuh
  src/tree/gpu_hist/row_partitioner.cuh
  src/tree/hist/evaluate_splits.h
  src/tree/hist/expand_entry.h
  src/tree/multi_target_tree_model.cc
  src/tree/multi_target_tree_model.cu
  src/tree/param.h
  src/tree/tree_model.cc
  src/tree/updater_approx.cc
  src/tree/updater_gpu_common.cuh
  src/tree/updater_gpu_hist.cu
  src/tree/updater_gpu_hist.cuh
  src/tree/updater_quantile_hist.cc
  tests/cpp/predictor/test_predictor.cc
  tests/cpp/tree/gpu_hist/test_multi_evaluate_splits.cu
  tests/cpp/tree/gpu_hist/test_row_partitioner.cu
  tests/cpp/tree/hist/test_evaluate_splits.cc
  tests/cpp/tree/test_multi_target_tree_model.cc
  tests/cpp/tree/test_partitioner.h
  tests/python/test_tracker.py
Due: lint-cpp

Add regression test for UTF-8 category name corruption
  python-package/xgboost/testing/ordinal.py
Due: pylint

Let C++ raise on missing cert paths instead of pre-validating in Python
  python-package/xgboost/federated.py
Due: pylint

Fix get_params() mutating and being non-idempotent for RNG random_state
  python-package/xgboost/sklearn.py
Due: pylint

Path conditions:
  lint-cpp: any of: \.(cc|c|cpp|h|cu|hpp)$, but not: (dmlc-core|gputreeshap)
  lint-cmake: any of: (CMakeLists\.txt$|^cmake/.*\.cmake$), but not: (dmlc-core|gputreeshap)
  pylint: any of: \.py$, but not: (dmlc-core|gputreeshap|^ops/|^tests/)
