Repository dmlc/xgboost: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-cpp, lint-cmake, pylint

lint-cpp:
  name: C++ lint (cpplint)
  entry: python ops/script/lint_cpp.py
  language: python
  additional_dependencies:
  - cpplint==1.6.1

lint-cmake:
  name: CMake lint (cmakelint)
  entry: cmakelint --linelength=120 --filter=-convention/filename,-package/stdargs,-readability/wonkycase
  language: python
  additional_dependencies:
  - cmakelint

pylint:
  name: Python lint (pylint)
  entry: pylint
  language: python
  args:
  - --rcfile=python-package/pyproject.toml
  additional_dependencies:
  - pylint

[MT] Rework gradient-based sampling with reduced gradient. (#12321)
  src/tree/gpu_hist/sampler.cu
  src/tree/gpu_hist/sampler.cuh
  src/tree/hist/sampler.cc
  src/tree/hist/sampler.h
  src/tree/updater_gpu_hist.cuh
  src/tree/updater_quantile_hist.cc
  tests/cpp/tree/gpu_hist/test_sampler.cu
  tests/cpp/tree/hist/test_sampler.cc
  tests/cpp/tree/test_sampler.h
Due: lint-cpp

Avoid redundant allocations in the JSON text parser (#12317)
  include/xgboost/json_io.h
  src/common/json.cc
Due: lint-cpp

check auc.
  src/metric/auc.cc
Due: lint-cpp

tests.
  src/metric/auc.cc
  tests/cpp/metric/test_distributed_metric.cc
  tests/cpp/metric/test_metric.cc
Due: lint-cpp

docs: add recent XGBoost competition winning solutions
  demo/README.md
Due: none

[MT] Defensive checks. (#12320)
  src/gbm/gbtree.cc
  src/gbm/gbtree.h
  src/metric/auc.cc
  src/metric/elementwise_metric.cu
  src/metric/metric_common.h
  src/metric/multiclass_metric.cu
  src/metric/rank_metric.cc
  src/metric/survival_metric.cu
  src/predictor/interpretability/shap.cc
  tests/cpp/metric/test_distributed_metric.cc
  tests/cpp/metric/test_metric.cc
Due: lint-cpp

Cleanup unused functions.
  src/tree/param.h
  tests/cpp/tree/test_param.cc
Due: lint-cpp

check.
  src/tree/updater_refresh.cc
Due: lint-cpp

doc.
  doc/tutorials/monotonic.rst
Due: none

Revert "doc."
  doc/tutorials/monotonic.rst
Due: none

lint.
  src/tree/hist/evaluate_splits.h
Due: lint-cpp

Deprecate the random forest estimators
  doc/tutorials/rf.rst
  python-package/xgboost/dask/__init__.py
  python-package/xgboost/sklearn.py
  tests/python/test_with_sklearn.py
Due: pylint

fix cuda parent gain.
  src/tree/gpu_hist/evaluate_splits.cu
Due: lint-cpp

comment.
  src/tree/param.h
Due: lint-cpp

Fix gain calculation.
  src/tree/param.h
  src/tree/split_evaluator.h
  tests/cpp/tree/test_param.cc
  tests/python-gpu/test_monotonic_constraints.py
Due: lint-cpp

checks.
  src/tree/param.h
  src/tree/updater_colmaker.cc
  src/tree/updater_prune.cc
Due: lint-cpp

use double.
  src/tree/split_evaluator.h
Due: lint-cpp

extract.
  python-package/xgboost/testing/monotone_constraints.py
  tests/python-gpu/test_monotonic_constraints.py
  tests/python/test_monotone_constraints.py
Due: pylint

lint.
  tests/cpp/tree/test_param.cc
  tests/python-gpu/test_monotonic_constraints.py
  tests/python/test_monotone_constraints.py
Due: lint-cpp

tie breaking.
  src/tree/gpu_hist/multi_evaluate_splits.cu
Due: lint-cpp

cleanup checks.
  src/tree/gpu_hist/multi_evaluate_splits.cu
Due: lint-cpp

gain at weight.
  src/tree/gpu_hist/multi_evaluate_splits.cu
  src/tree/param.h
Due: lint-cpp

test.
  tests/cpp/tree/test_param.cc
Due: lint-cpp

min child weight.
  src/tree/gpu_hist/evaluate_splits.cuh
  src/tree/gpu_hist/multi_evaluate_splits.cu
  src/tree/hist/evaluate_splits.h
  src/tree/param.h
  src/tree/split_evaluator.h
  src/tree/updater_gpu_common.cuh
  tests/cpp/tree/gpu_hist/test_multi_evaluate_splits.cu
  tests/cpp/tree/hist/test_evaluate_splits.cc
  tests/cpp/tree/test_param.cc
Due: lint-cpp

port the changes.
  doc/parameter.rst
  python-package/xgboost/testing/multi_target.py
  tests/cpp/tree/test_tree_stat.cc
Due: lint-cpp, pylint

cleanups.
  src/tree/param.h
  src/tree/updater_gpu_hist.cuh
  src/tree/updater_quantile_hist.cc
  src/tree/updater_refresh.cc
Due: lint-cpp

extract.
  src/tree/gpu_hist/multi_evaluate_splits.cu
  src/tree/hist/evaluate_splits.h
  src/tree/param.h
  src/tree/split_evaluator.h
  tests/cpp/tree/test_tree_stat.cc
Due: lint-cpp

cleanup.
  tests/cpp/tree/test_tree_stat.cc
Due: lint-cpp

cleanup.
  tests/cpp/tree/test_param.cc
Due: lint-cpp

flaky test.
  tests/python/test_tracker.py
Due: none

Replaced by the stat tests.
  tests/cpp/tree/gpu_hist/test_multi_evaluate_splits.cu
  tests/cpp/tree/hist/test_evaluate_splits.cc
Due: lint-cpp

cleanups.
  tests/cpp/tree/gpu_hist/test_multi_evaluate_splits.cu
Due: lint-cpp

lint.
  tests/cpp/tree/test_param.cc
Due: lint-cpp

skip the exact for now.
  src/tree/updater_colmaker.cc
Due: lint-cpp

revert.
  src/tree/updater_prune.cc
Due: lint-cpp

strict check.
  src/tree/updater_refresh.cc
Due: lint-cpp

Fix.
  src/tree/updater_refresh.cc
Due: lint-cpp

test.
  tests/cpp/tree/test_tree_stat.cc
Due: lint-cpp

Fix mypy var-annotated error in dask predict_async
  python-package/xgboost/dask/__init__.py
Due: pylint

Path conditions:
  lint-cpp: any of: \.(cc|c|cpp|h|cu|hpp)$, but not: (dmlc-core|gputreeshap)
  lint-cmake: any of: (CMakeLists\.txt$|^cmake/.*\.cmake$), but not: (dmlc-core|gputreeshap)
  pylint: any of: \.py$, but not: (dmlc-core|gputreeshap|^ops/|^tests/)
