Repository dmlc/xgboost: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-cpp, lint-cmake, black, isort, pylint

lint-cpp:
  name: C++ lint (cpplint)
  entry: python ops/script/lint_cpp.py
  language: python
  additional_dependencies:
  - cpplint==1.6.1

lint-cmake:
  name: CMake lint (cmakelint)
  entry: cmakelint --linelength=120 --filter=-convention/filename,-package/stdargs,-readability/wonkycase
  language: python
  additional_dependencies:
  - cmakelint

black:
  name: Python format (black)
  entry: black -q
  language: python
  additional_dependencies:
  - black

isort:
  name: Python format (isort)
  entry: isort
  language: python
  args:
  - --settings-path
  - python-package
  - --src=python-package
  additional_dependencies:
  - isort

pylint:
  name: Python lint (pylint)
  entry: pylint
  language: python
  args:
  - --rcfile=python-package/pyproject.toml
  additional_dependencies:
  - pylint

pre-commit.
  cmake/FindOpenMPMacOS.cmake
  src/common/io.cc
Due: lint-cpp, lint-cmake

cleanup.
  src/tree/gpu_hist/quantiser.cuh
  src/tree/gpu_hist/sampler.cu
  src/tree/gpu_hist/sampler.cuh
  src/tree/hist/sampler.cc
  src/tree/hist/sampler.h
  tests/cpp/tree/gpu_hist/test_sampler.cu
  tests/cpp/tree/test_sampler.h
Due: lint-cpp

cleanup
  src/tree/fit_stump.cc
  src/tree/fit_stump.h
  src/tree/gpu_hist/sampler.cu
  src/tree/updater_quantile_hist.cc
  tests/cpp/tree/hist/test_sampler.cc
Due: lint-cpp

pre-commit.
  src/tree/updater_quantile_hist.cc
Due: lint-cpp

rescale.
  src/tree/gpu_hist/sampler.cu
  src/tree/gpu_hist/sampler.cuh
  src/tree/hist/sampler.cc
  src/tree/hist/sampler.h
Due: lint-cpp

cleanup.
  src/tree/hist/sampler.cc
  tests/cpp/tree/gpu_hist/test_sampler.cu
  tests/cpp/tree/test_sampler.h
Due: lint-cpp

cleanup.
  src/tree/hist/sampler.cc
Due: lint-cpp

pre-commit.
  src/tree/hist/sampler.cc
Due: lint-cpp

Add support for expectile regression.
  R-package/R/utils.R
  R-package/R/xgb.train.R
  R-package/R/xgboost.R
  R-package/man/xgb.params.Rd
  R-package/man/xgboost.Rd
  R-package/tests/testthat/test_xgboost.R
  doc/parameter.rst
  jvm-packages/xgboost4j-spark/src/main/scala/ml/dmlc/xgboost4j/scala/spark/params/LearningTaskParams.scala
  python-package/xgboost/testing/metrics.py
  src/common/expectile_loss_utils.cc
  src/common/expectile_loss_utils.h
  src/common/quantile_loss_utils.h
  src/metric/elementwise_metric.cu
  src/objective/regression_obj.cu
  tests/cpp/metric/test_distributed_metric.cc
  tests/cpp/metric/test_elementwise_metric.h
  tests/cpp/objective/test_objective.cc
  tests/cpp/objective/test_regression_obj.cc
  tests/cpp/objective/test_regression_obj.h
  tests/cpp/objective/test_regression_obj_cpu.cc
  tests/cpp/plugin/federated/test_federated_learner.cc
  tests/cpp/test_learner.cc
  tests/python/test_eval_metrics.py
Due: lint-cpp, black, isort, pylint

Replace isort/black with ruff (#11984)
  .pre-commit-config.yaml
  python-package/pyproject.toml
Due: none

bump deployment target.
  ops/pipeline/build-python-wheels-macos.sh
Due: none

[wip][ci] Revise document build pipeline.
  doc/conf.py
  doc/requirements.txt
  doc/sphinx_util.py
  ops/pipeline/build-jvm-doc.sh
  ops/pipeline/build-r-docs.sh
  ops/script/build_local_docs.py
Due: black, isort, pylint

[mt] Initial subsample implementation. (#11965)
  R-package/R/xgb.train.R
  R-package/man/xgb.params.Rd
  R-package/man/xgboost.Rd
  R-package/src/Makevars.in
  R-package/src/Makevars.win.in
  doc/parameter.rst
  doc/tutorials/multioutput.rst
  python-package/xgboost/testing/multi_target.py
  src/common/linalg_op.h
  src/tree/fit_stump.cc
  src/tree/fit_stump.h
  src/tree/gpu_hist/gradient_based_sampler.cu
  src/tree/gpu_hist/gradient_based_sampler.cuh
  src/tree/gpu_hist/histogram.cu
  src/tree/gpu_hist/quantiser.cuh
  src/tree/gpu_hist/sampler.cu
  src/tree/gpu_hist/sampler.cuh
  src/tree/hist/sampler.cc
  src/tree/hist/sampler.h
  src/tree/updater_approx.cc
  src/tree/updater_gpu_hist.cu
  src/tree/updater_gpu_hist.cuh
  src/tree/updater_quantile_hist.cc
  tests/cpp/objective/test_quantile_obj.cc
  tests/cpp/tree/gpu_hist/dummy_quantizer.cuh
  tests/cpp/tree/gpu_hist/test_gradient_based_sampler.cu
  tests/cpp/tree/gpu_hist/test_histogram.cu
  tests/cpp/tree/gpu_hist/test_multi_histogram.cu
  tests/cpp/tree/gpu_hist/test_sampler.cu
  tests/cpp/tree/hist/test_sampler.cc
  tests/cpp/tree/test_prediction_cache.cc
  tests/cpp/tree/test_quantile_hist.cc
  tests/cpp/tree/test_sampler.h
  tests/python-gpu/test_gpu_multi_target.py
  tests/python/test_multi_target.py
Due: lint-cpp, black, isort, pylint

Remove some duplication
  src/predictor/gpu_predictor.cu
Due: lint-cpp

Update cmake/FindOpenMPMacOS.cmake
  cmake/FindOpenMPMacOS.cmake
Due: lint-cmake

notation.
  .github/workflows/main.yml
Due: none

Speed up pyspark tests
  tests/test_distributed/test_with_spark/test_spark_local.py
  tests/test_distributed/test_with_spark/test_spark_local_cluster.py
  tests/test_distributed/test_with_spark/utils.py
Due: black, isort

Unused imports
  tests/test_distributed/test_with_dask/test_with_dask.py
Due: black, isort

data.
  src/data/data.cc
Due: lint-cpp

quantile
  src/common/quantile.h
  src/data/data.cc
Due: lint-cpp

Replace iota.
  src/common/numeric.h
  tests/cpp/common/test_numeric.cc
Due: lint-cpp

refresh.
  src/tree/updater_refresh.cc
Due: lint-cpp

scan.
  src/common/numeric.h
  src/metric/rank_metric.cc
Due: lint-cpp

rank metric.
  src/common/threading_utils.h
  src/metric/rank_metric.cc
Due: lint-cpp

sampling.
  src/tree/hist/sampler.cc
Due: lint-cpp

lint.
  src/common/quantile.h
  src/metric/rank_metric.cc
  src/tree/updater_refresh.cc
Due: lint-cpp

typo.
  src/common/numeric.h
Due: lint-cpp

typos.
  src/common/threading_utils.h
Due: lint-cpp

Apply suggestion from @Copilot
  tests/test_distributed/test_with_spark/test_spark_local.py
Due: black, isort

Ruff
  tests/cross-platform/test_cross_platform_model.py
  tests/python-gpu/test_gpu_multi_target.py
  tests/python/test_multi_target.py
Due: black, isort

Missing import
  tests/test_distributed/test_with_spark/test_spark_local.py
Due: black, isort

Ruff again
  tests/python/test_ranking.py
  tests/python/test_updaters.py
  tests/test_distributed/test_with_dask/test_ranking.py
  tests/test_distributed/test_with_dask/test_with_dask.py
Due: black, isort

[EM] Update document to use pyhwloc.
  demo/guide-python/distributed_extmem_basic.py
Due: black, isort, pylint

Speed up python tests (#11975)
  python-package/xgboost/_data_utils.py
  python-package/xgboost/testing/updater.py
  tests/cross-platform/test_cross_platform_model.py
  tests/python-gpu/test_gpu_multi_target.py
  tests/python/test_multi_target.py
  tests/python/test_ranking.py
  tests/python/test_updaters.py
  tests/test_distributed/test_with_dask/conftest.py
  tests/test_distributed/test_with_dask/test_ranking.py
  tests/test_distributed/test_with_dask/test_with_dask.py
Due: black, isort, pylint

[CI] Speed up pyspark tests (#11990)
  tests/test_distributed/test_with_spark/test_spark_local.py
  tests/test_distributed/test_with_spark/test_spark_local_cluster.py
  tests/test_distributed/test_with_spark/utils.py
Due: black, isort

Update document.
  demo/guide-python/distributed_extmem_basic.py
  doc/tutorials/external_memory.rst
Due: black, isort, pylint

lint.
  demo/guide-python/distributed_extmem_basic.py
Due: black, isort, pylint

lint.
  python-package/pyproject.toml
  python-package/pyproject.toml.in
Due: none

[ci] disable pylint import order check.
  python-package/pyproject.toml
  python-package/pyproject.toml.in
Due: none

Update demo/guide-python/distributed_extmem_basic.py
  demo/guide-python/distributed_extmem_basic.py
Due: black, isort, pylint

Path conditions:
  lint-cpp: any of: \.(cc|c|cpp|h|cu|hpp)$, but not: (dmlc-core|gputreeshap)
  lint-cmake: any of: (CMakeLists\.txt$|^cmake/.*\.cmake$), but not: (dmlc-core|gputreeshap)
  black: any of: \.py$, but not: (dmlc-core|gputreeshap)
  isort: any of: \.py$, but not: (dmlc-core|gputreeshap)
  pylint: any of: \.py$, but not: (dmlc-core|gputreeshap|^ops/|^tests/)
