Repository dmlc/xgboost: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-cpp, lint-cmake, pylint

lint-cpp:
  name: C++ lint (cpplint)
  entry: python ops/script/lint_cpp.py
  language: python
  additional_dependencies:
  - cpplint==1.6.1

lint-cmake:
  name: CMake lint (cmakelint)
  entry: cmakelint --linelength=120 --filter=-convention/filename,-package/stdargs,-readability/wonkycase
  language: python
  additional_dependencies:
  - cmakelint

pylint:
  name: Python lint (pylint)
  entry: pylint
  language: python
  args:
  - --rcfile=python-package/pyproject.toml
  additional_dependencies:
  - pylint

Address all CCCL deprecations
  src/common/algorithm.cuh
  src/common/device_vector.cuh
  src/tree/gpu_hist/row_partitioner.cuh
  tests/cpp/common/test_algorithm.cu
Due: lint-cpp

Use named functor to work around compiler warning about uninitialized data
  src/tree/gpu_hist/leaf_sum.cu
Due: lint-cpp

[doc] Fix link to the security page.
  SECURITY.md
Due: none

Add comments to document assumptions for DeviceSegmentedRadixSort wrappers
  src/common/algorithm.cuh
Due: none

Compatibility fix for older CCCL
  src/common/algorithm.cuh
Due: none

Only build the name functor for new CCCL
  src/tree/gpu_hist/leaf_sum.cu
Due: lint-cpp

CUB 3.1+ supports 64-bit integer offsets in cub::DeviceSegmentedRadixSort::SortPairs
  src/common/algorithm.cuh
Due: none

Include cuda_runtime_api.h for CUDART_VERSION
  src/common/device_vector.cuh
Due: none

[doc] Fix link to the security page. (#12665)
  SECURITY.md
Due: none

CUB 3.1+ supports 64-bit integer offsets in cub::DeviceSegmentedRadixSort::SortKeys
  src/common/algorithm.cuh
Due: none

Address coderabbit review
  src/common/algorithm.cuh
Due: none

Make warning as error in nightly CCCL test
  ops/pipeline/nightly-test-cccl-impl.sh
  ops/pipeline/nightly-test-rmm-impl.sh
Due: none

Remove array-interface GC regression test
  tests/python/test_data_utils.py
Due: none

[ENH] Harden exact multinomial Hessian support
  doc/parameter.rst
  doc/tutorials/multioutput.rst
  research/EXACT_HESSIAN_STATUS.md
  research/FINAL_DESIGN_SUMMARY.md
  research/benchmark_k_scaling.py
  research/benchmark_phase3d_evidence.py
  research/benchmark_v2.py
  research/summarize_v2.py
  src/tree/hist/exact_builder.h
  src/tree/hist/exact_split.h
  tests/cpp/tree/hist/test_exact_builder.cc
  tests/cpp/tree/hist/test_exact_split.cc
  tests/python/test_exact_multinomial.py
Due: lint-cpp, pylint

Encapsulate SHAP path cache in contribution formulations
  src/predictor/interpretability/shap.cc
Due: lint-cpp

Let each GPU SHAP thread read its row's values directly (#12652)
  src/predictor/interpretability/shap.cu
Due: lint-cpp

Fix SHAP formulation initializer formatting
  src/predictor/interpretability/shap.cc
Due: lint-cpp

Cache CuPy kernels across GPU CI runs
  .github/workflows/main.yml
  ops/pipeline/cupy-cache-key.py
  ops/pipeline/test-python-wheel.sh
Due: none

QuadratureTreeSHAP: shared polynomial construction (#12661)
  src/predictor/interpretability/shap.cc
Due: lint-cpp

Apply quadrature weights per return edge in CPU QuadratureTreeSHAP
  src/predictor/interpretability/shap.cc
Due: lint-cpp

Fix maximize metrics. (#12664)
  R-package/R/callbacks.R
  jvm-packages/xgboost4j/src/main/java/ml/dmlc/xgboost4j/java/XGBoost.java
  python-package/xgboost/callback.py
Due: pylint

[EM] Page pool allocator.
  src/data/ellpack_page_raw_format.cu
  src/data/ellpack_page_raw_format.h
  src/data/ellpack_page_source.cu
  src/data/ellpack_page_source.h
  src/data/extmem_quantile_dmatrix.cu
  src/data/iterative_dmatrix.cu
  src/data/sparse_page_source.h
  tests/cpp/data/test_ellpack_page_raw_format.cu
  tests/cpp/data/test_extmem_quantile_dmatrix.h
  tests/cpp/data/test_sparse_page_dmatrix.cc
  tests/cpp/data/test_sparse_page_dmatrix.cu
Due: lint-cpp

cleanup tests.
  tests/cpp/data/test_sparse_page_dmatrix.cu
Due: lint-cpp

Cleanup.
  src/data/ellpack_page_source.cu
  src/data/ellpack_page_source.h
Due: lint-cpp

Simplify CuPy CI cache keys
  .github/workflows/main.yml
  ops/pipeline/cupy-cache-key.py
Due: none

Cache installed libomp for macOS wheel CI
  .github/workflows/main.yml
Due: none

Extract macOS OpenMP setup into a composite action
  .github/actions/setup-libomp/action.yml
  .github/workflows/main.yml
Due: none

Document macOS OpenMP cache rationale and removal criteria
  .github/actions/setup-libomp/README.md
  .github/actions/setup-libomp/action.yml
Due: none

Keep OpenMP cache maintenance notes inline
  .github/actions/setup-libomp/README.md
  .github/actions/setup-libomp/action.yml
Due: none

lint.
  src/data/ellpack_page_raw_format.cu
Due: lint-cpp

Keep CuPy cache probing failures nonfatal
  .github/workflows/main.yml
Due: none

Reuse array interface wrapper type to avoid cyclic garbage (#12648)
  python-package/xgboost/_data_utils.py
Due: pylint

Fix indicator branch labels in Graphviz dumps
  src/tree/tree_model.cc
  tests/cpp/tree/test_tree_model.cc
Due: lint-cpp

Avoid copying pandas input when dropping the `qid` column.
  python-package/xgboost/sklearn.py
  tests/python/test_with_sklearn.py
Due: pylint

Remove code path for pre-CUB 2.8; DeviceSegmentedRadixSortKeys now takes in size_t num_items
  src/common/algorithm.cuh
  src/common/device_vector.cuh
Due: none

Remove outdated comment
  src/common/algorithm.cuh
Due: none

Annotate #else and #endif for legibility
  src/common/algorithm.cuh
  src/common/device_vector.cuh
Due: none

Use cub::DeviceScan::InclusiveScan in SortPositionBatch
  src/tree/gpu_hist/row_partitioner.cuh
Due: none

[CI] Cache CuPy initialization in GPU CI (#12668)
  .github/workflows/main.yml
  ops/pipeline/test-python-wheel.sh
Due: none

Apply quadrature weights per return edge in CPU QuadratureTreeSHAP (#12650)
  src/predictor/interpretability/shap.cc
Due: lint-cpp

Path conditions:
  lint-cpp: any of: \.(cc|c|cpp|h|cu|hpp)$, but not: (dmlc-core|gputreeshap)
  lint-cmake: any of: (CMakeLists\.txt$|^cmake/.*\.cmake$), but not: (dmlc-core|gputreeshap)
  pylint: any of: \.py$, but not: (dmlc-core|gputreeshap|^ops/|^tests/)
