Repository dmlc/xgboost: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-cpp, lint-cmake, format-python

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: check-yaml
      - id: check-toml
      - id: check-json
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable
      - id: mixed-line-ending
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v17.0.6
    hooks:
      - id: clang-format
        args: [--style=file]
        files: \.(cc|c|cpp|h|cu|hpp)$
        exclude: (dmlc-core|gputreeshap)
  - repo: local
    hooks:
      - id: lint-cpp
        name: C++ lint (cpplint)
        entry: python ops/script/lint_cpp.py
        language: python
        types: [file]
        files: \.(cc|c|cpp|h|cu|hpp)$
        exclude: (dmlc-core|gputreeshap|demo\/c-api|jvm-packages\/xgboost4j\/src\/native\/xgboost4j\..*)
        additional_dependencies:
          - cpplint
      - id: lint-cmake
        name: CMake lint (cmakelint)
        entry: cmakelint --linelength=120 --filter=-convention/filename,-package/stdargs,-readability/wonkycase
        language: python
        types: [file]
        files: (CMakeLists\.txt$|^cmake/.*\.cmake$)
        exclude: (dmlc-core|gputreeshap)
        additional_dependencies:
          - cmakelint
      - id: format-python
        name: Python format + lint (black + isort + pylint)
        entry: python ops/script/lint_python.py --format=1 --type-check=0 --pylint=1 --fix
        language: python
        types: [file]
        files: \.py$
        exclude: (dmlc-core|gputreeshap)
        pass_filenames: false
        additional_dependencies:
          - black
          - isort
          - pylint

Use cuda::std::plus instead of cub::Sum
  src/common/algorithm.cuh
Due: none

Fix logistic with constant labels. (#11973)
  include/xgboost/base.h
  python-package/hatch_build.py
  python-package/xgboost/testing/intercept.py
  src/common/common.h
  src/common/math.h
  src/objective/regression_loss.h
  tests/python-gpu/test_gpu_intercept.py
  tests/python/test_intercept.py
Due: lint-cpp, format-python

one more place
  src/tree/gpu_hist/evaluate_splits.cu
Due: lint-cpp

Reuse clients in dask tests
  tests/test_distributed/test_with_dask/conftest.py
  tests/test_distributed/test_with_dask/test_ranking.py
  tests/test_distributed/test_with_dask/test_with_dask.py
Due: format-python

Break out python lint script
  .pre-commit-config.yaml
  doc/contrib/coding_guide.rst
  ops/script/lint_python.py
Due: format-python

[jvm-packages] Set GPU device id explicitly at very beginning for training (#11939)
  jvm-packages/xgboost4j-spark/src/main/scala/ml/dmlc/xgboost4j/scala/spark/XGBoost.scala
  jvm-packages/xgboost4j/src/main/java/ml/dmlc/xgboost4j/java/XGBoostJNI.java
  jvm-packages/xgboost4j/src/native/xgboost4j.cpp
  jvm-packages/xgboost4j/src/native/xgboost4j.h
Due: none

Test updated sccache for Windows GPU build.
  .github/workflows/windows.yml
Due: none

fix.
  .github/workflows/windows.yml
Due: none

pickup ninja and sccache.
  ops/pipeline/build-win64-gpu.ps1
Due: none

more.
  ops/pipeline/build-win64-gpu.ps1
Due: none

Fix.
  .github/workflows/windows.yml
Due: none

show stats.
  .github/workflows/windows.yml
Due: none

drop version.
  .github/workflows/windows.yml
  ops/pipeline/build-win64-cpu.ps1
  ops/pipeline/build-win64-gpu.ps1
  ops/pipeline/build-win64.ps1
Due: none

Fix.
  ops/pipeline/build-win64.ps1
Due: none

fix.
  .github/workflows/windows.yml
  ops/pipeline/build-win64.ps1
Due: none

Bring back mypy script
  .github/workflows/lint.yml
  .pre-commit-config.yaml
  ops/script/type_check_python.py
Due: format-python

Copilot review
  doc/contrib/coding_guide.rst
Due: none

Fix test failure
  python-package/xgboost/_data_utils.py
Due: format-python

Faster dask tests
  python-package/xgboost/testing/dask.py
  tests/test_distributed/test_with_dask/conftest.py
  tests/test_distributed/test_with_dask/test_with_dask.py
Due: format-python

Simplify fixtures
  tests/test_distributed/test_with_dask/conftest.py
  tests/test_distributed/test_with_dask/test_with_dask.py
Due: format-python

[wip][mt] Add a getter for matrix info.
  R-package/src/Makevars.in
  R-package/src/Makevars.win.in
  demo/guide-python/multioutput_reduced_gradient.py
  doc/tutorials/multioutput.rst
  include/xgboost/data.h
  python-package/xgboost/_data_utils.py
  python-package/xgboost/_typing.py
  python-package/xgboost/core.py
  python-package/xgboost/testing/multi_target.py
  python-package/xgboost/testing/ranking.py
  python-package/xgboost/testing/updater.py
  src/c_api/c_api.cc
  src/data/data.cc
  src/data/data.cu
  src/data/ellpack_page_source.h
  src/data/metainfo.cc
  src/data/metainfo.cu
  src/data/metainfo.h
  src/data/validation.h
  src/learner.cc
  tests/python-gpu/test_from_cudf.py
  tests/python-gpu/test_from_cupy.py
  tests/python-gpu/test_gpu_ordinal.py
  tests/python/test_dmatrix.py
Due: lint-cpp, format-python

rename.
  include/xgboost/c_api.h
  python-package/xgboost/core.py
  src/c_api/c_api.cc
Due: lint-cpp, format-python

Apply suggestions from code review
  python-package/xgboost/_data_utils.py
  src/data/data.cc
Due: lint-cpp, format-python

Differentiate input and output.
  src/data/data.cc
  src/data/data.cu
  src/data/metainfo.h
Due: lint-cpp

Unify the code paths.
  include/xgboost/data.h
  include/xgboost/linalg.h
  src/c_api/c_api.cc
  src/data/data.cc
  src/data/metainfo.cc
  src/data/metainfo.h
  tests/python-gpu/test_from_cupy.py
Due: lint-cpp, format-python

msg.
  src/common/error_msg.h
  src/data/array_interface.cc
  src/data/data.cc
  src/data/iterative_dmatrix.cc
  src/data/metainfo.cc
  src/data/metainfo.h
  tests/python-gpu/test_from_cupy.py
Due: lint-cpp, format-python

Fix.
  src/c_api/c_api.cc
Due: lint-cpp

Cleanup.
  src/data/data.cc
Due: lint-cpp

Fixes.
  include/xgboost/c_api.h
  src/data/data.cc
  src/data/data.cu
  src/learner.cc
  tests/python-gpu/test_from_cupy.py
Due: lint-cpp, format-python

Change IMAGE_TAG from PR-77 to main
  ops/pipeline/get-image-tag.sh
Due: none

Update pre-commit clang format to latest.
  .pre-commit-config.yaml
Due: none

pre-commit.
  .clang-format
  .pre-commit-config.yaml
  include/xgboost/c_api.h
  include/xgboost/data.h
  include/xgboost/linalg.h
  src/c_api/c_api.cc
  src/data/data.cc
  src/data/data.cu
  src/data/iterative_dmatrix.cc
  src/learner.cc
Due: lint-cpp

disable comment formatting.
  .clang-format
Due: none

Require CUDA 12.9
  CMakeLists.txt
Due: lint-cmake

Upgrade to CUDA 12.9 (#11972)
  CMakeLists.txt
  src/common/algorithm.cuh
  src/tree/gpu_hist/evaluate_splits.cu
Due: lint-cpp, lint-cmake

Update pre-commit clang format to latest. (#11980)
  .clang-format
  .pre-commit-config.yaml
Due: none

[mt] Add a getter for matrix info. (#11941)
  R-package/src/Makevars.in
  R-package/src/Makevars.win.in
  demo/guide-python/multioutput_reduced_gradient.py
  doc/tutorials/multioutput.rst
  include/xgboost/c_api.h
  include/xgboost/data.h
  include/xgboost/linalg.h
  python-package/xgboost/_data_utils.py
  python-package/xgboost/_typing.py
  python-package/xgboost/core.py
  python-package/xgboost/testing/multi_target.py
  python-package/xgboost/testing/ranking.py
  python-package/xgboost/testing/updater.py
  src/c_api/c_api.cc
  src/common/error_msg.h
  src/data/array_interface.cc
  src/data/data.cc
  src/data/data.cu
  src/data/ellpack_page_source.h
  src/data/iterative_dmatrix.cc
  src/data/metainfo.cc
  src/data/metainfo.cu
  src/data/metainfo.h
  src/data/validation.cc
  src/data/validation.h
  src/learner.cc
  tests/python-gpu/test_from_cudf.py
  tests/python-gpu/test_from_cupy.py
  tests/python-gpu/test_gpu_ordinal.py
  tests/python/test_dmatrix.py
Due: lint-cpp, format-python

add aft scale parameter to R docs
  R-package/R/xgb.train.R
  R-package/man/xgb.params.Rd
  R-package/man/xgboost.Rd
  doc/parameter.rst
Due: none

add aft scale parameter to R docs (#11981)
  R-package/R/xgb.train.R
  R-package/man/xgb.params.Rd
  R-package/man/xgboost.Rd
  doc/parameter.rst
Due: none

[CI] Break out python lint script (#11978)
  .github/workflows/lint.yml
  .pre-commit-config.yaml
  doc/contrib/coding_guide.rst
  ops/script/lint_python.py
  ops/script/type_check_python.py
Due: format-python
