Repository dmlc/xgboost: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-cpp, lint-cmake, pylint

lint-cpp:
  name: C++ lint (cpplint)
  entry: python ops/script/lint_cpp.py
  language: python
  additional_dependencies:
  - cpplint==1.6.1

lint-cmake:
  name: CMake lint (cmakelint)
  entry: cmakelint --linelength=120 --filter=-convention/filename,-package/stdargs,-readability/wonkycase
  language: python
  additional_dependencies:
  - cmakelint

pylint:
  name: Python lint (pylint)
  entry: pylint
  language: python
  args:
  - --rcfile=python-package/pyproject.toml
  additional_dependencies:
  - pylint

tree.
  include/xgboost/multi_target_tree_model.h
  include/xgboost/tree_model.h
  src/tree/gpu_hist/evaluate_splits.cuh
  src/tree/gpu_hist/evaluator.cu
  src/tree/hist/evaluate_splits.h
  src/tree/multi_target_tree_model.cc
  src/tree/split_evaluator.h
  src/tree/tree_model.cc
  src/tree/updater_colmaker.cc
  src/tree/updater_gpu_hist.cu
  src/tree/updater_gpu_hist.cuh
  src/tree/updater_quantile_hist.cc
  tests/cpp/helpers.cc
  tests/cpp/objective/test_objective.cc
  tests/cpp/objective/test_objective_helpers.h
  tests/cpp/predictor/test_cpu_predictor.cc
  tests/cpp/predictor/test_predictor.cc
  tests/cpp/tree/gpu_hist/test_evaluate_splits.cu
  tests/cpp/tree/hist/test_evaluate_splits.cc
  tests/cpp/tree/test_multi_target_tree_model.cc
  tests/cpp/tree/test_partitioner.h
Due: lint-cpp

note.
  include/xgboost/host_device_vector.h
Due: lint-cpp

cpu build.
  src/data/ellpack_page.cc
Due: lint-cpp

Fix
  src/data/simple_dmatrix.cc
Due: lint-cpp

Fix.
  src/data/iterative_dmatrix.cu
Due: lint-cpp

lint.
  src/data/ellpack_page_source.cu
  src/data/iterative_dmatrix.cu
  src/data/iterative_dmatrix.h
Due: lint-cpp

Use context in `ExtMemQuantileDMatrix`.
  src/data/ellpack_page.cc
  src/data/ellpack_page.cu
  src/data/ellpack_page.cuh
  src/data/ellpack_page.h
  src/data/ellpack_page_raw_format.cu
  src/data/ellpack_page_raw_format.h
  src/data/ellpack_page_source.cu
  src/data/ellpack_page_source.h
  src/data/gradient_index_page_source.h
  src/data/iterative_dmatrix.cc
  src/data/iterative_dmatrix.cu
  src/data/iterative_dmatrix.h
  src/data/sparse_page_source.h
  tests/cpp/data/test_ellpack_page_raw_format.cu
  tests/cpp/data/test_iterative_dmatrix.cu
Due: lint-cpp

Pass the member context.
  src/data/extmem_quantile_dmatrix.cc
Due: lint-cpp

Use explicit stream sync.
  src/data/ellpack_page.cu
  src/data/ellpack_page.cuh
  src/data/ellpack_page.h
  src/data/ellpack_page_source.cu
  src/data/ellpack_page_source.h
  src/data/gradient_index_page_source.h
  src/data/iterative_dmatrix.cu
  src/data/sparse_page_source.h
  tests/cpp/data/test_ellpack_page_raw_format.cu
Due: lint-cpp

Fix categorical data support with cuDF 2602.
  python-package/xgboost/_data_utils.py
Due: pylint

Use version instead.
  python-package/xgboost/_data_utils.py
Due: pylint

lint.
  python-package/xgboost/_data_utils.py
Due: pylint

CPU build.
  src/data/ellpack_page.cc
Due: lint-cpp

lint.
  src/data/ellpack_page_source.cu
  src/data/ellpack_page_source.h
  src/data/gradient_index_page_source.h
  src/data/sparse_page_source.h
Due: lint-cpp

lint.
  src/data/gradient_index_page_source.h
Due: lint-cpp

Update test helpers for RMM >= 26.06 API changes
  tests/cpp/helpers.cc
Due: lint-cpp

[python-package] fix _validate_feature_info() error message, other small fixes
  python-package/xgboost/core.py
  python-package/xgboost/plotting.py
  python-package/xgboost/training.py
Due: pylint

[python-package] fix _validate_feature_info() error message, other small fixes (#12142)
  python-package/xgboost/core.py
  python-package/xgboost/plotting.py
  python-package/xgboost/training.py
Due: pylint

Avoid .from_pandas classmethod constructor in tests
  tests/python-gpu/test_from_cudf.py
Due: none

Query CPU quantile cuts from working summaries
  src/common/quantile.cc
  src/common/quantile.h
  tests/cpp/common/test_quantile.cc
Due: lint-cpp

Query weighted GPU cuts from summaries
  src/common/hist_util.cuh
  src/common/quantile.cc
  src/common/quantile.cu
  src/common/quantile.h
  tests/cpp/common/test_quantile.cu
Due: lint-cpp

Tighten weighted quantile test tolerance
  tests/cpp/common/test_hist_util.h
  tests/cpp/common/test_quantile.cc
  tests/cpp/common/test_quantile.cu
Due: lint-cpp

Relax weighted quantile test tolerance
  tests/cpp/common/test_hist_util.h
Due: lint-cpp

Drop experimental quantile query tests
  src/common/quantile.cu
  src/common/quantile.h
  tests/cpp/common/test_quantile.cc
  tests/cpp/common/test_quantile.cu
Due: lint-cpp

Remove stray quantile test diff
  tests/cpp/common/test_quantile.cu
Due: lint-cpp

Simplify quantile cut query API
  src/common/quantile.cc
  src/common/quantile.cu
  src/common/quantile.h
Due: lint-cpp

Style
  tests/python-gpu/test_from_cudf.py
Due: none

Fix weighted hessian quantile test references
  tests/cpp/common/test_hist_util.cu
Due: lint-cpp

Relax brittle Python ranking assertions
  python-package/xgboost/testing/multi_target.py
  python-package/xgboost/testing/ranking.py
Due: pylint

Deduplicate merged GPU sketch entries
  src/common/quantile.cu
  tests/cpp/common/test_quantile.cu
Due: lint-cpp

Relax unbiased ranking position-bias assertion
  tests/python/test_ranking.py
Due: none

Address GPU merge review feedback
  src/common/quantile.cu
  tests/cpp/common/test_quantile.cu
Due: lint-cpp

Extract weighted quantile cut fixes from #12129 (#12146)
  python-package/xgboost/testing/multi_target.py
  python-package/xgboost/testing/ranking.py
  src/common/hist_util.cuh
  src/common/quantile.cc
  src/common/quantile.cu
  src/common/quantile.h
  tests/cpp/common/test_hist_util.cu
  tests/cpp/common/test_hist_util.h
  tests/python/test_ranking.py
Due: lint-cpp, pylint

Preserve exact weighted values in sorted sketch
  src/common/quantile.h
  tests/cpp/common/test_hist_util.cc
Due: lint-cpp

Use O(log n/eps) budget for CPU distributed sketch
  src/common/quantile.cc
  src/common/quantile.h
  tests/cpp/common/test_quantile.cc
Due: lint-cpp

Deduplicate merged GPU quantile sketch entries (#12147)
  src/common/quantile.cu
  tests/cpp/common/test_quantile.cu
Due: lint-cpp

Use context for CUDA external memory DMatrix. (#12137)
  src/data/ellpack_page.cc
  src/data/ellpack_page.cu
  src/data/ellpack_page.cuh
  src/data/ellpack_page.h
  src/data/ellpack_page_raw_format.cu
  src/data/ellpack_page_raw_format.h
  src/data/ellpack_page_source.cu
  src/data/ellpack_page_source.h
  src/data/extmem_quantile_dmatrix.cc
  src/data/gradient_index_page_source.h
  src/data/iterative_dmatrix.cc
  src/data/iterative_dmatrix.cu
  src/data/iterative_dmatrix.h
  src/data/simple_dmatrix.cc
  src/data/sparse_page_source.h
  tests/cpp/data/test_ellpack_page_raw_format.cu
  tests/cpp/data/test_iterative_dmatrix.cu
Due: lint-cpp

Path conditions:
  lint-cpp: any of: \.(cc|c|cpp|h|cu|hpp)$, but not: (dmlc-core|gputreeshap)
  lint-cmake: any of: (CMakeLists\.txt$|^cmake/.*\.cmake$), but not: (dmlc-core|gputreeshap)
  pylint: any of: \.py$, but not: (dmlc-core|gputreeshap|^ops/|^tests/)
