Repository dmlc/xgboost: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-cpp, lint-cmake, pylint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: check-yaml
      - id: check-toml
      - id: check-json
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable
      - id: mixed-line-ending
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.14
    hooks:
      - id: ruff-check
        args:
          - --fix
          - --select=I
        files: \.py$
        exclude: (dmlc-core|gputreeshap)
      - id: ruff-format
        files: \.py$
        exclude: (dmlc-core|gputreeshap)
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v21.1.8
    hooks:
      - id: clang-format
        args: [--style=file]
        files: \.(cc|c|cpp|h|cu|hpp)$
        exclude: (dmlc-core|gputreeshap)
  - repo: local
    hooks:
      - id: lint-cpp
        name: C++ lint (cpplint)
        entry: python ops/script/lint_cpp.py
        language: python
        types: [file]
        files: \.(cc|c|cpp|h|cu|hpp)$
        exclude: (dmlc-core|gputreeshap)
        additional_dependencies:
          - cpplint==1.6.1
      - id: lint-cmake
        name: CMake lint (cmakelint)
        entry: cmakelint --linelength=120 --filter=-convention/filename,-package/stdargs,-readability/wonkycase
        language: python
        types: [file]
        files: (CMakeLists\.txt$|^cmake/.*\.cmake$)
        exclude: (dmlc-core|gputreeshap)
        additional_dependencies:
          - cmakelint
      - id: pylint
        name: Python lint (pylint)
        entry: pylint
        language: python
        types: [file]
        files: \.py$
        exclude: (dmlc-core|gputreeshap|^ops/|^tests/)
        args:
          - --rcfile=python-package/pyproject.toml
        additional_dependencies:
          - pylint

Fix FreeBSD include and Windows CUDA warning
  tests/cpp/common/test_hist_util.cc
  tests/cpp/common/test_hist_util.cu
  tests/cpp/common/test_quantile.h
Due: lint-cpp

Remove dead cut budget variables
  src/common/hist_util.cu
  src/common/hist_util.cuh
Due: lint-cpp

fix: address pre-commit issues in leaf similarity follow-up
  include/xgboost/c_api.h
  include/xgboost/gbm.h
  include/xgboost/learner.h
  python-package/xgboost/core.py
  src/c_api/c_api.cc
  src/gbm/gblinear.cc
  src/gbm/gbtree.h
  src/learner.cc
  tests/python/test_leaf_similarity.py
Due: lint-cpp, pylint

Revert "Fix macOS wheel OpenMP dependency resolution"
  cmake/FindOpenMPMacOS.cmake
  ops/pipeline/build-python-wheels-macos.sh
Due: lint-cmake

Avoid temporary in quantile test emplace_back
  tests/cpp/common/test_quantile.cu
Due: lint-cpp

Deduplicate histogram cut validation
  tests/cpp/common/test_hist_util.cc
  tests/cpp/common/test_hist_util.cu
  tests/cpp/common/test_hist_util.h
Due: lint-cpp

Remove redundant sketch weight test
  tests/cpp/common/test_hist_util.cc
Due: lint-cpp

Simplify group weight equivalence test
  tests/cpp/common/test_hist_util.cc
Due: lint-cpp

Simplify GPU sketch equality checks
  tests/cpp/common/test_hist_util.cu
Due: lint-cpp

Simplify histogram and quantile test helpers
  tests/cpp/common/test_hist_util.cu
  tests/cpp/common/test_hist_util.h
  tests/cpp/common/test_quantile.cc
  tests/cpp/common/test_quantile.cu
Due: lint-cpp

Fix hist util test regressions
  tests/cpp/common/test_hist_util.cc
  tests/cpp/common/test_hist_util.h
Due: lint-cpp

Simplify Python quantile iterator test
  tests/python/test_data_iterator.py
Due: none

Remove unused GPU quantile test parameter
  tests/cpp/common/test_quantile.cu
Due: lint-cpp

Fix Windows CUDA hist util test build
  tests/cpp/common/test_hist_util.cu
Due: lint-cpp

Fix CUDA test adapter iterator functor
  tests/cpp/common/test_hist_util.cu
Due: lint-cpp

Move CUDA test batch helper to file scope
  tests/cpp/common/test_hist_util.cu
Due: lint-cpp

Relax iterator cut parity checks
  tests/cpp/common/test_hist_util.cu
  tests/python/test_data_iterator.py
Due: lint-cpp

Fix clang-tidy naming warning
  tests/cpp/common/test_hist_util.cu
Due: lint-cpp

Reduce quantile sketch safety factor
  src/common/quantile.h
Due: lint-cpp

Remove exact sketch equality assumptions from tests
  python-package/xgboost/testing/dask.py
  tests/cpp/data/test_gradient_index.cc
  tests/cpp/data/test_iterative_dmatrix.cu
  tests/test_distributed/test_with_spark/test_spark.py
Due: lint-cpp, pylint

Backport #12094: guard __doc__ assignments for python -OO (#12162)
  python-package/xgboost/dask/__init__.py
  python-package/xgboost/sklearn.py
Due: pylint

Remove outdated `xgboost-cpu` arch note.
  doc/install.rst
Due: none

lint.
  python-package/xgboost/_data_utils.py
Due: pylint

Use test branch.
  ops/pipeline/get-image-tag.sh
Due: none

Fix categorical data support with cuDF 2602.
  python-package/xgboost/_data_utils.py
Due: pylint

Use version instead.
  python-package/xgboost/_data_utils.py
Due: pylint

Fixes.
  python-package/xgboost/_data_utils.py
  src/encoder/ordinal.cuh
Due: pylint

Cleanups.
  python-package/xgboost/_data_utils.py
Due: pylint

skip death test.
  .github/workflows/main.yml
Due: none

dead code.
  python-package/xgboost/_data_utils.py
Due: pylint

Unify CI configure workflow
  .github/workflows/ci_configure.yml
  .github/workflows/jvm_tests.yml
  .github/workflows/main.yml
  .github/workflows/misc.yml
Due: none

old cccl.
  src/tree/gpu_hist/histogram.cu
Due: lint-cpp

Remove redundant checks.
  python-package/xgboost/_data_utils.py
Due: pylint

Fix AllreduceV with CUDA stream.
  src/collective/allreduce.h
  src/collective/allreduce_v.cuh
  src/collective/coll.cu
  src/collective/coll.cuh
  src/collective/comm.cu
  src/collective/comm.cuh
Due: lint-cpp

lint.
  src/collective/coll.cu
Due: lint-cpp

thread through the context.
  plugin/federated/federated_coll.cc
  plugin/federated/federated_coll.cu
  plugin/federated/federated_coll.cuh
  plugin/federated/federated_coll.h
  src/collective/allgather.h
  src/collective/allreduce.h
  src/collective/allreduce_v.cuh
  src/collective/broadcast.h
  src/collective/coll.cc
  src/collective/coll.cu
  src/collective/coll.cuh
  src/collective/coll.h
  tests/cpp/collective/test_allgather.cu
  tests/cpp/collective/test_allreduce.cu
Due: lint-cpp

more.
  src/collective/coll.cu
  src/collective/coll.h
  src/collective/comm.cu
  src/collective/comm.cuh
  tests/cpp/collective/test_allgather.cc
  tests/cpp/collective/test_allreduce.cc
  tests/cpp/plugin/federated/test_federated_coll.cc
  tests/cpp/plugin/federated/test_federated_coll.cu
Due: lint-cpp
