Repository dmlc/xgboost: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-cpp, lint-cmake, pylint

lint-cpp:
  name: C++ lint (cpplint)
  entry: python ops/script/lint_cpp.py
  language: python
  additional_dependencies:
  - cpplint==1.6.1

lint-cmake:
  name: CMake lint (cmakelint)
  entry: cmakelint --linelength=120 --filter=-convention/filename,-package/stdargs,-readability/wonkycase
  language: python
  additional_dependencies:
  - cmakelint

pylint:
  name: Python lint (pylint)
  entry: pylint
  language: python
  args:
  - --rcfile=python-package/pyproject.toml
  additional_dependencies:
  - pylint

Fix includes.
  src/cross_validate/cross_validate.h
  src/learner.cc
  src/learner_model_param_legacy.h
Due: lint-cpp

async pool.
  tests/python-gpu/test_cross_validate.py
Due: none

cleanup.
  src/cross_validate/cross_validate.h
  src/cross_validate/kfolds.cu
  src/learner.cc
Due: lint-cpp

check.
  src/cross_validate/cross_validate.cc
Due: lint-cpp

index space.
  src/cross_validate/cross_validate.cc
  src/cross_validate/cross_validate.cu
  src/cross_validate/cross_validate.h
  src/cross_validate/kfolds.cu
  src/cross_validate/kfolds.h
  src/tree/gpu_hist/quantiser.cu
  src/tree/gpu_hist/quantiser.cuh
  tests/cpp/cross_validate/test_kfolds.cu
  tests/python-gpu/test_cross_validate.py
Due: lint-cpp

Simplify typed kernel registration
  src/common/kernel.h
  src/objective/hinge.cc
  src/objective/hinge.cu
  tests/cpp/common/test_kernel.cc
Due: lint-cpp

Potential fix for pull request finding
  src/cross_validate/cross_validate.cu
Due: lint-cpp

[CV] Use masking to enable uniform indexing. (#12421)
  src/cross_validate/cross_validate.cc
  src/cross_validate/cross_validate.cu
  src/cross_validate/cross_validate.h
  src/cross_validate/kfolds.cu
  src/cross_validate/kfolds.h
  src/learner.cc
  src/tree/gpu_hist/quantiser.cu
  src/tree/gpu_hist/quantiser.cuh
  tests/cpp/cross_validate/test_kfolds.cu
  tests/python-gpu/test_cross_validate.py
Due: lint-cpp

Narrow PR to predictor lifecycle cleanup
  .pre-commit-config.yaml
  R-package/R/xgb.Booster.R
  R-package/tests/testthat/test_model_compatibility.R
  include/xgboost/c_api.h
  jvm-packages/xgboost4j-example/src/main/java/ml/dmlc/xgboost4j/java/example/PredictFirstNtree.java
  jvm-packages/xgboost4j-example/src/main/java/ml/dmlc/xgboost4j/java/example/PredictLeafIndices.java
  jvm-packages/xgboost4j-example/src/main/scala/ml/dmlc/xgboost4j/scala/example/PredictFirstNTree.scala
  jvm-packages/xgboost4j-example/src/main/scala/ml/dmlc/xgboost4j/scala/example/PredictLeafIndices.scala
  jvm-packages/xgboost4j/src/main/java/ml/dmlc/xgboost4j/java/Booster.java
  jvm-packages/xgboost4j/src/main/java/ml/dmlc/xgboost4j/java/XGBoostJNI.java
  jvm-packages/xgboost4j/src/main/scala/ml/dmlc/xgboost4j/scala/Booster.scala
  jvm-packages/xgboost4j/src/native/xgboost4j.cpp
  jvm-packages/xgboost4j/src/native/xgboost4j.h
  jvm-packages/xgboost4j/src/test/java/ml/dmlc/xgboost4j/java/BoosterImplTest.java
  python-package/xgboost/sklearn.py
  python-package/xgboost/testing/dask.py
  python-package/xgboost/testing/intercept.py
  python-package/xgboost/testing/updater.py
  src/c_api/c_api.cc
  src/c_api/c_api_utils.h
  src/gbm/gbtree.cc
  src/learner.cc
  tests/cpp/c_api/test_c_api.cc
  tests/cpp/gbm/test_gbtree.cc
  tests/cpp/helpers.cc
  tests/cpp/helpers.h
  tests/cpp/predictor/test_predictor.cc
  tests/cpp/test_learner.cc
  tests/cpp/test_multi_target.cc
  tests/python/test_model_compatibility.py
  tests/python/test_with_sklearn.py
  tests/test_distributed/test_with_dask/test_with_dask.py
Due: lint-cpp, pylint

Revert "Narrow PR to predictor lifecycle cleanup"
  .pre-commit-config.yaml
  R-package/R/xgb.Booster.R
  R-package/tests/testthat/test_model_compatibility.R
  include/xgboost/c_api.h
  jvm-packages/xgboost4j-example/src/main/java/ml/dmlc/xgboost4j/java/example/PredictFirstNtree.java
  jvm-packages/xgboost4j-example/src/main/java/ml/dmlc/xgboost4j/java/example/PredictLeafIndices.java
  jvm-packages/xgboost4j-example/src/main/scala/ml/dmlc/xgboost4j/scala/example/PredictFirstNTree.scala
  jvm-packages/xgboost4j-example/src/main/scala/ml/dmlc/xgboost4j/scala/example/PredictLeafIndices.scala
  jvm-packages/xgboost4j/src/main/java/ml/dmlc/xgboost4j/java/Booster.java
  jvm-packages/xgboost4j/src/main/java/ml/dmlc/xgboost4j/java/XGBoostJNI.java
  jvm-packages/xgboost4j/src/main/scala/ml/dmlc/xgboost4j/scala/Booster.scala
  jvm-packages/xgboost4j/src/native/xgboost4j.cpp
  jvm-packages/xgboost4j/src/native/xgboost4j.h
  jvm-packages/xgboost4j/src/test/java/ml/dmlc/xgboost4j/java/BoosterImplTest.java
  python-package/xgboost/sklearn.py
  python-package/xgboost/testing/dask.py
  python-package/xgboost/testing/intercept.py
  python-package/xgboost/testing/updater.py
  src/c_api/c_api.cc
  src/c_api/c_api_utils.h
  src/gbm/gbtree.cc
  src/learner.cc
  tests/cpp/c_api/test_c_api.cc
  tests/cpp/gbm/test_gbtree.cc
  tests/cpp/helpers.cc
  tests/cpp/helpers.h
  tests/cpp/predictor/test_predictor.cc
  tests/cpp/test_learner.cc
  tests/cpp/test_multi_target.cc
  tests/python/test_model_compatibility.py
  tests/python/test_with_sklearn.py
  tests/test_distributed/test_with_dask/test_with_dask.py
Due: lint-cpp, pylint

Preserve configuration compatibility
  R-package/R/xgb.Booster.R
  R-package/tests/testthat/test_model_compatibility.R
  python-package/xgboost/sklearn.py
  python-package/xgboost/testing/dask.py
  python-package/xgboost/testing/intercept.py
  python-package/xgboost/testing/updater.py
  src/gbm/gbtree.cc
  src/learner.cc
  tests/cpp/gbm/test_gbtree.cc
  tests/cpp/helpers.cc
  tests/cpp/helpers.h
  tests/cpp/predictor/test_predictor.cc
  tests/cpp/test_learner.cc
  tests/cpp/test_multi_target.cc
  tests/python/test_model_compatibility.py
  tests/python/test_with_sklearn.py
  tests/test_distributed/test_with_dask/test_with_dask.py
Due: lint-cpp, pylint

Address Copilot review feedback
  jvm-packages/xgboost4j/src/main/java/ml/dmlc/xgboost4j/java/Booster.java
  src/c_api/c_api.cc
Due: lint-cpp

Fix kernel registration names
  src/objective/hinge.cc
  src/objective/hinge.cu
Due: lint-cpp

Add typed device kernel dispatch and split the hinge objective (#12411)
  plugin/CMakeLists.txt
  src/CMakeLists.txt
  src/common/kernel.h
  src/objective/hinge.cc
  src/objective/hinge.cu
  src/objective/hinge.h
  src/objective/objective.cc
  src/objective/regression_obj.cu
  tests/cpp/common/test_kernel.cc
  tests/cpp/objective/test_hinge.cc
  tests/cpp/objective/test_hinge_cpu.cc
  tests/cpp/objective/test_objective.cc
Due: lint-cpp, lint-cmake

Split pseudo-Huber objective kernels
  src/objective/objective.cc
  src/objective/pseudohuber_obj.cc
  src/objective/pseudohuber_obj.cu
  src/objective/pseudohuber_obj.h
  src/objective/regression_obj.cu
Due: lint-cpp

Share elementwise objective kernels
  src/objective/elementwise_objective.cuh
  src/objective/elementwise_objective.h
  src/objective/hinge.cc
  src/objective/hinge.cu
  src/objective/hinge.h
  src/objective/pseudohuber_obj.cc
  src/objective/pseudohuber_obj.cu
  src/objective/pseudohuber_obj.h
Due: lint-cpp

Add pseudo-Huber objective to R build
  R-package/src/Makevars.in
  R-package/src/Makevars.win.in
Due: none

Remove obsolete predictor lifecycle and ntree_limit compatibility plumbing (#12414)
  .pre-commit-config.yaml
  include/xgboost/c_api.h
  include/xgboost/predictor.h
  jvm-packages/xgboost4j-example/src/main/java/ml/dmlc/xgboost4j/java/example/PredictFirstNtree.java
  jvm-packages/xgboost4j-example/src/main/java/ml/dmlc/xgboost4j/java/example/PredictLeafIndices.java
  jvm-packages/xgboost4j-example/src/main/scala/ml/dmlc/xgboost4j/scala/example/PredictFirstNTree.scala
  jvm-packages/xgboost4j-example/src/main/scala/ml/dmlc/xgboost4j/scala/example/PredictLeafIndices.scala
  jvm-packages/xgboost4j/src/main/java/ml/dmlc/xgboost4j/java/Booster.java
  jvm-packages/xgboost4j/src/main/java/ml/dmlc/xgboost4j/java/XGBoostJNI.java
  jvm-packages/xgboost4j/src/main/scala/ml/dmlc/xgboost4j/scala/Booster.scala
  jvm-packages/xgboost4j/src/native/xgboost4j.cpp
  jvm-packages/xgboost4j/src/native/xgboost4j.h
  jvm-packages/xgboost4j/src/test/java/ml/dmlc/xgboost4j/java/BoosterImplTest.java
  src/c_api/c_api.cc
  src/c_api/c_api_utils.h
  src/gbm/gbtree.cc
  src/gbm/gbtree.h
  src/learner.cc
  src/predictor/predictor.cc
  tests/cpp/c_api/test_c_api.cc
  tests/cpp/predictor/test_gpu_predictor.cu
  tests/cpp/predictor/test_predictor.h
Due: lint-cpp

Consistent naming.
  R-package/src/Makevars.in
  ops/pipeline/build-gpu-rpkg.sh
  ops/script/setup_r_sccache.R
Due: none

doc test.
  ops/pipeline/test-docs.sh
Due: none

Cleanup.
  ops/pipeline/build-gpu-rpkg.sh
Due: none

Split pseudo-Huber objective CPU and CUDA kernels (#12422)
  R-package/src/Makevars.in
  R-package/src/Makevars.win.in
  src/objective/elementwise_objective.cuh
  src/objective/elementwise_objective.h
  src/objective/hinge.cc
  src/objective/hinge.cu
  src/objective/hinge.h
  src/objective/objective.cc
  src/objective/pseudohuber_obj.cc
  src/objective/pseudohuber_obj.cu
  src/objective/pseudohuber_obj.h
  src/objective/regression_obj.cu
Due: lint-cpp

CI sccache.
  R-package/src/Makevars.in
  ops/script/setup_r_sccache.R
Due: none

Split Poisson and Tweedie objective kernels
  R-package/src/Makevars.in
  R-package/src/Makevars.win.in
  src/objective/elementwise_objective.cuh
  src/objective/elementwise_objective.h
  src/objective/objective.cc
  src/objective/poisson_obj.cc
  src/objective/poisson_obj.cu
  src/objective/poisson_obj.h
  src/objective/regression_obj.cu
  src/objective/tweedie_obj.cc
  src/objective/tweedie_obj.cu
  src/objective/tweedie_obj.h
Due: lint-cpp

cleanups.
  R-package/src/Makevars.in
Due: none

Fix objective parameter descriptions
  src/objective/poisson_obj.h
  src/objective/tweedie_obj.h
Due: lint-cpp

notes.
  R-package/src/Makevars.in
  ops/script/setup_r_sccache.R
Due: none

fix.
  R-package/src/Makevars.in
Due: none

note.
  R-package/src/Makevars.in
Due: none

Drop R link file.
  R-package/src/xgboost-win.def
Due: none

[CI] Add pandas-stubs to type checking. (#12412)
  ops/conda_env/python_lint.yml
  ops/script/test_r_package.py
  python-package/xgboost/_data_utils.py
  python-package/xgboost/compat.py
  python-package/xgboost/data.py
  python-package/xgboost/spark/data.py
  python-package/xgboost/testing/dask.py
  python-package/xgboost/testing/data.py
  python-package/xgboost/testing/ordinal.py
  python-package/xgboost/training.py
  tests/python-gpu/test_gpu_prediction.py
  tests/python/test_ordinal.py
Due: pylint

Simplify the CI.
  .github/workflows/main.yml
  .github/workflows/misc.yml
  R-package/src/Makevars.in
  ops/pipeline/test-docs.sh
  ops/script/setup_r_sccache.R
Due: none

lint.
  ops/script/test_r_package.py
Due: none

no need to remap.
  CMakeLists.txt
  R-package/src/Makevars.in
  cmake/Utils.cmake
Due: lint-cmake

Cleanup.
  .github/workflows/r_tests.yml
  CMakeLists.txt
Due: lint-cmake

Fix duplicated files.
  R-package/CMakeLists.txt
  R-package/bootstrap.R
  R-package/src/Makevars.in
  R-package/tools/cmake-source-files
  ops/script/test_r_package.py
Due: lint-cmake

cleanup.
  ops/script/test_r_package.py
Due: none

Fix.
  R-package/CMakeLists.txt
  R-package/bootstrap.R
  R-package/src/Makevars.in
  R-package/tools/cmake-source-files
  ops/script/test_r_package.py
Due: lint-cmake

Fix.
  R-package/CMakeLists.txt
  R-package/bootstrap.R
  R-package/configure
  R-package/remove_warning_suppression_pragma.sh
  R-package/tools/cmake-source-files
  ops/script/test_r_package.py
Due: lint-cmake

docs: add R tab to DART tutorial
  doc/tutorials/dart.rst
Due: none

Path conditions:
  lint-cpp: any of: \.(cc|c|cpp|h|cu|hpp)$, but not: (dmlc-core|gputreeshap)
  lint-cmake: any of: (CMakeLists\.txt$|^cmake/.*\.cmake$), but not: (dmlc-core|gputreeshap)
  pylint: any of: \.py$, but not: (dmlc-core|gputreeshap|^ops/|^tests/)
