Repository dmlc/xgboost: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-cpp, lint-cmake, pylint

lint-cpp:
  name: C++ lint (cpplint)
  entry: python ops/script/lint_cpp.py
  language: python
  additional_dependencies:
  - cpplint==1.6.1

lint-cmake:
  name: CMake lint (cmakelint)
  entry: cmakelint --linelength=120 --filter=-convention/filename,-package/stdargs,-readability/wonkycase
  language: python
  additional_dependencies:
  - cmakelint

pylint:
  name: Python lint (pylint)
  entry: pylint
  language: python
  args:
  - --rcfile=python-package/pyproject.toml
  additional_dependencies:
  - pylint

Convert gamma, Tweedie, and normal metrics to kernel abstraction
  src/metric/elementwise_metric.cu
  src/metric/gamma_metric.cc
  src/metric/gamma_metric.cu
  src/metric/gamma_metric.h
  src/metric/metric.cc
  src/metric/normal_metric.cc
  src/metric/normal_metric.cu
  src/metric/normal_metric.h
  src/metric/tweedie_metric.cc
  src/metric/tweedie_metric.cu
  src/metric/tweedie_metric.h
  tests/cpp/metric/test_distributed_metric.cc
  tests/cpp/metric/test_elementwise_metric.h
Due: lint-cpp

Convert interaction prediction to the kernel abstraction
  include/xgboost/predictor.h
  plugin/sycl/predictor/predictor.cc
  src/gbm/gbtree.h
  src/predictor/cpu_predictor.cc
  src/predictor/gpu_predictor.cu
  src/predictor/prediction_kernel.h
  tests/cpp/predictor/test_shap.cc
  tests/cpp/predictor/test_shap.cu
Due: lint-cpp

fix: tolerate non-finite metric strings from the native library (#12583)
  python-package/xgboost/callback.py
  python-package/xgboost/core.py
  tests/python/test_basic.py
  tests/python/test_callback.py
Due: pylint

Move interaction prediction kernels into SHAP implementations
  src/predictor/cpu_predictor.cc
  src/predictor/gpu_predictor.cu
  src/predictor/interpretability/shap.cc
  src/predictor/interpretability/shap.cu
  src/predictor/predictor.cc
Due: lint-cpp

Register SHAP interaction implementations directly
  src/gbm/gbtree.h
  src/predictor/interpretability/shap.cc
  src/predictor/interpretability/shap.cu
  src/predictor/prediction_kernel.h
  tests/cpp/predictor/test_shap.cc
Due: lint-cpp

Inline CUDA device selection in SHAP entry points
  src/predictor/interpretability/shap.cu
Due: lint-cpp

[EM] Balance internal batches.
  src/data/ellpack_page_source.cu
  tests/cpp/data/test_extmem_quantile_dmatrix.cu
  tests/python-gpu/test_gpu_data_iterator.py
Due: lint-cpp

tup.
  tests/cpp/data/test_extmem_quantile_dmatrix.cu
Due: lint-cpp

Fix reverse iterator in `SketchContainer::ScanInput()` (#12582)
  src/common/quantile.cu
Due: lint-cpp

Fix dtype set-membership check with old np. (#12511)
  python-package/xgboost/data.py
Due: pylint

Cleanup the logic.
  src/data/ellpack_page_source.cu
Due: lint-cpp

check.
  src/data/ellpack_page_source.cu
Due: lint-cpp

[breaking] Use OHE as the default method for categorical features.
  doc/parameter.rst
  doc/tutorials/categorical.rst
  src/tree/param.h
  tests/cpp/tree/hist/test_evaluate_splits.cc
Due: lint-cpp

word.
  doc/parameter.rst
Due: none

ver changed.
  doc/parameter.rst
Due: none

[EM] Balance internal batches. (#12586)
  src/data/ellpack_page_source.cu
  tests/cpp/data/test_extmem_quantile_dmatrix.cu
  tests/python-gpu/test_gpu_data_iterator.py
Due: lint-cpp

R doc.
  R-package/R/xgb.train.R
  R-package/man/xgb.params.Rd
  R-package/man/xgboost.Rd
Due: none

Convert interaction prediction to the kernel abstraction (#12585)
  include/xgboost/predictor.h
  plugin/sycl/predictor/predictor.cc
  src/gbm/gbtree.h
  src/predictor/cpu_predictor.cc
  src/predictor/gpu_predictor.cu
  src/predictor/interpretability/shap.cc
  src/predictor/interpretability/shap.cu
  src/predictor/prediction_kernel.h
  src/predictor/predictor.cc
  tests/cpp/predictor/test_shap.cc
  tests/cpp/predictor/test_shap.cu
Due: lint-cpp

Convert gamma, Tweedie, and normal metrics to kernel abstraction (#12584)
  src/metric/elementwise_metric.cu
  src/metric/gamma_metric.cc
  src/metric/gamma_metric.cu
  src/metric/gamma_metric.h
  src/metric/metric.cc
  src/metric/normal_metric.cc
  src/metric/normal_metric.cu
  src/metric/normal_metric.h
  src/metric/tweedie_metric.cc
  src/metric/tweedie_metric.cu
  src/metric/tweedie_metric.h
  tests/cpp/metric/test_distributed_metric.cc
  tests/cpp/metric/test_elementwise_metric.h
Due: lint-cpp

Convert contribution prediction to the kernel abstraction
  include/xgboost/predictor.h
  plugin/sycl/predictor/predictor.cc
  src/gbm/gbtree.h
  src/predictor/cpu_predictor.cc
  src/predictor/gpu_predictor.cu
  src/predictor/interpretability/shap.cc
  src/predictor/interpretability/shap.cu
  src/predictor/prediction_kernel.h
  tests/cpp/predictor/test_shap.cc
  tests/cpp/predictor/test_shap.cu
Due: lint-cpp

[breaking] Use OHE as the default method for categorical features. (#12587)
  R-package/R/xgb.train.R
  R-package/man/xgb.params.Rd
  R-package/man/xgboost.Rd
  doc/parameter.rst
  doc/tutorials/categorical.rst
  src/tree/param.h
  tests/cpp/tree/hist/test_evaluate_splits.cc
Due: lint-cpp

Convert quantile, expectile, and multiclass metrics to kernel abstraction
  src/metric/alpha_metric.cuh
  src/metric/alpha_metric.h
  src/metric/elementwise_metric.cc
  src/metric/elementwise_metric.cu
  src/metric/expectile_metric.cc
  src/metric/expectile_metric.cu
  src/metric/expectile_metric.h
  src/metric/metric.cc
  src/metric/multiclass_metric.cc
  src/metric/multiclass_metric.cu
  src/metric/multiclass_metric.h
  src/metric/quantile_metric.cc
  src/metric/quantile_metric.cu
  src/metric/quantile_metric.h
  tests/cpp/metric/test_elementwise_metric.h
  tests/cpp/metric/test_multiclass_metric.h
Due: lint-cpp

Correct conditional SHAP kernel documentation
  src/predictor/prediction_kernel.h
Due: lint-cpp

Restore quantile alpha values when loading metric config
  src/metric/quantile_metric.cc
  tests/cpp/metric/test_elementwise_metric.h
Due: lint-cpp

Remove unused conditional SHAP parameters
  src/gbm/gbtree.h
  src/predictor/interpretability/shap.cc
  src/predictor/interpretability/shap.cu
  src/predictor/interpretability/shap.h
  src/predictor/prediction_kernel.h
  tests/cpp/predictor/test_shap.cc
Due: lint-cpp

Skip empty-partition metric checks with only one worker
  tests/cpp/metric/test_elementwise_metric.h
Due: lint-cpp

docs: generate LLM-friendly documentation
  doc/conf.py
  doc/requirements.txt
Due: pylint

[CI] Run the macOS Python tests on Apple Silicon as well
  .github/workflows/main.yml
Due: none

docs: generate LLM-friendly documentation (#12590)
  doc/conf.py
  doc/requirements.txt
Due: pylint

Convert contribution prediction to the kernel abstraction (#12588)
  include/xgboost/predictor.h
  plugin/sycl/predictor/predictor.cc
  src/gbm/gbtree.h
  src/predictor/cpu_predictor.cc
  src/predictor/gpu_predictor.cu
  src/predictor/interpretability/shap.cc
  src/predictor/interpretability/shap.cu
  src/predictor/interpretability/shap.h
  src/predictor/prediction_kernel.h
  tests/cpp/predictor/test_shap.cc
  tests/cpp/predictor/test_shap.cu
Due: lint-cpp

Convert quantile, expectile, and multiclass metrics to the kernel abstraction (#12589)
  src/metric/alpha_metric.cuh
  src/metric/alpha_metric.h
  src/metric/elementwise_metric.cc
  src/metric/elementwise_metric.cu
  src/metric/expectile_metric.cc
  src/metric/expectile_metric.cu
  src/metric/expectile_metric.h
  src/metric/metric.cc
  src/metric/multiclass_metric.cc
  src/metric/multiclass_metric.cu
  src/metric/multiclass_metric.h
  src/metric/quantile_metric.cc
  src/metric/quantile_metric.cu
  src/metric/quantile_metric.h
  tests/cpp/metric/test_elementwise_metric.h
  tests/cpp/metric/test_multiclass_metric.h
Due: lint-cpp

[CI] Run the macOS Python tests on Apple Silicon as well (#12591)
  .github/workflows/main.yml
Due: none

Convert leaf-id prediction to the kernel abstraction
  include/xgboost/predictor.h
  plugin/sycl/predictor/predictor.cc
  src/gbm/gbtree.cc
  src/predictor/cpu_predictor.cc
  src/predictor/gpu_predictor.cu
  src/predictor/prediction_kernel.h
  tests/cpp/predictor/test_gpu_predictor.cu
  tests/cpp/predictor/test_predictor.cc
  tests/cpp/tree/test_gpu_hist.cu
  tests/cpp/tree/test_prediction_cache.h
Due: lint-cpp

Convert survival, Cox, and AMS metrics to kernel abstraction
  src/metric/metric.cc
  src/metric/rank_metric.cc
  src/metric/rank_metric.h
  src/metric/survival_metric.cc
  src/metric/survival_metric.cu
  src/metric/survival_metric.h
  tests/cpp/metric/test_rank_metric.cc
  tests/cpp/metric/test_survival_metric.h
Due: lint-cpp

[CI] Install sphinx-llm in the documentation test environment
  doc/xgboost_doc.yml
Due: none

Guard uint64 category overflow in cudf_cat_inf
  python-package/xgboost/_data_utils.py
  tests/python-gpu/test_gpu_ordinal.py
Due: pylint

predictor: build array tree layouts once per prediction call
  src/predictor/array_tree_layout.h
  src/predictor/cpu_predictor.cc
  tests/cpp/predictor/test_cpu_predictor.cc
Due: lint-cpp

predictor: accumulate leaf values directly after array traversal
  src/predictor/cpu_predictor.cc
Due: lint-cpp

predictor: index array tree layouts through raw pointers
  src/predictor/array_tree_layout.h
Due: lint-cpp

Path conditions:
  lint-cpp: any of: \.(cc|c|cpp|h|cu|hpp)$, but not: (dmlc-core|gputreeshap)
  lint-cmake: any of: (CMakeLists\.txt$|^cmake/.*\.cmake$), but not: (dmlc-core|gputreeshap)
  pylint: any of: \.py$, but not: (dmlc-core|gputreeshap|^ops/|^tests/)
