Repository dmlc/xgboost: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-cpp, lint-cmake, pylint

lint-cpp:
  name: C++ lint (cpplint)
  entry: python ops/script/lint_cpp.py
  language: python
  additional_dependencies:
  - cpplint==1.6.1

lint-cmake:
  name: CMake lint (cmakelint)
  entry: cmakelint --linelength=120 --filter=-convention/filename,-package/stdargs,-readability/wonkycase
  language: python
  additional_dependencies:
  - cmakelint

pylint:
  name: Python lint (pylint)
  entry: pylint
  language: python
  args:
  - --rcfile=python-package/pyproject.toml
  additional_dependencies:
  - pylint

Fix.
  python-package/xgboost/testing/multi_target.py
Due: pylint

Simplify quantile sketch internals (#12054)
  src/common/hist_util.cu
  src/common/quantile.cc
  src/common/quantile.h
  tests/cpp/common/test_quantile.cc
Due: lint-cpp

Disable the `cv` function.
  python-package/xgboost/training.py
Due: pylint

Cleanup.
  python-package/xgboost/training.py
Due: pylint

Raise.
  python-package/xgboost/training.py
Due: pylint

typo.
  python-package/xgboost/training.py
Due: pylint

Refactor sketch ReduceV merge path to explicit output reduction
  src/collective/allreduce.h
  src/common/quantile.cc
  tests/cpp/collective/test_allreduce.cc
  tests/cpp/common/test_quantile.cc
Due: lint-cpp

Refine ReduceV sketch payload API and summary views
  src/collective/allreduce.h
  src/common/quantile.cc
  tests/cpp/collective/test_allreduce.cc
Due: lint-cpp

Simplify ReduceV sketch merge to prune in-place
  src/common/quantile.cc
Due: lint-cpp

Encapsulate WQSummary storage and avoid direct payload data writes
  src/common/quantile.cc
  src/common/quantile.h
Due: lint-cpp

Use clearer variable name SYSTEM_DMLC
  CMakeLists.txt
Due: lint-cmake

docs: clarify scale_pos_weight vs oversampling
  doc/parameter.rst
  doc/tutorials/param_tuning.rst
Due: none

docs(jvm): point API page to canonical parameter reference
  doc/jvm/api.rst
Due: none

refactor: remove retained cuts metadata from allreduce summaries
  src/collective/allreduce.h
  src/common/quantile.cc
  src/common/quantile.h
Due: lint-cpp

more tests.
  python-package/xgboost/testing/objective.py
  tests/python-gpu/test_gpu_objective.py
  tests/python/test_objective.py
Due: pylint

refactor quantile payload and fix ReduceV root to rank 0
  src/collective/allreduce.h
  src/common/quantile.cc
  tests/cpp/collective/test_allreduce.cc
Due: lint-cpp

refactor: use payload-based categorical allreduce
  src/common/quantile.cc
  src/common/quantile.h
Due: lint-cpp

docs: add distributed training overview tutorial
  doc/tutorials/distributed_training.rst
  doc/tutorials/index.rst
Due: none

refactor(quantile): split numeric and categorical allreduce paths
  src/common/quantile.cc
  src/common/quantile.h
Due: lint-cpp

test: drop distributed quantile benchmark tests
  tests/cpp/common/test_quantile.cc
Due: lint-cpp

fix: address CI failures in quantile reduce path
  src/collective/allreduce.h
  src/common/quantile.cc
  src/common/quantile.h
  tests/python/test_tracker.py
Due: lint-cpp

Fixes
  python-package/xgboost/spark/core.py
  tests/test_distributed/test_with_spark/test_spark.py
Due: pylint

fix: address PR review feedback for ReduceV path
  src/collective/allreduce.h
  src/common/quantile.cc
  tests/cpp/collective/test_allreduce.cc
  tests/python/test_tracker.py
Due: lint-cpp

Apply suggestion from @Copilot
  python-package/xgboost/spark/utils.py
Due: pylint

Apply suggestion from @Copilot
  tests/test_distributed/test_with_spark/test_spark.py
Due: none

Preserve row ordering when writing model to file
  python-package/xgboost/spark/core.py
  python-package/xgboost/spark/utils.py
Due: pylint

Fixes.
  CMakeLists.txt
Due: lint-cmake

pre-commit.
  CMakeLists.txt
Due: lint-cmake

Fix formatting
  python-package/xgboost/spark/core.py
Due: pylint

refactor: rename variable-length allreduce primitive
  src/collective/allreduce.h
  src/common/quantile.cc
  tests/cpp/collective/test_allreduce.cc
Due: lint-cpp

[jvm] Support Regressor and Ranker in Pipeline with columnar input (#12058)
  jvm-packages/xgboost4j-example/src/main/java/ml/dmlc/xgboost4j/java/example/PredictLeafIndices.java
  jvm-packages/xgboost4j-example/src/main/scala/ml/dmlc/xgboost4j/scala/example/PredictLeafIndices.scala
  jvm-packages/xgboost4j-spark/src/main/scala/ml/dmlc/xgboost4j/scala/spark/XGBoostEstimator.scala
  jvm-packages/xgboost4j-spark/src/main/scala/org/apache/spark/ml/xgboost/SparkUtils.scala
  jvm-packages/xgboost4j-spark/src/test/scala/ml/dmlc/xgboost4j/scala/spark/XGBoostEstimatorSuite.scala
Due: none

pre-commit.
  src/collective/comm.cc
  src/collective/comm.h
  src/collective/comm_group.cc
  tests/cpp/collective/test_worker.h
  tests/python/test_tracker.py
Due: lint-cpp

[wip] Implement worker port.
  python-package/xgboost/collective.py
  src/collective/comm.cc
  src/collective/comm.h
  src/collective/comm_group.cc
  tests/cpp/collective/test_worker.h
  tests/python/test_tracker.py
Due: lint-cpp, pylint

Add test.
  tests/test_distributed/test_with_dask/test_with_dask.py
Due: none

pre-commit.
  tests/python/test_tracker.py
Due: none

cleanup.
  python-package/xgboost/collective.py
Due: pylint

Cleanup.
  src/predictor/interpretability/shap.cc
  src/predictor/interpretability/shap.cu
Due: lint-cpp

check port
  src/collective/comm_group.cc
Due: lint-cpp

Worker side resolution.
  python-package/xgboost/collective.py
  python-package/xgboost/dask/__init__.py
  python-package/xgboost/spark/core.py
  tests/python/test_tracker.py
  tests/test_distributed/test_with_dask/test_with_dask.py
Due: pylint

Path conditions:
  lint-cpp: any of: \.(cc|c|cpp|h|cu|hpp)$, but not: (dmlc-core|gputreeshap)
  lint-cmake: any of: (CMakeLists\.txt$|^cmake/.*\.cmake$), but not: (dmlc-core|gputreeshap)
  pylint: any of: \.py$, but not: (dmlc-core|gputreeshap|^ops/|^tests/)
