Repository dmlc/xgboost: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-cpp, lint-cmake, pylint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: check-yaml
      - id: check-toml
      - id: check-json
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable
      - id: mixed-line-ending
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.14
    hooks:
      - id: ruff-check
        args:
          - --fix
          - --select=I
        files: \.py$
        exclude: (dmlc-core|gputreeshap)
      - id: ruff-format
        files: \.py$
        exclude: (dmlc-core|gputreeshap)
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v21.1.8
    hooks:
      - id: clang-format
        args: [--style=file]
        files: \.(cc|c|cpp|h|cu|hpp)$
        exclude: (dmlc-core|gputreeshap)
  - repo: local
    hooks:
      - id: lint-cpp
        name: C++ lint (cpplint)
        entry: python ops/script/lint_cpp.py
        language: python
        types: [file]
        files: \.(cc|c|cpp|h|cu|hpp)$
        exclude: (dmlc-core|gputreeshap)
        additional_dependencies:
          - cpplint==1.6.1
      - id: lint-cmake
        name: CMake lint (cmakelint)
        entry: cmakelint --linelength=120 --filter=-convention/filename,-package/stdargs,-readability/wonkycase
        language: python
        types: [file]
        files: (CMakeLists\.txt$|^cmake/.*\.cmake$)
        exclude: (dmlc-core|gputreeshap)
        additional_dependencies:
          - cmakelint
      - id: pylint
        name: Python lint (pylint)
        entry: pylint
        language: python
        types: [file]
        files: \.py$
        exclude: (dmlc-core|gputreeshap|^ops/|^tests/)
        args:
          - --rcfile=python-package/pyproject.toml
        additional_dependencies:
          - pylint

checks.
  src/collective/comm_group.cc
Due: lint-cpp

pre-commit.
  python-package/xgboost/dask/__init__.py
  src/predictor/interpretability/shap.cc
Due: lint-cpp, pylint

lint.
  python-package/xgboost/spark/core.py
Due: pylint

type.
  python-package/xgboost/collective.py
  python-package/xgboost/dask/__init__.py
  python-package/xgboost/spark/utils.py
Due: pylint

[CI] Update Python version for `cibuildwheel`.
  ops/conda_env/minimal.yml
Due: none

[CI] Update Python version for `cibuildwheel`. (#12066)
  ops/conda_env/minimal.yml
Due: none

Do tree reductions instead of allgather in distributed quantile construction (#12061)
  src/collective/allreduce.h
  src/common/quantile.cc
  src/common/quantile.h
  tests/cpp/collective/test_allreduce.cc
  tests/python/test_tracker.py
Due: lint-cpp

Refactor HistogramCuts construction
  src/common/hist_util.cc
  src/common/hist_util.cu
  src/common/hist_util.h
  src/common/quantile.cc
  src/common/quantile.cu
  src/common/quantile.cuh
  src/common/quantile.h
  src/data/extmem_quantile_dmatrix.cc
  src/data/extmem_quantile_dmatrix.cu
  src/data/gradient_index.h
  src/data/gradient_index_page_source.h
  src/data/iterative_dmatrix.cc
  src/data/iterative_dmatrix.cu
  src/data/quantile_dmatrix.cc
  src/data/quantile_dmatrix.cu
  src/tree/updater_approx.cc
  tests/cpp/common/test_hist_util.cc
  tests/cpp/common/test_hist_util.cu
  tests/cpp/common/test_quantile.cc
  tests/cpp/data/test_gradient_index_page_raw_format.cc
  tests/cpp/histogram_helpers.cu
  tests/cpp/histogram_helpers.h
  tests/cpp/tree/gpu_hist/test_evaluate_splits.cu
  tests/cpp/tree/hist/test_evaluate_splits.cc
  tests/cpp/tree/test_evaluate_splits.h
Due: lint-cpp

Make linux packaging easier (#12055)
  CMakeLists.txt
Due: lint-cmake

Remove stored HistogramCuts minimums
  src/c_api/c_api.cc
  src/common/hist_util.cc
  src/common/hist_util.cu
  src/common/hist_util.h
  src/common/quantile.cc
  src/common/quantile.cu
  src/data/ellpack_page.cu
  src/data/ellpack_page.cuh
  src/data/gradient_index.cc
  src/data/gradient_index.cu
  src/data/gradient_index.h
  src/data/iterative_dmatrix.cc
  src/predictor/data_accessor.h
  src/predictor/gpu_data_accessor.cuh
  src/tree/gpu_hist/evaluate_splits.cu
  src/tree/gpu_hist/evaluate_splits.cuh
  src/tree/gpu_hist/multi_evaluate_splits.cu
  src/tree/hist/evaluate_splits.h
  src/tree/updater_gpu_hist.cu
  src/tree/updater_gpu_hist.cuh
  tests/cpp/c_api/test_c_api.cc
  tests/cpp/common/test_hist_util.cc
  tests/cpp/common/test_hist_util.cu
  tests/cpp/common/test_hist_util.h
  tests/cpp/common/test_quantile.cc
  tests/cpp/common/test_quantile.cu
  tests/cpp/data/test_ellpack_page_raw_format.cu
  tests/cpp/data/test_extmem_quantile_dmatrix.cc
  tests/cpp/data/test_extmem_quantile_dmatrix.cu
  tests/cpp/data/test_gradient_index_page_raw_format.cc
  tests/cpp/data/test_iterative_dmatrix.cu
  tests/cpp/data/test_iterative_dmatrix.h
  tests/cpp/histogram_helpers.cu
  tests/cpp/histogram_helpers.h
  tests/cpp/tree/gpu_hist/test_evaluate_splits.cu
  tests/cpp/tree/gpu_hist/test_multi_evaluate_splits.cu
  tests/cpp/tree/hist/test_evaluate_splits.cc
  tests/cpp/tree/test_approx.cc
  tests/cpp/tree/test_evaluate_splits.h
  tests/cpp/tree/test_quantile_hist.cc
Due: lint-cpp

Fix i386 split evaluator build
  src/tree/hist/evaluate_splits.h
Due: lint-cpp

Fix quantile cut compatibility regressions
  plugin/sycl/data/gradient_index.h
  src/c_api/c_api.cc
  src/common/hist_util.cc
  src/predictor/data_accessor.h
  src/predictor/gpu_data_accessor.cuh
  tests/cpp/c_api/test_c_api.cc
Due: lint-cpp

Handle inf values in serialization tests
  tests/cpp/test_serialization.cc
Due: lint-cpp

Bring back the type hints.
  python-package/xgboost/collective.py
  python-package/xgboost/testing/__init__.py
  python-package/xgboost/testing/federated.py
Due: pylint

Move the param.
  python-package/xgboost/collective.py
  python-package/xgboost/dask/__init__.py
  python-package/xgboost/spark/core.py
  python-package/xgboost/testing/__init__.py
  python-package/xgboost/testing/federated.py
  tests/python/test_tracker.py
Due: pylint

revert type hints.
  python-package/xgboost/dask/__init__.py
  python-package/xgboost/spark/utils.py
Due: pylint

Test with the PySpark>=4.0.
  ops/pipeline/get-image-tag.sh
Due: none

Notes.
  python-package/xgboost/collective.py
Due: pylint

typo.
  python-package/xgboost/collective.py
Due: pylint

fmt.
  python-package/xgboost/dask/__init__.py
Due: pylint

Refactor shared DART prediction paths
  src/gbm/gbtree.cc
  src/gbm/gbtree.h
  tests/cpp/gbm/test_gbtree.cc
Due: lint-cpp

Push batch tree weights into predictors
  include/xgboost/predictor.h
  src/gbm/gbtree.cc
  src/gbm/gbtree.h
  src/predictor/cpu_predictor.cc
  src/predictor/gpu_predictor.cu
  tests/cpp/gbm/test_gbtree.cc
  tests/cpp/predictor/test_cpu_predictor.cc
  tests/cpp/predictor/test_gpu_predictor.cu
  tests/cpp/predictor/test_predictor.cc
  tests/cpp/predictor/test_predictor.h
Due: lint-cpp

Clarify batch prediction cache flow
  src/gbm/gbtree.cc
Due: lint-cpp

Fix predictor batch API fallout
  plugin/sycl/predictor/predictor.cc
  src/predictor/gpu_predictor.cu
Due: lint-cpp

[EM] Remove warning for ATS.
  src/data/ellpack_page_source.h
Due: lint-cpp

Fix weighted predictor review issues
  include/xgboost/predictor.h
  src/predictor/gpu_predictor.cu
  tests/cpp/predictor/test_predictor.cc
Due: lint-cpp

Fix cache and GPU weight lifetime
  include/xgboost/predictor.h
  src/gbm/gbtree.cc
  src/predictor/gpu_predictor.cu
Due: lint-cpp

Fix typo
  doc/treemethod.rst
Due: none

Fix typo (#12070)
  doc/treemethod.rst
Due: none

[EM] Remove warning for ATS. (#12069)
  src/data/ellpack_page_source.h
Due: lint-cpp

Remove HistogramCuts cache format header
  src/common/hist_util.cc
Due: lint-cpp

Push batch tree weights into predictors (#12068)
  include/xgboost/predictor.h
  plugin/sycl/predictor/predictor.cc
  src/gbm/gbtree.cc
  src/gbm/gbtree.h
  src/predictor/cpu_predictor.cc
  src/predictor/gpu_predictor.cu
  tests/cpp/gbm/test_gbtree.cc
  tests/cpp/predictor/test_cpu_predictor.cc
  tests/cpp/predictor/test_gpu_predictor.cu
  tests/cpp/predictor/test_predictor.cc
  tests/cpp/predictor/test_predictor.h
Due: lint-cpp

Push inplace tree weights into predictors
  include/xgboost/predictor.h
  plugin/sycl/predictor/predictor.cc
  src/gbm/gbtree.cc
  src/predictor/cpu_predictor.cc
  src/predictor/gpu_predictor.cu
  tests/cpp/predictor/test_cpu_predictor.cc
  tests/cpp/predictor/test_gpu_predictor.cu
  tests/cpp/predictor/test_predictor.cc
  tests/cpp/predictor/test_predictor.h
Due: lint-cpp

Remove GPU weighted prediction syncs
  src/predictor/gpu_predictor.cu
Due: lint-cpp

[coll] Support worker port. (#12010)
  python-package/xgboost/collective.py
  python-package/xgboost/dask/__init__.py
  python-package/xgboost/spark/core.py
  src/collective/comm.cc
  src/collective/comm.h
  src/collective/comm_group.cc
  src/predictor/interpretability/shap.cc
  src/predictor/interpretability/shap.cu
  tests/cpp/collective/test_worker.h
  tests/python/test_tracker.py
  tests/test_distributed/test_with_dask/test_with_dask.py
Due: lint-cpp, pylint

Simplify host quantile sketch container
  src/common/hist_util.cc
  src/common/quantile.cc
  src/common/quantile.h
  tests/cpp/common/test_quantile.cc
Due: lint-cpp

Clean up host quantile helpers
  src/common/quantile.cc
  src/common/quantile.h
  tests/cpp/common/test_hist_util.cc
  tests/cpp/common/test_hist_util.h
Due: lint-cpp

Push inplace tree weights into predictors (#12071)
  include/xgboost/predictor.h
  plugin/sycl/predictor/predictor.cc
  src/gbm/gbtree.cc
  src/predictor/cpu_predictor.cc
  src/predictor/gpu_predictor.cu
  tests/cpp/predictor/test_cpu_predictor.cc
  tests/cpp/predictor/test_gpu_predictor.cu
  tests/cpp/predictor/test_predictor.cc
  tests/cpp/predictor/test_predictor.h
Due: lint-cpp

Unify DART SHAP forwarding
  src/gbm/gbtree.cc
  src/gbm/gbtree.h
  tests/cpp/predictor/test_shap.cc
  tests/cpp/predictor/test_shap.cu
  tests/cpp/predictor/test_shap.h
Due: lint-cpp
