Repository dmlc/xgboost: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-cpp, lint-cmake, pylint

lint-cpp:
  name: C++ lint (cpplint)
  entry: python ops/script/lint_cpp.py
  language: python
  additional_dependencies:
  - cpplint==1.6.1

lint-cmake:
  name: CMake lint (cmakelint)
  entry: cmakelint --linelength=120 --filter=-convention/filename,-package/stdargs,-readability/wonkycase
  language: python
  additional_dependencies:
  - cmakelint

pylint:
  name: Python lint (pylint)
  entry: pylint
  language: python
  args:
  - --rcfile=python-package/pyproject.toml
  additional_dependencies:
  - pylint

Remove dart.
  python-package/xgboost/testing/continuation.py
Due: pylint

lint.
  src/common/random.cc
  src/common/random.h
Due: lint-cpp

simplify the skl test.
  tests/cross-platform/test_cross_platform_model.py
Due: none

Remove the rng.
  doc/treemethod.rst
  plugin/sycl/tree/hist_updater.cc
  plugin/sycl/tree/hist_updater.h
  src/common/random.cc
  src/common/random.h
  src/tree/updater_approx.cc
  src/tree/updater_colmaker.cc
  src/tree/updater_gpu_hist.cu
  src/tree/updater_quantile_hist.cc
  tests/cpp/common/test_random.cc
  tests/cpp/tree/hist/test_evaluate_splits.cc
  tests/cpp/tree/test_constraints.cc
Due: lint-cpp

Potential fix for pull request finding
  src/common/random.h
Due: lint-cpp

exact tree method.
  src/tree/updater_colmaker.cc
Due: lint-cpp

updates.
  plugin/sycl/tree/hist_updater.cc
  plugin/sycl/tree/hist_updater.h
  tests/cpp/tree/test_constraints.cc
Due: lint-cpp

drop rate v.s. sampling rate.
  python-package/xgboost/testing/continuation.py
Due: pylint

Always save dart configuration.
  src/gbm/gbtree.cc
Due: lint-cpp

sycl.
  plugin/sycl/tree/hist_row_adder.h
Due: lint-cpp

Use explicit streams in GPU prune helpers
  src/common/quantile.cu
Due: lint-cpp

Construct objectives directly from config
  include/xgboost/objective.h
  src/learner.cc
  src/objective/init_estimation.cc
  src/objective/objective.cc
  tests/cpp/objective/test_objective.cc
Due: lint-cpp

Recreate objectives during learner configure
  src/learner.cc
  tests/cpp/test_learner.cc
Due: lint-cpp

Always save dart configuration. (#12098)
  src/gbm/gbtree.cc
Due: lint-cpp

Fix objective constructor initialization
  include/xgboost/objective.h
  plugin/example/custom_obj.cc
  src/objective/quantile_obj.cu
  src/objective/regression_obj.cu
Due: lint-cpp

Construct objectives directly from JSON
  include/xgboost/objective.h
  plugin/example/custom_obj.cc
  src/objective/aft_obj.cu
  src/objective/hinge.cu
  src/objective/lambdarank_obj.cc
  src/objective/multiclass_obj.cu
  src/objective/objective.cc
  src/objective/quantile_obj.cu
  src/objective/regression_obj.cu
  tests/cpp/helpers.cc
  tests/cpp/helpers.h
  tests/cpp/objective/test_aft_obj.cc
  tests/cpp/objective/test_lambdarank_obj.cc
  tests/cpp/objective/test_lambdarank_obj.h
  tests/cpp/objective/test_regression_obj.cc
Due: lint-cpp

Serialize the RNGs (#12083)
  .github/workflows/main.yml
  doc/treemethod.rst
  include/xgboost/context.h
  plugin/sycl/tree/hist_row_adder.h
  plugin/sycl/tree/hist_updater.cc
  plugin/sycl/tree/hist_updater.h
  python-package/xgboost/testing/continuation.py
  src/common/random.cc
  src/common/random.cu
  src/common/random.h
  src/context.cc
  src/learner.cc
  src/tree/hist/evaluate_splits.h
  src/tree/hist/sampler.cc
  src/tree/hist/sampler.h
  src/tree/updater_approx.cc
  src/tree/updater_colmaker.cc
  src/tree/updater_gpu_hist.cu
  src/tree/updater_gpu_hist.cuh
  src/tree/updater_quantile_hist.cc
  tests/cpp/common/test_random.cc
  tests/cpp/tree/hist/test_evaluate_splits.cc
  tests/cpp/tree/test_constraints.cc
  tests/cross-platform/test_cross_platform_model.py
  tests/python-gpu/test_gpu_training_continuation.py
  tests/python/test_training_continuation.py
Due: lint-cpp, pylint

Remove no-arg objective factory path
  include/xgboost/objective.h
  plugin/example/custom_obj.cc
  src/objective/aft_obj.cu
  src/objective/hinge.cu
  src/objective/lambdarank_obj.cc
  src/objective/quantile_obj.cu
  src/objective/regression_obj.cu
  tests/cpp/objective/test_lambdarank_obj.cc
  tests/cpp/objective/test_objective.cc
Due: lint-cpp

Make GPU sketch prune emit a correct summary (#12090)
  src/common/quantile.cu
  tests/cpp/common/test_quantile.cu
Due: lint-cpp

[python-package] Handle indicator (boolean) features in trees_to_dataframe (#12089)
  python-package/xgboost/core.py
  tests/python/test_parse_tree.py
Due: pylint

Inline GPU sketch categorical compaction
  src/common/quantile.cu
  src/common/quantile.cuh
  tests/cpp/common/test_quantile.cu
Due: lint-cpp

[backport] Ignore future return in the destructor. (#12092)
  src/data/sparse_page_source.h
Due: lint-cpp

Bump patch version to 3.2.1.
  CMakeLists.txt
  R-package/DESCRIPTION
  R-package/configure
  R-package/configure.ac
  include/xgboost/version_config.h
  jvm-packages/pom.xml
  jvm-packages/xgboost4j-example/pom.xml
  jvm-packages/xgboost4j-flink/pom.xml
  jvm-packages/xgboost4j-spark-gpu/pom.xml
  jvm-packages/xgboost4j-spark/pom.xml
  jvm-packages/xgboost4j/pom.xml
  python-package/pyproject.toml
  python-package/pyproject.toml.in
  python-package/pyproject.toml.stub.in
  python-package/xgboost/VERSION
Due: lint-cpp, lint-cmake

Bump patch version to 3.2.1. (#12101)
  CMakeLists.txt
  R-package/DESCRIPTION
  R-package/configure
  R-package/configure.ac
  include/xgboost/version_config.h
  jvm-packages/pom.xml
  jvm-packages/xgboost4j-example/pom.xml
  jvm-packages/xgboost4j-flink/pom.xml
  jvm-packages/xgboost4j-spark-gpu/pom.xml
  jvm-packages/xgboost4j-spark/pom.xml
  jvm-packages/xgboost4j/pom.xml
  python-package/pyproject.toml
  python-package/pyproject.toml.in
  python-package/pyproject.toml.stub.in
  python-package/xgboost/VERSION
Due: lint-cpp, lint-cmake

[backport] Ignore future return in the destructor. (#12092) (#12100)
  src/data/sparse_page_source.h
Due: lint-cpp

default launch_tracker_on_driver to False for Spark Connect
  python-package/xgboost/spark/core.py
  python-package/xgboost/spark/estimator.py
Due: pylint

Code cleanup
  python-package/xgboost/spark/core.py
Due: pylint

Fix python -OO crash by guarding __doc__ assignments against None (#12094)
  python-package/xgboost/dask/__init__.py
  python-package/xgboost/sklearn.py
Due: pylint

Address GPU sketch merge review comments
  src/common/quantile.cu
  tests/cpp/common/test_quantile.cu
Due: lint-cpp

Add equality operators for WQSummary::Entry to support CUDA 12.6+
  src/common/quantile.h
Due: lint-cpp

Inline categorical compaction after GPU sketch merge (#12099)
  src/common/quantile.cu
  src/common/quantile.cuh
  tests/cpp/common/test_quantile.cu
Due: lint-cpp

Replace GPU quantile double buffering
  src/common/quantile.cu
  src/common/quantile.cuh
Due: lint-cpp

Trim GPU quantile scratch helpers
  src/common/quantile.cu
  src/common/quantile.cuh
Due: lint-cpp

Assert GPU quantile column pointer invariants
  src/common/quantile.cu
Due: lint-cpp

Replace GPU quantile double buffering with explicit scratch storage (#12104)
  src/common/quantile.cu
  src/common/quantile.cuh
Due: lint-cpp

Prune GPU sketch after each merge
  src/common/quantile.cu
Due: lint-cpp

Add test for launch_tracker_on_driver initialization
  tests/test_distributed/test_with_spark/test_spark.py
Due: none

Use CPU-style intermediate GPU sketch sizing
  src/common/hist_util.cu
  src/common/hist_util.cuh
  src/common/quantile.cu
  src/common/quantile.cuh
  tests/cpp/common/test_quantile.cu
Due: lint-cpp

Simplify GPU sketch push buffers
  src/common/quantile.cu
  src/common/quantile.cuh
Due: lint-cpp

Refactor and optimize CPU QuadratureSHAP
  doc/parameter.rst
  src/predictor/cpu_predictor.cc
  src/predictor/interpretability/shap.cc
  src/predictor/interpretability/shap.h
  src/predictor/treeshap.cc
  src/predictor/treeshap.h
  tests/cpp/predictor/test_shap.cc
Due: lint-cpp

Path conditions:
  lint-cpp: any of: \.(cc|c|cpp|h|cu|hpp)$, but not: (dmlc-core|gputreeshap)
  lint-cmake: any of: (CMakeLists\.txt$|^cmake/.*\.cmake$), but not: (dmlc-core|gputreeshap)
  pylint: any of: \.py$, but not: (dmlc-core|gputreeshap|^ops/|^tests/)
