Repository dmlc/xgboost: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-cpp, lint-cmake, pylint

lint-cpp:
  name: C++ lint (cpplint)
  entry: python ops/script/lint_cpp.py
  language: python
  additional_dependencies:
  - cpplint==1.6.1

lint-cmake:
  name: CMake lint (cmakelint)
  entry: cmakelint --linelength=120 --filter=-convention/filename,-package/stdargs,-readability/wonkycase
  language: python
  additional_dependencies:
  - cmakelint

pylint:
  name: Python lint (pylint)
  entry: pylint
  language: python
  args:
  - --rcfile=python-package/pyproject.toml
  additional_dependencies:
  - pylint

tab
  doc/conf.py
Due: pylint

comment.
  doc/conf.py
Due: pylint

roxygen2.
  R-package/DESCRIPTION
  R-package/man/xgb.plot.deepness.Rd
  R-package/man/xgb.plot.shap.Rd
Due: none

pkg resources
  doc/xgboost_doc.yml
Due: none

update sphinx tabs.
  doc/xgboost_doc.yml
Due: none

uv.
  .github/workflows/misc.yml
Due: none

dask.
  doc/xgboost_doc.yml
Due: none

ncpus.
  R-package/tests/helper_scripts/install_deps.R
Due: none

annotation.
  doc/contrib/docs.rst
Due: none

Fixed silent ignore of legacy predict flags (#12211)
  R-package/R/xgboost.R
  R-package/tests/testthat/test_xgboost.R
Due: none

Refined legacy flag mapping and improve error handling
  R-package/DESCRIPTION
  R-package/R/xgboost.R
  R-package/man/predict.xgboost.Rd
  R-package/man/xgb.plot.deepness.Rd
  R-package/man/xgb.plot.shap.Rd
  R-package/tests/testthat/test_xgboost.R
Due: none

[WIP] Migrate to scikit-build-core
  CMakeLists.txt
  doc/build.rst
  ops/conda_env/python_lint.yml
  ops/pipeline/test-python-sdist.sh
  ops/pipeline/test-python-with-sysprefix.sh
  ops/script/prepare_sdist.py
  ops/script/release_artifacts.py
  python-package/CMakeLists.txt
  python-package/hatch_build.py
  python-package/packager/__init__.py
  python-package/packager/build_config.py
  python-package/packager/nativelib.py
  python-package/packager/pep517.py
  python-package/packager/sdist.py
  python-package/packager/util.py
  python-package/pyproject.toml
  python-package/pyproject.toml.in
  python-package/pyproject.toml.stub.in
  python-package/stub-cmake/CMakeLists.txt
Due: lint-cmake, pylint

[WIP] Build fix
  .github/workflows/python_wheels_variants.yml
  .github/workflows/python_wheels_winarm64.yml
  cmake/Utils.cmake
  doc/contrib/python_packaging.rst
  ops/pipeline/audit-cuda-wheel.sh
  ops/pipeline/build-python-wheels-cpu.sh
  ops/pipeline/build-win64.ps1
  ops/script/release_artifacts.py
  python-package/CMakeLists.txt
  python-package/pyproject.toml
  python-package/pyproject.toml.in
Due: lint-cmake

Fix auditwheel
  .github/workflows/python_wheels_variants.yml
  ops/pipeline/audit-cuda-wheel.sh
Due: none

Set KEEP_BUILD_ARTIFACTS_IN_BINARY_DIR=ON for Python pkg
  python-package/CMakeLists.txt
Due: lint-cmake

Add xgboost4j support FreeBSD
  jvm-packages/create_jni.py
  jvm-packages/xgboost4j/src/main/java/ml/dmlc/xgboost4j/java/NativeLibLoader.java
Due: pylint

Add doc tests. (#12216)
  .github/workflows/misc.yml
  R-package/DESCRIPTION
  R-package/man/xgb.plot.deepness.Rd
  R-package/man/xgb.plot.shap.Rd
  R-package/tests/helper_scripts/install_deps.R
  doc/conf.py
  doc/contrib/docs.rst
  doc/tutorials/advanced_custom_obj.rst
  doc/xgboost_doc.yml
  doc/xgboost_doc_doctest.py
  ops/pipeline/test-docs.sh
Due: pylint

Use philox for faster sampling on GPU.
  src/tree/gpu_hist/sampler.cu
Due: lint-cpp

Simplify interpret SHAP values return
  python-package/xgboost/interpret.py
  tests/python/test_interpret.py
Due: pylint

Address interpret API edge cases
  python-package/xgboost/interpret.py
  tests/python/test_interpret.py
Due: pylint

Remove interpret device override
  python-package/xgboost/interpret.py
  tests/python/test_interpret.py
Due: pylint

Add basic xgboost.interpret.shap_values API (#12208)
  python-package/xgboost/__init__.py
  python-package/xgboost/interpret.py
  tests/python/test_interpret.py
Due: pylint

Add interpretability SHAP C API
  include/xgboost/c_api.h
  python-package/xgboost/interpret.py
  src/c_api/c_api.cc
  src/common/api_entry.h
  tests/cpp/c_api/test_c_api.cc
  tests/python/test_interpret.py
Due: lint-cpp, pylint

Use output-last SHAP C API shape
  include/xgboost/c_api.h
  python-package/xgboost/interpret.py
  src/c_api/c_api.cc
  tests/cpp/c_api/test_c_api.cc
Due: lint-cpp, pylint

Return SHAP C API outputs as array interfaces
  include/xgboost/c_api.h
  python-package/xgboost/interpret.py
  src/c_api/c_api.cc
  src/c_api/interpretability.cu
  src/common/api_entry.h
  tests/cpp/c_api/test_c_api.cc
Due: lint-cpp, pylint

softplus.
  src/common/math.h
Due: lint-cpp

Revert "softplus."
  src/common/math.h
Due: lint-cpp

Revert "softplus." (#12226)
  src/common/math.h
Due: lint-cpp

Re-parameterize the expectile objective.
  include/xgboost/objective.h
  python-package/xgboost/testing/multi_target.py
  src/common/expectile_loss_utils.h
  src/common/math.h
  src/objective/regression_obj.cu
  tests/python-gpu/test_gpu_multi_target.py
  tests/python/test_multi_target.py
Due: lint-cpp, pylint

lint.
  include/xgboost/objective.h
Due: lint-cpp

numeric.
  src/common/math.h
Due: lint-cpp

mypy.
  demo/aft_survival/aft_survival_viz_demo.py
Due: pylint

lint.
  demo/aft_survival/aft_survival_viz_demo.py
Due: pylint

Fixes.
  tests/cpp/helpers.cc
  tests/cpp/objective/test_regression_obj.cc
Due: lint-cpp

doc.
  doc/parameter.rst
Due: none

Cleanup the kernel.
  src/common/linalg_op.h
  src/objective/regression_obj.cu
Due: lint-cpp

Update demo.
  R-package/R/xgb.train.R
  R-package/R/xgboost.R
  R-package/man/xgb.params.Rd
  R-package/man/xgboost.Rd
  demo/guide-python/prediction_intervals.py
  demo/guide-python/quantile_regression.py
  doc/parameter.rst
  tests/python/test_demos.py
Due: pylint

lint.
  demo/guide-python/prediction_intervals.py
Due: pylint

Path conditions:
  lint-cpp: any of: \.(cc|c|cpp|h|cu|hpp)$, but not: (dmlc-core|gputreeshap)
  lint-cmake: any of: (CMakeLists\.txt$|^cmake/.*\.cmake$), but not: (dmlc-core|gputreeshap)
  pylint: any of: \.py$, but not: (dmlc-core|gputreeshap|^ops/|^tests/)
