Repository dmlc/xgboost: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-cpp, lint-cmake, pylint

lint-cpp:
  name: C++ lint (cpplint)
  entry: python ops/script/lint_cpp.py
  language: python
  additional_dependencies:
  - cpplint==1.6.1

lint-cmake:
  name: CMake lint (cmakelint)
  entry: cmakelint --linelength=120 --filter=-convention/filename,-package/stdargs,-readability/wonkycase
  language: python
  additional_dependencies:
  - cmakelint

pylint:
  name: Python lint (pylint)
  entry: pylint
  language: python
  args:
  - --rcfile=python-package/pyproject.toml
  additional_dependencies:
  - pylint

Work with Windows.
  doc/parameter.rst
Due: none

Fix.
  src/c_api/c_api.cc
  tests/python-gpu/test_gpu_multi_target.py
Due: lint-cpp

Update doc.
  doc/tutorials/external_memory.rst
Due: none

replace configure.
  R-package/configure
Due: none

initial work on replacing autotools.
  .github/workflows/r_nold.yml
  .github/workflows/r_tests.yml
  CMakeLists.txt
  R-package/CMakeLists.txt
  R-package/DESCRIPTION
  R-package/bootstrap.R
  R-package/cleanup
  R-package/cleanup.win
  R-package/configure.ac
  R-package/configure.win
  R-package/remove_warning_suppression_pragma.sh
  R-package/src/Makevars.in
  R-package/src/Makevars.win.in
  R-package/src/config.h.in
  R-package/tools/cmake-source-files
  cmake/FindOpenMPMacOS.cmake
  cmake/RPackageInstall.cmake.in
  cmake/RPackageInstallTargetSetup.cmake
  cmake/modules/FindLibR.cmake
  doc/build.rst
  ops/pipeline/build-gpu-rpkg.sh
  ops/pipeline/test-docs.sh
  ops/script/change_version.py
  ops/script/test_r_package.py
Due: lint-cmake

in cmake.
  CMakeLists.txt
  R-package/CMakeLists.txt
  R-package/configure
  R-package/inst/make-r-def.R
  R-package/src/Makevars.in
  R-package/tools/cmake-source-files
  cmake/modules/FindLibR.cmake
Due: lint-cmake

Cleanup.
  CMakeLists.txt
Due: lint-cmake

actions.
  .github/workflows/r_tests.yml
Due: none

Deprecate the RMM plugin. (#12415)
  .gitignore
  CMakeLists.txt
  R-package/R/xgb.train.R
  R-package/R/xgboost.R
  R-package/man/xgb.params.Rd
  R-package/man/xgboost.Rd
  demo/rmm_plugin/README.rst
  doc/build.rst
  doc/conf.py
  doc/gpu/index.rst
  doc/jvm/xgboost4j_spark_gpu_tutorial.rst
  doc/parameter.rst
  doc/tutorials/external_memory.rst
  src/c_api/c_api.cc
  src/common/device_vector.cuh
  tests/python-gpu/test_gpu_multi_target.py
Due: lint-cpp, lint-cmake, pylint

[JVM] Support CUDA async pool in Spark.
  jvm-packages/xgboost4j-spark-gpu/src/main/scala/ml/dmlc/xgboost4j/scala/spark/GpuXGBoostPlugin.scala
  jvm-packages/xgboost4j-spark-gpu/src/test/scala/ml/dmlc/xgboost4j/scala/spark/GpuXGBoostPluginSuite.scala
Due: none

lint.
  CMakeLists.txt
  R-package/CMakeLists.txt
  ops/script/change_version.py
Due: lint-cmake

sccache.
  .github/workflows/main.yml
  ops/script/setup_r_sccache.sh
Due: none

setup.
  .github/workflows/main.yml
Due: none

Cleanup R tests.
  .github/workflows/main.yml
  .github/workflows/misc.yml
  .github/workflows/r_tests.yml
  ops/script/setup_r_sccache.R
  ops/script/setup_r_sccache.sh
Due: none

fix.
  ops/script/setup_r_sccache.R
Due: none

Cat log.
  .github/workflows/r_tests.yml
  ops/script/test_r_package.py
Due: none

Cleanup the amalgamation.
  R-package/.Rbuildignore
  R-package/tools/cmake-source-files
  amalgamation/dmlc-minimum0.cc
Due: lint-cpp

bring back the plugin.
  R-package/tools/cmake-source-files
Due: none

lint.
  R-package/tools/cmake-source-files
Due: none

Get TARGET_FILE from cmake.
  CMakeLists.txt
  cmake/FindOpenMPMacOS.cmake
  jvm-packages/CMakeLists.txt
Due: lint-cmake

Flags.
  CMakeLists.txt
  R-package/CMakeLists.txt
  R-package/src/Makevars.in
Due: lint-cmake

map file paths.
  CMakeLists.txt
  R-package/src/Makevars.in
  cmake/Utils.cmake
Due: lint-cmake

cleanups.
  R-package/CMakeLists.txt
Due: lint-cmake

Small cleanups.
  R-package/CMakeLists.txt
  cmake/Utils.cmake
  doc/build.rst
Due: lint-cmake

Not supported.
  R-package/CMakeLists.txt
Due: lint-cmake

Add imbalanced classification demo (scale_pos_weight)
  demo/guide-python/imbalanced_classification.py
  doc/tutorials/param_tuning.rst
  tests/python/test_demos.py
Due: pylint

Recommend the CMake flag.
  .github/workflows/r_tests.yml
  doc/build.rst
  ops/pipeline/build-gpu-rpkg.sh
  ops/pipeline/build-r-docs.sh
  ops/pipeline/test-docs.sh
  ops/script/test_r_package.py
Due: none

cleanup py doc.
  doc/build.rst
Due: none

Cleanup.
  doc/build.rst
  doc/contrib/docs.rst
Due: none

Fix CI formatting and R model parsing
  .pre-commit-config.yaml
  R-package/tests/testthat/test_model_compatibility.R
  src/c_api/c_api_utils.h
  tests/python/test_model_compatibility.py
Due: lint-cpp

Simplify dropout training
  R-package/R/xgb.train.R
  R-package/R/xgboost.R
  R-package/man/xgb.params.Rd
  R-package/man/xgboost.Rd
  R-package/tests/testthat/test_basic.R
  R-package/tests/testthat/test_helpers.R
  doc/parameter.rst
  doc/tutorials/dart.rst
  doc/tutorials/dropout.rst
  doc/tutorials/index.rst
  include/xgboost/predictor.h
  jvm-packages/xgboost4j-spark/src/main/scala/ml/dmlc/xgboost4j/scala/spark/params/DartBoosterParams.scala
  python-package/xgboost/testing/continuation.py
  python-package/xgboost/testing/multi_target.py
  src/gbm/gbtree.cc
  src/gbm/gbtree.cu
  src/gbm/gbtree.h
  src/learner.cc
  src/predictor/cpu_predictor.cc
  src/predictor/gbtree_view.h
  src/predictor/gpu_predictor.cu
  tests/cpp/gbm/test_gbtree.cc
  tests/cpp/predictor/test_predictor.cc
  tests/cpp/predictor/test_shap.cc
  tests/python-gpu/test_gpu_prediction.py
  tests/python/test_basic_models.py
  tests/python/test_multi_target.py
Due: lint-cpp, pylint

Fix dropout CI issues
  doc/parameter.rst
  doc/tutorials/index.rst
  plugin/sycl/predictor/predictor.cc
  src/gbm/gbtree.cc
  src/gbm/gbtree.cu
  src/gbm/gbtree.h
  src/predictor/cpu_predictor.cc
  src/predictor/gbtree_view.h
  src/predictor/gpu_predictor.cu
  tests/cpp/gbm/test_gbtree.cc
Due: lint-cpp

Add R examples to monotonic constraints tutorial
  doc/tutorials/monotonic.rst
Due: none

[cv] Calculate the gradient. (#12281)
  python-package/xgboost/_cross_validation.py
  src/cross_validate.cc
  src/cross_validate.cu
  src/cross_validate.h
  src/cross_validate/kfolds.cc
  src/cross_validate/kfolds.cu
  src/cross_validate/kfolds.h
  src/tree/updater_gpu_cv_hist.cu
  tests/cpp/cross_validate/test_kfolds.cu
  tests/python-gpu/test_cross_validate.py
Due: lint-cpp, pylint

[cv] Basic implementation of model. (#12283)
  include/xgboost/learner.h
  python-package/xgboost/_cross_validation.py
  src/cross_validate.cc
  src/cross_validate/cross_validate.cc
  src/cross_validate/cross_validate.cu
  src/cross_validate/cross_validate.h
  src/learner.cc
  src/learner_model_param_legacy.h
  tests/cpp/cross_validate/test_cv_model.cc
  tests/python-gpu/test_cross_validate.py
Due: lint-cpp, pylint

[CV] Use MT tree as default. (#12285)
  include/xgboost/tree_model.h
  python-package/xgboost/_cross_validation.py
  src/cross_validate/cross_validate.cc
  src/cross_validate/cross_validate.cu
  src/cross_validate/cross_validate.h
  src/tree/multi_target_tree_model.cc
  src/tree/tree_model.cc
  tests/cpp/cross_validate/test_cv_model.cc
Due: lint-cpp, pylint

[CV] Extract C helpers. (#12287)
  src/c_api/c_api.cc
  src/c_api/c_api_utils.h
Due: lint-cpp

[CV] Basic interface for the tree method. (#12288)
  python-package/xgboost/_cross_validation.py
  src/cross_validate/cross_validate.cc
  src/cross_validate/cross_validate.cu
  src/cross_validate/cross_validate.h
  src/tree/updater_gpu_hist.cu
  src/tree/updater_gpu_hist.cuh
  tests/python-gpu/test_cross_validate.py
Due: lint-cpp, pylint

[CV] Reuse the prediction cache. (#12291)
  python-package/xgboost/_cross_validation.py
  src/cross_validate/cross_validate.cc
  src/cross_validate/cross_validate.h
  tests/python-gpu/test_cross_validate.py
Due: lint-cpp, pylint

[CV] Calculate root sum. (#12356)
  python-package/xgboost/_cross_validation.py
  src/cross_validate/cross_validate.cc
  src/cross_validate/cross_validate.cu
  src/cross_validate/cross_validate.h
  src/tree/updater_gpu_cv_hist.cu
  src/tree/updater_gpu_hist.cu
  src/tree/updater_gpu_hist.cuh
  tests/cpp/cross_validate/test_cv_model.cc
  tests/python-gpu/test_cross_validate.py
Due: lint-cpp, pylint

Path conditions:
  lint-cpp: any of: \.(cc|c|cpp|h|cu|hpp)$, but not: (dmlc-core|gputreeshap)
  lint-cmake: any of: (CMakeLists\.txt$|^cmake/.*\.cmake$), but not: (dmlc-core|gputreeshap)
  pylint: any of: \.py$, but not: (dmlc-core|gputreeshap|^ops/|^tests/)
